Repository ml404/toby-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Config, Bot, Buttons, Commands, Common, Core-api, Database, Helpers, Lavaplayer, Managers, web, Tests

style(dnd): drop redundant qualifier names in code I authored
  application/src/test/kotlin/web/service/CampaignWebServiceTest.kt
  web/src/main/kotlin/web/controller/CampaignController.kt
  web/src/main/kotlin/web/service/CampaignEventBroadcaster.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
Labels: web

fix(dnd): mobile combat animations + robust initiative form (#249)
  application/src/test/kotlin/web/controller/CampaignControllerTest.kt
  application/src/test/kotlin/web/service/CampaignWebServiceTest.kt
  web/src/main/kotlin/web/controller/CampaignController.kt
  web/src/main/kotlin/web/service/CampaignEventBroadcaster.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/resources/static/js/sessionLog.js
  web/src/main/resources/templates/campaignDetail.html
Labels: web

feat(dnd): monster HP ranges + attached attacks
  application/src/test/kotlin/web/service/CampaignWebServiceTest.kt
  application/src/test/kotlin/web/service/DiceExpressionRollerTest.kt
  database/src/main/kotlin/database/dto/MonsterAttackDto.kt
  database/src/main/kotlin/database/dto/MonsterTemplateDto.kt
  database/src/main/kotlin/database/persistence/MonsterAttackPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultMonsterAttackPersistence.kt
  database/src/main/kotlin/database/service/MonsterAttackService.kt
  database/src/main/kotlin/database/service/impl/DefaultMonsterAttackService.kt
  database/src/main/resources/db/migration/V7__dnd_monster_template_hp_expression.sql
  database/src/main/resources/db/migration/V8__dnd_monster_attack.sql
  discord-bot/src/main/kotlin/bot/toby/helpers/DndHelperInitiativeStore.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/InitiativeState.kt
  web/src/main/kotlin/web/controller/CampaignController.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/kotlin/web/service/DiceExpressionRoller.kt
  web/src/main/kotlin/web/service/InitiativeStore.kt
  web/src/main/resources/static/js/sessionLog.js
  web/src/main/resources/templates/campaignDetail.html
Labels: Bot, Database, Helpers, web

fix(test): update MonsterTemplateView ctor after hpExpression rename
  application/src/test/kotlin/web/controller/CampaignControllerTest.kt
Labels: none

chore(qodana): prune unused monster-attack outcome fields + style nits
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/kotlin/web/service/DiceExpressionRoller.kt
Labels: web

feat(dnd): monster HP ranges + attached attacks (#250)
  application/src/test/kotlin/web/controller/CampaignControllerTest.kt
  application/src/test/kotlin/web/service/CampaignWebServiceTest.kt
  application/src/test/kotlin/web/service/DiceExpressionRollerTest.kt
  database/src/main/kotlin/database/dto/MonsterAttackDto.kt
  database/src/main/kotlin/database/dto/MonsterTemplateDto.kt
  database/src/main/kotlin/database/persistence/MonsterAttackPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultMonsterAttackPersistence.kt
  database/src/main/kotlin/database/service/MonsterAttackService.kt
  database/src/main/kotlin/database/service/impl/DefaultMonsterAttackService.kt
  database/src/main/resources/db/migration/V7__dnd_monster_template_hp_expression.sql
  database/src/main/resources/db/migration/V8__dnd_monster_attack.sql
  discord-bot/src/main/kotlin/bot/toby/helpers/DndHelperInitiativeStore.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/InitiativeState.kt
  web/src/main/kotlin/web/controller/CampaignController.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/kotlin/web/service/DiceExpressionRoller.kt
  web/src/main/kotlin/web/service/InitiativeStore.kt
  web/src/main/resources/static/js/sessionLog.js
  web/src/main/resources/templates/campaignDetail.html
Labels: Bot, Database, Helpers, web

fix(dnd): animate generic dice rolls on mobile
  web/src/main/resources/static/css/combat.css
  web/src/main/resources/static/js/sessionLog.js
Labels: none

fix(dnd): animate generic dice rolls on mobile (#251)
  web/src/main/resources/static/css/combat.css
  web/src/main/resources/static/js/sessionLog.js
Labels: none

feat(dnd): encounter library with drag-drop roster setup
  database/src/main/kotlin/database/dto/EncounterDto.kt
  database/src/main/kotlin/database/dto/EncounterEntryDto.kt
  database/src/main/kotlin/database/persistence/EncounterEntryPersistence.kt
  database/src/main/kotlin/database/persistence/EncounterPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultEncounterEntryPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultEncounterPersistence.kt
  database/src/main/kotlin/database/service/EncounterEntryService.kt
  database/src/main/kotlin/database/service/EncounterService.kt
  database/src/main/kotlin/database/service/impl/DefaultEncounterEntryService.kt
  database/src/main/kotlin/database/service/impl/DefaultEncounterService.kt
  database/src/main/resources/db/migration/V10__dnd_encounter_entry.sql
  database/src/main/resources/db/migration/V9__dnd_encounter.sql
  web/src/main/kotlin/web/controller/CampaignController.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/resources/static/js/encounters.js
  web/src/main/resources/templates/campaignDetail.html
Labels: Database, web

test(web): wire encounter service mocks into CampaignWebService test
  application/src/test/kotlin/web/service/CampaignWebServiceTest.kt
Labels: none

feat(dnd): encounter library with drag-drop roster setup (#253)
  application/src/test/kotlin/web/service/CampaignWebServiceTest.kt
  database/src/main/kotlin/database/dto/EncounterDto.kt
  database/src/main/kotlin/database/dto/EncounterEntryDto.kt
  database/src/main/kotlin/database/persistence/EncounterEntryPersistence.kt
  database/src/main/kotlin/database/persistence/EncounterPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultEncounterEntryPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultEncounterPersistence.kt
  database/src/main/kotlin/database/service/EncounterEntryService.kt
  database/src/main/kotlin/database/service/EncounterService.kt
  database/src/main/kotlin/database/service/impl/DefaultEncounterEntryService.kt
  database/src/main/kotlin/database/service/impl/DefaultEncounterService.kt
  database/src/main/resources/db/migration/V10__dnd_encounter_entry.sql
  database/src/main/resources/db/migration/V9__dnd_encounter.sql
  web/src/main/kotlin/web/controller/CampaignController.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/resources/static/js/encounters.js
  web/src/main/resources/templates/campaignDetail.html
Labels: Database, web

feat(intros): start/end timestamps with live clip preview
  application/src/test/kotlin/web/controller/IntroWebControllerTest.kt
  application/src/test/kotlin/web/service/IntroWebServiceTest.kt
  application/src/test/resources/schema.sql
  database/src/main/kotlin/database/dto/MusicDto.kt
  database/src/main/resources/db/migration/V11__intro_timestamps.sql
  discord-bot/src/main/kotlin/bot/toby/helpers/MusicPlayerHelper.kt
  discord-bot/src/main/kotlin/bot/toby/lavaplayer/PlayerManager.kt
  discord-bot/src/main/kotlin/bot/toby/lavaplayer/TrackScheduler.kt
  web/src/main/kotlin/web/controller/IntroWebController.kt
  web/src/main/kotlin/web/service/IntroWebService.kt
  web/src/main/resources/static/css/intros.css
  web/src/main/resources/static/js/intros.js
  web/src/main/resources/templates/intros.html
  web/src/test/js/intros.test.js
Labels: Bot, Database, Helpers, Lavaplayer, web

feat(intros): start/end timestamps with live clip preview (#252)
  application/src/test/kotlin/web/controller/IntroWebControllerTest.kt
  application/src/test/kotlin/web/service/IntroWebServiceTest.kt
  application/src/test/resources/schema.sql
  database/src/main/kotlin/database/dto/MusicDto.kt
  database/src/main/resources/db/migration/V11__intro_timestamps.sql
  discord-bot/src/main/kotlin/bot/toby/helpers/MusicPlayerHelper.kt
  discord-bot/src/main/kotlin/bot/toby/lavaplayer/PlayerManager.kt
  discord-bot/src/main/kotlin/bot/toby/lavaplayer/TrackScheduler.kt
  web/src/main/kotlin/web/controller/IntroWebController.kt
  web/src/main/kotlin/web/service/IntroWebService.kt
  web/src/main/resources/static/css/intros.css
  web/src/main/resources/static/js/intros.js
  web/src/main/resources/templates/intros.html
  web/src/test/js/intros.test.js
Labels: Bot, Database, Helpers, Lavaplayer, web

fix(web): expose CSRF token from shared head fragment
  web/src/main/resources/templates/fragments/head.html
Labels: none

fix(web): expose CSRF token from shared head fragment (#254)
  web/src/main/resources/templates/fragments/head.html
Labels: none

feat(intros): clip-aware playback for saved rows + submit-gate fix
  web/src/main/resources/static/css/intros.css
  web/src/main/resources/static/js/intros.js
  web/src/main/resources/templates/intros.html
  web/src/test/js/intros.test.js
Labels: none

feat(intros): clip-aware playback for saved rows + submit-gate fix (#255)
  web/src/main/resources/static/css/intros.css
  web/src/main/resources/static/js/intros.js
  web/src/main/resources/templates/intros.html
  web/src/test/js/intros.test.js
Labels: none

fix(intros): hoist previewState sync out of recomputeClipState
  web/src/main/resources/static/js/intros.js
  web/src/test/js/intros.test.js
Labels: none

fix(intros): hoist previewState sync out of recomputeClipState (#256)
  web/src/main/resources/static/js/intros.js
  web/src/test/js/intros.test.js
Labels: none

chore(qodana): address highest-severity inspection findings
  application/src/main/kotlin/Application.kt
  application/src/main/kotlin/database/configuration/CampaignShutdownHook.kt
  application/src/main/kotlin/database/configuration/CampaignStartupHook.kt
  database/build.gradle
  discord-bot/build.gradle
  discord-bot/src/main/kotlin/bot/toby/command/commands/misc/EightBallCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/misc/UserInfoCommand.kt
  web/src/main/kotlin/web/controller/IntroWebController.kt
Labels: Config, Bot, Commands, web

chore(qodana): address highest-severity inspection findings (#257)
  application/src/main/kotlin/Application.kt
  application/src/main/kotlin/database/configuration/CampaignShutdownHook.kt
  application/src/main/kotlin/database/configuration/CampaignStartupHook.kt
  database/build.gradle
  discord-bot/build.gradle
  discord-bot/src/main/kotlin/bot/toby/command/commands/misc/EightBallCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/misc/UserInfoCommand.kt
  web/src/main/kotlin/web/controller/IntroWebController.kt
Labels: Config, Bot, Commands, web

feat(intros): draggable trim bar for granular clipping + DnD home CTA
  discord-bot/src/main/kotlin/bot/toby/helpers/HttpHelper.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/fetch/TestHttpHelperHelper.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/resources/static/css/intros.css
  web/src/main/resources/static/js/intros.js
  web/src/main/resources/templates/home.html
  web/src/main/resources/templates/intros.html
  web/src/test/js/intros.test.js
Labels: Bot, Helpers, web, Tests

feat(intros): draggable trim bar for granular clipping + DnD home CTA (#258)
  discord-bot/src/main/kotlin/bot/toby/helpers/HttpHelper.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/fetch/TestHttpHelperHelper.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/resources/static/css/intros.css
  web/src/main/resources/static/js/intros.js
  web/src/main/resources/templates/home.html
  web/src/main/resources/templates/intros.html
  web/src/test/js/intros.test.js
Labels: Bot, Helpers, web, Tests

fix(intros): recognise YouTube Shorts URLs so preview/play/clip work
  application/src/test/kotlin/web/service/IntroWebServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/HttpHelper.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/HttpHelperTest.kt
  web/src/main/kotlin/web/service/IntroWebService.kt
Labels: Bot, Helpers, web, Tests

fix(intros): recognise YouTube Shorts URLs so preview/play/clip work (#259)
  application/src/test/kotlin/web/service/IntroWebServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/HttpHelper.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/HttpHelperTest.kt
  web/src/main/kotlin/web/service/IntroWebService.kt
Labels: Bot, Helpers, web, Tests

feat(web): surface moderation suite in the web UI
  web/src/main/kotlin/web/configuration/WebSecurityConfig.kt
  web/src/main/kotlin/web/controller/ModerationController.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/resources/static/css/moderation.css
  web/src/main/resources/static/js/moderation.js
  web/src/main/resources/templates/fragments/navbar.html
  web/src/main/resources/templates/home.html
  web/src/main/resources/templates/moderation-guilds.html
  web/src/main/resources/templates/moderation.html
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
Labels: web, Tests

chore(qodana): address easy findings on moderation UI
  web/src/main/kotlin/web/service/ModerationWebService.kt
Labels: web

chore(qodana): collapse filter+map into mapNotNull
  web/src/main/kotlin/web/service/ModerationWebService.kt
Labels: web

fix(moderation): drop user-echoed strings from error responses
  web/src/main/kotlin/web/controller/ModerationController.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
Labels: web

feat(web): surface moderation suite in the web UI (#260)
  web/src/main/kotlin/web/configuration/WebSecurityConfig.kt
  web/src/main/kotlin/web/controller/ModerationController.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/resources/static/css/moderation.css
  web/src/main/resources/static/js/moderation.js
  web/src/main/resources/templates/fragments/navbar.html
  web/src/main/resources/templates/home.html
  web/src/main/resources/templates/moderation-guilds.html
  web/src/main/resources/templates/moderation.html
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
Labels: web, Tests

chore(qodana): follow-up cleanup of baseline findings
  application/build.gradle
  application/src/main/kotlin/app/Application.kt
  application/src/main/kotlin/database/configuration/FlywayGuardConfig.kt
  application/src/test/kotlin/SpringApplicationTest.kt
  application/src/test/kotlin/integration/bot/AutocompleteManagerTest.kt
  application/src/test/kotlin/integration/bot/ButtonManagerTest.kt
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  application/src/test/kotlin/integration/bot/MenuManagerTest.kt
  application/src/test/kotlin/integration/database/BrotherServiceImplIntegrationTest.kt
  application/src/test/kotlin/integration/database/ConfigServiceImplIntegrationTest.kt
  application/src/test/kotlin/integration/database/ExcuseServiceImplIntegrationTest.kt
  application/src/test/kotlin/integration/database/MusicFilePersistenceImplTest.kt
  application/src/test/kotlin/integration/database/UserServiceImplIntegrationTest.kt
  application/src/test/kotlin/integration/web/BotControllerIT.kt
  database/src/main/kotlin/database/persistence/impl/DefaultExcusePersistence.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/misc/EightBallCommand.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/FileUtils.kt
  discord-bot/src/main/kotlin/bot/toby/lavaplayer/TrackScheduler.kt
  web/src/main/kotlin/web/controller/IntroWebController.kt
Labels: Config, Bot, Commands, Database, Helpers, Lavaplayer, web

fix(bot): cache all guild members so moderation UI can see offline users
  discord-bot/src/main/kotlin/bot/configuration/BotConfig.kt
Labels: Bot

chore(qodana): de-duplicate the baseline duplicate-code findings
  database/src/main/kotlin/database/persistence/impl/DefaultEncounterEntryPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultEncounterPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultMonsterAttackPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultMonsterTemplatePersistence.kt
  database/src/main/kotlin/database/persistence/impl/PersistenceHelpers.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/MusicCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/player/PlayCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/player/SetVolumeCommand.kt
  discord-bot/src/main/kotlin/bot/toby/menu/menus/DeleteIntroMenu.kt
  discord-bot/src/main/kotlin/bot/toby/menu/menus/EditIntroMenu.kt
  discord-bot/src/main/kotlin/bot/toby/menu/menus/IntroMenuHelpers.kt
  web/src/main/resources/static/js/api.js
  web/src/main/resources/static/js/encounters.js
  web/src/main/resources/static/js/intros.js
  web/src/main/resources/static/js/moderation.js
  web/src/main/resources/static/js/sessionLog.js
  web/src/main/resources/templates/campaignDetail.html
  web/src/main/resources/templates/intros.html
  web/src/main/resources/templates/moderation.html
  web/src/test/js/intros.test.js
Labels: Bot, Commands, Database

chore(qodana): follow-up cleanup of baseline findings (#261)
  application/build.gradle
  application/src/main/kotlin/app/Application.kt
  application/src/main/kotlin/database/configuration/FlywayGuardConfig.kt
  application/src/test/kotlin/SpringApplicationTest.kt
  application/src/test/kotlin/integration/bot/AutocompleteManagerTest.kt
  application/src/test/kotlin/integration/bot/ButtonManagerTest.kt
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  application/src/test/kotlin/integration/bot/MenuManagerTest.kt
  application/src/test/kotlin/integration/database/BrotherServiceImplIntegrationTest.kt
  application/src/test/kotlin/integration/database/ConfigServiceImplIntegrationTest.kt
  application/src/test/kotlin/integration/database/ExcuseServiceImplIntegrationTest.kt
  application/src/test/kotlin/integration/database/MusicFilePersistenceImplTest.kt
  application/src/test/kotlin/integration/database/UserServiceImplIntegrationTest.kt
  application/src/test/kotlin/integration/web/BotControllerIT.kt
  database/src/main/kotlin/database/persistence/impl/DefaultEncounterEntryPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultEncounterPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultExcusePersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultMonsterAttackPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultMonsterTemplatePersistence.kt
  database/src/main/kotlin/database/persistence/impl/PersistenceHelpers.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/misc/EightBallCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/MusicCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/player/PlayCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/player/SetVolumeCommand.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/FileUtils.kt
  discord-bot/src/main/kotlin/bot/toby/lavaplayer/TrackScheduler.kt
  discord-bot/src/main/kotlin/bot/toby/menu/menus/DeleteIntroMenu.kt
  discord-bot/src/main/kotlin/bot/toby/menu/menus/EditIntroMenu.kt
  discord-bot/src/main/kotlin/bot/toby/menu/menus/IntroMenuHelpers.kt
  web/src/main/kotlin/web/controller/IntroWebController.kt
  web/src/main/resources/static/js/api.js
  web/src/main/resources/static/js/encounters.js
  web/src/main/resources/static/js/intros.js
  web/src/main/resources/static/js/moderation.js
  web/src/main/resources/static/js/sessionLog.js
  web/src/main/resources/templates/campaignDetail.html
  web/src/main/resources/templates/intros.html
  web/src/main/resources/templates/moderation.html
  web/src/test/js/intros.test.js
Labels: Config, Bot, Commands, Database, Helpers, Lavaplayer, web

fix(bot): cache all guild members so moderation UI can see offline users (#262)
  discord-bot/src/main/kotlin/bot/configuration/BotConfig.kt
Labels: Bot

fix(moderation): mobile-friendly user table + derive initiative from character sheet
  application/src/test/kotlin/web/service/CampaignWebServiceTest.kt
  database/src/main/kotlin/database/dto/UserDto.kt
  database/src/main/resources/db/migration/V12__remove_user_initiative_column.sql
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/LinkCharacterCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/AdjustUserCommand.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/DnDHelper.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/DnDCommandQueryHandlerTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/InitiativeCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/LinkCharacterCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/RollCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/misc/EightBallCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/misc/UserInfoCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/moderation/AdjustUserCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/DnDHelperTest.kt
  discord-bot/src/test/kotlin/bot/toby/menu/menus/dnd/DndApiCoroutineHandlerTest.kt
  web/src/main/kotlin/web/controller/ModerationController.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/kotlin/web/service/InitiativeResolver.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/resources/static/css/moderation.css
  web/src/main/resources/static/js/moderation.js
  web/src/main/resources/templates/moderation.html
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
Labels: Bot, Commands, Database, Helpers, web, Tests

fix(moderation): mobile-friendly user table + derive initiative from character sheet (#263)
  application/src/test/kotlin/web/service/CampaignWebServiceTest.kt
  database/src/main/kotlin/database/dto/UserDto.kt
  database/src/main/resources/db/migration/V12__remove_user_initiative_column.sql
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/LinkCharacterCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/AdjustUserCommand.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/DnDHelper.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/DnDCommandQueryHandlerTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/InitiativeCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/LinkCharacterCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/RollCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/misc/EightBallCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/misc/UserInfoCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/moderation/AdjustUserCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/DnDHelperTest.kt
  discord-bot/src/test/kotlin/bot/toby/menu/menus/dnd/DndApiCoroutineHandlerTest.kt
  web/src/main/kotlin/web/controller/ModerationController.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/kotlin/web/service/InitiativeResolver.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/resources/static/css/moderation.css
  web/src/main/resources/static/js/moderation.js
  web/src/main/resources/templates/moderation.html
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
Labels: Bot, Commands, Database, Helpers, web, Tests

feat(dnd): fetch D&D Beyond character sheets via unofficial JSON endpoint
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  database/src/main/kotlin/database/persistence/CharacterSheetPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultCharacterSheetPersistence.kt
  database/src/main/kotlin/database/service/CharacterSheetService.kt
  database/src/main/kotlin/database/service/impl/DefaultCharacterSheetService.kt
  discord-bot/src/main/kotlin/bot/configuration/AppConfig.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/LinkCharacterCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/RefreshCharacterCommand.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/charactersheet/CharacterSheetCodec.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/charactersheet/CharacterSheetProvider.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/charactersheet/DatabaseCharacterSheetProvider.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/charactersheet/DndBeyondCharacterFetcher.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/charactersheet/DndBeyondCharacterSheetProvider.kt
  discord-bot/src/test/kotlin/bot/configuration/TestAppConfig.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/LinkCharacterCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/RefreshCharacterCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/charactersheet/DndBeyondCharacterFetcherTest.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/charactersheet/DndBeyondCharacterSheetProviderTest.kt
Labels: Bot, Commands, Database, Tests

fix(intros): render saved Shorts previews via youtube-nocookie.com
  application/src/test/kotlin/web/service/IntroWebServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/HttpHelper.kt
  web/src/main/kotlin/web/service/IntroWebService.kt
  web/src/main/resources/static/js/intros.js
  web/src/test/js/intros.test.js
Labels: Bot, Helpers, web

feat(dnd): fetch D&D Beyond character sheets via unofficial JSON endpoint (#264)
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  database/src/main/kotlin/database/persistence/CharacterSheetPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultCharacterSheetPersistence.kt
  database/src/main/kotlin/database/service/CharacterSheetService.kt
  database/src/main/kotlin/database/service/impl/DefaultCharacterSheetService.kt
  discord-bot/src/main/kotlin/bot/configuration/AppConfig.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/LinkCharacterCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/RefreshCharacterCommand.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/charactersheet/CharacterSheetCodec.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/charactersheet/CharacterSheetProvider.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/charactersheet/DatabaseCharacterSheetProvider.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/charactersheet/DndBeyondCharacterFetcher.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/charactersheet/DndBeyondCharacterSheetProvider.kt
  discord-bot/src/test/kotlin/bot/configuration/TestAppConfig.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/LinkCharacterCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/RefreshCharacterCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/charactersheet/DndBeyondCharacterFetcherTest.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/charactersheet/DndBeyondCharacterSheetProviderTest.kt
Labels: Bot, Commands, Database, Tests

.github/labeler.yml:

Documentation:
- '**/*.md'

Config:
 - '**/*.properties'
 - '**/*.gradle'

Bot:
 - discord-bot/src/main/kotlin/**

Buttons:
 - discord-bot/src/main/kotlin/bot/toby/button/**

Commands:
 - discord-bot/src/main/kotlin/bot/toby/command/**

Common:
 - common/src/main/kotlin/**

Core-api:
 - core-api/src/main/kotlin/**

Database:
 - database/src/main/kotlin/database/**

Helpers:
 - discord-bot/src/main/kotlin/bot/toby/helpers/*

Lavaplayer:
 - discord-bot/src/main/kotlin/bot/toby/lavaplayer/**

Managers:
 - discord-bot/src/main/kotlin/bot/toby/managers/*

web:
 - web/src/main/kotlin/**

Tests:
 - common/src/test/kotlin/**
 - core-api/src/test/kotlin/**
 - database/src/test/kotlin/**
 - discord-bot/src/test/kotlin/**
 - web/src/test/kotlin/**
