Repository ml404/toby-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Config, Bot, Buttons, Commands, Common, Core-api, Database, Helpers, Lavaplayer, Managers, web, Tests

.github/labeler.yml:

Documentation:
- '**/*.md'

Config:
 - '**/*.properties'
 - '**/*.gradle'

Bot:
 - discord-bot/src/main/kotlin/**

Buttons:
 - discord-bot/src/main/kotlin/bot/toby/button/**

Commands:
 - discord-bot/src/main/kotlin/bot/toby/command/**

Common:
 - common/src/main/kotlin/**

Core-api:
 - core-api/src/main/kotlin/**

Database:
 - database/src/main/kotlin/database/**

Helpers:
 - discord-bot/src/main/kotlin/bot/toby/helpers/*

Lavaplayer:
 - discord-bot/src/main/kotlin/bot/toby/lavaplayer/**

Managers:
 - discord-bot/src/main/kotlin/bot/toby/managers/*

web:
 - web/src/main/kotlin/**

Tests:
 - common/src/test/kotlin/**
 - core-api/src/test/kotlin/**
 - database/src/test/kotlin/**
 - discord-bot/src/test/kotlin/**
 - web/src/test/kotlin/**

fix(baccarat): use NEUTRAL_COLOR for tied-game pushes
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/BaccaratEmbeds.kt
Labels: Bot, Commands

test(integration): register Baccarat in ButtonManagerTest and CommandManagerTest
  application/src/test/kotlin/integration/bot/ButtonManagerTest.kt
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
Labels: none

refactor(casino): centralize check-lock-or-topup in WagerHelper
  database/src/main/kotlin/database/service/BaccaratService.kt
  database/src/main/kotlin/database/service/CoinflipService.kt
  database/src/main/kotlin/database/service/DiceService.kt
  database/src/main/kotlin/database/service/HighlowService.kt
  database/src/main/kotlin/database/service/ScratchService.kt
  database/src/main/kotlin/database/service/SlotsService.kt
  database/src/main/kotlin/database/service/WagerHelper.kt
Labels: Database

perf(test): enable JUnit 5 in-JVM parallel execution on :discord-bot and :web
  discord-bot/build.gradle
  discord-bot/src/test/kotlin/bot/toby/button/ButtonTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/music/PlayCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/handler/EventWaiterTest.kt
  discord-bot/src/test/kotlin/bot/toby/handler/VoiceEventHandlerTest.kt
  discord-bot/src/test/kotlin/bot/toby/lavaplayer/TrackSchedulerTest.kt
  discord-bot/src/test/resources/junit-platform.properties
  web/src/test/resources/junit-platform.properties
Labels: Config, Tests

refactor(casino): lift multiplierLabel into WagerCommandEmbeds
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/BaccaratCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/BaccaratEmbeds.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/HighlowCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/HighlowEmbeds.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/WagerCommandHelper.kt
Labels: Bot, Commands

refactor(casino): extract shared outcome-embed skeleton
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/BaccaratEmbeds.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/HighlowEmbeds.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/WagerCommandHelper.kt
Labels: Bot, Commands

feat(casino web): add /baccarat web flow with both-hands UX
  web/src/main/kotlin/web/controller/BaccaratController.kt
  web/src/main/resources/static/css/baccarat.css
  web/src/main/resources/static/css/base.css
  web/src/main/resources/static/js/baccarat.js
  web/src/main/resources/templates/baccarat.html
  web/src/main/resources/templates/fragments/navbar.html
  web/src/test/js/baccarat.test.js
  web/src/test/js/navbar.test.js
  web/src/test/kotlin/web/controller/BaccaratControllerTest.kt
  web/src/test/kotlin/web/static/CasinoJackpotCssRegressionTest.kt
Labels: web, Tests

feat(casino): add /baccarat (Punto Banco) minigame (#379)
  application/src/test/kotlin/integration/bot/ButtonManagerTest.kt
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  database/src/main/kotlin/database/economy/Baccarat.kt
  database/src/main/kotlin/database/service/BaccaratService.kt
  database/src/main/kotlin/database/service/CoinflipService.kt
  database/src/main/kotlin/database/service/DiceService.kt
  database/src/main/kotlin/database/service/HighlowService.kt
  database/src/main/kotlin/database/service/ScratchService.kt
  database/src/main/kotlin/database/service/SlotsService.kt
  database/src/main/kotlin/database/service/WagerHelper.kt
  database/src/test/kotlin/database/economy/BaccaratTest.kt
  database/src/test/kotlin/database/service/BaccaratServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/button/buttons/BaccaratButton.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/BaccaratCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/BaccaratEmbeds.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/HighlowCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/HighlowEmbeds.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/WagerCommandHelper.kt
  discord-bot/src/test/kotlin/bot/toby/button/buttons/BaccaratButtonTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/BaccaratCommandTest.kt
  web/src/main/kotlin/web/controller/BaccaratController.kt
  web/src/main/resources/static/css/baccarat.css
  web/src/main/resources/static/css/base.css
  web/src/main/resources/static/js/baccarat.js
  web/src/main/resources/templates/baccarat.html
  web/src/main/resources/templates/fragments/navbar.html
  web/src/test/js/baccarat.test.js
  web/src/test/js/navbar.test.js
  web/src/test/kotlin/web/controller/BaccaratControllerTest.kt
  web/src/test/kotlin/web/static/CasinoJackpotCssRegressionTest.kt
Labels: Bot, Buttons, Commands, Database, web, Tests

style(casino web): unify all minigame UIs around the shared casino-table primitives
  web/src/main/resources/static/css/baccarat.css
  web/src/main/resources/static/css/casino-table.css
  web/src/main/resources/static/css/coinflip.css
  web/src/main/resources/static/css/dice.css
  web/src/main/resources/static/css/highlow.css
  web/src/main/resources/static/css/scratch.css
  web/src/main/resources/static/css/slots.css
  web/src/main/resources/static/js/baccarat.js
  web/src/main/resources/static/js/casino-render.js
  web/src/main/resources/static/js/coinflip.js
  web/src/main/resources/static/js/dice.js
  web/src/main/resources/static/js/highlow.js
  web/src/main/resources/static/js/scratch.js
  web/src/main/resources/static/js/slots.js
  web/src/main/resources/templates/casino-guilds.html
  web/src/main/resources/templates/coinflip.html
  web/src/main/resources/templates/dice.html
  web/src/main/resources/templates/highlow.html
  web/src/main/resources/templates/scratch.html
  web/src/main/resources/templates/slots.html
Labels: none

test(casino web): cover the chip-flourish path so polish regressions get caught
  web/src/main/resources/static/js/highlow.js
  web/src/main/resources/static/js/scratch.js
  web/src/test/js/baccarat.test.js
  web/src/test/js/casino-render.test.js
  web/src/test/js/coinflip.test.js
  web/src/test/js/dice.test.js
  web/src/test/js/highlow.test.js
  web/src/test/js/scratch.test.js
  web/src/test/js/slots.test.js
Labels: none

fix(casino web): unbreak .casino-card-glyph — nested /* */ in doc header truncated the rule
  web/src/main/resources/static/css/casino-table.css
Labels: none

ci(web): add stylelint to catch CSS parse errors before they hit production
  .github/workflows/gradle.yml
  web/.stylelintrc.json
  web/package-lock.json
  web/package.json
  web/src/main/resources/static/css/casino-table.css
Labels: none

style(casino web): brighten the felt so it actually reads as green on phones
  web/src/main/resources/static/css/casino-table.css
Labels: none

fix(casino web): drop the .bj-card / .bac-card class from the felt sections
  web/src/main/resources/templates/baccarat.html
  web/src/main/resources/templates/blackjack-solo.html
  web/src/main/resources/templates/blackjack-table.html
Labels: none

style(casino web): stage baccarat's reveal as a Punto Banco deal sequence
  web/src/main/resources/static/js/baccarat.js
  web/src/test/js/baccarat.test.js
Labels: none

style(casino web): unify all minigame UIs on the shared casino-table primitives (#380)
  .github/workflows/gradle.yml
  web/.stylelintrc.json
  web/package-lock.json
  web/package.json
  web/src/main/resources/static/css/baccarat.css
  web/src/main/resources/static/css/casino-table.css
  web/src/main/resources/static/css/coinflip.css
  web/src/main/resources/static/css/dice.css
  web/src/main/resources/static/css/highlow.css
  web/src/main/resources/static/css/scratch.css
  web/src/main/resources/static/css/slots.css
  web/src/main/resources/static/js/baccarat.js
  web/src/main/resources/static/js/casino-render.js
  web/src/main/resources/static/js/coinflip.js
  web/src/main/resources/static/js/dice.js
  web/src/main/resources/static/js/highlow.js
  web/src/main/resources/static/js/scratch.js
  web/src/main/resources/static/js/slots.js
  web/src/main/resources/templates/baccarat.html
  web/src/main/resources/templates/blackjack-solo.html
  web/src/main/resources/templates/blackjack-table.html
  web/src/main/resources/templates/casino-guilds.html
  web/src/main/resources/templates/coinflip.html
  web/src/main/resources/templates/dice.html
  web/src/main/resources/templates/highlow.html
  web/src/main/resources/templates/scratch.html
  web/src/main/resources/templates/slots.html
  web/src/test/js/baccarat.test.js
  web/src/test/js/casino-render.test.js
  web/src/test/js/coinflip.test.js
  web/src/test/js/dice.test.js
  web/src/test/js/highlow.test.js
  web/src/test/js/scratch.test.js
  web/src/test/js/slots.test.js
Labels: none

fix(casino web): unwrap ResponseEntity in JackpotPoolHeaderAdvice so the banner actually updates
  web/src/main/kotlin/web/casino/JackpotPoolHeaderAdvice.kt
  web/src/test/kotlin/web/casino/JackpotPoolHeaderAdviceMvcTest.kt
  web/src/test/kotlin/web/casino/JackpotPoolHeaderAdviceTest.kt
Labels: web, Tests

fix(activity): actually enable CacheFlag.ACTIVITY (PR #298 wasn't enough)
  discord-bot/src/main/kotlin/bot/configuration/BotConfig.kt
Labels: Bot

fix(casino web): unwrap ResponseEntity in JackpotPoolHeaderAdvice so the banner actually updates (#382)
  web/src/main/kotlin/web/casino/JackpotPoolHeaderAdvice.kt
  web/src/test/kotlin/web/casino/JackpotPoolHeaderAdviceMvcTest.kt
  web/src/test/kotlin/web/casino/JackpotPoolHeaderAdviceTest.kt
Labels: web, Tests

fix(activity): actually enable CacheFlag.ACTIVITY (PR #298 wasn't enough) (#383)
  discord-bot/src/main/kotlin/bot/configuration/BotConfig.kt
Labels: Bot

feat(casino): add /keno minigame (web + Discord)
  database/src/main/kotlin/database/economy/Keno.kt
  database/src/main/kotlin/database/service/KenoService.kt
  database/src/test/kotlin/database/economy/KenoTest.kt
  database/src/test/kotlin/database/service/KenoServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/KenoCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/KenoEmbeds.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/KenoCommandTest.kt
  web/src/main/kotlin/web/controller/KenoController.kt
  web/src/main/resources/static/css/keno.css
  web/src/main/resources/static/js/keno.js
  web/src/main/resources/templates/casino-guilds.html
  web/src/main/resources/templates/fragments/navbar.html
  web/src/main/resources/templates/keno.html
  web/src/test/js/keno.test.js
  web/src/test/js/navbar.test.js
  web/src/test/kotlin/web/controller/KenoControllerTest.kt
Labels: Bot, Commands, Database, web, Tests

test(application): register Keno in CommandManagerTest's command roster
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/KenoEmbeds.kt
Labels: Bot, Commands

refactor: extract shared casino-game scaffolding across backend, frontend, and discord-bot
  common/src/main/kotlin/common/casino/CasinoCommonFailure.kt
  common/src/main/kotlin/common/discord/EmbedDsl.kt
  core-api/src/main/kotlin/core/command/Command.kt
  database/src/main/kotlin/database/service/BaccaratService.kt
  database/src/main/kotlin/database/service/CoinflipService.kt
  database/src/main/kotlin/database/service/DiceService.kt
  database/src/main/kotlin/database/service/HighlowService.kt
  database/src/main/kotlin/database/service/ScratchService.kt
  database/src/main/kotlin/database/service/SlotsService.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/RollCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/AdjustUserCommand.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/MusicPlayerHelper.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/SlashCommandOptions.kt
  web/src/main/kotlin/web/casino/CasinoOutcomeMapper.kt
  web/src/main/kotlin/web/casino/CasinoPageContext.kt
  web/src/main/kotlin/web/controller/BaccaratController.kt
  web/src/main/kotlin/web/controller/CoinflipController.kt
  web/src/main/kotlin/web/controller/DiceController.kt
  web/src/main/kotlin/web/controller/HighlowController.kt
  web/src/main/kotlin/web/controller/ScratchController.kt
  web/src/main/kotlin/web/controller/SlotsController.kt
  web/src/main/kotlin/web/util/LongExtensions.kt
  web/src/main/resources/static/js/baccarat.js
  web/src/main/resources/static/js/casino-minigame-dom.js
  web/src/main/resources/static/js/casino-result-line.js
  web/src/main/resources/static/js/coinflip.js
  web/src/main/resources/static/js/dice.js
  web/src/main/resources/static/js/highlow.js
  web/src/main/resources/static/js/scratch.js
  web/src/main/resources/static/js/slots.js
  web/src/main/resources/templates/baccarat.html
  web/src/main/resources/templates/coinflip.html
  web/src/main/resources/templates/dice.html
  web/src/main/resources/templates/fragments/casinoMinigame.html
  web/src/main/resources/templates/highlow.html
  web/src/main/resources/templates/scratch.html
  web/src/main/resources/templates/slots.html
  web/src/test/js/casino-minigame-dom.test.js
  web/src/test/js/casino-result-line.test.js
Labels: Bot, Commands, Common, Core-api, Database, Helpers, web

fix(casino web): load casino-jackpot.js on every page that embeds the jackpot banner
  web/src/main/resources/templates/blackjack-lobby.html
  web/src/main/resources/templates/blackjack-solo.html
  web/src/main/resources/templates/blackjack-table.html
  web/src/main/resources/templates/poker-lobby.html
  web/src/main/resources/templates/poker-table.html
  web/src/test/kotlin/web/template/CasinoJackpotScriptLoadedTest.kt
Labels: Tests

fix(casino web): load casino-jackpot.js on every page that embeds the jackpot banner (#385)
  web/src/main/resources/templates/blackjack-lobby.html
  web/src/main/resources/templates/blackjack-solo.html
  web/src/main/resources/templates/blackjack-table.html
  web/src/main/resources/templates/poker-lobby.html
  web/src/main/resources/templates/poker-table.html
  web/src/test/kotlin/web/template/CasinoJackpotScriptLoadedTest.kt
Labels: Tests

refactor: extract shared casino-game scaffolding across backend, frontend, and discord-bot (#384)
  common/src/main/kotlin/common/casino/CasinoCommonFailure.kt
  common/src/main/kotlin/common/discord/EmbedDsl.kt
  core-api/src/main/kotlin/core/command/Command.kt
  database/src/main/kotlin/database/service/BaccaratService.kt
  database/src/main/kotlin/database/service/CoinflipService.kt
  database/src/main/kotlin/database/service/DiceService.kt
  database/src/main/kotlin/database/service/HighlowService.kt
  database/src/main/kotlin/database/service/ScratchService.kt
  database/src/main/kotlin/database/service/SlotsService.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/RollCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/AdjustUserCommand.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/MusicPlayerHelper.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/SlashCommandOptions.kt
  web/src/main/kotlin/web/casino/CasinoOutcomeMapper.kt
  web/src/main/kotlin/web/casino/CasinoPageContext.kt
  web/src/main/kotlin/web/controller/BaccaratController.kt
  web/src/main/kotlin/web/controller/CoinflipController.kt
  web/src/main/kotlin/web/controller/DiceController.kt
  web/src/main/kotlin/web/controller/HighlowController.kt
  web/src/main/kotlin/web/controller/ScratchController.kt
  web/src/main/kotlin/web/controller/SlotsController.kt
  web/src/main/kotlin/web/util/LongExtensions.kt
  web/src/main/resources/static/js/baccarat.js
  web/src/main/resources/static/js/casino-minigame-dom.js
  web/src/main/resources/static/js/casino-result-line.js
  web/src/main/resources/static/js/coinflip.js
  web/src/main/resources/static/js/dice.js
  web/src/main/resources/static/js/highlow.js
  web/src/main/resources/static/js/scratch.js
  web/src/main/resources/static/js/slots.js
  web/src/main/resources/templates/baccarat.html
  web/src/main/resources/templates/coinflip.html
  web/src/main/resources/templates/dice.html
  web/src/main/resources/templates/fragments/casinoMinigame.html
  web/src/main/resources/templates/highlow.html
  web/src/main/resources/templates/scratch.html
  web/src/main/resources/templates/slots.html
  web/src/test/js/casino-minigame-dom.test.js
  web/src/test/js/casino-result-line.test.js
Labels: Bot, Commands, Common, Core-api, Database, Helpers, web

fix jackpotscriptloader test
  web/src/test/kotlin/web/template/CasinoJackpotScriptLoadedTest.kt
Labels: Tests

fix(blackjack web): refresh wallet on every action so the stake doesn't appear to be charged per HIT
  database/src/main/kotlin/database/service/BlackjackService.kt
  database/src/test/kotlin/database/service/BlackjackServiceTest.kt
  discord-bot/src/test/kotlin/bot/toby/button/buttons/BlackjackButtonTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/BlackjackCommandTest.kt
  web/src/main/kotlin/web/controller/BlackjackController.kt
  web/src/main/resources/static/js/blackjack-solo.js
  web/src/main/resources/static/js/blackjack-table.js
  web/src/test/js/blackjack-balance-refresh.test.js
Labels: Database, web, Tests

fix(blackjack web): refresh wallet on every action so the stake doesn't appear to be charged per HIT (#386)
  database/src/main/kotlin/database/service/BlackjackService.kt
  database/src/test/kotlin/database/service/BlackjackServiceTest.kt
  discord-bot/src/test/kotlin/bot/toby/button/buttons/BlackjackButtonTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/BlackjackCommandTest.kt
  web/src/main/kotlin/web/controller/BlackjackController.kt
  web/src/main/resources/static/js/blackjack-solo.js
  web/src/main/resources/static/js/blackjack-table.js
  web/src/test/js/blackjack-balance-refresh.test.js
Labels: Database, web, Tests

feat(casino): add /keno minigame (web + Discord) (#381)
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  database/src/main/kotlin/database/economy/Keno.kt
  database/src/main/kotlin/database/service/KenoService.kt
  database/src/test/kotlin/database/economy/KenoTest.kt
  database/src/test/kotlin/database/service/KenoServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/KenoCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/KenoEmbeds.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/KenoCommandTest.kt
  web/src/main/kotlin/web/controller/KenoController.kt
  web/src/main/resources/static/css/keno.css
  web/src/main/resources/static/js/keno.js
  web/src/main/resources/templates/casino-guilds.html
  web/src/main/resources/templates/fragments/navbar.html
  web/src/main/resources/templates/keno.html
  web/src/test/js/keno.test.js
  web/src/test/js/navbar.test.js
  web/src/test/kotlin/web/controller/KenoControllerTest.kt
Labels: Bot, Commands, Database, web, Tests

refactor(casino web): centralize wallet-balance updates into TobyBalance.update
  web/src/main/resources/static/js/blackjack-solo.js
  web/src/main/resources/static/js/blackjack-table.js
  web/src/main/resources/static/js/casino-balance.js
  web/src/main/resources/static/js/casino-game.js
  web/src/main/resources/static/js/poker-table.js
  web/src/main/resources/static/js/scratch.js
  web/src/main/resources/static/js/tip.js
  web/src/main/resources/templates/blackjack-lobby.html
  web/src/main/resources/templates/blackjack-solo.html
  web/src/main/resources/templates/blackjack-table.html
  web/src/main/resources/templates/fragments/casinoMinigame.html
  web/src/main/resources/templates/keno.html
  web/src/main/resources/templates/poker-lobby.html
  web/src/main/resources/templates/poker-table.html
  web/src/main/resources/templates/tip.html
  web/src/test/js/blackjack-balance-refresh.test.js
  web/src/test/js/casino-balance.test.js
  web/src/test/js/scratch.test.js
Labels: none

fix(casino web): hold jackpot pool banner until reveal animation lands
  web/src/main/resources/static/js/casino-game.js
  web/src/main/resources/static/js/casino-jackpot.js
  web/src/main/resources/static/js/scratch.js
  web/src/test/js/casino-game-jackpot-lock.test.js
  web/src/test/js/casino-jackpot.test.js
  web/src/test/js/scratch-jackpot-lock.test.js
Labels: none

fix(casino web): hold jackpot pool banner until reveal animation lands (#388)
  web/src/main/resources/static/js/casino-game.js
  web/src/main/resources/static/js/casino-jackpot.js
  web/src/main/resources/static/js/scratch.js
  web/src/test/js/casino-game-jackpot-lock.test.js
  web/src/test/js/casino-jackpot.test.js
  web/src/test/js/scratch-jackpot-lock.test.js
Labels: none

fix(casino web): hold lock through staggered reveals (keno, baccarat, highlow play)
  web/src/main/resources/static/js/baccarat.js
  web/src/main/resources/static/js/casino-game.js
  web/src/main/resources/static/js/highlow.js
  web/src/main/resources/static/js/keno.js
  web/src/test/js/baccarat.test.js
  web/src/test/js/casino-game-jackpot-lock.test.js
  web/src/test/js/keno.test.js
Labels: none

refactor(casino web): extract runManual helper for non-scaffold flows
  web/src/main/resources/static/js/casino-game.js
  web/src/main/resources/static/js/highlow.js
  web/src/test/js/casino-game-jackpot-lock.test.js
Labels: none

fix(casino web): hold lock through staggered reveals (keno, baccarat, highlow play) (#389)
  web/src/main/resources/static/js/baccarat.js
  web/src/main/resources/static/js/casino-game.js
  web/src/main/resources/static/js/highlow.js
  web/src/main/resources/static/js/keno.js
  web/src/test/js/baccarat.test.js
  web/src/test/js/casino-game-jackpot-lock.test.js
  web/src/test/js/keno.test.js
Labels: none

refactor(casino web): centralize wallet-balance updates into TobyBalance.update (#387)
  web/src/main/resources/static/js/blackjack-solo.js
  web/src/main/resources/static/js/blackjack-table.js
  web/src/main/resources/static/js/casino-balance.js
  web/src/main/resources/static/js/casino-game.js
  web/src/main/resources/static/js/poker-table.js
  web/src/main/resources/static/js/scratch.js
  web/src/main/resources/static/js/tip.js
  web/src/main/resources/templates/blackjack-lobby.html
  web/src/main/resources/templates/blackjack-solo.html
  web/src/main/resources/templates/blackjack-table.html
  web/src/main/resources/templates/fragments/casinoMinigame.html
  web/src/main/resources/templates/keno.html
  web/src/main/resources/templates/poker-lobby.html
  web/src/main/resources/templates/poker-table.html
  web/src/main/resources/templates/tip.html
  web/src/test/js/blackjack-balance-refresh.test.js
  web/src/test/js/casino-balance.test.js
  web/src/test/js/scratch.test.js
Labels: none

fix(intro web): pick smallest free slot so "Add" doesn't overwrite after a delete
  web/src/main/kotlin/web/service/IntroWebService.kt
Labels: web

ci: remove Qodana
  .github/workflows/qodana_code_quality.yml
  qodana.yaml
Labels: none

fix(intro web): pick smallest free slot so "Add" doesn't overwrite after a delete (#391)
  .github/workflows/qodana_code_quality.yml
  qodana.yaml
  web/src/main/kotlin/web/service/IntroWebService.kt
Labels: web
