Repository ml404/toby-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Config, Bot, Buttons, Commands, Common, Core-api, Database, Helpers, Lavaplayer, Managers, web, Tests

.github/labeler.yml:

Documentation:
- '**/*.md'

Config:
 - '**/*.properties'
 - '**/*.gradle'

Bot:
 - discord-bot/src/main/kotlin/**

Buttons:
 - discord-bot/src/main/kotlin/bot/toby/button/**

Commands:
 - discord-bot/src/main/kotlin/bot/toby/command/**

Common:
 - common/src/main/kotlin/**

Core-api:
 - core-api/src/main/kotlin/**

Database:
 - database/src/main/kotlin/database/**

Helpers:
 - discord-bot/src/main/kotlin/bot/toby/helpers/*

Lavaplayer:
 - discord-bot/src/main/kotlin/bot/toby/lavaplayer/**

Managers:
 - discord-bot/src/main/kotlin/bot/toby/managers/*

web:
 - web/src/main/kotlin/**

Tests:
 - common/src/test/kotlin/**
 - core-api/src/test/kotlin/**
 - database/src/test/kotlin/**
 - discord-bot/src/test/kotlin/**
 - web/src/test/kotlin/**

feat: character sheet provider pattern with DB cache fallback (#222)
  application/src/test/resources/application-test.properties
  application/src/test/resources/schema.sql
  database/build.gradle
  database/src/main/kotlin/database/dto/CharacterSheetDto.kt
  database/src/main/kotlin/database/persistence/CharacterSheetPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultCharacterSheetPersistence.kt
  database/src/main/kotlin/database/service/CharacterSheetService.kt
  database/src/main/kotlin/database/service/impl/DefaultCharacterSheetService.kt
  database/src/main/resources/application.properties
  database/src/main/resources/db/migration/V1__base_schema.sql
  database/src/main/resources/db/migration/V2__dnd_campaign.sql
  database/src/main/resources/db/migration/V3__dnd_character_sheet.sql
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/CharacterCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/LinkCharacterCommand.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/charactersheet/CharacterSheetProvider.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/charactersheet/CompositeCharacterSheetProvider.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/charactersheet/DatabaseCharacterSheetProvider.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/charactersheet/DnDBeyondCharacterSheetProvider.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/CharacterCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/LinkCharacterCommandTest.kt
Labels: Config, Bot, Commands, Database, Tests

feat: DnD campaign infrastructure - Phase 1 (#207)
  application/src/main/kotlin/CampaignShutdownHook.kt
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  application/src/test/kotlin/web/controller/CampaignControllerTest.kt
  application/src/test/kotlin/web/service/CampaignWebServiceTest.kt
  database/src/main/kotlin/database/dto/CampaignDto.kt
  database/src/main/kotlin/database/dto/CampaignPlayerDto.kt
  database/src/main/kotlin/database/persistence/CampaignPersistence.kt
  database/src/main/kotlin/database/persistence/CampaignPlayerPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultCampaignPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultCampaignPlayerPersistence.kt
  database/src/main/kotlin/database/service/CampaignPlayerService.kt
  database/src/main/kotlin/database/service/CampaignService.kt
  database/src/main/kotlin/database/service/impl/DefaultCampaignPlayerService.kt
  database/src/main/kotlin/database/service/impl/DefaultCampaignService.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/CampaignCommand.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/CampaignCommandTest.kt
  web/src/main/kotlin/web/configuration/WebSecurityConfig.kt
  web/src/main/kotlin/web/controller/CampaignController.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/resources/templates/campaign.html
  web/src/main/resources/templates/campaignDetail.html
Labels: Bot, Commands, Database, web, Tests

flyway fix
  application/src/main/resources/application.properties
  database/build.gradle
  database/src/main/resources/application.properties
  database/src/main/resources/db/migration/V1__base_schema.sql
Labels: Config

dnd campaign ui adjustments
  application/src/test/kotlin/web/controller/CampaignControllerTest.kt
  application/src/test/kotlin/web/service/CampaignWebServiceTest.kt
  web/src/main/kotlin/web/configuration/WebSecurityConfig.kt
  web/src/main/kotlin/web/controller/CampaignController.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/resources/templates/campaignDetail.html
  web/src/main/resources/templates/fragments/navbar.html
Labels: web

DnD campaign infrastructure - Phase 1 (Issue #207) (#221)
  application/src/main/kotlin/CampaignShutdownHook.kt
  application/src/main/resources/application.properties
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  application/src/test/kotlin/web/controller/CampaignControllerTest.kt
  application/src/test/kotlin/web/service/CampaignWebServiceTest.kt
  database/build.gradle
  database/src/main/kotlin/database/dto/CampaignDto.kt
  database/src/main/kotlin/database/dto/CampaignPlayerDto.kt
  database/src/main/kotlin/database/persistence/CampaignPersistence.kt
  database/src/main/kotlin/database/persistence/CampaignPlayerPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultCampaignPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultCampaignPlayerPersistence.kt
  database/src/main/kotlin/database/service/CampaignPlayerService.kt
  database/src/main/kotlin/database/service/CampaignService.kt
  database/src/main/kotlin/database/service/impl/DefaultCampaignPlayerService.kt
  database/src/main/kotlin/database/service/impl/DefaultCampaignService.kt
  database/src/main/resources/application.properties
  database/src/main/resources/db/migration/V1__base_schema.sql
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/CampaignCommand.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/CampaignCommandTest.kt
  web/src/main/kotlin/web/configuration/WebSecurityConfig.kt
  web/src/main/kotlin/web/controller/CampaignController.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/resources/templates/campaign.html
  web/src/main/resources/templates/campaignDetail.html
  web/src/main/resources/templates/fragments/navbar.html
Labels: Config, Bot, Commands, Database, web, Tests

master -> main
  .github/workflows/gradle.yml
  bin/trigger_publish_wiki.sh
Labels: none

feat: reduce memory footprint (~150 MB savings)
  Dockerfile
  application/build.gradle
  application/src/main/resources/application.properties
  common/build.gradle
  common/src/main/kotlin/common/configuration/CachingConfig.kt
  common/src/test/kotlin/common/configuration/CachingConfigTest.kt
  discord-bot/src/main/kotlin/bot/configuration/BotConfig.kt
  discord-bot/src/main/kotlin/bot/toby/handler/VoiceEventHandler.kt
  discord-bot/src/main/kotlin/bot/toby/lavaplayer/PlayerManager.kt
  discord-bot/src/main/kotlin/bot/toby/lavaplayer/TrackScheduler.kt
  discord-bot/src/test/kotlin/bot/toby/handler/VoiceEventHandlerTest.kt
  discord-bot/src/test/kotlin/bot/toby/lavaplayer/TrackSchedulerTest.kt
Labels: Config, Bot, Common, Lavaplayer, Tests

fix: preserve lastConnectedChannel on guild leave for voice reconnection
  discord-bot/src/main/kotlin/bot/toby/handler/VoiceEventHandler.kt
  discord-bot/src/test/kotlin/bot/toby/handler/VoiceEventHandlerTest.kt
Labels: Bot, Tests

feat: reduce memory footprint (~150 MB savings) (#223)
  Dockerfile
  application/build.gradle
  application/src/main/resources/application.properties
  common/build.gradle
  common/src/main/kotlin/common/configuration/CachingConfig.kt
  common/src/test/kotlin/common/configuration/CachingConfigTest.kt
  discord-bot/src/main/kotlin/bot/configuration/BotConfig.kt
  discord-bot/src/main/kotlin/bot/toby/handler/VoiceEventHandler.kt
  discord-bot/src/main/kotlin/bot/toby/lavaplayer/PlayerManager.kt
  discord-bot/src/main/kotlin/bot/toby/lavaplayer/TrackScheduler.kt
  discord-bot/src/test/kotlin/bot/toby/handler/VoiceEventHandlerTest.kt
  discord-bot/src/test/kotlin/bot/toby/lavaplayer/TrackSchedulerTest.kt
Labels: Config, Bot, Common, Lavaplayer, Tests

Add YouTube video title lookup for intro songs
  .gitignore
  application/src/test/kotlin/web/controller/IntroWebControllerTest.kt
  application/src/test/kotlin/web/service/IntroWebServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/HttpHelper.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/IntroHelper.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/MusicPlayerHelper.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/fetch/TestHttpHelperHelper.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/music/SetIntroCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/HttpHelperTest.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/IntroHelperTest.kt
  web/src/main/kotlin/web/service/IntroWebService.kt
  web/src/main/resources/templates/intros.html
Labels: Bot, Helpers, web, Tests

Add YouTube video title lookup for intro songs (#224)
  .gitignore
  application/src/test/kotlin/web/controller/IntroWebControllerTest.kt
  application/src/test/kotlin/web/service/IntroWebServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/HttpHelper.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/IntroHelper.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/MusicPlayerHelper.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/fetch/TestHttpHelperHelper.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/music/SetIntroCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/HttpHelperTest.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/IntroHelperTest.kt
  web/src/main/kotlin/web/service/IntroWebService.kt
  web/src/main/resources/templates/intros.html
Labels: Bot, Helpers, web, Tests

feat(web): overhaul intro manager UX and add bot-parity features
  web/src/main/kotlin/web/controller/BotController.kt
  web/src/main/kotlin/web/controller/IntroWebController.kt
  web/src/main/kotlin/web/service/IntroWebService.kt
  web/src/main/resources/static/css/base.css
  web/src/main/resources/static/css/intros.css
  web/src/main/resources/static/js/intros.js
  web/src/main/resources/static/js/modal.js
  web/src/main/resources/static/js/toasts.js
  web/src/main/resources/templates/campaign.html
  web/src/main/resources/templates/campaignDetail.html
  web/src/main/resources/templates/error.html
  web/src/main/resources/templates/fragments/head.html
  web/src/main/resources/templates/guilds.html
  web/src/main/resources/templates/home.html
  web/src/main/resources/templates/intros.html
  web/src/main/resources/templates/login.html
  web/src/main/resources/templates/privacy.html
  web/src/main/resources/templates/terms.html
Labels: web

test(web): restore lazy-title migration; update tests for new signatures
  application/src/test/kotlin/web/controller/IntroWebControllerTest.kt
  application/src/test/kotlin/web/service/IntroWebServiceTest.kt
  web/src/main/kotlin/web/controller/BotController.kt
  web/src/main/kotlin/web/service/IntroWebService.kt
Labels: web

feat(web): overhaul intro manager UX and add bot-parity features (#226)
  application/src/test/kotlin/web/controller/IntroWebControllerTest.kt
  application/src/test/kotlin/web/service/IntroWebServiceTest.kt
  web/src/main/kotlin/web/controller/BotController.kt
  web/src/main/kotlin/web/controller/IntroWebController.kt
  web/src/main/kotlin/web/service/IntroWebService.kt
  web/src/main/resources/static/css/base.css
  web/src/main/resources/static/css/intros.css
  web/src/main/resources/static/js/intros.js
  web/src/main/resources/static/js/modal.js
  web/src/main/resources/static/js/toasts.js
  web/src/main/resources/templates/campaign.html
  web/src/main/resources/templates/campaignDetail.html
  web/src/main/resources/templates/error.html
  web/src/main/resources/templates/fragments/head.html
  web/src/main/resources/templates/guilds.html
  web/src/main/resources/templates/home.html
  web/src/main/resources/templates/intros.html
  web/src/main/resources/templates/login.html
  web/src/main/resources/templates/privacy.html
  web/src/main/resources/templates/terms.html
Labels: web

refactor: extract shared helpers and drop duplication
  discord-bot/src/main/kotlin/bot/toby/Constants.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/CampaignCommand.kt
  discord-bot/src/main/kotlin/bot/toby/dto/web/dnd/Condition.kt
  discord-bot/src/main/kotlin/bot/toby/dto/web/dnd/Feature.kt
  discord-bot/src/main/kotlin/bot/toby/dto/web/dnd/SpellClasses.kt
  discord-bot/src/main/kotlin/bot/toby/handler/VoiceEventHandler.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/DnDHelper.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/MemberExtensions.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/MusicPlayerHelper.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/UserDtoHelper.kt
  discord-bot/src/main/kotlin/bot/toby/managers/DefaultCommandManager.kt
  web/src/main/kotlin/web/controller/CampaignController.kt
  web/src/main/kotlin/web/controller/IntroWebController.kt
  web/src/main/kotlin/web/service/IntroWebService.kt
  web/src/main/kotlin/web/util/OAuth2UserExtensions.kt
  web/src/main/resources/static/js/intros.js
Labels: Bot, Commands, Helpers, Managers, web

fix(dnd): preserve short-circuit in rollInitiativeForMembers filter
  discord-bot/src/main/kotlin/bot/toby/helpers/DnDHelper.kt
Labels: Bot, Helpers

refactor: extract shared helpers and drop duplication (#227)
  discord-bot/src/main/kotlin/bot/toby/Constants.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/CampaignCommand.kt
  discord-bot/src/main/kotlin/bot/toby/dto/web/dnd/Condition.kt
  discord-bot/src/main/kotlin/bot/toby/dto/web/dnd/Feature.kt
  discord-bot/src/main/kotlin/bot/toby/dto/web/dnd/SpellClasses.kt
  discord-bot/src/main/kotlin/bot/toby/handler/VoiceEventHandler.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/DnDHelper.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/MemberExtensions.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/MusicPlayerHelper.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/UserDtoHelper.kt
  discord-bot/src/main/kotlin/bot/toby/managers/DefaultCommandManager.kt
  web/src/main/kotlin/web/controller/CampaignController.kt
  web/src/main/kotlin/web/controller/IntroWebController.kt
  web/src/main/kotlin/web/service/IntroWebService.kt
  web/src/main/kotlin/web/util/OAuth2UserExtensions.kt
  web/src/main/resources/static/js/intros.js
Labels: Bot, Commands, Helpers, Managers, web

feat(dnd): web self-service + strip live DnD Beyond fetch
  application/src/test/kotlin/web/controller/CampaignControllerTest.kt
  application/src/test/kotlin/web/service/CampaignWebServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/CharacterCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/LinkCharacterCommand.kt
  discord-bot/src/main/kotlin/bot/toby/dto/web/dnd/CharacterSheet.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/DnDHelper.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/JsonParser.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/charactersheet/CompositeCharacterSheetProvider.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/charactersheet/DatabaseCharacterSheetProvider.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/charactersheet/DnDBeyondCharacterSheetProvider.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/LinkCharacterCommandTest.kt
  web/src/main/kotlin/web/controller/CampaignController.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/resources/templates/campaignDetail.html
Labels: Bot, Commands, Helpers, web, Tests

fix(web): parse cached character sheet via JsonNode
  web/src/main/kotlin/web/service/CampaignWebService.kt
Labels: web

test(linkcharacter): relax cache-miss assertions
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/LinkCharacterCommandTest.kt
Labels: Tests

feat(dnd): web self-service + strip live DnD Beyond fetch (#228)
  application/src/test/kotlin/web/controller/CampaignControllerTest.kt
  application/src/test/kotlin/web/service/CampaignWebServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/CharacterCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/LinkCharacterCommand.kt
  discord-bot/src/main/kotlin/bot/toby/dto/web/dnd/CharacterSheet.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/DnDHelper.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/JsonParser.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/charactersheet/CompositeCharacterSheetProvider.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/charactersheet/DatabaseCharacterSheetProvider.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/charactersheet/DnDBeyondCharacterSheetProvider.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/LinkCharacterCommandTest.kt
  web/src/main/kotlin/web/controller/CampaignController.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/resources/templates/campaignDetail.html
Labels: Bot, Commands, Helpers, web, Tests

refactor: dedupe D&D Beyond character ID parsing
  common/src/main/kotlin/common/helpers/DndBeyondCharacterId.kt
  common/src/test/kotlin/common/helpers/DndBeyondCharacterIdTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/LinkCharacterCommand.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/LinkCharacterCommandTest.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
Labels: Bot, Commands, Common, web, Tests

refactor: dedupe D&D Beyond character ID parsing (#229)
  common/src/main/kotlin/common/helpers/DndBeyondCharacterId.kt
  common/src/test/kotlin/common/helpers/DndBeyondCharacterIdTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/LinkCharacterCommand.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/LinkCharacterCommandTest.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
Labels: Bot, Commands, Common, web, Tests

feat(dnd): DM web controls for campaigns
  application/src/test/kotlin/web/controller/CampaignControllerTest.kt
  application/src/test/kotlin/web/service/CampaignWebServiceTest.kt
  web/src/main/kotlin/web/controller/CampaignController.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/resources/templates/campaignDetail.html
Labels: web

feat(dnd): DM web controls for campaigns (#230)
  application/src/test/kotlin/web/controller/CampaignControllerTest.kt
  application/src/test/kotlin/web/service/CampaignWebServiceTest.kt
  web/src/main/kotlin/web/controller/CampaignController.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/resources/templates/campaignDetail.html
Labels: web

feat(dnd): per-guild initiative state + Phase 3 snapshot/restore
  application/src/main/kotlin/CampaignShutdownHook.kt
  application/src/main/kotlin/CampaignStartupHook.kt
  database/src/main/kotlin/database/dto/CampaignDto.kt
  database/src/main/kotlin/database/persistence/CampaignPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultCampaignPersistence.kt
  database/src/main/kotlin/database/service/CampaignService.kt
  database/src/main/kotlin/database/service/impl/DefaultCampaignService.kt
  discord-bot/src/main/kotlin/bot/toby/button/buttons/InitiativeClearButton.kt
  discord-bot/src/main/kotlin/bot/toby/button/buttons/InitiativeNextButton.kt
  discord-bot/src/main/kotlin/bot/toby/button/buttons/InitiativePreviousButton.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/InitiativeCommand.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/DnDHelper.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/InitiativeState.kt
  discord-bot/src/test/kotlin/bot/toby/button/buttons/InitiativeClearButtonTest.kt
  discord-bot/src/test/kotlin/bot/toby/button/buttons/InitiativeNextButtonTest.kt
  discord-bot/src/test/kotlin/bot/toby/button/buttons/InitiativePreviousButtonTest.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/DnDHelperTest.kt
Labels: Bot, Buttons, Commands, Database, Helpers, Tests

chore: drop unused imports from InitiativeState
  discord-bot/src/main/kotlin/bot/toby/helpers/InitiativeState.kt
Labels: Bot, Helpers

fix(dnd): use message-consumer on hook.sendMessage in InitiativeCommand
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/InitiativeCommand.kt
Labels: Bot, Commands

feat(dnd): session notes for active campaigns
  application/src/test/kotlin/web/controller/CampaignControllerTest.kt
  application/src/test/kotlin/web/service/CampaignWebServiceTest.kt
  database/src/main/kotlin/database/dto/SessionNoteDto.kt
  database/src/main/kotlin/database/persistence/SessionNotePersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultSessionNotePersistence.kt
  database/src/main/kotlin/database/service/SessionNoteService.kt
  database/src/main/kotlin/database/service/impl/DefaultSessionNoteService.kt
  database/src/main/resources/db/migration/V4__dnd_campaign_session_note.sql
  web/src/main/kotlin/web/controller/CampaignController.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/resources/templates/campaignDetail.html
Labels: Database, web

fix(dnd): use single-string logger.error in shutdown hook
  application/src/main/kotlin/CampaignShutdownHook.kt
Labels: none

feat(dnd): per-guild initiative state + Phase 3 snapshot/restore (#231)
  application/src/main/kotlin/CampaignShutdownHook.kt
  application/src/main/kotlin/CampaignStartupHook.kt
  database/src/main/kotlin/database/dto/CampaignDto.kt
  database/src/main/kotlin/database/persistence/CampaignPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultCampaignPersistence.kt
  database/src/main/kotlin/database/service/CampaignService.kt
  database/src/main/kotlin/database/service/impl/DefaultCampaignService.kt
  discord-bot/src/main/kotlin/bot/toby/button/buttons/InitiativeClearButton.kt
  discord-bot/src/main/kotlin/bot/toby/button/buttons/InitiativeNextButton.kt
  discord-bot/src/main/kotlin/bot/toby/button/buttons/InitiativePreviousButton.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/InitiativeCommand.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/DnDHelper.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/InitiativeState.kt
  discord-bot/src/test/kotlin/bot/toby/button/buttons/InitiativeClearButtonTest.kt
  discord-bot/src/test/kotlin/bot/toby/button/buttons/InitiativeNextButtonTest.kt
  discord-bot/src/test/kotlin/bot/toby/button/buttons/InitiativePreviousButtonTest.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/DnDHelperTest.kt
Labels: Bot, Buttons, Commands, Database, Helpers, Tests

feat(dnd): session notes for active campaigns (#232)
  application/src/test/kotlin/web/controller/CampaignControllerTest.kt
  application/src/test/kotlin/web/service/CampaignWebServiceTest.kt
  database/src/main/kotlin/database/dto/SessionNoteDto.kt
  database/src/main/kotlin/database/persistence/SessionNotePersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultSessionNotePersistence.kt
  database/src/main/kotlin/database/service/SessionNoteService.kt
  database/src/main/kotlin/database/service/impl/DefaultSessionNoteService.kt
  database/src/main/resources/db/migration/V4__dnd_campaign_session_note.sql
  web/src/main/kotlin/web/controller/CampaignController.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/resources/templates/campaignDetail.html
Labels: Database, web

feat(dnd): session log event backbone + roll capture (PR A of 4)
  application/src/main/kotlin/CampaignEventListener.kt
  application/src/test/kotlin/CampaignEventListenerTest.kt
  application/src/test/kotlin/web/controller/CampaignControllerTest.kt
  application/src/test/kotlin/web/service/CampaignWebServiceTest.kt
  common/src/main/kotlin/common/events/CampaignEventOccurred.kt
  common/src/main/kotlin/common/events/CampaignEventType.kt
  database/src/main/kotlin/database/dto/CampaignEventDto.kt
  database/src/main/kotlin/database/persistence/CampaignEventPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultCampaignEventPersistence.kt
  database/src/main/kotlin/database/service/CampaignEventService.kt
  database/src/main/kotlin/database/service/impl/DefaultCampaignEventService.kt
  database/src/main/resources/db/migration/V5__dnd_campaign_event.sql
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/RollCommand.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/RollCommandTest.kt
  web/src/main/kotlin/web/controller/CampaignController.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/resources/templates/campaignDetail.html
Labels: Bot, Commands, Common, Database, web, Tests

test(roll): update RollButtonTest for new RollCommand ctor
  discord-bot/src/test/kotlin/bot/toby/button/buttons/RollButtonTest.kt
Labels: Tests

feat(dnd): session log event backbone + roll capture (PR A of 4) (#233)
  application/src/main/kotlin/CampaignEventListener.kt
  application/src/test/kotlin/CampaignEventListenerTest.kt
  application/src/test/kotlin/web/controller/CampaignControllerTest.kt
  application/src/test/kotlin/web/service/CampaignWebServiceTest.kt
  common/src/main/kotlin/common/events/CampaignEventOccurred.kt
  common/src/main/kotlin/common/events/CampaignEventType.kt
  database/src/main/kotlin/database/dto/CampaignEventDto.kt
  database/src/main/kotlin/database/persistence/CampaignEventPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultCampaignEventPersistence.kt
  database/src/main/kotlin/database/service/CampaignEventService.kt
  database/src/main/kotlin/database/service/impl/DefaultCampaignEventService.kt
  database/src/main/resources/db/migration/V5__dnd_campaign_event.sql
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/RollCommand.kt
  discord-bot/src/test/kotlin/bot/toby/button/buttons/RollButtonTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/RollCommandTest.kt
  web/src/main/kotlin/web/controller/CampaignController.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/resources/templates/campaignDetail.html
Labels: Bot, Commands, Common, Database, web, Tests

feat(dnd): live session log via SSE (PR B of 4)
  application/src/main/kotlin/CampaignEventListener.kt
  application/src/test/kotlin/CampaignEventListenerTest.kt
  application/src/test/kotlin/web/controller/CampaignControllerTest.kt
  application/src/test/kotlin/web/service/CampaignEventBroadcasterTest.kt
  web/src/main/kotlin/web/controller/CampaignController.kt
  web/src/main/kotlin/web/service/CampaignEventBroadcaster.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/resources/static/js/sessionLog.js
  web/src/main/resources/templates/campaignDetail.html
Labels: web

fix(dnd): register JavaTimeModule in broadcaster test + drop SSE detach test
  application/src/test/kotlin/web/service/CampaignEventBroadcasterTest.kt
  web/src/main/kotlin/web/service/CampaignEventBroadcaster.kt
Labels: web

feat(dnd): live session log via SSE (PR B of 4) (#234)
  application/src/main/kotlin/CampaignEventListener.kt
  application/src/test/kotlin/CampaignEventListenerTest.kt
  application/src/test/kotlin/web/controller/CampaignControllerTest.kt
  application/src/test/kotlin/web/service/CampaignEventBroadcasterTest.kt
  web/src/main/kotlin/web/controller/CampaignController.kt
  web/src/main/kotlin/web/service/CampaignEventBroadcaster.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/resources/static/js/sessionLog.js
  web/src/main/resources/templates/campaignDetail.html
Labels: web

feat(dnd): more session-log producers + typed renderers (PR C of 4)
  application/src/test/kotlin/web/service/CampaignWebServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/button/buttons/InitiativeClearButton.kt
  discord-bot/src/main/kotlin/bot/toby/button/buttons/InitiativeNextButton.kt
  discord-bot/src/main/kotlin/bot/toby/button/buttons/InitiativePreviousButton.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/CampaignCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/InitiativeCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/RollCommand.kt
  discord-bot/src/test/kotlin/bot/toby/button/buttons/InitiativeClearButtonTest.kt
  discord-bot/src/test/kotlin/bot/toby/button/buttons/InitiativeNextButtonTest.kt
  discord-bot/src/test/kotlin/bot/toby/button/buttons/InitiativePreviousButtonTest.kt
  discord-bot/src/test/kotlin/bot/toby/button/buttons/RollButtonTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/CampaignCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/InitiativeCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/RollCommandTest.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/kotlin/web/service/SessionLogPublisher.kt
  web/src/main/resources/static/js/sessionLog.js
  web/src/main/resources/templates/campaignDetail.html
Labels: Bot, Buttons, Commands, web, Tests

test(dnd): stub dndHelper.stateFor in initiative button tests
  discord-bot/src/test/kotlin/bot/toby/button/buttons/InitiativeNextButtonTest.kt
  discord-bot/src/test/kotlin/bot/toby/button/buttons/InitiativePreviousButtonTest.kt
Labels: Tests
