Repository ml404/toby-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Config, Bot, Buttons, Commands, Common, Core-api, Database, Helpers, Lavaplayer, Managers, web, Tests

test(blackjack web): jsdom regression test for the split-layout cleanup
  web/src/main/resources/static/css/blackjack.css
  web/src/test/js/blackjack-split-cleanup.test.js
Labels: none

fix(blackjack web): clear split layout after a fresh deal (#360)
  web/src/main/resources/static/css/blackjack.css
  web/src/test/js/blackjack-split-cleanup.test.js
Labels: none

fix(test): default maxParallelForks=1; opt-in only on safe modules
  build.gradle
  database/build.gradle
  web/build.gradle
Labels: Config

feat(cards): render TEN as "10" instead of "T"
  database/src/main/kotlin/database/card/Card.kt
  database/src/test/kotlin/database/card/CardTest.kt
  web/src/main/resources/static/js/poker-table.js
Labels: Database, Tests

fix(test): minimal config - drop maxParallelForks experiments
  application/build.gradle
  build.gradle
  database/build.gradle
  web/build.gradle
Labels: Config

feat(cards): render TEN as "10" instead of "T" (#361)
  database/src/main/kotlin/database/card/Card.kt
  database/src/test/kotlin/database/card/CardTest.kt
  web/src/main/resources/static/js/poker-table.js
Labels: Database, Tests

feat(casino web): surface the jackpot pool banner on blackjack and poker pages
  web/src/main/kotlin/web/controller/BlackjackController.kt
  web/src/main/kotlin/web/controller/PokerController.kt
  web/src/main/resources/templates/blackjack-lobby.html
  web/src/main/resources/templates/blackjack-solo.html
  web/src/main/resources/templates/blackjack-table.html
  web/src/main/resources/templates/poker-lobby.html
  web/src/main/resources/templates/poker-table.html
  web/src/test/kotlin/web/controller/BlackjackControllerTest.kt
  web/src/test/kotlin/web/controller/PokerControllerTest.kt
Labels: web, Tests

feat(moderation web): surface blackjack config keys in the admin form
  web/src/main/resources/templates/moderation.html
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
  web/src/test/kotlin/web/template/ModerationTemplateRowsTest.kt
Labels: Tests

feat(casino web): surface the jackpot pool banner on blackjack and poker pages (#362)
  web/src/main/kotlin/web/controller/BlackjackController.kt
  web/src/main/kotlin/web/controller/PokerController.kt
  web/src/main/resources/templates/blackjack-lobby.html
  web/src/main/resources/templates/blackjack-solo.html
  web/src/main/resources/templates/blackjack-table.html
  web/src/main/resources/templates/poker-lobby.html
  web/src/main/resources/templates/poker-table.html
  web/src/test/kotlin/web/controller/BlackjackControllerTest.kt
  web/src/test/kotlin/web/controller/PokerControllerTest.kt
Labels: web, Tests

feat(moderation web): surface blackjack config keys in the admin form (#363)
  web/src/main/resources/templates/moderation.html
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
  web/src/test/kotlin/web/template/ModerationTemplateRowsTest.kt
Labels: Tests

feat(moderation web): surface poker per-table config keys in the admin form
  web/src/main/resources/templates/moderation.html
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
  web/src/test/kotlin/web/template/ModerationTemplateRowsTest.kt
Labels: Tests

feat(moderation web): surface poker per-table config keys in the admin form (#364)
  web/src/main/resources/templates/moderation.html
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
  web/src/test/kotlin/web/template/ModerationTemplateRowsTest.kt
Labels: Tests

perf(test): drop redundant @TestPropertySource on the two web ITs
  application/src/test/kotlin/integration/web/BotControllerIT.kt
  application/src/test/kotlin/integration/web/PageRenderSmokeIT.kt
Labels: none

perf(test): drop redundant @TestPropertySource on the two web ITs (#366)
  application/src/test/kotlin/integration/web/BotControllerIT.kt
  application/src/test/kotlin/integration/web/PageRenderSmokeIT.kt
Labels: none

fix(casino web): render the live JACKPOT_WIN_PCT in the jackpot banner
  database/src/main/kotlin/database/service/JackpotService.kt
  database/src/test/kotlin/database/service/JackpotServiceTest.kt
  web/src/main/kotlin/web/casino/CasinoPageContext.kt
  web/src/main/kotlin/web/controller/BlackjackController.kt
  web/src/main/kotlin/web/controller/PokerController.kt
  web/src/main/resources/templates/fragments/casino.html
  web/src/test/kotlin/web/controller/BlackjackControllerTest.kt
  web/src/test/kotlin/web/controller/PokerControllerTest.kt
  web/src/test/kotlin/web/template/CasinoJackpotBannerFragmentTest.kt
Labels: Database, web, Tests

feat(moderation web): show a visible % suffix on every percent config row
  web/src/main/resources/static/css/moderation.css
  web/src/main/resources/templates/moderation.html
  web/src/test/kotlin/web/template/ModerationTemplateRowsTest.kt
Labels: Tests

fix(casino web): render the live JACKPOT_WIN_PCT in the jackpot banner (#367)
  database/src/main/kotlin/database/service/JackpotService.kt
  database/src/test/kotlin/database/service/JackpotServiceTest.kt
  web/src/main/kotlin/web/casino/CasinoPageContext.kt
  web/src/main/kotlin/web/controller/BlackjackController.kt
  web/src/main/kotlin/web/controller/PokerController.kt
  web/src/main/resources/templates/fragments/casino.html
  web/src/test/kotlin/web/controller/BlackjackControllerTest.kt
  web/src/test/kotlin/web/controller/PokerControllerTest.kt
  web/src/test/kotlin/web/template/CasinoJackpotBannerFragmentTest.kt
Labels: Database, web, Tests

fix(blackjack web): stop re-dealing the same cards into split hands every poll
  web/src/main/resources/static/js/blackjack-solo.js
  web/src/test/js/blackjack-split-rerender.test.js
Labels: none

feat(moderation web): show a visible % suffix on every percent config row (#368)
  web/src/main/resources/static/css/moderation.css
  web/src/main/resources/templates/moderation.html
  web/src/test/kotlin/web/template/ModerationTemplateRowsTest.kt
Labels: Tests

fix(blackjack web): stop re-dealing the same cards into split hands every poll (#369)
  web/src/main/resources/static/js/blackjack-solo.js
  web/src/test/js/blackjack-split-rerender.test.js
Labels: none

fix(blackjack web): play the win chip-stack animation reliably on mobile
  web/src/main/resources/static/css/casino-table.css
  web/src/main/resources/static/js/blackjack-solo.js
  web/src/main/resources/static/js/casino-render.js
Labels: none

fix(blackjack web): play the win chip-stack animation reliably on mobile (#370)
  web/src/main/resources/static/css/casino-table.css
  web/src/main/resources/static/js/blackjack-solo.js
  web/src/main/resources/static/js/casino-render.js
Labels: none

fix(intro): show clipped runtime and delete embed at clip end
  discord-bot/src/main/kotlin/bot/toby/helpers/MusicPlayerHelper.kt
  discord-bot/src/main/kotlin/bot/toby/lavaplayer/TrackScheduler.kt
  discord-bot/src/main/kotlin/bot/toby/managers/NowPlayingManager.kt
Labels: Bot, Helpers, Lavaplayer, Managers

fix(intro): show clipped runtime and delete embed at clip end (#371)
  discord-bot/src/main/kotlin/bot/toby/helpers/MusicPlayerHelper.kt
  discord-bot/src/main/kotlin/bot/toby/lavaplayer/TrackScheduler.kt
  discord-bot/src/main/kotlin/bot/toby/managers/NowPlayingManager.kt
Labels: Bot, Helpers, Lavaplayer, Managers

perf(test): normalize @SpringBootTest classes[] ordering across all 16 ITs
  application/src/test/kotlin/SpringApplicationTest.kt
  application/src/test/kotlin/integration/bot/AutocompleteManagerTest.kt
  application/src/test/kotlin/integration/bot/ButtonManagerTest.kt
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  application/src/test/kotlin/integration/bot/MenuManagerTest.kt
Labels: none

perf(test): normalize @SpringBootTest classes[] ordering across all 16 ITs (#372)
  application/src/test/kotlin/SpringApplicationTest.kt
  application/src/test/kotlin/integration/bot/AutocompleteManagerTest.kt
  application/src/test/kotlin/integration/bot/ButtonManagerTest.kt
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  application/src/test/kotlin/integration/bot/MenuManagerTest.kt
Labels: none

feat(casino web): mirror jackpot pool value on every balance-mutating response
  database/src/main/kotlin/database/service/CoinflipService.kt
  database/src/main/kotlin/database/service/DiceService.kt
  database/src/main/kotlin/database/service/DuelService.kt
  database/src/main/kotlin/database/service/EconomyTradeService.kt
  database/src/main/kotlin/database/service/HighlowService.kt
  database/src/main/kotlin/database/service/ScratchService.kt
  database/src/main/kotlin/database/service/SlotsService.kt
  database/src/main/kotlin/database/service/TipService.kt
  database/src/test/kotlin/database/service/TipServiceTest.kt
  web/src/main/kotlin/web/controller/CoinflipController.kt
  web/src/main/kotlin/web/controller/DiceController.kt
  web/src/main/kotlin/web/controller/DuelController.kt
  web/src/main/kotlin/web/controller/EconomyController.kt
  web/src/main/kotlin/web/controller/HighlowController.kt
  web/src/main/kotlin/web/controller/ScratchController.kt
  web/src/main/kotlin/web/controller/SlotsController.kt
  web/src/main/kotlin/web/controller/TipController.kt
  web/src/main/resources/static/js/casino-jackpot.js
Labels: Database, web, Tests

feat(casino web): mirror jackpot pool value on every balance-mutating response (#373)
  database/src/main/kotlin/database/service/CoinflipService.kt
  database/src/main/kotlin/database/service/DiceService.kt
  database/src/main/kotlin/database/service/DuelService.kt
  database/src/main/kotlin/database/service/EconomyTradeService.kt
  database/src/main/kotlin/database/service/HighlowService.kt
  database/src/main/kotlin/database/service/ScratchService.kt
  database/src/main/kotlin/database/service/SlotsService.kt
  database/src/main/kotlin/database/service/TipService.kt
  database/src/test/kotlin/database/service/TipServiceTest.kt
  web/src/main/kotlin/web/controller/CoinflipController.kt
  web/src/main/kotlin/web/controller/DiceController.kt
  web/src/main/kotlin/web/controller/DuelController.kt
  web/src/main/kotlin/web/controller/EconomyController.kt
  web/src/main/kotlin/web/controller/HighlowController.kt
  web/src/main/kotlin/web/controller/ScratchController.kt
  web/src/main/kotlin/web/controller/SlotsController.kt
  web/src/main/kotlin/web/controller/TipController.kt
  web/src/main/resources/static/js/casino-jackpot.js
Labels: Database, web, Tests

perf(test): replace Thread.sleep + await with DeterministicScheduler
  common/src/test/kotlin/common/testing/DeterministicScheduler.kt
  database/src/test/kotlin/database/duel/PendingDuelRegistryTest.kt
  database/src/test/kotlin/database/poker/PokerTableRegistryShotClockTest.kt
  discord-bot/src/main/kotlin/bot/toby/managers/NowPlayingManager.kt
  discord-bot/src/test/kotlin/bot/toby/managers/NowPlayingManagerTest.kt
Labels: Bot, Managers, Tests

perf(test): replace Thread.sleep + await with DeterministicScheduler (#374)
  common/src/test/kotlin/common/testing/DeterministicScheduler.kt
  database/src/test/kotlin/database/duel/PendingDuelRegistryTest.kt
  database/src/test/kotlin/database/poker/PokerTableRegistryShotClockTest.kt
  discord-bot/src/main/kotlin/bot/toby/managers/NowPlayingManager.kt
  discord-bot/src/test/kotlin/bot/toby/managers/NowPlayingManagerTest.kt
Labels: Bot, Managers, Tests

perf(test): enable JUnit 5 in-JVM parallel execution on :database
  database/src/test/kotlin/database/service/impl/DefaultUserServiceCacheTest.kt
  database/src/test/resources/junit-platform.properties
Labels: Config, Tests

fix(test): exclude junit-platform.properties from :database testJar
  database/build.gradle
Labels: Config

perf(test): enable JUnit 5 in-JVM parallel execution on :database (#365 step 3) (#375)
  database/build.gradle
  database/src/test/kotlin/database/service/impl/DefaultUserServiceCacheTest.kt
  database/src/test/resources/junit-platform.properties
Labels: Config, Tests

fix(blackjack web): play chip-stack flourish + win/lose sound on every hand
  web/src/main/resources/static/js/blackjack-solo.js
  web/src/main/resources/static/js/blackjack-table.js
Labels: none

test(blackjack web): regression for the per-hand flash dedup
  web/src/main/resources/static/js/blackjack-solo.js
  web/src/test/js/blackjack-flash-dedup.test.js
Labels: none

fix(blackjack web): chip flourish + win/lose sound on every solo hand (#376)
  web/src/main/resources/static/js/blackjack-solo.js
  web/src/main/resources/static/js/blackjack-table.js
  web/src/test/js/blackjack-flash-dedup.test.js
Labels: none

fix(casino web): centralize jackpot-pool mirroring so blackjack updates too
  database/src/main/kotlin/database/service/CoinflipService.kt
  database/src/main/kotlin/database/service/DiceService.kt
  database/src/main/kotlin/database/service/DuelService.kt
  database/src/main/kotlin/database/service/EconomyTradeService.kt
  database/src/main/kotlin/database/service/HighlowService.kt
  database/src/main/kotlin/database/service/ScratchService.kt
  database/src/main/kotlin/database/service/SlotsService.kt
  database/src/main/kotlin/database/service/TipService.kt
  database/src/test/kotlin/database/service/TipServiceTest.kt
  web/src/main/kotlin/web/casino/JackpotPoolHeaderAdvice.kt
  web/src/main/kotlin/web/controller/CoinflipController.kt
  web/src/main/kotlin/web/controller/DiceController.kt
  web/src/main/kotlin/web/controller/DuelController.kt
  web/src/main/kotlin/web/controller/EconomyController.kt
  web/src/main/kotlin/web/controller/HighlowController.kt
  web/src/main/kotlin/web/controller/ScratchController.kt
  web/src/main/kotlin/web/controller/SlotsController.kt
  web/src/main/kotlin/web/controller/TipController.kt
  web/src/main/resources/static/js/api.js
  web/src/main/resources/static/js/casino-jackpot.js
  web/src/test/kotlin/web/casino/JackpotPoolHeaderAdviceTest.kt
Labels: Database, web, Tests

fix(casino web): centralize jackpot-pool mirroring so blackjack updates too (#377)
  database/src/main/kotlin/database/service/CoinflipService.kt
  database/src/main/kotlin/database/service/DiceService.kt
  database/src/main/kotlin/database/service/DuelService.kt
  database/src/main/kotlin/database/service/EconomyTradeService.kt
  database/src/main/kotlin/database/service/HighlowService.kt
  database/src/main/kotlin/database/service/ScratchService.kt
  database/src/main/kotlin/database/service/SlotsService.kt
  database/src/main/kotlin/database/service/TipService.kt
  database/src/test/kotlin/database/service/TipServiceTest.kt
  web/src/main/kotlin/web/casino/JackpotPoolHeaderAdvice.kt
  web/src/main/kotlin/web/controller/CoinflipController.kt
  web/src/main/kotlin/web/controller/DiceController.kt
  web/src/main/kotlin/web/controller/DuelController.kt
  web/src/main/kotlin/web/controller/EconomyController.kt
  web/src/main/kotlin/web/controller/HighlowController.kt
  web/src/main/kotlin/web/controller/ScratchController.kt
  web/src/main/kotlin/web/controller/SlotsController.kt
  web/src/main/kotlin/web/controller/TipController.kt
  web/src/main/resources/static/js/api.js
  web/src/main/resources/static/js/casino-jackpot.js
  web/src/test/kotlin/web/casino/JackpotPoolHeaderAdviceTest.kt
Labels: Database, web, Tests

refactor(test): standardize on mockkObject(PlayerManager) for the companion-object singleton
  application/src/test/kotlin/integration/bot/ButtonManagerTest.kt
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  discord-bot/src/test/kotlin/bot/toby/button/ButtonTest.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/IntroHelperTest.kt
  discord-bot/src/test/kotlin/bot/toby/lavaplayer/TrackSchedulerTest.kt
Labels: Tests

feat(casino): add /baccarat (Punto Banco) minigame
  database/src/main/kotlin/database/economy/Baccarat.kt
  database/src/main/kotlin/database/service/BaccaratService.kt
  database/src/test/kotlin/database/economy/BaccaratTest.kt
  database/src/test/kotlin/database/service/BaccaratServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/button/buttons/BaccaratButton.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/BaccaratCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/BaccaratEmbeds.kt
  discord-bot/src/test/kotlin/bot/toby/button/buttons/BaccaratButtonTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/BaccaratCommandTest.kt
Labels: Bot, Buttons, Commands, Database, Tests

.github/labeler.yml:

Documentation:
- '**/*.md'

Config:
 - '**/*.properties'
 - '**/*.gradle'

Bot:
 - discord-bot/src/main/kotlin/**

Buttons:
 - discord-bot/src/main/kotlin/bot/toby/button/**

Commands:
 - discord-bot/src/main/kotlin/bot/toby/command/**

Common:
 - common/src/main/kotlin/**

Core-api:
 - core-api/src/main/kotlin/**

Database:
 - database/src/main/kotlin/database/**

Helpers:
 - discord-bot/src/main/kotlin/bot/toby/helpers/*

Lavaplayer:
 - discord-bot/src/main/kotlin/bot/toby/lavaplayer/**

Managers:
 - discord-bot/src/main/kotlin/bot/toby/managers/*

web:
 - web/src/main/kotlin/**

Tests:
 - common/src/test/kotlin/**
 - core-api/src/test/kotlin/**
 - database/src/test/kotlin/**
 - discord-bot/src/test/kotlin/**
 - web/src/test/kotlin/**
