Repository ml404/toby-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Config, Bot, Buttons, Commands, Common, Core-api, Database, Helpers, Lavaplayer, Managers, web, Tests

fix(activity): re-enable CacheFlag.ACTIVITY so game sessions actually record
  discord-bot/src/main/kotlin/bot/configuration/BotConfig.kt
Labels: Bot

fix(activity): re-enable CacheFlag.ACTIVITY so game sessions actually record (#298)
  discord-bot/src/main/kotlin/bot/configuration/BotConfig.kt
Labels: Bot

feat: /dice minigame — Discord command + web UI
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  database/src/main/kotlin/database/economy/Dice.kt
  database/src/main/kotlin/database/service/DiceService.kt
  database/src/test/kotlin/database/economy/DiceTest.kt
  database/src/test/kotlin/database/service/DiceServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/DiceCommand.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/DiceCommandTest.kt
  web/src/main/kotlin/web/controller/DiceController.kt
  web/src/main/resources/static/css/dice.css
  web/src/main/resources/static/js/dice.js
  web/src/main/resources/templates/casino-guilds.html
  web/src/main/resources/templates/dice.html
  web/src/main/resources/templates/fragments/navbar.html
  web/src/test/js/navbar.test.js
  web/src/test/kotlin/web/controller/DiceControllerTest.kt
Labels: Bot, Commands, Database, web, Tests

feat: /dice minigame — Discord command + web UI (#299)
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  database/src/main/kotlin/database/economy/Dice.kt
  database/src/main/kotlin/database/service/DiceService.kt
  database/src/test/kotlin/database/economy/DiceTest.kt
  database/src/test/kotlin/database/service/DiceServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/DiceCommand.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/DiceCommandTest.kt
  web/src/main/kotlin/web/controller/DiceController.kt
  web/src/main/resources/static/css/dice.css
  web/src/main/resources/static/js/dice.js
  web/src/main/resources/templates/casino-guilds.html
  web/src/main/resources/templates/dice.html
  web/src/main/resources/templates/fragments/navbar.html
  web/src/test/js/navbar.test.js
  web/src/test/kotlin/web/controller/DiceControllerTest.kt
Labels: Bot, Commands, Database, web, Tests

feat: /highlow minigame — Discord command + web UI
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  database/src/main/kotlin/database/economy/Highlow.kt
  database/src/main/kotlin/database/service/HighlowService.kt
  database/src/test/kotlin/database/economy/HighlowTest.kt
  database/src/test/kotlin/database/service/HighlowServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/HighlowCommand.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/HighlowCommandTest.kt
  web/src/main/kotlin/web/controller/HighlowController.kt
  web/src/main/resources/static/css/highlow.css
  web/src/main/resources/static/js/highlow.js
  web/src/main/resources/templates/casino-guilds.html
  web/src/main/resources/templates/fragments/navbar.html
  web/src/main/resources/templates/highlow.html
  web/src/test/js/navbar.test.js
Labels: Bot, Commands, Database, web, Tests

feat: /highlow minigame — Discord command + web UI (#300)
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  database/src/main/kotlin/database/economy/Highlow.kt
  database/src/main/kotlin/database/service/HighlowService.kt
  database/src/test/kotlin/database/economy/HighlowTest.kt
  database/src/test/kotlin/database/service/HighlowServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/HighlowCommand.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/HighlowCommandTest.kt
  web/src/main/kotlin/web/controller/HighlowController.kt
  web/src/main/resources/static/css/highlow.css
  web/src/main/resources/static/js/highlow.js
  web/src/main/resources/templates/casino-guilds.html
  web/src/main/resources/templates/fragments/navbar.html
  web/src/main/resources/templates/highlow.html
  web/src/test/js/navbar.test.js
Labels: Bot, Commands, Database, web, Tests

feat: /scratch minigame — Discord command + web UI
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  database/src/main/kotlin/database/economy/ScratchCard.kt
  database/src/main/kotlin/database/service/ScratchService.kt
  database/src/test/kotlin/database/economy/ScratchCardTest.kt
  database/src/test/kotlin/database/service/ScratchServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/ScratchCommand.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/ScratchCommandTest.kt
  web/src/main/kotlin/web/controller/ScratchController.kt
  web/src/main/resources/static/css/scratch.css
  web/src/main/resources/static/js/scratch.js
  web/src/main/resources/templates/casino-guilds.html
  web/src/main/resources/templates/fragments/navbar.html
  web/src/main/resources/templates/scratch.html
  web/src/test/js/navbar.test.js
  web/src/test/kotlin/web/controller/ScratchControllerTest.kt
Labels: Bot, Commands, Database, web, Tests

feat: /scratch minigame — Discord command + web UI (#301)
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  database/src/main/kotlin/database/economy/ScratchCard.kt
  database/src/main/kotlin/database/service/ScratchService.kt
  database/src/test/kotlin/database/economy/ScratchCardTest.kt
  database/src/test/kotlin/database/service/ScratchServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/ScratchCommand.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/ScratchCommandTest.kt
  web/src/main/kotlin/web/controller/ScratchController.kt
  web/src/main/resources/static/css/scratch.css
  web/src/main/resources/static/js/scratch.js
  web/src/main/resources/templates/casino-guilds.html
  web/src/main/resources/templates/fragments/navbar.html
  web/src/main/resources/templates/scratch.html
  web/src/test/js/navbar.test.js
  web/src/test/kotlin/web/controller/ScratchControllerTest.kt
Labels: Bot, Commands, Database, web, Tests

refactor(economy): extract WagerHelper for the 5 minigame services
  database/src/main/kotlin/database/service/CoinflipService.kt
  database/src/main/kotlin/database/service/DiceService.kt
  database/src/main/kotlin/database/service/HighlowService.kt
  database/src/main/kotlin/database/service/ScratchService.kt
  database/src/main/kotlin/database/service/SlotsService.kt
  database/src/main/kotlin/database/service/WagerHelper.kt
Labels: Database

refactor(economy): extract WagerHelper for the 5 minigame services (#302)
  database/src/main/kotlin/database/service/CoinflipService.kt
  database/src/main/kotlin/database/service/DiceService.kt
  database/src/main/kotlin/database/service/HighlowService.kt
  database/src/main/kotlin/database/service/ScratchService.kt
  database/src/main/kotlin/database/service/SlotsService.kt
  database/src/main/kotlin/database/service/WagerHelper.kt
Labels: Database

fix(scratch): 3×3 grid, threshold 5, scratch-off animation, no win-spoiler
  database/src/main/kotlin/database/economy/ScratchCard.kt
  database/src/test/kotlin/database/economy/ScratchCardTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/ScratchCommand.kt
  web/src/main/resources/static/css/scratch.css
  web/src/main/resources/static/js/scratch.js
  web/src/main/resources/templates/scratch.html
Labels: Bot, Commands, Database, Tests

fix(scratch): 3×3 grid, threshold 5, scratch-off animation, no win-spoiler (#303)
  database/src/main/kotlin/database/economy/ScratchCard.kt
  database/src/test/kotlin/database/economy/ScratchCardTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/ScratchCommand.kt
  web/src/main/resources/static/css/scratch.css
  web/src/main/resources/static/js/scratch.js
  web/src/main/resources/templates/scratch.html
Labels: Bot, Commands, Database, Tests

fix(highlow): reveal anchor up front, then take the bet, then deal next
  database/src/main/kotlin/database/economy/Highlow.kt
  database/src/main/kotlin/database/service/HighlowService.kt
  database/src/test/kotlin/database/economy/HighlowTest.kt
  database/src/test/kotlin/database/service/HighlowServiceTest.kt
  web/src/main/kotlin/web/controller/HighlowController.kt
  web/src/main/resources/static/js/highlow.js
  web/src/main/resources/templates/highlow.html
  web/src/test/kotlin/web/controller/HighlowControllerTest.kt
Labels: Database, web, Tests

fix(navbar): bridge dropdown hover gap so menus stay open
  web/src/main/resources/static/css/nav.css
Labels: none

fix(economy): close buy/sell round-trip exploit + scrollable trade history
  application/src/test/kotlin/integration/database/EconomyTradeServiceIntegrationTest.kt
  database/src/main/kotlin/database/service/EconomyTradeService.kt
  web/src/main/kotlin/web/service/TitlesWebService.kt
  web/src/main/resources/static/css/economy.css
  web/src/main/resources/static/js/economy.js
  web/src/test/kotlin/web/service/TitlesWebServicePurchaseTest.kt
Labels: Database, web, Tests

fix(highlow): reveal anchor up front, then take the bet, then deal next (#304)
  database/src/main/kotlin/database/economy/Highlow.kt
  database/src/main/kotlin/database/service/HighlowService.kt
  database/src/test/kotlin/database/economy/HighlowTest.kt
  database/src/test/kotlin/database/service/HighlowServiceTest.kt
  web/src/main/kotlin/web/controller/HighlowController.kt
  web/src/main/resources/static/js/highlow.js
  web/src/main/resources/templates/highlow.html
  web/src/test/kotlin/web/controller/HighlowControllerTest.kt
Labels: Database, web, Tests

fix(navbar): bridge dropdown hover gap so menus stay open (#305)
  web/src/main/resources/static/css/nav.css
Labels: none

fix(economy): close buy/sell round-trip exploit + scrollable trade history (#306)
  application/src/test/kotlin/integration/database/EconomyTradeServiceIntegrationTest.kt
  database/src/main/kotlin/database/service/EconomyTradeService.kt
  web/src/main/kotlin/web/service/TitlesWebService.kt
  web/src/main/resources/static/css/economy.css
  web/src/main/resources/static/js/economy.js
  web/src/test/kotlin/web/service/TitlesWebServicePurchaseTest.kt
Labels: Database, web, Tests

fix(scratch): floor 5-of-a-kind cherry to 2x so a "win" never pays nothing
  database/src/main/kotlin/database/economy/ScratchCard.kt
  database/src/test/kotlin/database/economy/CoinflipTest.kt
  database/src/test/kotlin/database/economy/DiceTest.kt
  database/src/test/kotlin/database/economy/HighlowTest.kt
  database/src/test/kotlin/database/economy/ScratchCardTest.kt
  database/src/test/kotlin/database/economy/SlotMachineTest.kt
Labels: Database, Tests

fix(scratch): update web rules text to reflect 2x floor
  web/src/main/resources/templates/scratch.html
Labels: none

fix(scratch): drive web payout table from ScratchCard, not hardcoded text
  database/src/main/kotlin/database/economy/ScratchCard.kt
  database/src/test/kotlin/database/economy/ScratchCardTest.kt
  web/src/main/kotlin/web/controller/ScratchController.kt
  web/src/main/resources/static/css/scratch.css
  web/src/main/resources/templates/scratch.html
Labels: Database, web, Tests

fix(scratch): floor 5🍒 to 2× so a "win" never pays nothing (#308)
  database/src/main/kotlin/database/economy/ScratchCard.kt
  database/src/test/kotlin/database/economy/CoinflipTest.kt
  database/src/test/kotlin/database/economy/DiceTest.kt
  database/src/test/kotlin/database/economy/HighlowTest.kt
  database/src/test/kotlin/database/economy/ScratchCardTest.kt
  database/src/test/kotlin/database/economy/SlotMachineTest.kt
  web/src/main/kotlin/web/controller/ScratchController.kt
  web/src/main/resources/static/css/scratch.css
  web/src/main/resources/templates/scratch.html
Labels: Database, web, Tests

fix(migration): simplify V19 to single ALTER ADD COLUMN with NOT NULL DEFAULT
  database/src/main/resources/db/migration/V19__toby_coin_trade_reason.sql
Labels: none

fix(discord): add InsufficientCoinsForTopUp branches to 5 minigame commands
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/CoinflipCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/DiceCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/HighlowCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/ScratchCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/SlotsCommand.kt
Labels: Bot, Commands

fix(highlow): commit stake before revealing anchor in Discord and web
  discord-bot/src/main/kotlin/bot/toby/button/buttons/HighlowButton.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/HighlowCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/HighlowEmbeds.kt
  discord-bot/src/test/kotlin/bot/toby/button/buttons/HighlowButtonTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/HighlowCommandTest.kt
  web/src/main/kotlin/web/controller/HighlowController.kt
  web/src/main/resources/static/css/highlow.css
  web/src/main/resources/static/js/highlow.js
  web/src/main/resources/templates/highlow.html
  web/src/test/kotlin/web/controller/HighlowControllerTest.kt
Labels: Bot, Buttons, Commands, web, Tests

fix(highlow): ownership check via UserDto, explicit stubs for JDA chain
  application/src/test/kotlin/integration/bot/ButtonManagerTest.kt
  discord-bot/src/main/kotlin/bot/toby/button/buttons/HighlowButton.kt
  discord-bot/src/test/kotlin/bot/toby/button/buttons/HighlowButtonTest.kt
Labels: Bot, Buttons, Tests

fix(highlow): commit stake before revealing the anchor card (#310)
  application/src/test/kotlin/integration/bot/ButtonManagerTest.kt
  discord-bot/src/main/kotlin/bot/toby/button/buttons/HighlowButton.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/HighlowCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/HighlowEmbeds.kt
  discord-bot/src/test/kotlin/bot/toby/button/buttons/HighlowButtonTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/HighlowCommandTest.kt
  web/src/main/kotlin/web/controller/HighlowController.kt
  web/src/main/resources/static/css/highlow.css
  web/src/main/resources/static/js/highlow.js
  web/src/main/resources/templates/highlow.html
  web/src/test/kotlin/web/controller/HighlowControllerTest.kt
Labels: Bot, Buttons, Commands, web, Tests

feat(jackpot): 10% (configurable) of every lost stake feeds the jackpot pool
  database/src/main/kotlin/database/dto/ConfigDto.kt
  database/src/main/kotlin/database/service/CoinflipService.kt
  database/src/main/kotlin/database/service/DiceService.kt
  database/src/main/kotlin/database/service/HighlowService.kt
  database/src/main/kotlin/database/service/JackpotHelper.kt
  database/src/main/kotlin/database/service/ScratchService.kt
  database/src/main/kotlin/database/service/SlotsService.kt
  database/src/test/kotlin/database/service/CoinflipServiceTest.kt
  database/src/test/kotlin/database/service/DiceServiceTest.kt
  database/src/test/kotlin/database/service/HighlowServiceTest.kt
  database/src/test/kotlin/database/service/JackpotHelperTest.kt
  database/src/test/kotlin/database/service/ScratchServiceTest.kt
  database/src/test/kotlin/database/service/SlotsServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
  web/src/main/kotlin/web/controller/CoinflipController.kt
  web/src/main/kotlin/web/controller/DiceController.kt
  web/src/main/kotlin/web/controller/HighlowController.kt
  web/src/main/kotlin/web/controller/ScratchController.kt
  web/src/main/kotlin/web/controller/SlotsController.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/resources/static/css/base.css
  web/src/main/resources/static/js/casino-jackpot.js
  web/src/main/resources/static/js/coinflip.js
  web/src/main/resources/static/js/dice.js
  web/src/main/resources/static/js/highlow.js
  web/src/main/resources/static/js/scratch.js
  web/src/main/resources/static/js/slots.js
  web/src/test/js/casino-jackpot.test.js
  web/src/test/js/coinflip.test.js
  web/src/test/js/dice.test.js
  web/src/test/js/highlow.test.js
  web/src/test/js/scratch.test.js
  web/src/test/js/slots.test.js
  web/src/test/kotlin/web/controller/CoinflipControllerTest.kt
  web/src/test/kotlin/web/controller/DiceControllerTest.kt
  web/src/test/kotlin/web/controller/HighlowControllerTest.kt
  web/src/test/kotlin/web/controller/ScratchControllerTest.kt
  web/src/test/kotlin/web/controller/SlotsControllerTest.kt
Labels: Bot, Commands, Database, web, Tests

fix(economy): % indicator follows the active chart window, not just 1D
  web/src/main/kotlin/web/service/EconomyWebService.kt
  web/src/main/resources/static/js/economy-change.js
  web/src/main/resources/static/js/economy.js
  web/src/main/resources/templates/economy.html
  web/src/test/js/economy-change.test.js
  web/src/test/kotlin/web/service/EconomyWebServiceTest.kt
Labels: web, Tests

fix(test): drop stake from PlayRequest in highlow loss-tribute test (PR #310 changed shape)
  web/src/test/kotlin/web/controller/HighlowControllerTest.kt
Labels: Tests

style(jackpot): use Kotlin range check for tribute pct (Qodana hint)
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
Labels: Bot, Commands, web

feat(jackpot): 10% (configurable) of every lost stake feeds the jackpot pool (#311)
  database/src/main/kotlin/database/dto/ConfigDto.kt
  database/src/main/kotlin/database/service/CoinflipService.kt
  database/src/main/kotlin/database/service/DiceService.kt
  database/src/main/kotlin/database/service/HighlowService.kt
  database/src/main/kotlin/database/service/JackpotHelper.kt
  database/src/main/kotlin/database/service/ScratchService.kt
  database/src/main/kotlin/database/service/SlotsService.kt
  database/src/test/kotlin/database/service/CoinflipServiceTest.kt
  database/src/test/kotlin/database/service/DiceServiceTest.kt
  database/src/test/kotlin/database/service/HighlowServiceTest.kt
  database/src/test/kotlin/database/service/JackpotHelperTest.kt
  database/src/test/kotlin/database/service/ScratchServiceTest.kt
  database/src/test/kotlin/database/service/SlotsServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
  web/src/main/kotlin/web/controller/CoinflipController.kt
  web/src/main/kotlin/web/controller/DiceController.kt
  web/src/main/kotlin/web/controller/HighlowController.kt
  web/src/main/kotlin/web/controller/ScratchController.kt
  web/src/main/kotlin/web/controller/SlotsController.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/resources/static/css/base.css
  web/src/main/resources/static/js/casino-jackpot.js
  web/src/main/resources/static/js/coinflip.js
  web/src/main/resources/static/js/dice.js
  web/src/main/resources/static/js/highlow.js
  web/src/main/resources/static/js/scratch.js
  web/src/main/resources/static/js/slots.js
  web/src/test/js/casino-jackpot.test.js
  web/src/test/js/coinflip.test.js
  web/src/test/js/dice.test.js
  web/src/test/js/highlow.test.js
  web/src/test/js/scratch.test.js
  web/src/test/js/slots.test.js
  web/src/test/kotlin/web/controller/CoinflipControllerTest.kt
  web/src/test/kotlin/web/controller/DiceControllerTest.kt
  web/src/test/kotlin/web/controller/HighlowControllerTest.kt
  web/src/test/kotlin/web/controller/ScratchControllerTest.kt
  web/src/test/kotlin/web/controller/SlotsControllerTest.kt
Labels: Bot, Commands, Database, web, Tests

fix(economy): % indicator follows the active chart window, not just 1D (#312)
  web/src/main/kotlin/web/service/EconomyWebService.kt
  web/src/main/resources/static/js/economy-change.js
  web/src/main/resources/static/js/economy.js
  web/src/main/resources/templates/economy.html
  web/src/test/js/economy-change.test.js
  web/src/test/kotlin/web/service/EconomyWebServiceTest.kt
Labels: web, Tests

feat(titles): expand catalog with cheap, mid, and prestige tiers up to 1M
  database/src/main/resources/db/migration/V20__more_titles.sql
Labels: none

feat(titles): expand catalog with cheap, mid, and prestige tiers up to 1M (#313)
  database/src/main/resources/db/migration/V20__more_titles.sql
Labels: none

chore(qodana): clear actionable inspection issues
  build.gradle
  common/src/main/kotlin/common/logging/DiscordLogger.kt
  core-api/src/main/kotlin/core/button/ButtonContext.kt
  core-api/src/main/kotlin/core/command/CommandContext.kt
  database/src/main/kotlin/database/dto/ActivityMonthlyRollupDto.kt
  database/src/main/kotlin/database/dto/MusicDto.kt
  database/src/main/kotlin/database/dto/UserOwnedTitleDto.kt
  database/src/main/kotlin/database/service/EconomyTradeService.kt
  discord-bot/src/main/kotlin/bot/toby/activity/ActivityTrackingNotifier.kt
  discord-bot/src/main/kotlin/bot/toby/dto/web/RedditAPIDto.kt
  discord-bot/src/main/kotlin/bot/toby/economy/TobyCoinChartRenderer.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/InitiativeState.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/charactersheet/DndBeyondCharacterSheetProvider.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/kotlin/web/service/LeaderboardWebService.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/kotlin/web/service/TitlesWebService.kt
  web/src/main/kotlin/web/service/UtilsWebService.kt
Labels: Config, Bot, Common, Core-api, Database, Helpers, web

chore(deps): override Spring Boot BOM jackson + commons-lang3 versions
  build.gradle
Labels: Config

chore(qodana): clear actionable inspection issues (#315)
  build.gradle
  common/src/main/kotlin/common/logging/DiscordLogger.kt
  core-api/src/main/kotlin/core/button/ButtonContext.kt
  core-api/src/main/kotlin/core/command/CommandContext.kt
  database/src/main/kotlin/database/dto/ActivityMonthlyRollupDto.kt
  database/src/main/kotlin/database/dto/MusicDto.kt
  database/src/main/kotlin/database/dto/UserOwnedTitleDto.kt
  database/src/main/kotlin/database/service/EconomyTradeService.kt
  discord-bot/src/main/kotlin/bot/toby/activity/ActivityTrackingNotifier.kt
  discord-bot/src/main/kotlin/bot/toby/dto/web/RedditAPIDto.kt
  discord-bot/src/main/kotlin/bot/toby/economy/TobyCoinChartRenderer.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/InitiativeState.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/charactersheet/DndBeyondCharacterSheetProvider.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/kotlin/web/service/LeaderboardWebService.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/kotlin/web/service/TitlesWebService.kt
  web/src/main/kotlin/web/service/UtilsWebService.kt
Labels: Config, Bot, Common, Core-api, Database, Helpers, web

fix(duel): explicit MessageTopLevelComponent type for setComponents emptyList
  discord-bot/src/main/kotlin/bot/toby/button/buttons/DuelButton.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/DuelCommand.kt
  discord-bot/src/test/kotlin/bot/toby/button/buttons/DuelButtonTest.kt
  web/src/test/kotlin/web/service/TipWebServiceTest.kt
Labels: Bot, Buttons, Commands, Tests

fix(tests): match mockk stubs against Kotlin default-arg trailing positions
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/DuelCommandTest.kt
  web/src/test/kotlin/web/controller/DuelControllerTest.kt
  web/src/test/kotlin/web/controller/TipControllerTest.kt
Labels: Tests

.github/labeler.yml:

Documentation:
- '**/*.md'

Config:
 - '**/*.properties'
 - '**/*.gradle'

Bot:
 - discord-bot/src/main/kotlin/**

Buttons:
 - discord-bot/src/main/kotlin/bot/toby/button/**

Commands:
 - discord-bot/src/main/kotlin/bot/toby/command/**

Common:
 - common/src/main/kotlin/**

Core-api:
 - core-api/src/main/kotlin/**

Database:
 - database/src/main/kotlin/database/**

Helpers:
 - discord-bot/src/main/kotlin/bot/toby/helpers/*

Lavaplayer:
 - discord-bot/src/main/kotlin/bot/toby/lavaplayer/**

Managers:
 - discord-bot/src/main/kotlin/bot/toby/managers/*

web:
 - web/src/main/kotlin/**

Tests:
 - common/src/test/kotlin/**
 - core-api/src/test/kotlin/**
 - database/src/test/kotlin/**
 - discord-bot/src/test/kotlin/**
 - web/src/test/kotlin/**
