Repository ml404/toby-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Config, Bot, Buttons, Commands, Common, Core-api, Database, Helpers, Lavaplayer, Managers, web, Tests

fix(blackjack): use MessageEditAction in BlackjackButton test
  discord-bot/src/test/kotlin/bot/toby/button/buttons/BlackjackButtonTest.kt
Labels: Tests

feat(blackjack): keep seats, mid-hand leave, shot clock, 3:2 BJ premium
  database/src/main/kotlin/database/blackjack/Blackjack.kt
  database/src/main/kotlin/database/blackjack/BlackjackTable.kt
  database/src/main/kotlin/database/blackjack/BlackjackTableRegistry.kt
  database/src/main/kotlin/database/service/BlackjackService.kt
  database/src/test/kotlin/database/service/BlackjackServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/BlackjackCommand.kt
  discord-bot/src/test/kotlin/bot/toby/button/buttons/BlackjackButtonTest.kt
Labels: Bot, Commands, Database, Tests

feat(blackjack): web UI for solo + multi blackjack
  web/src/main/kotlin/web/controller/BlackjackController.kt
  web/src/main/kotlin/web/service/BlackjackWebService.kt
  web/src/main/resources/static/css/blackjack.css
  web/src/main/resources/static/js/blackjack-lobby.js
  web/src/main/resources/static/js/blackjack-solo.js
  web/src/main/resources/static/js/blackjack-table.js
  web/src/main/resources/templates/blackjack-guilds.html
  web/src/main/resources/templates/blackjack-lobby.html
  web/src/main/resources/templates/blackjack-solo.html
  web/src/main/resources/templates/blackjack-table.html
Labels: web

test(blackjack): match vararg shape on event.replyEmbeds
  discord-bot/src/test/kotlin/bot/toby/button/buttons/BlackjackButtonTest.kt
Labels: Tests

test(blackjack): register button + command in inventory tests
  application/src/test/kotlin/integration/bot/ButtonManagerTest.kt
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
Labels: none

feat(blackjack): per-guild config, auto-topup, and hand history
  database/src/main/kotlin/database/blackjack/Blackjack.kt
  database/src/main/kotlin/database/blackjack/BlackjackTable.kt
  database/src/main/kotlin/database/blackjack/BlackjackTableRegistry.kt
  database/src/main/kotlin/database/dto/BlackjackHandLogDto.kt
  database/src/main/kotlin/database/dto/ConfigDto.kt
  database/src/main/kotlin/database/persistence/BlackjackHandLogPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultBlackjackHandLogPersistence.kt
  database/src/main/kotlin/database/service/BlackjackService.kt
  database/src/main/resources/db/migration/V25__blackjack_hand_log.sql
  database/src/test/kotlin/database/service/BlackjackServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/BlackjackCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/BlackjackEmbeds.kt
  web/src/main/kotlin/web/controller/BlackjackController.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
Labels: Bot, Commands, Database, web, Tests

fix(blackjack): wire BLACKJACK_* keys into /setconfig
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
Labels: Bot, Commands

fix(blackjack): trim /setconfig options to stay under JDA's 25-option cap
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
Labels: Bot, Commands

refactor(setconfig): generic int/long config setters
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
Labels: Bot, Commands

refactor(blackjack web): use CasinoOutcomeMapper for error responses
  web/src/main/kotlin/web/controller/BlackjackController.kt
Labels: web

feat(blackjack): per-guild config, auto-topup, and hand history (#347)
  database/src/main/kotlin/database/blackjack/Blackjack.kt
  database/src/main/kotlin/database/blackjack/BlackjackTable.kt
  database/src/main/kotlin/database/blackjack/BlackjackTableRegistry.kt
  database/src/main/kotlin/database/dto/BlackjackHandLogDto.kt
  database/src/main/kotlin/database/dto/ConfigDto.kt
  database/src/main/kotlin/database/persistence/BlackjackHandLogPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultBlackjackHandLogPersistence.kt
  database/src/main/kotlin/database/service/BlackjackService.kt
  database/src/main/resources/db/migration/V25__blackjack_hand_log.sql
  database/src/test/kotlin/database/service/BlackjackServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/BlackjackCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/BlackjackEmbeds.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
  web/src/main/kotlin/web/controller/BlackjackController.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
Labels: Bot, Commands, Database, web, Tests

fix(blackjack web): include CSRF header on POST + add navbar entry
  web/src/main/resources/static/js/blackjack-lobby.js
  web/src/main/resources/static/js/blackjack-solo.js
  web/src/main/resources/static/js/blackjack-table.js
  web/src/main/resources/templates/fragments/navbar.html
Labels: none

fix(blackjack web): include CSRF header on POST + add navbar entry (#348)
  web/src/main/resources/static/js/blackjack-lobby.js
  web/src/main/resources/static/js/blackjack-solo.js
  web/src/main/resources/static/js/blackjack-table.js
  web/src/main/resources/templates/fragments/navbar.html
Labels: none

feat(blackjack): pair-split support — engine + service
  database/src/main/kotlin/database/blackjack/Blackjack.kt
  database/src/main/kotlin/database/blackjack/BlackjackHand.kt
  database/src/main/kotlin/database/blackjack/BlackjackTable.kt
  database/src/main/kotlin/database/service/BlackjackService.kt
  database/src/test/kotlin/database/blackjack/BlackjackHandTest.kt
  database/src/test/kotlin/database/blackjack/BlackjackTest.kt
  database/src/test/kotlin/database/service/BlackjackServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/button/buttons/BlackjackButton.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/BlackjackEmbeds.kt
Labels: Bot, Buttons, Commands, Database, Tests

feat(blackjack): split UI — Discord embeds + button + web JSON + JS
  discord-bot/src/main/kotlin/bot/toby/button/buttons/BlackjackButton.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/BlackjackCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/BlackjackEmbeds.kt
  web/src/main/kotlin/web/controller/BlackjackController.kt
  web/src/main/kotlin/web/service/BlackjackWebService.kt
  web/src/main/resources/static/js/blackjack-solo.js
  web/src/main/resources/static/js/blackjack-table.js
  web/src/main/resources/templates/blackjack-solo.html
  web/src/main/resources/templates/blackjack-table.html
Labels: Bot, Buttons, Commands, web

test(blackjack): populate perHandResults in soloResolvedEmbed test stub
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/BlackjackEmbedsTest.kt
Labels: Tests

fix(blackjack): keep resolved solo table around so /state can render result
  database/src/main/kotlin/database/service/BlackjackService.kt
  web/src/main/kotlin/web/controller/BlackjackController.kt
Labels: Database, web

fix(blackjack): keep resolved solo table around so /state can render result (#350)
  database/src/main/kotlin/database/service/BlackjackService.kt
  web/src/main/kotlin/web/controller/BlackjackController.kt
Labels: Database, web

feat(blackjack): pair split (engine + service + Discord + web UI) (#349)
  database/src/main/kotlin/database/blackjack/Blackjack.kt
  database/src/main/kotlin/database/blackjack/BlackjackHand.kt
  database/src/main/kotlin/database/blackjack/BlackjackTable.kt
  database/src/main/kotlin/database/service/BlackjackService.kt
  database/src/test/kotlin/database/blackjack/BlackjackHandTest.kt
  database/src/test/kotlin/database/blackjack/BlackjackTest.kt
  database/src/test/kotlin/database/service/BlackjackServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/button/buttons/BlackjackButton.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/BlackjackCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/BlackjackEmbeds.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/BlackjackEmbedsTest.kt
  web/src/main/kotlin/web/controller/BlackjackController.kt
  web/src/main/kotlin/web/service/BlackjackWebService.kt
  web/src/main/resources/static/js/blackjack-solo.js
  web/src/main/resources/static/js/blackjack-table.js
  web/src/main/resources/templates/blackjack-solo.html
  web/src/main/resources/templates/blackjack-table.html
Labels: Bot, Buttons, Commands, Database, web, Tests

feat(casino): premium shared table look for blackjack + poker
  web/src/main/kotlin/web/service/BlackjackWebService.kt
  web/src/main/kotlin/web/service/MemberLookupHelper.kt
  web/src/main/kotlin/web/service/PokerWebService.kt
  web/src/main/resources/static/css/blackjack.css
  web/src/main/resources/static/css/casino-table.css
  web/src/main/resources/static/css/poker.css
  web/src/main/resources/static/js/blackjack-solo.js
  web/src/main/resources/static/js/blackjack-table.js
  web/src/main/resources/static/js/casino-render.js
  web/src/main/resources/static/js/poker-table.js
  web/src/main/resources/templates/blackjack-solo.html
  web/src/main/resources/templates/blackjack-table.html
  web/src/main/resources/templates/fragments/head.html
  web/src/main/resources/templates/poker-table.html
  web/src/test/kotlin/web/service/BlackjackWebServiceTest.kt
  web/src/test/kotlin/web/service/MemberLookupHelperTest.kt
  web/src/test/kotlin/web/service/PokerWebServiceTest.kt
Labels: web, Tests

feat(casino): premium shared table look for blackjack + poker (#351)
  web/src/main/kotlin/web/service/BlackjackWebService.kt
  web/src/main/kotlin/web/service/MemberLookupHelper.kt
  web/src/main/kotlin/web/service/PokerWebService.kt
  web/src/main/resources/static/css/blackjack.css
  web/src/main/resources/static/css/casino-table.css
  web/src/main/resources/static/css/poker.css
  web/src/main/resources/static/js/blackjack-solo.js
  web/src/main/resources/static/js/blackjack-table.js
  web/src/main/resources/static/js/casino-render.js
  web/src/main/resources/static/js/poker-table.js
  web/src/main/resources/templates/blackjack-solo.html
  web/src/main/resources/templates/blackjack-table.html
  web/src/main/resources/templates/fragments/head.html
  web/src/main/resources/templates/poker-table.html
  web/src/test/kotlin/web/service/BlackjackWebServiceTest.kt
  web/src/test/kotlin/web/service/MemberLookupHelperTest.kt
  web/src/test/kotlin/web/service/PokerWebServiceTest.kt
Labels: web, Tests

feat(casino): mobile usability + lobby host names + win chip-stack flourish
  web/src/main/kotlin/web/service/BlackjackWebService.kt
  web/src/main/kotlin/web/service/PokerWebService.kt
  web/src/main/resources/static/css/blackjack.css
  web/src/main/resources/static/css/casino-table.css
  web/src/main/resources/static/css/coinflip.css
  web/src/main/resources/static/css/dice.css
  web/src/main/resources/static/css/highlow.css
  web/src/main/resources/static/css/poker.css
  web/src/main/resources/static/css/scratch.css
  web/src/main/resources/static/css/slots.css
  web/src/main/resources/static/js/blackjack-solo.js
  web/src/main/resources/static/js/blackjack-table.js
  web/src/main/resources/static/js/casino-render.js
  web/src/main/resources/static/js/poker-table.js
  web/src/main/resources/templates/blackjack-lobby.html
  web/src/main/resources/templates/poker-lobby.html
Labels: web

feat(casino): mobile usability + lobby host names + win chip-stack flourish (#352)
  web/src/main/kotlin/web/service/BlackjackWebService.kt
  web/src/main/kotlin/web/service/PokerWebService.kt
  web/src/main/resources/static/css/blackjack.css
  web/src/main/resources/static/css/casino-table.css
  web/src/main/resources/static/css/coinflip.css
  web/src/main/resources/static/css/dice.css
  web/src/main/resources/static/css/highlow.css
  web/src/main/resources/static/css/poker.css
  web/src/main/resources/static/css/scratch.css
  web/src/main/resources/static/css/slots.css
  web/src/main/resources/static/js/blackjack-solo.js
  web/src/main/resources/static/js/blackjack-table.js
  web/src/main/resources/static/js/casino-render.js
  web/src/main/resources/static/js/poker-table.js
  web/src/main/resources/templates/blackjack-lobby.html
  web/src/main/resources/templates/poker-lobby.html
Labels: web

feat(casino): sound effects + staggered card-deal across all games
  web/src/main/resources/static/css/casino-table.css
  web/src/main/resources/static/js/blackjack-solo.js
  web/src/main/resources/static/js/blackjack-table.js
  web/src/main/resources/static/js/casino-render.js
  web/src/main/resources/static/js/casino-sounds.js
  web/src/main/resources/static/js/coinflip.js
  web/src/main/resources/static/js/dice.js
  web/src/main/resources/static/js/highlow.js
  web/src/main/resources/static/js/poker-table.js
  web/src/main/resources/static/js/scratch.js
  web/src/main/resources/static/js/slots.js
  web/src/main/resources/templates/blackjack-solo.html
  web/src/main/resources/templates/blackjack-table.html
  web/src/main/resources/templates/coinflip.html
  web/src/main/resources/templates/dice.html
  web/src/main/resources/templates/highlow.html
  web/src/main/resources/templates/poker-table.html
  web/src/main/resources/templates/scratch.html
  web/src/main/resources/templates/slots.html
Labels: none

feat(casino): sound effects + staggered card-deal across all games (#353)
  web/src/main/resources/static/css/casino-table.css
  web/src/main/resources/static/js/blackjack-solo.js
  web/src/main/resources/static/js/blackjack-table.js
  web/src/main/resources/static/js/casino-render.js
  web/src/main/resources/static/js/casino-sounds.js
  web/src/main/resources/static/js/coinflip.js
  web/src/main/resources/static/js/dice.js
  web/src/main/resources/static/js/highlow.js
  web/src/main/resources/static/js/poker-table.js
  web/src/main/resources/static/js/scratch.js
  web/src/main/resources/static/js/slots.js
  web/src/main/resources/templates/blackjack-solo.html
  web/src/main/resources/templates/blackjack-table.html
  web/src/main/resources/templates/coinflip.html
  web/src/main/resources/templates/dice.html
  web/src/main/resources/templates/highlow.html
  web/src/main/resources/templates/poker-table.html
  web/src/main/resources/templates/scratch.html
  web/src/main/resources/templates/slots.html
Labels: none

fix(web): revert head fragment to 2 params (was 500'ing all 2-arg callers)
  web/src/main/resources/static/css/blackjack.css
  web/src/main/resources/static/css/poker.css
  web/src/main/resources/templates/blackjack-solo.html
  web/src/main/resources/templates/blackjack-table.html
  web/src/main/resources/templates/fragments/head.html
  web/src/main/resources/templates/poker-table.html
Labels: none

fix(web): revert head fragment to 2 params (was 500'ing all 2-arg callers) (#354)
  web/src/main/resources/static/css/blackjack.css
  web/src/main/resources/static/css/poker.css
  web/src/main/resources/templates/blackjack-solo.html
  web/src/main/resources/templates/blackjack-table.html
  web/src/main/resources/templates/fragments/head.html
  web/src/main/resources/templates/poker-table.html
Labels: none

test(web): add fragment-arg-count signature check
  web/src/test/kotlin/web/template/FragmentSignatureTest.kt
Labels: Tests

test(web): render-time smoke test for every user-facing GET page
  application/src/test/kotlin/integration/web/PageRenderSmokeIT.kt
Labels: none

test(application): pull spring-security-test for oauth2Login() in smoke IT
  application/build.gradle
  application/src/test/kotlin/integration/web/PageRenderSmokeIT.kt
Labels: Config

test(web): catch fragment-arg-count mismatches before they 500 production (#355)
  application/build.gradle
  application/src/test/kotlin/integration/web/PageRenderSmokeIT.kt
  web/src/test/kotlin/web/template/FragmentSignatureTest.kt
Labels: Config, Tests

fix(blackjack web): serialize seat discordId as String so JS doesn't round it
  database/src/test/kotlin/database/service/BlackjackServiceTest.kt
  web/src/main/kotlin/web/service/BlackjackWebService.kt
  web/src/main/resources/static/js/blackjack-solo.js
  web/src/main/resources/static/js/blackjack-table.js
Labels: web, Tests

fix(blackjack web): serialize seat discordId as String so JS doesn't round it (#356)
  database/src/test/kotlin/database/service/BlackjackServiceTest.kt
  web/src/main/kotlin/web/service/BlackjackWebService.kt
  web/src/main/resources/static/js/blackjack-solo.js
  web/src/main/resources/static/js/blackjack-table.js
Labels: web, Tests

fix(web): serialize remaining Discord IDs as String so JS doesn't round them
  web/src/main/kotlin/web/controller/DuelController.kt
  web/src/main/kotlin/web/service/BlackjackWebService.kt
  web/src/main/kotlin/web/service/DuelWebService.kt
  web/src/main/kotlin/web/service/PokerWebService.kt
  web/src/main/resources/static/js/poker-table.js
  web/src/test/kotlin/web/controller/DuelControllerTest.kt
  web/src/test/kotlin/web/controller/PokerControllerTest.kt
  web/src/test/kotlin/web/service/BlackjackWebServiceTest.kt
  web/src/test/kotlin/web/service/DuelWebServiceTest.kt
  web/src/test/kotlin/web/service/PokerWebServiceTest.kt
Labels: web, Tests

fix(web): serialize remaining Discord IDs as String so JS doesn't round them (#357)
  web/src/main/kotlin/web/controller/DuelController.kt
  web/src/main/kotlin/web/service/BlackjackWebService.kt
  web/src/main/kotlin/web/service/DuelWebService.kt
  web/src/main/kotlin/web/service/PokerWebService.kt
  web/src/main/resources/static/js/poker-table.js
  web/src/test/kotlin/web/controller/DuelControllerTest.kt
  web/src/test/kotlin/web/controller/PokerControllerTest.kt
  web/src/test/kotlin/web/service/BlackjackWebServiceTest.kt
  web/src/test/kotlin/web/service/DuelWebServiceTest.kt
  web/src/test/kotlin/web/service/PokerWebServiceTest.kt
Labels: web, Tests

perf(test): parallelize unit tests + dedup Spring contexts (3→6 min regression)
  .gitignore
  application/src/test/kotlin/SpringApplicationTest.kt
  application/src/test/kotlin/integration/bot/AutocompleteManagerTest.kt
  application/src/test/kotlin/integration/bot/ButtonManagerTest.kt
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  application/src/test/kotlin/integration/bot/MenuManagerTest.kt
  application/src/test/kotlin/integration/web/BotControllerIT.kt
  application/src/test/kotlin/integration/web/PageRenderSmokeIT.kt
  build.gradle
  common/src/test/resources/junit-platform.properties
  core-api/src/test/resources/junit-platform.properties
  database/src/test/kotlin/database/service/impl/DefaultUserServiceCacheTest.kt
  database/src/test/resources/junit-platform.properties
  discord-bot/src/test/resources/junit-platform.properties
  web/src/test/resources/junit-platform.properties
Labels: Config, Tests

feat(casino web): add Rules explainers to blackjack and poker pages
  web/src/main/resources/static/css/blackjack.css
  web/src/main/resources/static/css/poker.css
  web/src/main/resources/templates/blackjack-lobby.html
  web/src/main/resources/templates/blackjack-solo.html
  web/src/main/resources/templates/blackjack-table.html
  web/src/main/resources/templates/poker-lobby.html
  web/src/main/resources/templates/poker-table.html
Labels: none

feat(casino web): add Rules explainers to blackjack and poker pages (#359)
  web/src/main/resources/static/css/blackjack.css
  web/src/main/resources/static/css/poker.css
  web/src/main/resources/templates/blackjack-lobby.html
  web/src/main/resources/templates/blackjack-solo.html
  web/src/main/resources/templates/blackjack-table.html
  web/src/main/resources/templates/poker-lobby.html
  web/src/main/resources/templates/poker-table.html
Labels: none

fix(test): back off parallelism where it broke tests on PR #358 first run
  application/build.gradle
  application/src/test/kotlin/SpringApplicationTest.kt
  application/src/test/kotlin/integration/bot/AutocompleteManagerTest.kt
  application/src/test/kotlin/integration/bot/ButtonManagerTest.kt
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  application/src/test/kotlin/integration/bot/MenuManagerTest.kt
  application/src/test/kotlin/integration/web/BotControllerIT.kt
  application/src/test/kotlin/integration/web/PageRenderSmokeIT.kt
  discord-bot/src/test/resources/junit-platform.properties
Labels: Config

fix(blackjack web): clear split layout after a fresh deal
  web/src/main/resources/static/css/blackjack.css
Labels: none

.github/labeler.yml:

Documentation:
- '**/*.md'

Config:
 - '**/*.properties'
 - '**/*.gradle'

Bot:
 - discord-bot/src/main/kotlin/**

Buttons:
 - discord-bot/src/main/kotlin/bot/toby/button/**

Commands:
 - discord-bot/src/main/kotlin/bot/toby/command/**

Common:
 - common/src/main/kotlin/**

Core-api:
 - core-api/src/main/kotlin/**

Database:
 - database/src/main/kotlin/database/**

Helpers:
 - discord-bot/src/main/kotlin/bot/toby/helpers/*

Lavaplayer:
 - discord-bot/src/main/kotlin/bot/toby/lavaplayer/**

Managers:
 - discord-bot/src/main/kotlin/bot/toby/managers/*

web:
 - web/src/main/kotlin/**

Tests:
 - common/src/test/kotlin/**
 - core-api/src/test/kotlin/**
 - database/src/test/kotlin/**
 - discord-bot/src/test/kotlin/**
 - web/src/test/kotlin/**
