Repository ml404/toby-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Config, Bot, Buttons, Commands, Common, Core-api, Database, Helpers, Lavaplayer, Managers, web, Tests

.github/labeler.yml:

Documentation:
- '**/*.md'

Config:
 - '**/*.properties'
 - '**/*.gradle'

Bot:
 - discord-bot/src/main/kotlin/**

Buttons:
 - discord-bot/src/main/kotlin/bot/toby/button/**

Commands:
 - discord-bot/src/main/kotlin/bot/toby/command/**

Common:
 - common/src/main/kotlin/**

Core-api:
 - core-api/src/main/kotlin/**

Database:
 - database/src/main/kotlin/database/**

Helpers:
 - discord-bot/src/main/kotlin/bot/toby/helpers/*

Lavaplayer:
 - discord-bot/src/main/kotlin/bot/toby/lavaplayer/**

Managers:
 - discord-bot/src/main/kotlin/bot/toby/managers/*

web:
 - web/src/main/kotlin/**

Tests:
 - common/src/test/kotlin/**
 - core-api/src/test/kotlin/**
 - database/src/test/kotlin/**
 - discord-bot/src/test/kotlin/**
 - web/src/test/kotlin/**

DeleteIntroMenu.kt had the wrong name override, so the menu was not being resolved
  discord-bot/src/main/kotlin/bot/toby/menu/menus/DeleteIntroMenu.kt
Labels: Bot

bump JDA version
  build.gradle
Labels: Config

bump youtube commons version
  discord-bot/build.gradle
Labels: Config

bump jda and dev player
  build.gradle
  discord-bot/build.gradle
Labels: Config

bump youtube source and lavaplayer, change two method calls related to the audiomanager that got changed with the version increase
  build.gradle
  discord-bot/build.gradle
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/channel/JoinCommand.kt
  discord-bot/src/main/kotlin/bot/toby/handler/VoiceEventHandler.kt
Labels: Config, Bot, Commands

Sanitise shorts urls in youtube links to be the non shorts equivalent
  discord-bot/src/main/kotlin/bot/toby/helpers/IntroHelper.kt
Labels: Bot, Helpers

Add test, change limit up
  discord-bot/src/main/kotlin/bot/toby/helpers/IntroHelper.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/IntroHelperTest.kt
Labels: Bot, Helpers, Tests

Add test, change limit up
  discord-bot/src/main/kotlin/bot/toby/helpers/IntroHelper.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/IntroHelperTest.kt
Labels: Bot, Helpers, Tests

Fix DBD fetch command
  discord-bot/src/main/kotlin/bot/toby/command/commands/fetch/DbdRandomKillerCommand.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/WikiFetcher.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/WikiFetcherTest.kt
Labels: Bot, Commands, Helpers, Tests

bump youtube common version
  build.gradle
Labels: Config

add YouTube remote cipher
  build.gradle
  discord-bot/src/main/kotlin/bot/toby/lavaplayer/PlayerManager.kt
Labels: Config, Bot, Lavaplayer

add YouTube remote cipher (#183)
  build.gradle
  discord-bot/src/main/kotlin/bot/toby/lavaplayer/PlayerManager.kt
Labels: Config, Bot, Lavaplayer

update slash commands to register subcommand data
  core-api/src/main/kotlin/core/command/Command.kt
Labels: Core-api

update slash commands to register subcommand data
  core-api/src/main/kotlin/core/command/Command.kt
  discord-bot/src/main/kotlin/bot/toby/managers/DefaultCommandManager.kt
Labels: Bot, Core-api, Managers

update youtube common to 1.16.0
  build.gradle
  discord-bot/src/main/kotlin/bot/toby/lavaplayer/PlayerManager.kt
Labels: Config, Bot, Lavaplayer

Introduce subcommands for SetIntroCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/intro/SetIntroCommand.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/IntroHelper.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/music/SetIntroCommandTest.kt
Labels: Bot, Commands, Helpers, Tests

Introduce subcommands for SetIntroCommand.kt (#185)
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/intro/SetIntroCommand.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/IntroHelper.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/music/SetIntroCommandTest.kt
Labels: Bot, Commands, Helpers, Tests

Add subcommands to the wiki generation
  application/src/test/kotlin/web/controller/CommandControllerTest.kt
  web/src/main/kotlin/web/controller/CommandController.kt
Labels: web

Add subcommands to the wiki generation (#186)
  application/src/test/kotlin/web/controller/CommandControllerTest.kt
  web/src/main/kotlin/web/controller/CommandController.kt
Labels: web

Bump lavalink and youtube common version
  build.gradle
Labels: Config

update youtube common version
  build.gradle
  discord-bot/src/main/kotlin/bot/toby/lavaplayer/PlayerManager.kt
Labels: Config, Bot, Lavaplayer

Upgrading JDA to 6.3.1
  .idea/kotlinc.xml
  Procfile
  README.md
  build.gradle
  discord-bot/build.gradle
  discord-bot/src/main/kotlin/bot/configuration/BotConfig.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/DnDCommandQueryHandler.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/RollCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/intro/DeleteIntroCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/intro/EditIntroCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/intro/SetIntroCommand.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/DnDHelper.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/MusicPlayerHelper.kt
  discord-bot/src/main/kotlin/bot/toby/managers/DefaultMenuManager.kt
  discord-bot/src/test/kotlin/bot/toby/button/buttons/RollButtonTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/CommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/DnDCommandQueryHandlerTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/DnDCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/InitiativeCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/RollCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/music/MusicCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/DnDHelperTest.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/MusicPlayerHelperTest.kt
Labels: Documentation, Config, Bot, Commands, Helpers, Managers, Tests

Upgrading JDA to 6.3.1 (#187)
  .idea/kotlinc.xml
  Procfile
  README.md
  build.gradle
  discord-bot/build.gradle
  discord-bot/src/main/kotlin/bot/configuration/BotConfig.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/DnDCommandQueryHandler.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/RollCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/intro/DeleteIntroCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/intro/EditIntroCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/intro/SetIntroCommand.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/DnDHelper.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/MusicPlayerHelper.kt
  discord-bot/src/main/kotlin/bot/toby/managers/DefaultMenuManager.kt
  discord-bot/src/test/kotlin/bot/toby/button/buttons/RollButtonTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/CommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/DnDCommandQueryHandlerTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/DnDCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/InitiativeCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/RollCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/music/MusicCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/DnDHelperTest.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/MusicPlayerHelperTest.kt
Labels: Documentation, Config, Bot, Commands, Helpers, Managers, Tests

Upgrading Gradle to 9.4.0
  .idea/compiler.xml
  .idea/misc.xml
  README.md
  application/build.gradle
  build.gradle
  discord-bot/build.gradle
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  settings.gradle
Labels: Documentation, Config

Upgrading Gradle to 9.4.0 (#188)
  .idea/compiler.xml
  .idea/misc.xml
  README.md
  application/build.gradle
  build.gradle
  discord-bot/build.gradle
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  settings.gradle
Labels: Documentation, Config

Fix Docker
  .dockerignore
  .gitignore
  .idea/misc.xml
  Dockerfile
  docker-compose.yml
Labels: none

Git attributes
  .gitattributes
Labels: none

update README.md
  README.md
Labels: Documentation

add .env.example
  .env.example
Labels: none

Add web UI for intro song management and fix YouTube client auth
  .env.example
  .gitignore
  application/build.gradle
  application/src/main/kotlin/Application.kt
  application/src/main/resources/application.properties
  application/src/test/kotlin/integration/web/BotControllerIT.kt
  application/src/test/kotlin/web/controller/GlobalExceptionHandlerTest.kt
  application/src/test/kotlin/web/controller/IntroWebControllerTest.kt
  application/src/test/kotlin/web/controller/LoginControllerTest.kt
  application/src/test/kotlin/web/service/IntroWebServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/lavaplayer/PlayerManager.kt
  docker-compose.yml
  web/build.gradle
  web/src/main/kotlin/web/configuration/WebSecurityConfig.kt
  web/src/main/kotlin/web/controller/BotController.kt
  web/src/main/kotlin/web/controller/GlobalExceptionHandler.kt
  web/src/main/kotlin/web/controller/IntroWebController.kt
  web/src/main/kotlin/web/controller/LoginController.kt
  web/src/main/kotlin/web/service/IntroWebService.kt
  web/src/main/resources/templates/guilds.html
  web/src/main/resources/templates/intros.html
  web/src/main/resources/templates/login.html
Labels: Config, Bot, Lavaplayer, web

Add web UI for intro song management and fix YouTube client auth (#189)
  .env.example
  .gitignore
  application/build.gradle
  application/src/main/kotlin/Application.kt
  application/src/main/resources/application.properties
  application/src/test/kotlin/integration/web/BotControllerIT.kt
  application/src/test/kotlin/web/controller/GlobalExceptionHandlerTest.kt
  application/src/test/kotlin/web/controller/IntroWebControllerTest.kt
  application/src/test/kotlin/web/controller/LoginControllerTest.kt
  application/src/test/kotlin/web/service/IntroWebServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/lavaplayer/PlayerManager.kt
  docker-compose.yml
  web/build.gradle
  web/src/main/kotlin/web/configuration/WebSecurityConfig.kt
  web/src/main/kotlin/web/controller/BotController.kt
  web/src/main/kotlin/web/controller/GlobalExceptionHandler.kt
  web/src/main/kotlin/web/controller/IntroWebController.kt
  web/src/main/kotlin/web/controller/LoginController.kt
  web/src/main/kotlin/web/service/IntroWebService.kt
  web/src/main/resources/templates/guilds.html
  web/src/main/resources/templates/intros.html
  web/src/main/resources/templates/login.html
Labels: Config, Bot, Lavaplayer, web

Add play button for intro playback in web UI
  .claude/settings.local.json
  .github/workflows/gradle.yml
  .gitignore
  web/package-lock.json
  web/package.json
  web/src/main/kotlin/web/controller/BotController.kt
  web/src/main/resources/static/js/intros.js
  web/src/main/resources/templates/intros.html
  web/src/test/js/intros.test.js
Labels: web

Add play button for intro playback in web UI (#190)
  .claude/settings.local.json
  .github/workflows/gradle.yml
  .gitignore
  web/package-lock.json
  web/package.json
  web/src/main/kotlin/web/controller/BotController.kt
  web/src/main/resources/static/js/intros.js
  web/src/main/resources/templates/intros.html
  web/src/test/js/intros.test.js
Labels: web

cancel in progress builds
  .github/workflows/gradle.yml
Labels: none

add qodana
  .github/workflows/qodana_code_quality.yml
  qodana.yaml
Labels: none

Add TobyBot hub homepage and themed commands wiki
  .claude/settings.local.json
  application/src/test/kotlin/integration/web/BotControllerIT.kt
  application/src/test/kotlin/web/controller/CommandControllerTest.kt
  application/src/test/kotlin/web/controller/HomeControllerTest.kt
  rebuild.sh
  web/src/main/kotlin/web/controller/BotController.kt
  web/src/main/kotlin/web/controller/CommandController.kt
  web/src/main/kotlin/web/controller/HomeController.kt
  web/src/main/resources/static/js/home.js
  web/src/main/resources/templates/home.html
  web/src/test/js/home.test.js
Labels: web

Remove .claude folder from version control
  .claude/settings.local.json
  .gitignore
  application/src/test/resources/application-test.properties
Labels: Config

Add TobyBot hub homepage and themed commands wiki (#192)
  .claude/settings.local.json
  .gitignore
  application/src/test/kotlin/integration/web/BotControllerIT.kt
  application/src/test/kotlin/web/controller/CommandControllerTest.kt
  application/src/test/kotlin/web/controller/HomeControllerTest.kt
  application/src/test/resources/application-test.properties
  rebuild.sh
  web/src/main/kotlin/web/controller/BotController.kt
  web/src/main/kotlin/web/controller/CommandController.kt
  web/src/main/kotlin/web/controller/HomeController.kt
  web/src/main/resources/static/js/home.js
  web/src/main/resources/templates/home.html
  web/src/test/js/home.test.js
Labels: Config, web

Add qodana.yaml file
  qodana.yaml
Labels: none

Add qodana.yaml file
  qodana.yaml
Labels: none
