Repository ml404/toby-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Config, Commands, Buttons, Helpers, Managers, Database, Lavaplayer, Tests

cleanup
  src/main/kotlin/toby/handler/MessageEventHandler.kt
Labels: none

revert to jda 5.0.2
  build.gradle
Labels: Config

adjust PollCommand.kt
  src/main/kotlin/toby/command/commands/moderation/PollCommand.kt
Labels: Commands

adjust PollCommand.kt
  src/main/kotlin/toby/command/commands/moderation/PollCommand.kt
Labels: Commands

adjust PollCommand.kt
  src/main/kotlin/toby/command/commands/moderation/PollCommand.kt
Labels: Commands

adjust PollCommand.kt, see if I can disable the string select menu after a response is chosen
  src/main/kotlin/toby/menu/menus/dnd/DnDApiCoroutineHandler.kt
  src/test/kotlin/toby/command/commands/moderation/PollCommandTest.kt
Labels: none

editMessageComponent rather than bruting it
  src/main/kotlin/toby/menu/menus/dnd/DnDApiCoroutineHandler.kt
Labels: none

move the edit into the menu handle
  src/main/kotlin/toby/managers/MenuManager.kt
  src/main/kotlin/toby/menu/menus/dnd/DnDApiCoroutineHandler.kt
Labels: Managers

disable the string select menu after a response is chosen (#137)
  src/main/kotlin/toby/managers/MenuManager.kt
  src/main/kotlin/toby/menu/menus/dnd/DnDApiCoroutineHandler.kt
  src/test/kotlin/toby/command/commands/moderation/PollCommandTest.kt
Labels: Managers

All tests working
  src/main/kotlin/toby/command/commands/music/IntroSongCommand.kt
  src/main/kotlin/toby/handler/VoiceEventHandler.kt
  src/main/kotlin/toby/helpers/IntroHelper.kt
  src/main/kotlin/toby/jpa/dto/MusicDto.kt
  src/main/kotlin/toby/jpa/persistence/impl/MusicFilePersistenceImpl.kt
  src/main/kotlin/toby/jpa/persistence/impl/UserPersistenceImpl.kt
  src/main/kotlin/toby/menu/IntroMenu.kt
  src/test/kotlin/configuration/TestDatabaseConfig.kt
  src/test/kotlin/jpa/UserServiceImplIntegrationTest.kt
  src/test/kotlin/toby/command/commands/dnd/InitiativeCommandTest.kt
  src/test/kotlin/toby/command/commands/fetch/dnd/DnDCommandQueryHandlerTest.kt
  src/test/kotlin/toby/command/commands/misc/RollCommandTest.kt
  src/test/kotlin/toby/command/commands/misc/UserInfoCommandTest.kt
  src/test/kotlin/toby/command/commands/moderation/AdjustUserCommandTest.kt
  src/test/kotlin/toby/command/commands/music/IntroSongCommandTest.kt
  src/test/kotlin/toby/helpers/DnDHelperTest.kt
  src/test/kotlin/toby/managers/ButtonManagerTest.kt
  src/test/kotlin/toby/menu/menus/dnd/DndApiCoroutineHandlerTest.kt
  src/test/resources/data.sql
  src/test/resources/schema.sql
Labels: Commands, Helpers, Database

added test for hitting limit of intros user can have
  src/main/kotlin/toby/command/commands/music/IntroSongCommand.kt
  src/test/kotlin/toby/command/commands/music/IntroSongCommandTest.kt
Labels: Commands

do the work for storing the link/attachment of the pending intro so that it may be used by the IntroMenu
  src/main/kotlin/toby/command/commands/music/IntroSongCommand.kt
  src/main/kotlin/toby/helpers/IntroHelper.kt
  src/main/kotlin/toby/menu/IntroMenu.kt
  src/test/kotlin/toby/menu/IntroMenuTest.kt
Labels: Commands, Helpers

set up tests for new classes around intros
  src/main/kotlin/toby/helpers/IntroHelper.kt
  src/main/kotlin/toby/managers/MenuManager.kt
  src/main/kotlin/toby/menu/menus/IntroMenu.kt
  src/test/kotlin/toby/helpers/IntroHelperTest.kt
  src/test/kotlin/toby/managers/MenuManagerTest.kt
  src/test/kotlin/toby/menu/IntroMenuTest.kt
  src/test/kotlin/toby/menu/menus/IntroMenuTest.kt
  src/test/kotlin/toby/menu/menus/dnd/DndMenuTest.kt
Labels: Helpers, Managers

change the stringselectmenu populated value to the musicId rather than the index
  src/main/kotlin/toby/menu/menus/IntroMenu.kt
  src/test/kotlin/toby/menu/menus/IntroMenuTest.kt
Labels: none

add way more logging
  src/main/kotlin/toby/helpers/IntroHelper.kt
Labels: Helpers

swapping slashInteractionEvents with IReplyCallbacks
  src/main/kotlin/toby/helpers/IntroHelper.kt
  src/main/kotlin/toby/menu/menus/IntroMenu.kt
Labels: Helpers

change event used for pulling guild
  src/main/kotlin/toby/menu/MenuContext.kt
  src/main/kotlin/toby/menu/menus/IntroMenu.kt
  src/test/kotlin/toby/menu/menus/IntroMenuTest.kt
Labels: none

change event used for pulling guild
  src/main/kotlin/toby/helpers/IntroHelper.kt
  src/main/kotlin/toby/jpa/dto/MusicDto.kt
  src/test/kotlin/configuration/BotConfiguration.kt
Labels: Helpers, Database

change event used for pulling guild
  src/main/kotlin/toby/helpers/IntroHelper.kt
Labels: Helpers

adjust index generation as the dto is stale I think
  src/main/kotlin/toby/helpers/IntroHelper.kt
Labels: Helpers

fix test
  src/test/kotlin/toby/command/commands/music/IntroSongCommandTest.kt
Labels: none

more logging
  src/main/kotlin/toby/helpers/IntroHelper.kt
Labels: Helpers

fix id setting in musicDto
  src/main/kotlin/toby/jpa/dto/MusicDto.kt
  src/main/kotlin/toby/jpa/service/IUserService.kt
  src/main/kotlin/toby/jpa/service/impl/UserServiceImpl.kt
Labels: Database

duplication rejection for intros on user+guild combination
  src/main/kotlin/toby/command/commands/music/IntroSongCommand.kt
  src/main/kotlin/toby/helpers/IntroHelper.kt
  src/main/kotlin/toby/jpa/persistence/IMusicFilePersistence.kt
  src/main/kotlin/toby/jpa/persistence/impl/MusicFilePersistenceImpl.kt
  src/main/kotlin/toby/jpa/service/IMusicFileService.kt
  src/main/kotlin/toby/jpa/service/impl/MusicFileServiceImpl.kt
  src/test/kotlin/jpa/MusicFileServiceImplIntegrationTest.kt
  src/test/kotlin/toby/command/commands/music/IntroSongCommandTest.kt
Labels: Commands, Helpers, Database

remove pending intros once successfully set
  src/main/kotlin/toby/menu/menus/IntroMenu.kt
  src/test/kotlin/toby/command/commands/fetch/dnd/DnDCommandQueryHandlerTest.kt
  src/test/kotlin/toby/command/commands/moderation/AdjustUserCommandTest.kt
  src/test/kotlin/toby/helpers/DnDHelperTest.kt
  src/test/kotlin/toby/menu/menus/dnd/DndApiCoroutineHandlerTest.kt
Labels: none

removed DI from DnDHelperTest
  src/main/kotlin/toby/helpers/UserDtoHelper.kt
  src/test/kotlin/toby/helpers/DnDHelperTest.kt
Labels: Helpers

remove DI from InitiativeCommandTest
  src/test/kotlin/toby/command/commands/dnd/InitiativeCommandTest.kt
Labels: none

remove DI from RollCommandTest.kt
  src/test/kotlin/toby/command/commands/misc/RollCommandTest.kt
Labels: none

remove DI from AdjustUserCommandTest.kt
  src/test/kotlin/toby/command/commands/moderation/AdjustUserCommandTest.kt
Labels: none

remove DI from DndApiCoroutineHandlerTest.kt
  src/test/kotlin/toby/menu/menus/dnd/DndApiCoroutineHandlerTest.kt
Labels: none

remove DI from DnDCommandQueryHandlerTest.kt
  src/test/kotlin/toby/command/commands/fetch/dnd/DnDCommandQueryHandlerTest.kt
Labels: none

add test beans
  src/test/kotlin/configuration/BotConfiguration.kt
  src/test/kotlin/configuration/TestDatabaseConfig.kt
Labels: none

Use test beans where required
  src/main/kotlin/toby/BotMain.kt
  src/main/kotlin/toby/configuration/AppConfig.kt
  src/main/kotlin/toby/configuration/BotConfig.kt
  src/main/kotlin/toby/configuration/CachingConfig.kt
  src/main/kotlin/toby/configuration/DatabaseConfig.kt
  src/main/kotlin/toby/configuration/ManagerConfig.kt
  src/main/resources/application.properties
  src/test/kotlin/SpringApplicationTest.kt
  src/test/kotlin/configuration/BotConfiguration.kt
  src/test/kotlin/configuration/TestAppConfig.kt
  src/test/kotlin/configuration/TestBotConfig.kt
  src/test/kotlin/configuration/TestCachingConfig.kt
  src/test/kotlin/configuration/TestDataSourceConfig.kt
  src/test/kotlin/configuration/TestDatabaseConfig.kt
  src/test/kotlin/configuration/TestManagerConfig.kt
  src/test/kotlin/controller/BotControllerIT.kt
  src/test/kotlin/jpa/BrotherServiceImplIntegrationTest.kt
  src/test/kotlin/jpa/ConfigServiceImplIntegrationTest.kt
  src/test/kotlin/jpa/ExcuseServiceImplIntegrationTest.kt
  src/test/kotlin/jpa/UserServiceImplIntegrationTest.kt
Labels: Config

remove-DI-from-tests (#141)
  src/main/kotlin/toby/BotMain.kt
  src/main/kotlin/toby/configuration/AppConfig.kt
  src/main/kotlin/toby/configuration/BotConfig.kt
  src/main/kotlin/toby/configuration/CachingConfig.kt
  src/main/kotlin/toby/configuration/DatabaseConfig.kt
  src/main/kotlin/toby/configuration/ManagerConfig.kt
  src/main/kotlin/toby/helpers/UserDtoHelper.kt
  src/main/resources/application.properties
  src/test/kotlin/SpringApplicationTest.kt
  src/test/kotlin/configuration/BotConfiguration.kt
  src/test/kotlin/configuration/TestAppConfig.kt
  src/test/kotlin/configuration/TestBotConfig.kt
  src/test/kotlin/configuration/TestCachingConfig.kt
  src/test/kotlin/configuration/TestDataSourceConfig.kt
  src/test/kotlin/configuration/TestDatabaseConfig.kt
  src/test/kotlin/configuration/TestManagerConfig.kt
  src/test/kotlin/controller/BotControllerIT.kt
  src/test/kotlin/jpa/BrotherServiceImplIntegrationTest.kt
  src/test/kotlin/jpa/ConfigServiceImplIntegrationTest.kt
  src/test/kotlin/jpa/ExcuseServiceImplIntegrationTest.kt
  src/test/kotlin/jpa/UserServiceImplIntegrationTest.kt
  src/test/kotlin/toby/command/commands/dnd/InitiativeCommandTest.kt
  src/test/kotlin/toby/command/commands/fetch/dnd/DnDCommandQueryHandlerTest.kt
  src/test/kotlin/toby/command/commands/misc/RollCommandTest.kt
  src/test/kotlin/toby/command/commands/moderation/AdjustUserCommandTest.kt
  src/test/kotlin/toby/helpers/DnDHelperTest.kt
  src/test/kotlin/toby/menu/menus/dnd/DndApiCoroutineHandlerTest.kt
Labels: Config, Helpers

Update README.md
  README.md
Labels: Documentation

update youtube audio source manager (#135)
  .idea/jarRepositories.xml
  build.gradle
  src/main/kotlin/toby/lavaplayer/PlayerManager.kt
Labels: Config, Lavaplayer

Update README.md (#142)
  README.md
Labels: Documentation

surround isFileAlreadyUploaded with runCatching
  src/main/kotlin/toby/jpa/persistence/impl/MusicFilePersistenceImpl.kt
Labels: Database

change text type to bytea, and add extra test
  src/main/kotlin/toby/jpa/dto/MusicDto.kt
  src/main/kotlin/toby/jpa/persistence/impl/MusicFilePersistenceImpl.kt
  src/test/kotlin/SpringApplicationTest.kt
  src/test/kotlin/configuration/TestDataSourceConfig.kt
  src/test/kotlin/configuration/TestDatabaseConfig.kt
  src/test/kotlin/controller/BotControllerIT.kt
  src/test/kotlin/jpa/BrotherServiceImplIntegrationTest.kt
  src/test/kotlin/jpa/ConfigServiceImplIntegrationTest.kt
  src/test/kotlin/jpa/ExcuseServiceImplIntegrationTest.kt
  src/test/kotlin/jpa/UserServiceImplIntegrationTest.kt
  src/test/kotlin/toby/jpa/persistence/impl/MusicFilePersistenceImplTest.kt
Labels: Database

get rid of casts
  src/main/kotlin/toby/jpa/persistence/impl/MusicFilePersistenceImpl.kt
Labels: Database

.github/labeler.yml:

Documentation:
- '**/*.md'

Config:
 - '**/*.properties'
 - '**/*.gradle'

Commands:
  - src/main/kotlin/toby/command/**

Buttons:
 - src/main/kotlin/toby/button/**

Helpers:
  - src/main/kotlin/toby/helpers/*

Managers:
  - src/main/kotlin/toby/managers/*

Database:
  - src/main/kotlin/toby/jpa/**

Lavaplayer:
  - src/main/kotlin/toby/lavaplayer/**

Tests:
  -src/test/kotlin/**
