Repository ml404/toby-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Config, Bot, Buttons, Commands, Common, Core-api, Database, Helpers, Lavaplayer, Managers, web, Tests

.github/labeler.yml:

Documentation:
- '**/*.md'

Config:
 - '**/*.properties'
 - '**/*.gradle'

Bot:
 - discord-bot/src/main/kotlin/**

Buttons:
 - discord-bot/src/main/kotlin/bot/toby/button/**

Commands:
 - discord-bot/src/main/kotlin/bot/toby/command/**

Common:
 - common/src/main/kotlin/**

Core-api:
 - core-api/src/main/kotlin/**

Database:
 - database/src/main/kotlin/database/**

Helpers:
 - discord-bot/src/main/kotlin/bot/toby/helpers/*

Lavaplayer:
 - discord-bot/src/main/kotlin/bot/toby/lavaplayer/**

Managers:
 - discord-bot/src/main/kotlin/bot/toby/managers/*

web:
 - web/src/main/kotlin/**

Tests:
 - common/src/test/kotlin/**
 - core-api/src/test/kotlin/**
 - database/src/test/kotlin/**
 - discord-bot/src/test/kotlin/**
 - web/src/test/kotlin/**

feat(casino): Discord channel logs for anti-autoclick session activity (#420)
  common/src/main/kotlin/common/events/AntiAutoclickEvent.kt
  database/src/main/kotlin/database/dto/ConfigDto.kt
  database/src/main/kotlin/database/service/CasinoBotSuspicionService.kt
  database/src/main/kotlin/database/service/CasinoEdgeService.kt
  database/src/test/kotlin/database/service/CasinoBotSuspicionServiceTest.kt
  database/src/test/kotlin/database/service/CasinoEdgeServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/AntiAutoclickEmbeds.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
  discord-bot/src/main/kotlin/bot/toby/notify/AntiAutoclickNotifier.kt
  discord-bot/src/test/kotlin/bot/toby/notify/AntiAutoclickNotifierTest.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
Labels: Bot, Commands, Common, Database, web, Tests

fix(casino): scrub anti-cheat heuristics from jackpot banner tooltip
  web/src/main/resources/templates/fragments/casino.html
Labels: none

fix(casino): correct jackpot banner copy + surface anti-cheat tooltip (#421)
  database/src/main/kotlin/database/service/JackpotService.kt
  database/src/test/kotlin/database/service/JackpotServiceTest.kt
  web/src/main/kotlin/web/casino/CasinoPageContext.kt
  web/src/main/kotlin/web/controller/PokerController.kt
  web/src/main/resources/templates/fragments/casino.html
  web/src/test/kotlin/web/controller/BlackjackControllerTest.kt
  web/src/test/kotlin/web/controller/PokerControllerTest.kt
  web/src/test/kotlin/web/template/CasinoJackpotBannerFragmentTest.kt
Labels: Database, web, Tests

feat(jackpot): RTP-based eligibility gate
  database/src/main/kotlin/database/dto/ConfigDto.kt
  database/src/main/kotlin/database/service/BaccaratService.kt
  database/src/main/kotlin/database/service/BlackjackService.kt
  database/src/main/kotlin/database/service/CasinoHoldemService.kt
  database/src/main/kotlin/database/service/CoinflipService.kt
  database/src/main/kotlin/database/service/DiceService.kt
  database/src/main/kotlin/database/service/HighlowService.kt
  database/src/main/kotlin/database/service/JackpotHelper.kt
  database/src/main/kotlin/database/service/KenoService.kt
  database/src/main/kotlin/database/service/RouletteService.kt
  database/src/main/kotlin/database/service/ScratchService.kt
  database/src/main/kotlin/database/service/SlotsService.kt
  database/src/test/kotlin/database/service/JackpotHelperTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
Labels: Bot, Commands, Database, web, Tests

feat(jackpot): show ineligibility on the casino-page banner
  database/src/main/kotlin/database/service/JackpotHelper.kt
  database/src/main/kotlin/database/service/JackpotService.kt
  web/src/main/kotlin/web/casino/CasinoPageContext.kt
  web/src/main/kotlin/web/controller/BaccaratController.kt
  web/src/main/kotlin/web/controller/BlackjackController.kt
  web/src/main/kotlin/web/controller/CasinoHoldemController.kt
  web/src/main/kotlin/web/controller/CoinflipController.kt
  web/src/main/kotlin/web/controller/DiceController.kt
  web/src/main/kotlin/web/controller/HighlowController.kt
  web/src/main/kotlin/web/controller/KenoController.kt
  web/src/main/kotlin/web/controller/RouletteController.kt
  web/src/main/kotlin/web/controller/ScratchController.kt
  web/src/main/kotlin/web/controller/SlotsController.kt
  web/src/main/resources/templates/fragments/casino.html
  web/src/test/kotlin/web/casino/CasinoPageContextTest.kt
  web/src/test/kotlin/web/controller/BlackjackControllerTest.kt
  web/src/test/kotlin/web/controller/HighlowControllerTest.kt
  web/src/test/kotlin/web/template/CasinoJackpotBannerFragmentTest.kt
Labels: Database, web, Tests

feat(jackpot): RTP-based eligibility gate (#422)
  database/src/main/kotlin/database/dto/ConfigDto.kt
  database/src/main/kotlin/database/service/BaccaratService.kt
  database/src/main/kotlin/database/service/BlackjackService.kt
  database/src/main/kotlin/database/service/CasinoHoldemService.kt
  database/src/main/kotlin/database/service/CoinflipService.kt
  database/src/main/kotlin/database/service/DiceService.kt
  database/src/main/kotlin/database/service/HighlowService.kt
  database/src/main/kotlin/database/service/JackpotHelper.kt
  database/src/main/kotlin/database/service/JackpotService.kt
  database/src/main/kotlin/database/service/KenoService.kt
  database/src/main/kotlin/database/service/RouletteService.kt
  database/src/main/kotlin/database/service/ScratchService.kt
  database/src/main/kotlin/database/service/SlotsService.kt
  database/src/test/kotlin/database/service/JackpotHelperTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
  web/src/main/kotlin/web/casino/CasinoPageContext.kt
  web/src/main/kotlin/web/controller/BaccaratController.kt
  web/src/main/kotlin/web/controller/BlackjackController.kt
  web/src/main/kotlin/web/controller/CasinoHoldemController.kt
  web/src/main/kotlin/web/controller/CoinflipController.kt
  web/src/main/kotlin/web/controller/DiceController.kt
  web/src/main/kotlin/web/controller/HighlowController.kt
  web/src/main/kotlin/web/controller/KenoController.kt
  web/src/main/kotlin/web/controller/RouletteController.kt
  web/src/main/kotlin/web/controller/ScratchController.kt
  web/src/main/kotlin/web/controller/SlotsController.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/resources/templates/fragments/casino.html
  web/src/test/kotlin/web/casino/CasinoPageContextTest.kt
  web/src/test/kotlin/web/controller/BlackjackControllerTest.kt
  web/src/test/kotlin/web/controller/HighlowControllerTest.kt
  web/src/test/kotlin/web/template/CasinoJackpotBannerFragmentTest.kt
Labels: Bot, Commands, Database, web, Tests

refactor(voice): extract VoiceSessionLifecycle and LastConnectedChannelTracker
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/channel/JoinCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/channel/LeaveCommand.kt
  discord-bot/src/main/kotlin/bot/toby/handler/VoiceEventHandler.kt
  discord-bot/src/main/kotlin/bot/toby/voice/LastConnectedChannelTracker.kt
  discord-bot/src/main/kotlin/bot/toby/voice/VoiceSessionLifecycle.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/music/JoinCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/music/LeaveCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/handler/VoiceEventHandlerTest.kt
Labels: Bot, Commands, Tests

refactor(music): extract pure music utilities and inject NowPlayingManager
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/MusicCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/player/NowDigOnThisCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/player/PlayCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/player/QueueCommand.kt
  discord-bot/src/main/kotlin/bot/toby/handler/VoiceEventHandler.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/IntroHelper.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/MusicPlayerHelper.kt
  discord-bot/src/main/kotlin/bot/toby/lavaplayer/TrackScheduler.kt
  discord-bot/src/main/kotlin/bot/toby/managers/NowPlayingManager.kt
  discord-bot/src/main/kotlin/bot/toby/music/MusicBeans.kt
  discord-bot/src/main/kotlin/bot/toby/util/MusicFormat.kt
  discord-bot/src/test/kotlin/bot/toby/handler/VoiceEventHandlerTest.kt
Labels: Bot, Commands, Helpers, Lavaplayer, Managers, Tests

refactor(intro): extract IntroValidationService
  discord-bot/src/main/kotlin/bot/toby/helpers/IntroHelper.kt
  discord-bot/src/main/kotlin/bot/toby/intro/IntroValidationService.kt
Labels: Bot, Helpers

test(voice): stub channel.idLong on mocks now that the new code reads it
  discord-bot/src/test/kotlin/bot/toby/command/commands/music/JoinCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/handler/VoiceEventHandlerTest.kt
Labels: Tests

refactor: drop redundant @Autowired on touched primary constructors
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/channel/JoinCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/channel/LeaveCommand.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/IntroHelper.kt
Labels: Bot, Commands, Helpers

refactor(intro): extract IntroNotificationService and IntroMediaLoader
  discord-bot/src/main/kotlin/bot/toby/helpers/IntroHelper.kt
  discord-bot/src/main/kotlin/bot/toby/intro/IntroMediaLoader.kt
  discord-bot/src/main/kotlin/bot/toby/intro/IntroNotificationService.kt
Labels: Bot, Helpers

refactor(handlers): decompose VoiceEventHandler, MusicPlayerHelper, IntroHelper (#423)
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/MusicCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/channel/JoinCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/channel/LeaveCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/player/NowDigOnThisCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/player/PlayCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/player/QueueCommand.kt
  discord-bot/src/main/kotlin/bot/toby/handler/VoiceEventHandler.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/IntroHelper.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/MusicPlayerHelper.kt
  discord-bot/src/main/kotlin/bot/toby/intro/IntroMediaLoader.kt
  discord-bot/src/main/kotlin/bot/toby/intro/IntroNotificationService.kt
  discord-bot/src/main/kotlin/bot/toby/intro/IntroValidationService.kt
  discord-bot/src/main/kotlin/bot/toby/lavaplayer/TrackScheduler.kt
  discord-bot/src/main/kotlin/bot/toby/managers/NowPlayingManager.kt
  discord-bot/src/main/kotlin/bot/toby/music/MusicBeans.kt
  discord-bot/src/main/kotlin/bot/toby/util/MusicFormat.kt
  discord-bot/src/main/kotlin/bot/toby/voice/LastConnectedChannelTracker.kt
  discord-bot/src/main/kotlin/bot/toby/voice/VoiceSessionLifecycle.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/music/JoinCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/music/LeaveCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/handler/VoiceEventHandlerTest.kt
Labels: Bot, Commands, Helpers, Lavaplayer, Managers, Tests

refactor(moderation): split monolithic page into per-tab sub-pages, add Jackpot section + 5 missing keys + searchable settings
  application/src/test/kotlin/integration/web/PageRenderSmokeIT.kt
  web/src/main/kotlin/web/controller/ModerationController.kt
  web/src/main/resources/static/css/moderation.css
  web/src/main/resources/static/css/nav.css
  web/src/main/resources/static/js/moderation.js
  web/src/main/resources/static/js/moderation/casino.js
  web/src/main/resources/static/js/moderation/lottery.js
  web/src/main/resources/static/js/moderation/poll.js
  web/src/main/resources/static/js/moderation/settings.js
  web/src/main/resources/static/js/moderation/users.js
  web/src/main/resources/static/js/moderation/voice.js
  web/src/main/resources/static/js/moderationCommon.js
  web/src/main/resources/templates/fragments/moderationHeader.html
  web/src/main/resources/templates/fragments/navbar.html
  web/src/main/resources/templates/moderation/casino.html
  web/src/main/resources/templates/moderation/lottery.html
  web/src/main/resources/templates/moderation/poll.html
  web/src/main/resources/templates/moderation/settings.html
  web/src/main/resources/templates/moderation/users.html
  web/src/main/resources/templates/moderation/voice.html
  web/src/test/kotlin/web/template/ModerationTemplateRowsTest.kt
Labels: web, Tests

refactor(moderation): split monolithic page into per-tab sub-pages, add Jackpot section + 5 missing keys + searchable settings (#424)
  application/src/test/kotlin/integration/web/PageRenderSmokeIT.kt
  web/src/main/kotlin/web/controller/ModerationController.kt
  web/src/main/resources/static/css/moderation.css
  web/src/main/resources/static/css/nav.css
  web/src/main/resources/static/js/moderation.js
  web/src/main/resources/static/js/moderation/casino.js
  web/src/main/resources/static/js/moderation/lottery.js
  web/src/main/resources/static/js/moderation/poll.js
  web/src/main/resources/static/js/moderation/settings.js
  web/src/main/resources/static/js/moderation/users.js
  web/src/main/resources/static/js/moderation/voice.js
  web/src/main/resources/static/js/moderationCommon.js
  web/src/main/resources/templates/fragments/moderationHeader.html
  web/src/main/resources/templates/fragments/navbar.html
  web/src/main/resources/templates/moderation/casino.html
  web/src/main/resources/templates/moderation/lottery.html
  web/src/main/resources/templates/moderation/poll.html
  web/src/main/resources/templates/moderation/settings.html
  web/src/main/resources/templates/moderation/users.html
  web/src/main/resources/templates/moderation/voice.html
  web/src/test/kotlin/web/template/ModerationTemplateRowsTest.kt
Labels: web, Tests

feat(web): v2 public-site polish — themed homepage, live stats, changelog, OG/JSON-LD, footer fragment
  application/src/test/kotlin/integration/web/PageRenderSmokeIT.kt
  application/src/test/kotlin/web/controller/ChangelogControllerTest.kt
  application/src/test/kotlin/web/controller/HomeControllerTest.kt
  web/src/main/kotlin/web/configuration/WebSecurityConfig.kt
  web/src/main/kotlin/web/controller/ChangelogController.kt
  web/src/main/kotlin/web/controller/HomeController.kt
  web/src/main/kotlin/web/service/HomeStatsService.kt
  web/src/main/resources/static/css/base.css
  web/src/main/resources/static/css/casinoholdem.css
  web/src/main/resources/static/css/commands.css
  web/src/main/resources/static/css/economy.css
  web/src/main/resources/static/css/home.css
  web/src/main/resources/static/css/intros.css
  web/src/main/resources/static/css/legal.css
  web/src/main/resources/static/css/moderation.css
  web/src/main/resources/static/css/profile.css
  web/src/main/resources/static/robots.txt
  web/src/main/resources/static/sitemap.xml
  web/src/main/resources/templates/changelog.html
  web/src/main/resources/templates/commands.html
  web/src/main/resources/templates/fragments/footer.html
  web/src/main/resources/templates/fragments/head.html
  web/src/main/resources/templates/home.html
  web/src/main/resources/templates/login.html
  web/src/main/resources/templates/privacy.html
  web/src/main/resources/templates/terms.html
Labels: web

fix(web): drop escaped apostrophes from headSeo description args
  web/src/main/resources/templates/changelog.html
  web/src/main/resources/templates/privacy.html
Labels: none

feat(web): v2 public-site polish — themed homepage, live stats, changelog, OG/JSON-LD, footer fragment (#425)
  application/src/test/kotlin/integration/web/PageRenderSmokeIT.kt
  application/src/test/kotlin/web/controller/ChangelogControllerTest.kt
  application/src/test/kotlin/web/controller/HomeControllerTest.kt
  web/src/main/kotlin/web/configuration/WebSecurityConfig.kt
  web/src/main/kotlin/web/controller/ChangelogController.kt
  web/src/main/kotlin/web/controller/HomeController.kt
  web/src/main/kotlin/web/service/HomeStatsService.kt
  web/src/main/resources/static/css/base.css
  web/src/main/resources/static/css/casinoholdem.css
  web/src/main/resources/static/css/commands.css
  web/src/main/resources/static/css/economy.css
  web/src/main/resources/static/css/home.css
  web/src/main/resources/static/css/intros.css
  web/src/main/resources/static/css/legal.css
  web/src/main/resources/static/css/moderation.css
  web/src/main/resources/static/css/profile.css
  web/src/main/resources/static/robots.txt
  web/src/main/resources/static/sitemap.xml
  web/src/main/resources/templates/changelog.html
  web/src/main/resources/templates/commands.html
  web/src/main/resources/templates/fragments/footer.html
  web/src/main/resources/templates/fragments/head.html
  web/src/main/resources/templates/home.html
  web/src/main/resources/templates/login.html
  web/src/main/resources/templates/privacy.html
  web/src/main/resources/templates/terms.html
Labels: web
