Repository ml404/toby-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Config, Commands, Buttons, Helpers, Managers, Database, Lavaplayer, Tests

.github/labeler.yml:

Documentation:
- '**/*.md'

Config:
 - '**/*.properties'
 - '**/*.gradle'

Commands:
  - src/main/kotlin/toby/command/**

Buttons:
 - src/main/kotlin/toby/button/**

Helpers:
  - src/main/kotlin/toby/helpers/*

Managers:
  - src/main/kotlin/toby/managers/*

Database:
  - src/main/kotlin/toby/jpa/**

Lavaplayer:
  - src/main/kotlin/toby/lavaplayer/**

Tests:
  -src/test/kotlin/**

change help command to list description too
  src/main/kotlin/toby/command/commands/misc/HelpCommand.kt
  src/test/kotlin/toby/command/commands/misc/HelpCommandTest.kt
Labels: Commands

created custom logger so that we could have the guild and user information easily seen in a uniform format
  src/main/kotlin/toby/command/commands/dnd/DnDCommandQueryHandler.kt
  src/main/kotlin/toby/command/commands/fetch/MemeCommand.kt
  src/main/kotlin/toby/command/commands/misc/UserInfoCommand.kt
  src/main/kotlin/toby/command/commands/music/IntroSongCommand.kt
  src/main/kotlin/toby/handler/MessageEventHandler.kt
  src/main/kotlin/toby/handler/StartUpHandler.kt
  src/main/kotlin/toby/handler/VoiceEventHandler.kt
  src/main/kotlin/toby/helpers/IntroHelper.kt
  src/main/kotlin/toby/helpers/MusicPlayerHelper.kt
  src/main/kotlin/toby/helpers/UserDtoHelper.kt
  src/main/kotlin/toby/jpa/persistence/impl/MusicFilePersistenceImpl.kt
  src/main/kotlin/toby/lavaplayer/TrackScheduler.kt
  src/main/kotlin/toby/logging/DiscordLogger.kt
  src/main/kotlin/toby/managers/CommandManager.kt
  src/main/kotlin/toby/managers/MenuManager.kt
  src/main/kotlin/toby/managers/NowPlayingManager.kt
  src/main/kotlin/toby/menu/menus/IntroMenu.kt
  src/main/kotlin/toby/menu/menus/dnd/DnDApiCoroutineHandler.kt
  src/main/kotlin/toby/menu/menus/dnd/DndMenu.kt
  src/test/kotlin/toby/button/ButtonTest.kt
  src/test/kotlin/toby/handler/VoiceEventHandlerTest.kt
  src/test/kotlin/toby/helpers/MusicPlayerHelperTest.kt
  src/test/kotlin/toby/managers/ButtonManagerTest.kt
  src/test/kotlin/toby/managers/CommandManagerTest.kt
  src/test/kotlin/toby/menu/menus/IntroMenuTest.kt
Labels: Commands, Helpers, Managers, Database, Lavaplayer

remove whitespace change
  src/main/kotlin/toby/jpa/persistence/impl/MusicFilePersistenceImpl.kt
Labels: Database

missing initialiser
  src/main/kotlin/toby/helpers/UserDtoHelper.kt
Labels: Helpers

simplify some logs
  src/main/kotlin/toby/handler/MessageEventHandler.kt
  src/main/kotlin/toby/handler/VoiceEventHandler.kt
Labels: none

simplify some logs
  src/main/kotlin/toby/helpers/IntroHelper.kt
  src/main/kotlin/toby/helpers/MusicPlayerHelper.kt
Labels: Helpers

add some extra info to log
  src/main/kotlin/toby/managers/CommandManager.kt
Labels: Managers

fix help, can't be over 2000 characters
  src/main/kotlin/toby/command/commands/misc/HelpCommand.kt
Labels: Commands

created custom logger so that we could have the guild and user information easily seen in a uniform format (#149)
  src/main/kotlin/toby/command/commands/dnd/DnDCommandQueryHandler.kt
  src/main/kotlin/toby/command/commands/fetch/MemeCommand.kt
  src/main/kotlin/toby/command/commands/misc/HelpCommand.kt
  src/main/kotlin/toby/command/commands/misc/UserInfoCommand.kt
  src/main/kotlin/toby/command/commands/music/IntroSongCommand.kt
  src/main/kotlin/toby/handler/MessageEventHandler.kt
  src/main/kotlin/toby/handler/StartUpHandler.kt
  src/main/kotlin/toby/handler/VoiceEventHandler.kt
  src/main/kotlin/toby/helpers/IntroHelper.kt
  src/main/kotlin/toby/helpers/MusicPlayerHelper.kt
  src/main/kotlin/toby/helpers/UserDtoHelper.kt
  src/main/kotlin/toby/lavaplayer/TrackScheduler.kt
  src/main/kotlin/toby/logging/DiscordLogger.kt
  src/main/kotlin/toby/managers/CommandManager.kt
  src/main/kotlin/toby/managers/MenuManager.kt
  src/main/kotlin/toby/managers/NowPlayingManager.kt
  src/main/kotlin/toby/menu/menus/IntroMenu.kt
  src/main/kotlin/toby/menu/menus/dnd/DnDApiCoroutineHandler.kt
  src/main/kotlin/toby/menu/menus/dnd/DndMenu.kt
  src/test/kotlin/toby/button/ButtonTest.kt
  src/test/kotlin/toby/handler/VoiceEventHandlerTest.kt
  src/test/kotlin/toby/helpers/MusicPlayerHelperTest.kt
  src/test/kotlin/toby/managers/ButtonManagerTest.kt
  src/test/kotlin/toby/managers/CommandManagerTest.kt
  src/test/kotlin/toby/menu/menus/IntroMenuTest.kt
Labels: Commands, Helpers, Managers, Lavaplayer

slight rejig to StartUpHandler and userContext
  src/main/kotlin/toby/handler/StartUpHandler.kt
  src/main/kotlin/toby/logging/DiscordLogger.kt
Labels: none

more acknowledgement
  src/main/kotlin/toby/handler/StartUpHandler.kt
  src/main/kotlin/toby/managers/CommandManager.kt
Labels: Managers
