Repository ml404/toby-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Config, Bot, Buttons, Commands, Common, Core-api, Database, Helpers, Lavaplayer, Managers, web, Tests

.github/labeler.yml:

Documentation:
- '**/*.md'

Config:
 - '**/*.properties'
 - '**/*.gradle'

Bot:
 - discord-bot/src/main/kotlin/**

Buttons:
 - discord-bot/src/main/kotlin/bot/toby/button/**

Commands:
 - discord-bot/src/main/kotlin/bot/toby/command/**

Common:
 - common/src/main/kotlin/**

Core-api:
 - core-api/src/main/kotlin/**

Database:
 - database/src/main/kotlin/database/**

Helpers:
 - discord-bot/src/main/kotlin/bot/toby/helpers/*

Lavaplayer:
 - discord-bot/src/main/kotlin/bot/toby/lavaplayer/**

Managers:
 - discord-bot/src/main/kotlin/bot/toby/managers/*

web:
 - web/src/main/kotlin/**

Tests:
 - common/src/test/kotlin/**
 - core-api/src/test/kotlin/**
 - database/src/test/kotlin/**
 - discord-bot/src/test/kotlin/**
 - web/src/test/kotlin/**

fix(intros): render saved Shorts previews via youtube-nocookie.com (#265)
  application/src/test/kotlin/web/service/IntroWebServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/HttpHelper.kt
  web/src/main/kotlin/web/service/IntroWebService.kt
  web/src/main/resources/static/js/intros.js
  web/src/test/js/intros.test.js
Labels: Bot, Helpers, web

fix(intros): make saved Shorts reliably play + safeguards
  application/src/test/kotlin/web/service/IntroWebServiceTest.kt
  web/src/main/kotlin/web/service/IntroWebService.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/resources/static/css/moderation.css
  web/src/main/resources/static/js/intros.js
  web/src/main/resources/templates/moderation.html
  web/src/test/js/intros.test.js
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
Labels: web, Tests

fix(intros): make saved Shorts reliably play + safeguards (#266)
  application/src/test/kotlin/web/service/IntroWebServiceTest.kt
  web/src/main/kotlin/web/service/IntroWebService.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/resources/static/css/moderation.css
  web/src/main/resources/static/js/intros.js
  web/src/main/resources/templates/moderation.html
  web/src/test/js/intros.test.js
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
Labels: web, Tests

feat(activity): opt-in per-guild game-activity tracking (monthly top games)
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  application/src/test/resources/schema.sql
  database/src/main/kotlin/database/dto/ActivityMonthlyRollupDto.kt
  database/src/main/kotlin/database/dto/ActivitySessionDto.kt
  database/src/main/kotlin/database/dto/ConfigDto.kt
  database/src/main/kotlin/database/dto/UserDto.kt
  database/src/main/kotlin/database/persistence/ActivityMonthlyRollupPersistence.kt
  database/src/main/kotlin/database/persistence/ActivitySessionPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultActivityMonthlyRollupPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultActivitySessionPersistence.kt
  database/src/main/kotlin/database/service/ActivityMonthlyRollupService.kt
  database/src/main/kotlin/database/service/ActivitySessionService.kt
  database/src/main/kotlin/database/service/impl/DefaultActivityMonthlyRollupService.kt
  database/src/main/kotlin/database/service/impl/DefaultActivitySessionService.kt
  database/src/main/resources/db/migration/V14__activity_tracking.sql
  discord-bot/src/main/kotlin/bot/configuration/JdaListenerRegistrar.kt
  discord-bot/src/main/kotlin/bot/toby/activity/ActivityRetentionJob.kt
  discord-bot/src/main/kotlin/bot/toby/activity/ActivitySessionRecoveryHook.kt
  discord-bot/src/main/kotlin/bot/toby/activity/ActivityTrackingNotifier.kt
  discord-bot/src/main/kotlin/bot/toby/activity/ActivityTrackingService.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/misc/ActivityCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
  discord-bot/src/main/kotlin/bot/toby/handler/ActivityEventHandler.kt
  discord-bot/src/test/kotlin/bot/configuration/JdaListenerRegistrarTest.kt
  discord-bot/src/test/kotlin/bot/toby/activity/ActivityRetentionJobTest.kt
  discord-bot/src/test/kotlin/bot/toby/activity/ActivitySessionRecoveryHookTest.kt
  discord-bot/src/test/kotlin/bot/toby/activity/ActivityTrackingServiceTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/misc/ActivityCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/moderation/SetConfigCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/handler/ActivityEventHandlerTest.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/resources/templates/privacy.html
Labels: Bot, Commands, Database, web, Tests

feat(activity): opt-in per-guild game-activity tracking (monthly top games) (#268)
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  application/src/test/resources/schema.sql
  database/src/main/kotlin/database/dto/ActivityMonthlyRollupDto.kt
  database/src/main/kotlin/database/dto/ActivitySessionDto.kt
  database/src/main/kotlin/database/dto/ConfigDto.kt
  database/src/main/kotlin/database/dto/UserDto.kt
  database/src/main/kotlin/database/persistence/ActivityMonthlyRollupPersistence.kt
  database/src/main/kotlin/database/persistence/ActivitySessionPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultActivityMonthlyRollupPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultActivitySessionPersistence.kt
  database/src/main/kotlin/database/service/ActivityMonthlyRollupService.kt
  database/src/main/kotlin/database/service/ActivitySessionService.kt
  database/src/main/kotlin/database/service/impl/DefaultActivityMonthlyRollupService.kt
  database/src/main/kotlin/database/service/impl/DefaultActivitySessionService.kt
  database/src/main/resources/db/migration/V14__activity_tracking.sql
  discord-bot/src/main/kotlin/bot/configuration/JdaListenerRegistrar.kt
  discord-bot/src/main/kotlin/bot/toby/activity/ActivityRetentionJob.kt
  discord-bot/src/main/kotlin/bot/toby/activity/ActivitySessionRecoveryHook.kt
  discord-bot/src/main/kotlin/bot/toby/activity/ActivityTrackingNotifier.kt
  discord-bot/src/main/kotlin/bot/toby/activity/ActivityTrackingService.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/misc/ActivityCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
  discord-bot/src/main/kotlin/bot/toby/handler/ActivityEventHandler.kt
  discord-bot/src/test/kotlin/bot/configuration/JdaListenerRegistrarTest.kt
  discord-bot/src/test/kotlin/bot/toby/activity/ActivityRetentionJobTest.kt
  discord-bot/src/test/kotlin/bot/toby/activity/ActivitySessionRecoveryHookTest.kt
  discord-bot/src/test/kotlin/bot/toby/activity/ActivityTrackingServiceTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/misc/ActivityCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/moderation/SetConfigCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/handler/ActivityEventHandlerTest.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/resources/templates/privacy.html
Labels: Bot, Commands, Database, web, Tests

fix(web): /leaderboards 404, harden moderation against schema drift
  application/src/main/kotlin/database/configuration/FlywayGuardConfig.kt
  application/src/test/kotlin/FlywayGuardConfigTest.kt
  web/src/main/kotlin/web/controller/LeaderboardController.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/resources/static/js/moderation.js
  web/src/main/resources/templates/moderation.html
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
Labels: web, Tests

fix(web): moderation 500 from EmptySet.contains in Thymeleaf
  web/src/main/kotlin/web/service/ModerationWebService.kt
Labels: web

fix(web): /leaderboards 404, harden moderation against schema drift (#269)
  application/src/main/kotlin/database/configuration/FlywayGuardConfig.kt
  application/src/test/kotlin/FlywayGuardConfigTest.kt
  web/src/main/kotlin/web/controller/LeaderboardController.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/resources/static/js/moderation.js
  web/src/main/resources/templates/moderation.html
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
Labels: web, Tests

feat(web): add member-facing Titles, Profile, Utils pages; slim moderation panel
  web/build.gradle
  web/src/main/kotlin/web/controller/ModerationController.kt
  web/src/main/kotlin/web/controller/ProfileController.kt
  web/src/main/kotlin/web/controller/TitlesController.kt
  web/src/main/kotlin/web/controller/UtilsController.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/kotlin/web/service/ProfileWebService.kt
  web/src/main/kotlin/web/service/TitlesWebService.kt
  web/src/main/kotlin/web/service/UtilsWebService.kt
  web/src/main/resources/static/css/profile.css
  web/src/main/resources/static/css/utils.css
  web/src/main/resources/static/js/moderation.js
  web/src/main/resources/static/js/titles.js
  web/src/main/resources/static/js/utils.js
  web/src/main/resources/templates/fragments/navbar.html
  web/src/main/resources/templates/moderation.html
  web/src/main/resources/templates/profile-guilds.html
  web/src/main/resources/templates/profile.html
  web/src/main/resources/templates/titles-guilds.html
  web/src/main/resources/templates/titles.html
  web/src/main/resources/templates/utils.html
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
  web/src/test/kotlin/web/service/TitlesWebServiceTest.kt
Labels: Config, web, Tests

feat(web): add member-facing Titles, Profile, Utils pages; slim moderation panel (#270)
  web/build.gradle
  web/src/main/kotlin/web/controller/ModerationController.kt
  web/src/main/kotlin/web/controller/ProfileController.kt
  web/src/main/kotlin/web/controller/TitlesController.kt
  web/src/main/kotlin/web/controller/UtilsController.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/kotlin/web/service/ProfileWebService.kt
  web/src/main/kotlin/web/service/TitlesWebService.kt
  web/src/main/kotlin/web/service/UtilsWebService.kt
  web/src/main/resources/static/css/profile.css
  web/src/main/resources/static/css/utils.css
  web/src/main/resources/static/js/moderation.js
  web/src/main/resources/static/js/titles.js
  web/src/main/resources/static/js/utils.js
  web/src/main/resources/templates/fragments/navbar.html
  web/src/main/resources/templates/moderation.html
  web/src/main/resources/templates/profile-guilds.html
  web/src/main/resources/templates/profile.html
  web/src/main/resources/templates/titles-guilds.html
  web/src/main/resources/templates/titles.html
  web/src/main/resources/templates/utils.html
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
  web/src/test/kotlin/web/service/TitlesWebServiceTest.kt
Labels: Config, web, Tests

fix(web): make hamburger menu work on all pages
  web/src/main/resources/templates/fragments/navbar.html
  web/src/test/js/navbar.test.js
Labels: none

fix(web): make hamburger menu work on all pages (#272)
  web/src/main/resources/templates/fragments/navbar.html
  web/src/test/js/navbar.test.js
Labels: none

feat(economy): Toby Coin market with live chart in Discord and web UI
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  application/src/test/kotlin/integration/database/EconomyTradeServiceIntegrationTest.kt
  application/src/test/resources/schema.sql
  common/src/main/kotlin/common/configuration/CachingConfig.kt
  common/src/test/kotlin/common/configuration/TestCachingConfig.kt
  database/src/main/kotlin/database/dto/TobyCoinMarketDto.kt
  database/src/main/kotlin/database/dto/TobyCoinPricePointDto.kt
  database/src/main/kotlin/database/dto/UserDto.kt
  database/src/main/kotlin/database/economy/TobyCoinEngine.kt
  database/src/main/kotlin/database/persistence/TobyCoinMarketPersistence.kt
  database/src/main/kotlin/database/persistence/TobyCoinPriceHistoryPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultTobyCoinMarketPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultTobyCoinPriceHistoryPersistence.kt
  database/src/main/kotlin/database/service/EconomyTradeService.kt
  database/src/main/kotlin/database/service/TobyCoinMarketService.kt
  database/src/main/kotlin/database/service/impl/DefaultTobyCoinMarketService.kt
  database/src/main/resources/db/migration/V15__toby_coin_economy.sql
  database/src/test/kotlin/database/economy/TobyCoinEngineTest.kt
  discord-bot/build.gradle
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/TobyCoinCommand.kt
  discord-bot/src/main/kotlin/bot/toby/economy/TobyCoinChartRenderer.kt
  discord-bot/src/main/kotlin/bot/toby/scheduling/TobyCoinPriceTickJob.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/TobyCoinCommandTest.kt
  web/src/main/kotlin/web/configuration/WebSecurityConfig.kt
  web/src/main/kotlin/web/controller/EconomyController.kt
  web/src/main/kotlin/web/service/EconomyWebService.kt
  web/src/main/resources/static/css/economy.css
  web/src/main/resources/static/js/economy.js
  web/src/main/resources/templates/economy-guilds.html
  web/src/main/resources/templates/economy.html
  web/src/main/resources/templates/fragments/navbar.html
  web/src/test/kotlin/web/service/EconomyWebServiceTest.kt
Labels: Config, Bot, Commands, Common, Database, web, Tests

feat(economy): Toby Coin market with live chart in Discord and web UI (#271)
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  application/src/test/kotlin/integration/database/EconomyTradeServiceIntegrationTest.kt
  application/src/test/resources/schema.sql
  common/src/main/kotlin/common/configuration/CachingConfig.kt
  common/src/test/kotlin/common/configuration/TestCachingConfig.kt
  database/src/main/kotlin/database/dto/TobyCoinMarketDto.kt
  database/src/main/kotlin/database/dto/TobyCoinPricePointDto.kt
  database/src/main/kotlin/database/dto/UserDto.kt
  database/src/main/kotlin/database/economy/TobyCoinEngine.kt
  database/src/main/kotlin/database/persistence/TobyCoinMarketPersistence.kt
  database/src/main/kotlin/database/persistence/TobyCoinPriceHistoryPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultTobyCoinMarketPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultTobyCoinPriceHistoryPersistence.kt
  database/src/main/kotlin/database/service/EconomyTradeService.kt
  database/src/main/kotlin/database/service/TobyCoinMarketService.kt
  database/src/main/kotlin/database/service/impl/DefaultTobyCoinMarketService.kt
  database/src/main/resources/db/migration/V15__toby_coin_economy.sql
  database/src/test/kotlin/database/economy/TobyCoinEngineTest.kt
  discord-bot/build.gradle
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/TobyCoinCommand.kt
  discord-bot/src/main/kotlin/bot/toby/economy/TobyCoinChartRenderer.kt
  discord-bot/src/main/kotlin/bot/toby/scheduling/TobyCoinPriceTickJob.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/TobyCoinCommandTest.kt
  web/src/main/kotlin/web/configuration/WebSecurityConfig.kt
  web/src/main/kotlin/web/controller/EconomyController.kt
  web/src/main/kotlin/web/service/EconomyWebService.kt
  web/src/main/resources/static/css/economy.css
  web/src/main/resources/static/js/economy.js
  web/src/main/resources/templates/economy-guilds.html
  web/src/main/resources/templates/economy.html
  web/src/main/resources/templates/fragments/navbar.html
  web/src/test/kotlin/web/service/EconomyWebServiceTest.kt
Labels: Config, Bot, Commands, Common, Database, web, Tests

fix(social-credit): evict list cache, unstick chart overlay, lock trades, tame price tick, add award hooks and wallet leaderboard
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  application/src/test/kotlin/integration/database/EconomyTradeServiceIntegrationTest.kt
  database/src/main/kotlin/database/economy/TobyCoinEngine.kt
  database/src/main/kotlin/database/persistence/TobyCoinMarketPersistence.kt
  database/src/main/kotlin/database/persistence/UserPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultTobyCoinMarketPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultUserPersistence.kt
  database/src/main/kotlin/database/service/EconomyTradeService.kt
  database/src/main/kotlin/database/service/SocialCreditAwardService.kt
  database/src/main/kotlin/database/service/TobyCoinMarketService.kt
  database/src/main/kotlin/database/service/UserService.kt
  database/src/main/kotlin/database/service/impl/DefaultTobyCoinMarketService.kt
  database/src/main/kotlin/database/service/impl/DefaultUserService.kt
  database/src/test/kotlin/database/economy/TobyCoinEngineTest.kt
  database/src/test/kotlin/database/service/SocialCreditAwardServiceTest.kt
  database/src/test/kotlin/database/service/impl/DefaultUserServiceCacheTest.kt
  discord-bot/src/main/kotlin/bot/configuration/ManagerConfig.kt
  discord-bot/src/main/kotlin/bot/toby/handler/VoiceEventHandler.kt
  discord-bot/src/main/kotlin/bot/toby/managers/DefaultCommandManager.kt
  discord-bot/src/main/kotlin/bot/toby/scheduling/TobyCoinPriceTickJob.kt
  discord-bot/src/main/kotlin/bot/toby/voice/VoiceCreditAwardService.kt
  discord-bot/src/test/kotlin/bot/toby/handler/StartUpHandlerTest.kt
  discord-bot/src/test/kotlin/bot/toby/handler/VoiceEventHandlerTest.kt
  discord-bot/src/test/kotlin/bot/toby/managers/DefaultCommandManagerAwardTest.kt
  discord-bot/src/test/kotlin/bot/toby/scheduling/TobyCoinPriceTickJobTest.kt
  discord-bot/src/test/kotlin/bot/toby/voice/VoiceCreditAwardServiceTest.kt
  web/src/main/kotlin/web/controller/EconomyController.kt
  web/src/main/kotlin/web/service/LeaderboardWebService.kt
  web/src/main/resources/static/css/economy.css
  web/src/main/resources/templates/leaderboard.html
  web/src/test/kotlin/web/controller/EconomyControllerTradeAwardTest.kt
  web/src/test/kotlin/web/service/LeaderboardWebServiceTest.kt
  web/src/test/kotlin/web/service/LeaderboardWebServiceTobyCoinTest.kt
  web/src/test/kotlin/web/static/EconomyCssRegressionTest.kt
Labels: Bot, Database, Managers, web, Tests

fix(discord-bot): merge duplicate companion objects in VoiceEventHandler
  discord-bot/src/main/kotlin/bot/toby/handler/VoiceEventHandler.kt
Labels: Bot

test(discord-bot): match all 7 award() args in verify blocks
  discord-bot/src/test/kotlin/bot/toby/handler/VoiceEventHandlerTest.kt
  discord-bot/src/test/kotlin/bot/toby/managers/DefaultCommandManagerAwardTest.kt
  discord-bot/src/test/kotlin/bot/toby/scheduling/TobyCoinPriceTickJobTest.kt
Labels: Tests

fix(tests): stop cache-eviction TestContext leaking into app scan; stub connectedChannel for intro-award tests
  database/src/test/kotlin/database/service/impl/DefaultUserServiceCacheTest.kt
  discord-bot/src/test/kotlin/bot/toby/handler/VoiceEventHandlerTest.kt
Labels: Tests

fix(tests): isolate cache-eviction TestContext behind a unique profile
  database/src/test/kotlin/database/service/impl/DefaultUserServiceCacheTest.kt
Labels: Tests

fix(social-credit): evict list cache + chart overlay + trade locks + price tick + award hooks + wallet leaderboard (#273)
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  application/src/test/kotlin/integration/database/EconomyTradeServiceIntegrationTest.kt
  database/src/main/kotlin/database/economy/TobyCoinEngine.kt
  database/src/main/kotlin/database/persistence/TobyCoinMarketPersistence.kt
  database/src/main/kotlin/database/persistence/UserPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultTobyCoinMarketPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultUserPersistence.kt
  database/src/main/kotlin/database/service/EconomyTradeService.kt
  database/src/main/kotlin/database/service/SocialCreditAwardService.kt
  database/src/main/kotlin/database/service/TobyCoinMarketService.kt
  database/src/main/kotlin/database/service/UserService.kt
  database/src/main/kotlin/database/service/impl/DefaultTobyCoinMarketService.kt
  database/src/main/kotlin/database/service/impl/DefaultUserService.kt
  database/src/test/kotlin/database/economy/TobyCoinEngineTest.kt
  database/src/test/kotlin/database/service/SocialCreditAwardServiceTest.kt
  database/src/test/kotlin/database/service/impl/DefaultUserServiceCacheTest.kt
  discord-bot/src/main/kotlin/bot/configuration/ManagerConfig.kt
  discord-bot/src/main/kotlin/bot/toby/handler/VoiceEventHandler.kt
  discord-bot/src/main/kotlin/bot/toby/managers/DefaultCommandManager.kt
  discord-bot/src/main/kotlin/bot/toby/scheduling/TobyCoinPriceTickJob.kt
  discord-bot/src/main/kotlin/bot/toby/voice/VoiceCreditAwardService.kt
  discord-bot/src/test/kotlin/bot/toby/handler/StartUpHandlerTest.kt
  discord-bot/src/test/kotlin/bot/toby/handler/VoiceEventHandlerTest.kt
  discord-bot/src/test/kotlin/bot/toby/managers/DefaultCommandManagerAwardTest.kt
  discord-bot/src/test/kotlin/bot/toby/scheduling/TobyCoinPriceTickJobTest.kt
  discord-bot/src/test/kotlin/bot/toby/voice/VoiceCreditAwardServiceTest.kt
  web/src/main/kotlin/web/controller/EconomyController.kt
  web/src/main/kotlin/web/service/LeaderboardWebService.kt
  web/src/main/resources/static/css/economy.css
  web/src/main/resources/templates/leaderboard.html
  web/src/test/kotlin/web/controller/EconomyControllerTradeAwardTest.kt
  web/src/test/kotlin/web/service/LeaderboardWebServiceTest.kt
  web/src/test/kotlin/web/service/LeaderboardWebServiceTobyCoinTest.kt
  web/src/test/kotlin/web/static/EconomyCssRegressionTest.kt
Labels: Bot, Database, Managers, web, Tests

feat(titles): one-click Buy with TOBY that tops up credits from the market
  application/src/test/kotlin/integration/database/TitlesBuyWithTobyCoinIntegrationTest.kt
  web/build.gradle
  web/src/main/kotlin/web/controller/TitlesController.kt
  web/src/main/kotlin/web/service/TitlesWebService.kt
  web/src/main/resources/static/js/titles.js
  web/src/main/resources/templates/titles.html
  web/src/test/kotlin/web/controller/TitlesControllerBuyWithTobyTest.kt
  web/src/test/kotlin/web/service/TitlesWebServicePurchaseTest.kt
  web/src/test/kotlin/web/service/TitlesWebServiceTest.kt
Labels: Config, web, Tests

fix(titles): move owns() check inside the user row lock
  web/src/main/kotlin/web/service/TitlesWebService.kt
  web/src/test/kotlin/web/service/TitlesWebServicePurchaseTest.kt
Labels: web, Tests

feat(web): collapsible leaderboards with rank badges and value accents
  web/src/main/kotlin/web/controller/LeaderboardController.kt
  web/src/main/resources/static/css/leaderboard.css
  web/src/main/resources/static/js/leaderboard.js
  web/src/main/resources/templates/leaderboard.html
Labels: web

feat(web): show equipped title on the TobyCoin wallet leaderboard
  web/src/main/kotlin/web/service/LeaderboardWebService.kt
  web/src/main/resources/templates/leaderboard.html
  web/src/test/kotlin/web/service/LeaderboardWebServiceTest.kt
  web/src/test/kotlin/web/service/LeaderboardWebServiceTobyCoinTest.kt
Labels: web, Tests

feat(titles): one-click Buy with TOBY that tops up credits from the market (#274)
  application/src/test/kotlin/integration/database/TitlesBuyWithTobyCoinIntegrationTest.kt
  web/build.gradle
  web/src/main/kotlin/web/controller/TitlesController.kt
  web/src/main/kotlin/web/service/TitlesWebService.kt
  web/src/main/resources/static/js/titles.js
  web/src/main/resources/templates/titles.html
  web/src/test/kotlin/web/controller/TitlesControllerBuyWithTobyTest.kt
  web/src/test/kotlin/web/service/TitlesWebServicePurchaseTest.kt
  web/src/test/kotlin/web/service/TitlesWebServiceTest.kt
Labels: Config, web, Tests

feat(web): collapsible leaderboards with rank badges and value accents (#275)
  web/src/main/kotlin/web/controller/LeaderboardController.kt
  web/src/main/kotlin/web/service/LeaderboardWebService.kt
  web/src/main/resources/static/css/leaderboard.css
  web/src/main/resources/static/js/leaderboard.js
  web/src/main/resources/templates/leaderboard.html
  web/src/test/kotlin/web/service/LeaderboardWebServiceTest.kt
  web/src/test/kotlin/web/service/LeaderboardWebServiceTobyCoinTest.kt
Labels: web, Tests

feat(web): rank leaderboard standings by this-month by default, add Lifetime toggle
  web/src/main/kotlin/web/controller/LeaderboardController.kt
  web/src/main/kotlin/web/service/LeaderboardWebService.kt
  web/src/main/resources/static/css/leaderboard.css
  web/src/main/resources/templates/leaderboard.html
  web/src/test/kotlin/web/controller/LeaderboardControllerTest.kt
  web/src/test/kotlin/web/service/LeaderboardWebServiceTest.kt
Labels: web, Tests

feat(web): rank leaderboard standings by this-month by default, add Lifetime toggle (#276)
  web/src/main/kotlin/web/controller/LeaderboardController.kt
  web/src/main/kotlin/web/service/LeaderboardWebService.kt
  web/src/main/resources/static/css/leaderboard.css
  web/src/main/resources/templates/leaderboard.html
  web/src/test/kotlin/web/controller/LeaderboardControllerTest.kt
  web/src/test/kotlin/web/service/LeaderboardWebServiceTest.kt
Labels: web, Tests

feat(web): surface market, titles, leaderboards on the home page
  web/src/main/resources/templates/home.html
Labels: none

feat(web): client-side member search on the moderation Users tab
  web/src/main/resources/static/css/moderation.css
  web/src/main/resources/static/js/moderation.js
  web/src/main/resources/templates/moderation.html
Labels: none

feat(web): surface market, titles, leaderboards on the home page (#277)
  web/src/main/resources/templates/home.html
Labels: none

feat(web): client-side member search on the moderation Users tab (#278)
  web/src/main/resources/static/css/moderation.css
  web/src/main/resources/static/js/moderation.js
  web/src/main/resources/templates/moderation.html
Labels: none

feat(web): wallet +/- this month on the TobyCoin leaderboard
  application/src/test/resources/schema.sql
  database/src/main/kotlin/database/dto/MonthlyCreditSnapshotDto.kt
  database/src/main/kotlin/database/persistence/impl/DefaultMonthlyCreditSnapshotPersistence.kt
  database/src/main/resources/db/migration/V16__monthly_snapshot_toby_coins.sql
  discord-bot/src/main/kotlin/bot/toby/scheduling/MonthlyLeaderboardJob.kt
  web/src/main/kotlin/web/service/LeaderboardWebService.kt
  web/src/main/resources/static/css/leaderboard.css
  web/src/main/resources/templates/leaderboard.html
  web/src/test/kotlin/web/service/LeaderboardWebServiceTest.kt
  web/src/test/kotlin/web/service/LeaderboardWebServiceTobyCoinTest.kt
Labels: Bot, Database, web, Tests

test: close test-coverage gaps on the wallet +/- this month wiring
  application/src/test/kotlin/integration/database/MonthlyCreditSnapshotServiceIntegrationTest.kt
  discord-bot/src/test/kotlin/bot/toby/scheduling/MonthlyLeaderboardJobTest.kt
Labels: Tests

feat(web): wallet +/- this month on the TobyCoin leaderboard (#279)
  application/src/test/kotlin/integration/database/MonthlyCreditSnapshotServiceIntegrationTest.kt
  application/src/test/resources/schema.sql
  database/src/main/kotlin/database/dto/MonthlyCreditSnapshotDto.kt
  database/src/main/kotlin/database/persistence/impl/DefaultMonthlyCreditSnapshotPersistence.kt
  database/src/main/resources/db/migration/V16__monthly_snapshot_toby_coins.sql
  discord-bot/src/main/kotlin/bot/toby/scheduling/MonthlyLeaderboardJob.kt
  discord-bot/src/test/kotlin/bot/toby/scheduling/MonthlyLeaderboardJobTest.kt
  web/src/main/kotlin/web/service/LeaderboardWebService.kt
  web/src/main/resources/static/css/leaderboard.css
  web/src/main/resources/templates/leaderboard.html
  web/src/test/kotlin/web/service/LeaderboardWebServiceTest.kt
  web/src/test/kotlin/web/service/LeaderboardWebServiceTobyCoinTest.kt
Labels: Bot, Database, web, Tests

fix(web): lazy-fill missing monthly baselines so credit/coin deltas work now
  application/src/test/kotlin/integration/database/MonthlyCreditSnapshotServiceIntegrationTest.kt
  database/src/main/kotlin/database/persistence/MonthlyCreditSnapshotPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultMonthlyCreditSnapshotPersistence.kt
  database/src/main/kotlin/database/service/MonthlyCreditSnapshotService.kt
  database/src/main/kotlin/database/service/impl/DefaultMonthlyCreditSnapshotService.kt
  web/src/main/kotlin/web/service/LeaderboardWebService.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/test/kotlin/web/service/LeaderboardWebServiceTobyCoinTest.kt
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
Labels: Database, web, Tests

fix(web): lazy-fill missing monthly baselines so credit/coin deltas work now (#280)
  application/src/test/kotlin/integration/database/MonthlyCreditSnapshotServiceIntegrationTest.kt
  database/src/main/kotlin/database/persistence/MonthlyCreditSnapshotPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultMonthlyCreditSnapshotPersistence.kt
  database/src/main/kotlin/database/service/MonthlyCreditSnapshotService.kt
  database/src/main/kotlin/database/service/impl/DefaultMonthlyCreditSnapshotService.kt
  web/src/main/kotlin/web/service/LeaderboardWebService.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/test/kotlin/web/service/LeaderboardWebServiceTobyCoinTest.kt
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
Labels: Database, web, Tests

feat(voice): flush open sessions cleanly on shutdown so deploys don't inflate voice time
  discord-bot/src/main/kotlin/bot/toby/voice/VoiceCreditAwardService.kt
  discord-bot/src/main/kotlin/bot/toby/voice/VoiceSessionShutdownHook.kt
  discord-bot/src/test/kotlin/bot/toby/voice/VoiceCreditAwardServiceTest.kt
  discord-bot/src/test/kotlin/bot/toby/voice/VoiceSessionShutdownHookTest.kt
Labels: Bot, Tests

feat(voice): flush open sessions cleanly on shutdown so deploys don't inflate voice time (#281)
  discord-bot/src/main/kotlin/bot/toby/voice/VoiceCreditAwardService.kt
  discord-bot/src/main/kotlin/bot/toby/voice/VoiceSessionShutdownHook.kt
  discord-bot/src/test/kotlin/bot/toby/voice/VoiceCreditAwardServiceTest.kt
  discord-bot/src/test/kotlin/bot/toby/voice/VoiceSessionShutdownHookTest.kt
Labels: Bot, Tests

tune(market): more volatile, slight upward bias, gentler trade impact
  database/src/main/kotlin/database/economy/TobyCoinEngine.kt
  database/src/test/kotlin/database/economy/TobyCoinEngineTest.kt
Labels: Database, Tests
