Repository ml404/toby-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Config, Bot, Buttons, Commands, Common, Core-api, Database, Helpers, Lavaplayer, Managers, web, Tests

.github/labeler.yml:

Documentation:
- '**/*.md'

Config:
 - '**/*.properties'
 - '**/*.gradle'

Bot:
 - discord-bot/src/main/kotlin/**

Buttons:
 - discord-bot/src/main/kotlin/bot/toby/button/**

Commands:
 - discord-bot/src/main/kotlin/bot/toby/command/**

Common:
 - common/src/main/kotlin/**

Core-api:
 - core-api/src/main/kotlin/**

Database:
 - database/src/main/kotlin/database/**

Helpers:
 - discord-bot/src/main/kotlin/bot/toby/helpers/*

Lavaplayer:
 - discord-bot/src/main/kotlin/bot/toby/lavaplayer/**

Managers:
 - discord-bot/src/main/kotlin/bot/toby/managers/*

web:
 - web/src/main/kotlin/**

Tests:
 - common/src/test/kotlin/**
 - core-api/src/test/kotlin/**
 - database/src/test/kotlin/**
 - discord-bot/src/test/kotlin/**
 - web/src/test/kotlin/**

feat(dnd): more session-log producers + typed renderers (PR C of 4) (#235)
  application/src/test/kotlin/web/service/CampaignWebServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/button/buttons/InitiativeClearButton.kt
  discord-bot/src/main/kotlin/bot/toby/button/buttons/InitiativeNextButton.kt
  discord-bot/src/main/kotlin/bot/toby/button/buttons/InitiativePreviousButton.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/CampaignCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/InitiativeCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/RollCommand.kt
  discord-bot/src/test/kotlin/bot/toby/button/buttons/InitiativeClearButtonTest.kt
  discord-bot/src/test/kotlin/bot/toby/button/buttons/InitiativeNextButtonTest.kt
  discord-bot/src/test/kotlin/bot/toby/button/buttons/InitiativePreviousButtonTest.kt
  discord-bot/src/test/kotlin/bot/toby/button/buttons/RollButtonTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/CampaignCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/InitiativeCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/RollCommandTest.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/kotlin/web/service/SessionLogPublisher.kt
  web/src/main/resources/static/js/sessionLog.js
  web/src/main/resources/templates/campaignDetail.html
Labels: Bot, Buttons, Commands, web, Tests

feat(dnd): DM hit/miss annotations and narrate (PR D of 4)
  application/src/test/kotlin/web/controller/CampaignControllerTest.kt
  application/src/test/kotlin/web/service/CampaignWebServiceTest.kt
  web/src/main/kotlin/web/controller/CampaignController.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/resources/static/js/sessionLog.js
  web/src/main/resources/templates/campaignDetail.html
Labels: web

feat(dnd): DM hit/miss annotations and narrate (PR D of 4) (#236)
  application/src/test/kotlin/web/controller/CampaignControllerTest.kt
  application/src/test/kotlin/web/service/CampaignWebServiceTest.kt
  web/src/main/kotlin/web/controller/CampaignController.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/resources/static/js/sessionLog.js
  web/src/main/resources/templates/campaignDetail.html
Labels: web

feat(dnd): web initiative composer + monster templates + turn table (PR 1 of 2)
  application/src/test/kotlin/web/controller/CampaignControllerTest.kt
  application/src/test/kotlin/web/service/CampaignWebServiceTest.kt
  database/src/main/kotlin/database/dto/MonsterTemplateDto.kt
  database/src/main/kotlin/database/persistence/MonsterTemplatePersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultMonsterTemplatePersistence.kt
  database/src/main/kotlin/database/service/MonsterTemplateService.kt
  database/src/main/kotlin/database/service/impl/DefaultMonsterTemplateService.kt
  database/src/main/resources/db/migration/V6__dnd_monster_template.sql
  discord-bot/src/main/kotlin/bot/toby/helpers/DnDHelper.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/DndHelperInitiativeStore.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/InitiativeState.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/DnDHelperTest.kt
  web/src/main/kotlin/web/controller/CampaignController.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/kotlin/web/service/InitiativeStore.kt
  web/src/main/resources/static/js/sessionLog.js
  web/src/main/resources/templates/campaignDetail.html
Labels: Bot, Database, Helpers, web, Tests

fix(dnd): update PR C initiative publishers to RolledEntry fields
  discord-bot/src/main/kotlin/bot/toby/button/buttons/InitiativeNextButton.kt
  discord-bot/src/main/kotlin/bot/toby/button/buttons/InitiativePreviousButton.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/InitiativeCommand.kt
Labels: Bot, Buttons, Commands

test(dnd): import MonsterTemplateDto in CampaignWebServiceTest
  application/src/test/kotlin/web/service/CampaignWebServiceTest.kt
Labels: none

feat(dnd): quantity + duplicate-name disambiguation for monsters
  application/src/test/kotlin/web/controller/CampaignControllerTest.kt
  application/src/test/kotlin/web/service/CampaignWebServiceTest.kt
  web/src/main/kotlin/web/controller/CampaignController.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/resources/templates/campaignDetail.html
Labels: web

feat(dnd): web initiative composer + monster templates + turn table (PR 1 of 2) (#237)
  application/src/test/kotlin/web/controller/CampaignControllerTest.kt
  application/src/test/kotlin/web/service/CampaignWebServiceTest.kt
  database/src/main/kotlin/database/dto/MonsterTemplateDto.kt
  database/src/main/kotlin/database/persistence/MonsterTemplatePersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultMonsterTemplatePersistence.kt
  database/src/main/kotlin/database/service/MonsterTemplateService.kt
  database/src/main/kotlin/database/service/impl/DefaultMonsterTemplateService.kt
  database/src/main/resources/db/migration/V6__dnd_monster_template.sql
  discord-bot/src/main/kotlin/bot/toby/button/buttons/InitiativeNextButton.kt
  discord-bot/src/main/kotlin/bot/toby/button/buttons/InitiativePreviousButton.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/InitiativeCommand.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/DnDHelper.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/DndHelperInitiativeStore.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/InitiativeState.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/DnDHelperTest.kt
  web/src/main/kotlin/web/controller/CampaignController.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/kotlin/web/service/InitiativeStore.kt
  web/src/main/resources/static/js/sessionLog.js
  web/src/main/resources/templates/campaignDetail.html
Labels: Bot, Buttons, Commands, Database, Helpers, web, Tests

fix(dnd): isolate campaign detail side-sections from DB failures
  web/src/main/kotlin/web/service/CampaignWebService.kt
Labels: web

fix(dnd): isolate campaign detail side-sections from DB failures (#238)
  web/src/main/kotlin/web/service/CampaignWebService.kt
Labels: web

feat(dnd): animated dice reveal on the turn table (PR 2 of 2)
  web/src/main/resources/static/js/sessionLog.js
  web/src/main/resources/templates/campaignDetail.html
Labels: none

feat(dnd): animated dice reveal on the turn table (PR 2 of 2) (#239)
  web/src/main/resources/static/js/sessionLog.js
  web/src/main/resources/templates/campaignDetail.html
Labels: none

feat(dnd): web dice roller popover with matrix + modifier + custom
  application/src/test/kotlin/web/controller/CampaignControllerTest.kt
  application/src/test/kotlin/web/service/CampaignWebServiceTest.kt
  web/src/main/kotlin/web/controller/CampaignController.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/resources/static/js/diceRoller.js
  web/src/main/resources/templates/campaignDetail.html
Labels: web

feat(dnd): web dice roller popover with matrix + modifier + custom (#240)
  application/src/test/kotlin/web/controller/CampaignControllerTest.kt
  application/src/test/kotlin/web/service/CampaignWebServiceTest.kt
  web/src/main/kotlin/web/controller/CampaignController.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/resources/static/js/diceRoller.js
  web/src/main/resources/templates/campaignDetail.html
Labels: web

chore(build): fail fast when Flyway migrations are missing
  application/build.gradle
  application/src/main/kotlin/FlywayGuardConfig.kt
  application/src/test/kotlin/FlywayGuardConfigTest.kt
Labels: Config

chore(build): expose flyway-core to the application module
  application/build.gradle
Labels: Config

test(flyway): simplify guard test to avoid mocking final Flyway class
  application/src/main/kotlin/FlywayGuardConfig.kt
  application/src/test/kotlin/FlywayGuardConfigTest.kt
Labels: none

chore(build): simplify verifyMigrationsInBootJar for dynamic Groovy
  application/build.gradle
Labels: Config

revert: drop verifyMigrationsInBootJar gradle task
  application/build.gradle
Labels: Config

fix(compile): unclosed KDoc from nested comment start (/*.sql)
  application/src/main/kotlin/FlywayGuardConfig.kt
Labels: none

chore(build): fail fast when Flyway migrations are missing (#241)
  application/build.gradle
  application/src/main/kotlin/FlywayGuardConfig.kt
  application/src/test/kotlin/FlywayGuardConfigTest.kt
Labels: Config

chore(build): downgrade JDK 22 → JDK 21 LTS
  .github/workflows/gradle.yml
  Dockerfile
  application/build.gradle
  build.gradle
  common/build.gradle
  core-api/build.gradle
  database/build.gradle
  discord-bot/build.gradle
  system.properties
  web/build.gradle
Labels: Config

chore(build): downgrade JDK 22 → JDK 21 LTS (#242)
  .github/workflows/gradle.yml
  Dockerfile
  application/build.gradle
  build.gradle
  common/build.gradle
  core-api/build.gradle
  database/build.gradle
  discord-bot/build.gradle
  system.properties
  web/build.gradle
Labels: Config

style(web): full-surface mobile polish pass
  web/src/main/resources/static/css/base.css
  web/src/main/resources/static/css/intros.css
  web/src/main/resources/static/css/nav.css
  web/src/main/resources/templates/campaign.html
  web/src/main/resources/templates/campaignDetail.html
  web/src/main/resources/templates/guilds.html
  web/src/main/resources/templates/home.html
Labels: none

style(web): full-surface mobile polish pass (#243)
  web/src/main/resources/static/css/base.css
  web/src/main/resources/static/css/intros.css
  web/src/main/resources/static/css/nav.css
  web/src/main/resources/templates/campaign.html
  web/src/main/resources/templates/campaignDetail.html
  web/src/main/resources/templates/guilds.html
  web/src/main/resources/templates/home.html
Labels: none

fix(dnd): register default-package @Configuration / @Component beans
  application/build.gradle
  application/src/main/kotlin/Application.kt
  application/src/main/kotlin/database/configuration/CampaignEventListener.kt
  application/src/main/kotlin/database/configuration/FlywayGuardConfig.kt
  application/src/test/kotlin/CampaignEventListenerTest.kt
  application/src/test/kotlin/FlywayGuardConfigTest.kt
Labels: Config

fix(build): capture bootJar archive at config time for config-cache compat
  application/build.gradle
Labels: Config

fix(deploy): stop .slugignore from stripping Flyway migrations
  .slugignore
  application/build.gradle
Labels: Config

fix(dnd): register default-package Flyway guard + campaign event listener beans (#244)
  .slugignore
  application/build.gradle
  application/src/main/kotlin/Application.kt
  application/src/main/kotlin/database/configuration/CampaignEventListener.kt
  application/src/main/kotlin/database/configuration/FlywayGuardConfig.kt
  application/src/test/kotlin/CampaignEventListenerTest.kt
  application/src/test/kotlin/FlywayGuardConfigTest.kt
Labels: Config

feat(dnd): BG3-style combat HUD with attack-vs-AC + HP tracking
  application/src/test/kotlin/web/controller/CampaignControllerTest.kt
  application/src/test/kotlin/web/service/CampaignWebServiceTest.kt
  common/src/main/kotlin/common/events/CampaignEventType.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/DndHelperInitiativeStore.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/InitiativeState.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/DnDHelperTest.kt
  web/src/main/kotlin/web/controller/CampaignController.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/kotlin/web/service/InitiativeStore.kt
  web/src/main/resources/static/js/sessionLog.js
  web/src/main/resources/templates/campaignDetail.html
Labels: Bot, Common, Helpers, web, Tests

test(combat): make attack hit/miss tests deterministic
  application/src/test/kotlin/web/service/CampaignWebServiceTest.kt
Labels: none

feat(dnd): BG3-style combat HUD with attack-vs-AC + HP tracking (#245)
  application/src/test/kotlin/web/controller/CampaignControllerTest.kt
  application/src/test/kotlin/web/service/CampaignWebServiceTest.kt
  common/src/main/kotlin/common/events/CampaignEventType.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/DndHelperInitiativeStore.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/InitiativeState.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/DnDHelperTest.kt
  web/src/main/kotlin/web/controller/CampaignController.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/kotlin/web/service/InitiativeStore.kt
  web/src/main/resources/static/js/sessionLog.js
  web/src/main/resources/templates/campaignDetail.html
Labels: Bot, Common, Helpers, web, Tests

feat(dnd): cinematic combat animations — flying d20, damage floater, skull
  web/src/main/resources/static/css/combat.css
  web/src/main/resources/static/js/sessionLog.js
  web/src/main/resources/templates/campaignDetail.html
Labels: none

feat(dnd): cinematic combat animations — flying d20, damage floater, skull (#246)
  web/src/main/resources/static/css/combat.css
  web/src/main/resources/static/js/sessionLog.js
  web/src/main/resources/templates/campaignDetail.html
Labels: none

fix(web): generalise login subtitle from intros to Discord integration
  web/src/main/resources/templates/login.html
Labels: none

fix(web): generalise login subtitle from intros to Discord integration (#247)
  web/src/main/resources/templates/login.html
Labels: none

feat(dnd): heal action + dice-expression damage & heal in combat HUD
  application/src/test/kotlin/web/controller/CampaignControllerTest.kt
  application/src/test/kotlin/web/service/CampaignWebServiceTest.kt
  common/src/main/kotlin/common/events/CampaignEventType.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/DndHelperInitiativeStore.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/InitiativeState.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/DnDHelperTest.kt
  web/src/main/kotlin/web/controller/CampaignController.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/kotlin/web/service/InitiativeStore.kt
  web/src/main/resources/static/css/combat.css
  web/src/main/resources/static/js/sessionLog.js
  web/src/main/resources/templates/campaignDetail.html
Labels: Bot, Common, Helpers, web, Tests

feat(dnd): heal action + dice-expression damage & heal in combat HUD (#248)
  application/src/test/kotlin/web/controller/CampaignControllerTest.kt
  application/src/test/kotlin/web/service/CampaignWebServiceTest.kt
  common/src/main/kotlin/common/events/CampaignEventType.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/DndHelperInitiativeStore.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/InitiativeState.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/DnDHelperTest.kt
  web/src/main/kotlin/web/controller/CampaignController.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/kotlin/web/service/InitiativeStore.kt
  web/src/main/resources/static/css/combat.css
  web/src/main/resources/static/js/sessionLog.js
  web/src/main/resources/templates/campaignDetail.html
Labels: Bot, Common, Helpers, web, Tests

fix(dnd): mobile combat animations + robust initiative form binding
  application/src/test/kotlin/web/controller/CampaignControllerTest.kt
  application/src/test/kotlin/web/service/CampaignWebServiceTest.kt
  web/src/main/kotlin/web/controller/CampaignController.kt
  web/src/main/kotlin/web/service/CampaignWebService.kt
  web/src/main/resources/static/js/sessionLog.js
  web/src/main/resources/templates/campaignDetail.html
Labels: web

fix(test): update templateQtys arg in test after String switch
  application/src/test/kotlin/web/controller/CampaignControllerTest.kt
Labels: none
