Repository ml404/toby-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Config, Bot, Buttons, Commands, Common, Core-api, Database, Helpers, Lavaplayer, Managers, web, Tests

chore: drop unused helpers added in #384 (Qodana unused-symbol cleanup)
  core-api/src/main/kotlin/core/command/Command.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/SlashCommandOptions.kt
  web/src/main/resources/static/js/casino-result-line.js
  web/src/main/resources/templates/fragments/casinoMinigame.html
  web/src/test/js/casino-result-line.test.js
Labels: Bot, Core-api, Helpers

chore: drop unused helpers added in #384 (Qodana unused-symbol cleanup) (#390)
  core-api/src/main/kotlin/core/command/Command.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/SlashCommandOptions.kt
  web/src/main/resources/static/js/casino-result-line.js
  web/src/main/resources/templates/fragments/casinoMinigame.html
  web/src/test/js/casino-result-line.test.js
Labels: Bot, Core-api, Helpers

feat(casino): add /casinoholdem singleplayer poker (web + Discord)
  database/src/main/kotlin/database/poker/CasinoHoldem.kt
  database/src/main/kotlin/database/poker/CasinoHoldemTable.kt
  database/src/main/kotlin/database/poker/CasinoHoldemTableRegistry.kt
  database/src/main/kotlin/database/service/CasinoHoldemService.kt
  database/src/test/kotlin/database/poker/CasinoHoldemTest.kt
  database/src/test/kotlin/database/service/CasinoHoldemServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/button/buttons/CasinoHoldemButton.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/CasinoHoldemCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/CasinoHoldemEmbeds.kt
  web/src/main/kotlin/web/controller/CasinoHoldemController.kt
  web/src/main/kotlin/web/service/CasinoHoldemWebService.kt
  web/src/main/resources/static/css/casinoholdem.css
  web/src/main/resources/static/js/casinoholdem-solo.js
  web/src/main/resources/templates/casino-guilds.html
  web/src/main/resources/templates/casinoholdem-guilds.html
  web/src/main/resources/templates/casinoholdem-solo.html
  web/src/main/resources/templates/fragments/navbar.html
  web/src/test/kotlin/web/controller/CasinoHoldemControllerTest.kt
  web/src/test/kotlin/web/service/CasinoHoldemWebServiceTest.kt
Labels: Bot, Buttons, Commands, Database, web, Tests

test: register CasinoHoldem command/button in manager test rosters
  application/src/test/kotlin/integration/bot/ButtonManagerTest.kt
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
Labels: none

feat(casino): add /casinoholdem singleplayer poker (web + Discord) (#392)
  application/src/test/kotlin/integration/bot/ButtonManagerTest.kt
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  database/src/main/kotlin/database/poker/CasinoHoldem.kt
  database/src/main/kotlin/database/poker/CasinoHoldemTable.kt
  database/src/main/kotlin/database/poker/CasinoHoldemTableRegistry.kt
  database/src/main/kotlin/database/service/CasinoHoldemService.kt
  database/src/test/kotlin/database/poker/CasinoHoldemTest.kt
  database/src/test/kotlin/database/service/CasinoHoldemServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/button/buttons/CasinoHoldemButton.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/CasinoHoldemCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/CasinoHoldemEmbeds.kt
  web/src/main/kotlin/web/controller/CasinoHoldemController.kt
  web/src/main/kotlin/web/service/CasinoHoldemWebService.kt
  web/src/main/resources/static/css/casinoholdem.css
  web/src/main/resources/static/js/casinoholdem-solo.js
  web/src/main/resources/templates/casino-guilds.html
  web/src/main/resources/templates/casinoholdem-guilds.html
  web/src/main/resources/templates/casinoholdem-solo.html
  web/src/main/resources/templates/fragments/navbar.html
  web/src/test/kotlin/web/controller/CasinoHoldemControllerTest.kt
  web/src/test/kotlin/web/service/CasinoHoldemWebServiceTest.kt
Labels: Bot, Buttons, Commands, Database, web, Tests

fix(blackjack): reject solo redeal mid-hand, harden split flow, slow dealer reveal
  database/src/main/kotlin/database/service/BlackjackService.kt
  database/src/test/kotlin/database/service/BlackjackServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/BlackjackCommand.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/BlackjackCommandTest.kt
  web/src/main/kotlin/web/controller/BlackjackController.kt
  web/src/main/resources/static/css/casino-table.css
  web/src/main/resources/static/js/blackjack-solo.js
  web/src/main/resources/static/js/blackjack-table.js
  web/src/main/resources/static/js/casino-render.js
  web/src/main/resources/templates/blackjack-solo.html
  web/src/test/js/casino-render.test.js
Labels: Bot, Commands, Database, web, Tests

fix(blackjack): reject solo redeal mid-hand, harden split flow, slow dealer reveal (#394)
  database/src/main/kotlin/database/service/BlackjackService.kt
  database/src/test/kotlin/database/service/BlackjackServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/BlackjackCommand.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/BlackjackCommandTest.kt
  web/src/main/kotlin/web/controller/BlackjackController.kt
  web/src/main/resources/static/css/casino-table.css
  web/src/main/resources/static/js/blackjack-solo.js
  web/src/main/resources/static/js/blackjack-table.js
  web/src/main/resources/static/js/casino-render.js
  web/src/main/resources/templates/blackjack-solo.html
  web/src/test/js/casino-render.test.js
Labels: Bot, Commands, Database, web, Tests

fix(casino banner): say "up to N% scaled by stake" so it matches reality
  web/src/main/resources/templates/fragments/casino.html
Labels: none

test(command-manager): include JackpotAdminCommand in the registry roster
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
Labels: none

fix(casinoholdem web): escape apostrophe in <title> so the page renders
  web/src/main/resources/templates/casinoholdem-guilds.html
  web/src/main/resources/templates/casinoholdem-solo.html
Labels: none

fix(casinoholdem web): escape apostrophe in <title> so the page renders (#395)
  web/src/main/resources/templates/casinoholdem-guilds.html
  web/src/main/resources/templates/casinoholdem-solo.html
Labels: none

fix(casino): trim /highlow and /baccarat descriptions under Discord's 100-char cap
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/BaccaratCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/HighlowCommand.kt
Labels: Bot, Commands

feat(casino web): pick refund target from member dropdown with credit shown
  web/src/main/resources/static/js/moderation.js
  web/src/main/resources/templates/moderation.html
Labels: none

feat(casino web): pick refund target from member dropdown with credit shown (#397)
  web/src/main/resources/static/js/moderation.js
  web/src/main/resources/templates/moderation.html
Labels: none

fix(casino web): style the casino tab so it stops rendering as bare boxes
  web/src/main/resources/static/css/moderation.css
  web/src/main/resources/templates/moderation.html
Labels: none

fix(casino web): style the casino tab so it stops rendering as bare boxes (#399)
  web/src/main/resources/static/css/moderation.css
  web/src/main/resources/templates/moderation.html
Labels: none

perf: reduce JVM memory footprint to fit 500MB server
  Dockerfile
  application/src/main/resources/application.properties
  common/src/main/kotlin/common/configuration/CachingConfig.kt
  database/src/main/kotlin/database/blackjack/BlackjackTableRegistry.kt
  database/src/main/kotlin/database/configuration/DatabaseConfig.kt
  database/src/main/kotlin/database/configuration/RegistryScheduler.kt
  database/src/main/kotlin/database/duel/PendingDuelRegistry.kt
  database/src/main/kotlin/database/poker/CasinoHoldemTableRegistry.kt
  database/src/main/kotlin/database/poker/PokerTableRegistry.kt
  discord-bot/src/main/kotlin/bot/toby/managers/NowPlayingManager.kt
Labels: Config, Bot, Common, Database, Managers

perf: reduce JVM memory footprint to fit 500MB server (#400)
  Dockerfile
  application/src/main/resources/application.properties
  common/src/main/kotlin/common/configuration/CachingConfig.kt
  database/src/main/kotlin/database/blackjack/BlackjackTableRegistry.kt
  database/src/main/kotlin/database/configuration/DatabaseConfig.kt
  database/src/main/kotlin/database/configuration/RegistryScheduler.kt
  database/src/main/kotlin/database/duel/PendingDuelRegistry.kt
  database/src/main/kotlin/database/poker/CasinoHoldemTableRegistry.kt
  database/src/main/kotlin/database/poker/PokerTableRegistry.kt
  discord-bot/src/main/kotlin/bot/toby/managers/NowPlayingManager.kt
Labels: Config, Bot, Common, Database, Managers

fix(casino): treat missing user as 0-balance instead of "unknown" on jackpot refund (#400)
  database/src/main/kotlin/database/service/CasinoAdminService.kt
  database/src/test/kotlin/database/service/CasinoAdminServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/JackpotAdminCommand.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
Labels: Bot, Commands, Database, web, Tests

fix(moderation web): send snowflake IDs as strings to avoid JS Number precision loss
  web/src/main/kotlin/web/controller/ModerationController.kt
  web/src/main/resources/static/js/moderation.js
Labels: web

fix(moderation web): snowflake ID precision loss breaks jackpot refund and other admin actions (#401)
  database/src/main/kotlin/database/service/CasinoAdminService.kt
  database/src/test/kotlin/database/service/CasinoAdminServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/JackpotAdminCommand.kt
  web/src/main/kotlin/web/controller/ModerationController.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/resources/static/js/moderation.js
Labels: Bot, Commands, Database, web, Tests

feat(leaderboard web): show top played games of the month
  web/src/main/kotlin/web/service/LeaderboardWebService.kt
  web/src/main/resources/templates/leaderboard.html
  web/src/test/kotlin/web/service/LeaderboardWebServiceTest.kt
  web/src/test/kotlin/web/service/LeaderboardWebServiceTobyCoinTest.kt
  web/src/test/kotlin/web/service/LeaderboardWebServiceTopGamesTest.kt
Labels: web, Tests

feat(moderation web): consolidate stake/buy-in config + 0=unlimited shorthand
  database/src/main/kotlin/database/service/BaccaratService.kt
  database/src/main/kotlin/database/service/BlackjackService.kt
  database/src/main/kotlin/database/service/CasinoHoldemService.kt
  database/src/main/kotlin/database/service/CoinflipService.kt
  database/src/main/kotlin/database/service/ConfigReaders.kt
  database/src/main/kotlin/database/service/DiceService.kt
  database/src/main/kotlin/database/service/DuelService.kt
  database/src/main/kotlin/database/service/HighlowService.kt
  database/src/main/kotlin/database/service/KenoService.kt
  database/src/main/kotlin/database/service/PokerService.kt
  database/src/main/kotlin/database/service/ScratchService.kt
  database/src/main/kotlin/database/service/SlotsService.kt
  database/src/test/kotlin/database/service/ConfigReadersTest.kt
  database/src/test/kotlin/database/service/DiceServiceTest.kt
  web/src/main/kotlin/web/casino/StakeBounds.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/resources/static/css/moderation.css
  web/src/main/resources/templates/moderation.html
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
  web/src/test/kotlin/web/template/ModerationTemplateRowsTest.kt
Labels: Database, web, Tests

feat(moderation web): consolidate stake/buy-in config + 0=unlimited shorthand (#403)
  database/src/main/kotlin/database/service/BaccaratService.kt
  database/src/main/kotlin/database/service/BlackjackService.kt
  database/src/main/kotlin/database/service/CasinoHoldemService.kt
  database/src/main/kotlin/database/service/CoinflipService.kt
  database/src/main/kotlin/database/service/ConfigReaders.kt
  database/src/main/kotlin/database/service/DiceService.kt
  database/src/main/kotlin/database/service/DuelService.kt
  database/src/main/kotlin/database/service/HighlowService.kt
  database/src/main/kotlin/database/service/KenoService.kt
  database/src/main/kotlin/database/service/PokerService.kt
  database/src/main/kotlin/database/service/ScratchService.kt
  database/src/main/kotlin/database/service/SlotsService.kt
  database/src/test/kotlin/database/service/ConfigReadersTest.kt
  database/src/test/kotlin/database/service/DiceServiceTest.kt
  web/src/main/kotlin/web/casino/StakeBounds.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/resources/static/css/moderation.css
  web/src/main/resources/templates/moderation.html
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
  web/src/test/kotlin/web/template/ModerationTemplateRowsTest.kt
Labels: Database, web, Tests

feat(leaderboard web): show top played games of the month (#402)
  web/src/main/kotlin/web/service/LeaderboardWebService.kt
  web/src/main/resources/templates/leaderboard.html
  web/src/test/kotlin/web/service/LeaderboardWebServiceTest.kt
  web/src/test/kotlin/web/service/LeaderboardWebServiceTobyCoinTest.kt
  web/src/test/kotlin/web/service/LeaderboardWebServiceTopGamesTest.kt
Labels: web, Tests

feat(casino): add /roulette minigame (web + Discord) and tidy casino landing
  database/src/main/kotlin/database/dto/ConfigDto.kt
  database/src/main/kotlin/database/economy/Roulette.kt
  database/src/main/kotlin/database/service/RouletteService.kt
  database/src/test/kotlin/database/economy/RouletteTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/RouletteCommand.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/RouletteCommandTest.kt
  web/src/main/kotlin/web/casino/StakeBounds.kt
  web/src/main/kotlin/web/controller/RouletteController.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/resources/static/css/leaderboard.css
  web/src/main/resources/static/css/roulette.css
  web/src/main/resources/static/js/casino-sounds.js
  web/src/main/resources/static/js/roulette.js
  web/src/main/resources/templates/casino-guilds.html
  web/src/main/resources/templates/moderation.html
  web/src/main/resources/templates/roulette.html
  web/src/test/kotlin/web/controller/RouletteControllerTest.kt
Labels: Bot, Commands, Database, web, Tests

fix(setconfig): exhaustive when needs ROULETTE_MIN_STAKE / MAX_STAKE
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
Labels: Bot, Commands

test(commandmanager): include RouletteCommand in registered-set assertion
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
Labels: none

fix(blackjack web): show every split hand's result and explain split-aces
  web/src/main/resources/static/js/blackjack-solo.js
  web/src/main/resources/templates/blackjack-solo.html
  web/src/test/js/blackjack-split-aces-hint.test.js
Labels: none

feat(casino): add /roulette minigame (web + Discord) (#404)
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  database/src/main/kotlin/database/dto/ConfigDto.kt
  database/src/main/kotlin/database/economy/Roulette.kt
  database/src/main/kotlin/database/service/RouletteService.kt
  database/src/test/kotlin/database/economy/RouletteTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/RouletteCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/RouletteCommandTest.kt
  web/src/main/kotlin/web/casino/StakeBounds.kt
  web/src/main/kotlin/web/controller/RouletteController.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/resources/static/css/leaderboard.css
  web/src/main/resources/static/css/roulette.css
  web/src/main/resources/static/js/casino-sounds.js
  web/src/main/resources/static/js/roulette.js
  web/src/main/resources/templates/casino-guilds.html
  web/src/main/resources/templates/moderation.html
  web/src/main/resources/templates/roulette.html
  web/src/test/kotlin/web/controller/RouletteControllerTest.kt
Labels: Bot, Commands, Database, web, Tests

fix(blackjack web): show every split hand's result and explain split-aces (#406)
  web/src/main/resources/static/js/blackjack-solo.js
  web/src/main/resources/templates/blackjack-solo.html
  web/src/test/js/blackjack-split-aces-hint.test.js
Labels: none

fix(jackpot tests): match the at-Instant default param in mock verifies
  database/src/test/kotlin/database/service/JackpotHelperTest.kt
Labels: Tests

fix(jackpot lottery): use literal status default in DTO
  database/src/main/kotlin/database/dto/JackpotLotteryDto.kt
Labels: Database

fix(jackpot): drop function-type clock injection
  database/src/main/kotlin/database/service/JackpotLotteryService.kt
  database/src/main/kotlin/database/service/JackpotService.kt
  database/src/test/kotlin/database/service/JackpotLotteryServiceTest.kt
  database/src/test/kotlin/database/service/JackpotServiceTest.kt
Labels: Database, Tests

fix(setconfig): exhaustive when over new jackpot config keys
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
Labels: Bot, Commands

fix(moderation web): exhaustive when over new jackpot config keys
  database/src/main/kotlin/database/persistence/impl/DefaultVoiceCreditDailyPersistence.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
Labels: Database, web

feat(jackpot): structural rebalance — payout %, gates, and lottery event
  database/src/main/kotlin/database/dto/ConfigDto.kt
  database/src/main/kotlin/database/dto/JackpotLotteryDto.kt
  database/src/main/kotlin/database/dto/JackpotLotteryTicketDto.kt
  database/src/main/kotlin/database/dto/TobyCoinJackpotWinnerDto.kt
  database/src/main/kotlin/database/dto/VoiceCreditDailyDto.kt
  database/src/main/kotlin/database/persistence/JackpotLotteryPersistence.kt
  database/src/main/kotlin/database/persistence/TobyCoinJackpotWinnerPersistence.kt
  database/src/main/kotlin/database/persistence/VoiceCreditDailyPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultJackpotLotteryPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultTobyCoinJackpotWinnerPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultVoiceCreditDailyPersistence.kt
  database/src/main/kotlin/database/service/JackpotHelper.kt
  database/src/main/kotlin/database/service/JackpotLotteryService.kt
  database/src/main/kotlin/database/service/JackpotService.kt
  database/src/main/resources/db/migration/V26__toby_coin_jackpot_winner.sql
  database/src/main/resources/db/migration/V27__toby_coin_jackpot_lottery.sql
  database/src/test/kotlin/database/service/JackpotHelperTest.kt
  database/src/test/kotlin/database/service/JackpotLotteryServiceTest.kt
  database/src/test/kotlin/database/service/JackpotServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/LotteryCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/JackpotAdminCommand.kt
Labels: Bot, Commands, Database, Tests

fix(test): include LotteryCommand in CommandManagerTest expected list
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
Labels: none

feat(jackpot): structural rebalance — payout %, gates, and lottery event (#405)
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  database/src/main/kotlin/database/dto/ConfigDto.kt
  database/src/main/kotlin/database/dto/JackpotLotteryDto.kt
  database/src/main/kotlin/database/dto/JackpotLotteryTicketDto.kt
  database/src/main/kotlin/database/dto/TobyCoinJackpotWinnerDto.kt
  database/src/main/kotlin/database/dto/VoiceCreditDailyDto.kt
  database/src/main/kotlin/database/persistence/JackpotLotteryPersistence.kt
  database/src/main/kotlin/database/persistence/TobyCoinJackpotWinnerPersistence.kt
  database/src/main/kotlin/database/persistence/VoiceCreditDailyPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultJackpotLotteryPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultTobyCoinJackpotWinnerPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultVoiceCreditDailyPersistence.kt
  database/src/main/kotlin/database/service/JackpotHelper.kt
  database/src/main/kotlin/database/service/JackpotLotteryService.kt
  database/src/main/kotlin/database/service/JackpotService.kt
  database/src/main/resources/db/migration/V26__toby_coin_jackpot_winner.sql
  database/src/main/resources/db/migration/V27__toby_coin_jackpot_lottery.sql
  database/src/test/kotlin/database/service/JackpotHelperTest.kt
  database/src/test/kotlin/database/service/JackpotLotteryServiceTest.kt
  database/src/test/kotlin/database/service/JackpotServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/LotteryCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/JackpotAdminCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
Labels: Bot, Commands, Database, web, Tests

fix(casino): centralize jackpot banner and preserve sub-percent precision
  database/src/main/kotlin/database/service/JackpotService.kt
  database/src/test/kotlin/database/service/JackpotServiceTest.kt
  web/src/main/kotlin/web/casino/CasinoPageContext.kt
  web/src/main/kotlin/web/controller/BlackjackController.kt
  web/src/main/kotlin/web/controller/CasinoHoldemController.kt
  web/src/main/kotlin/web/controller/PokerController.kt
  web/src/main/resources/static/js/blackjack-solo.js
  web/src/main/resources/templates/fragments/casino.html
  web/src/test/kotlin/web/controller/BlackjackControllerTest.kt
  web/src/test/kotlin/web/controller/PokerControllerTest.kt
  web/src/test/kotlin/web/template/CasinoJackpotBannerFragmentTest.kt
Labels: Database, web, Tests

.github/labeler.yml:

Documentation:
- '**/*.md'

Config:
 - '**/*.properties'
 - '**/*.gradle'

Bot:
 - discord-bot/src/main/kotlin/**

Buttons:
 - discord-bot/src/main/kotlin/bot/toby/button/**

Commands:
 - discord-bot/src/main/kotlin/bot/toby/command/**

Common:
 - common/src/main/kotlin/**

Core-api:
 - core-api/src/main/kotlin/**

Database:
 - database/src/main/kotlin/database/**

Helpers:
 - discord-bot/src/main/kotlin/bot/toby/helpers/*

Lavaplayer:
 - discord-bot/src/main/kotlin/bot/toby/lavaplayer/**

Managers:
 - discord-bot/src/main/kotlin/bot/toby/managers/*

web:
 - web/src/main/kotlin/**

Tests:
 - common/src/test/kotlin/**
 - core-api/src/test/kotlin/**
 - database/src/test/kotlin/**
 - discord-bot/src/test/kotlin/**
 - web/src/test/kotlin/**
