Repository ml404/toby-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Config, Commands, Buttons, Helpers, Managers, Database, Lavaplayer, Tests

.github/labeler.yml:

Documentation:
- '**/*.md'

Config:
 - '**/*.properties'
 - '**/*.gradle'

Commands:
  - src/main/kotlin/toby/command/**

Buttons:
 - src/main/kotlin/toby/button/**

Helpers:
  - src/main/kotlin/toby/helpers/*

Managers:
  - src/main/kotlin/toby/managers/*

Database:
  - src/main/kotlin/toby/jpa/**

Lavaplayer:
  - src/main/kotlin/toby/lavaplayer/**

Tests:
  -src/test/kotlin/**

small tidy-up
  src/main/kotlin/toby/managers/ButtonManager.kt
  src/main/kotlin/toby/managers/CommandManager.kt
  src/main/kotlin/toby/managers/MenuManager.kt
  src/test/kotlin/toby/managers/MenuManagerTest.kt
Labels: Managers

lavaplayer bump
  build.gradle
Labels: Config

lavaplayer bump (#120)
  build.gradle
Labels: Config

lavaplayer bump
  src/main/kotlin/toby/handler/Handler.kt
  src/main/kotlin/toby/helpers/MusicPlayerHelper.kt
  src/main/kotlin/toby/lavaplayer/PlayerManager.kt
  src/test/kotlin/toby/helpers/MusicPlayerHelperTest.kt
Labels: Helpers, Lavaplayer

lavaplayer bump
  build.gradle
  src/main/kotlin/toby/helpers/MusicPlayerHelper.kt
Labels: Config, Helpers

edit logging
  src/main/kotlin/toby/helpers/MusicPlayerHelper.kt
Labels: Helpers

edit logging
  src/main/kotlin/toby/helpers/MusicPlayerHelper.kt
Labels: Helpers

more logging
  src/main/kotlin/toby/helpers/MusicPlayerHelper.kt
Labels: Helpers

add re-entrant lock
  src/main/kotlin/toby/helpers/MusicPlayerHelper.kt
Labels: Helpers

synchronised lock around the two parts of code accessing the stored message
  build.gradle
  src/main/kotlin/toby/helpers/MusicPlayerHelper.kt
Labels: Config, Helpers

create a NowPlayingManager with tests for access in various scenarios
  build.gradle
  src/main/kotlin/toby/helpers/MusicPlayerHelper.kt
  src/main/kotlin/toby/lavaplayer/TrackScheduler.kt
  src/main/kotlin/toby/managers/NowPlayingManager.kt
  src/test/kotlin/toby/helpers/MusicPlayerHelperTest.kt
  src/test/kotlin/toby/managers/NowPlayingManagerTest.kt
Labels: Config, Helpers, Managers, Lavaplayer

change message queue to message submit so i'm using nice completable futures instead
  src/main/kotlin/toby/managers/NowPlayingManager.kt
  src/test/kotlin/toby/managers/NowPlayingManagerTest.kt
Labels: Managers

remove the reset out to when there is no next thing in the queue
  src/main/kotlin/toby/lavaplayer/TrackScheduler.kt
Labels: Lavaplayer

remove the reset out to when there is no next thing in the queue
  src/main/kotlin/toby/lavaplayer/TrackScheduler.kt
Labels: Lavaplayer

Shouldn't play intros when the joined channel and the connected audio channel aren't the same, and slightly too keen nowplaying removal
  src/main/kotlin/toby/handler/Handler.kt
  src/main/kotlin/toby/lavaplayer/TrackScheduler.kt
Labels: Lavaplayer

on_track_end_cleanup (#123)
  build.gradle
  src/main/kotlin/toby/handler/Handler.kt
  src/main/kotlin/toby/helpers/MusicPlayerHelper.kt
  src/main/kotlin/toby/lavaplayer/PlayerManager.kt
  src/main/kotlin/toby/lavaplayer/TrackScheduler.kt
  src/main/kotlin/toby/managers/NowPlayingManager.kt
  src/test/kotlin/toby/helpers/MusicPlayerHelperTest.kt
  src/test/kotlin/toby/managers/NowPlayingManagerTest.kt
Labels: Config, Helpers, Managers, Lavaplayer

play intro using completable futures so it will play the intro for the first person who joins the channel
  src/main/kotlin/toby/handler/Handler.kt
Labels: none

more logging
  src/main/kotlin/toby/handler/Handler.kt
Labels: none

intro_play_async (#124)
  src/main/kotlin/toby/handler/Handler.kt
Labels: none

ScheduledExecutorService for updating nowplayingmessage
  src/main/kotlin/toby/helpers/MusicPlayerHelper.kt
  src/main/kotlin/toby/managers/NowPlayingManager.kt
  src/test/kotlin/toby/managers/NowPlayingManagerTest.kt
Labels: Helpers, Managers

need to reinitialise scheduledExecutor
  src/main/kotlin/toby/managers/NowPlayingManager.kt
Labels: Managers

scheduled-update-nowplaying-message (#125)
  src/main/kotlin/toby/helpers/MusicPlayerHelper.kt
  src/main/kotlin/toby/managers/NowPlayingManager.kt
  src/test/kotlin/toby/managers/NowPlayingManagerTest.kt
Labels: Helpers, Managers

join the most populated channel on each guild when the bot has started up
  src/main/kotlin/toby/handler/Handler.kt
Labels: none

join the most populated channel on each guild when the bot has started up, if there is none then don't join any
  src/main/kotlin/toby/handler/Handler.kt
Labels: none

some refactoring
  src/main/kotlin/toby/handler/Handler.kt
Labels: none

join the most populated channel (#126)
  src/main/kotlin/toby/handler/Handler.kt
Labels: none

removed the lastJoinedChannel map, and the async call within the join event. Added more tests
  src/main/kotlin/toby/command/commands/music/JoinCommand.kt
  src/main/kotlin/toby/command/commands/music/LeaveCommand.kt
  src/main/kotlin/toby/handler/Handler.kt
  src/test/kotlin/toby/handler/HandlerTest.kt
Labels: Commands

changed lastChannelJoinedMap to voicechannel
  src/main/kotlin/toby/command/commands/music/JoinCommand.kt
  src/main/kotlin/toby/command/commands/music/LeaveCommand.kt
  src/main/kotlin/toby/handler/Handler.kt
  src/test/kotlin/toby/handler/HandlerTest.kt
Labels: Commands

fixup tests
  src/main/kotlin/toby/command/commands/music/JoinCommand.kt
  src/test/kotlin/toby/command/commands/music/JoinCommandTest.kt
  src/test/kotlin/toby/command/commands/music/LeaveCommandTest.kt
  src/test/kotlin/toby/command/commands/music/LoopCommandTest.kt
  src/test/kotlin/toby/command/commands/music/MusicCommandTest.kt
  src/test/kotlin/toby/command/commands/music/NowDigOnThisCommandTest.kt
  src/test/kotlin/toby/command/commands/music/NowPlayingCommandTest.kt
  src/test/kotlin/toby/command/commands/music/PauseCommandTest.kt
  src/test/kotlin/toby/command/commands/music/PlayCommandTest.kt
  src/test/kotlin/toby/command/commands/music/QueueCommandTest.kt
  src/test/kotlin/toby/command/commands/music/ResumeCommandTest.kt
  src/test/kotlin/toby/command/commands/music/SetVolumeCommandTest.kt
  src/test/kotlin/toby/command/commands/music/ShuffleCommandTest.kt
  src/test/kotlin/toby/command/commands/music/SkipCommandTest.kt
Labels: Commands

handler-test-and-refactoring (#127)
  src/main/kotlin/toby/command/commands/music/JoinCommand.kt
  src/main/kotlin/toby/handler/Handler.kt
  src/test/kotlin/toby/command/commands/music/JoinCommandTest.kt
  src/test/kotlin/toby/command/commands/music/LeaveCommandTest.kt
  src/test/kotlin/toby/command/commands/music/LoopCommandTest.kt
  src/test/kotlin/toby/command/commands/music/MusicCommandTest.kt
  src/test/kotlin/toby/command/commands/music/NowDigOnThisCommandTest.kt
  src/test/kotlin/toby/command/commands/music/NowPlayingCommandTest.kt
  src/test/kotlin/toby/command/commands/music/PauseCommandTest.kt
  src/test/kotlin/toby/command/commands/music/PlayCommandTest.kt
  src/test/kotlin/toby/command/commands/music/QueueCommandTest.kt
  src/test/kotlin/toby/command/commands/music/ResumeCommandTest.kt
  src/test/kotlin/toby/command/commands/music/SetVolumeCommandTest.kt
  src/test/kotlin/toby/command/commands/music/ShuffleCommandTest.kt
  src/test/kotlin/toby/command/commands/music/SkipCommandTest.kt
  src/test/kotlin/toby/handler/HandlerTest.kt
Labels: Commands

small refactors
  src/main/kotlin/toby/handler/Handler.kt
Labels: none

small refactors for TrackScheduler to cleanup better on skips
  src/main/kotlin/toby/helpers/MusicPlayerHelper.kt
  src/main/kotlin/toby/lavaplayer/TrackScheduler.kt
Labels: Helpers, Lavaplayer

small refactors for TrackScheduler to cleanup better on skips
  src/main/kotlin/toby/helpers/MusicPlayerHelper.kt
  src/main/kotlin/toby/lavaplayer/TrackScheduler.kt
Labels: Helpers, Lavaplayer

small refactors for TrackScheduler to cleanup better on skips
  src/main/kotlin/toby/lavaplayer/TrackScheduler.kt
Labels: Lavaplayer

small refactors for TrackScheduler to cleanup better on skips
  src/main/kotlin/toby/lavaplayer/TrackScheduler.kt
Labels: Lavaplayer

small refactors for TrackScheduler to cleanup better on skips
  src/main/kotlin/toby/helpers/MusicPlayerHelper.kt
  src/main/kotlin/toby/managers/NowPlayingManager.kt
Labels: Helpers, Managers

larger threadpool for updating, need to cancel the scheduled task because it keeps a copy of the audioTrack and not what's live
  src/main/kotlin/toby/helpers/MusicPlayerHelper.kt
  src/main/kotlin/toby/lavaplayer/TrackScheduler.kt
  src/main/kotlin/toby/managers/NowPlayingManager.kt
  src/test/kotlin/toby/managers/NowPlayingManagerTest.kt
Labels: Helpers, Managers, Lavaplayer

aggressive resetting for onTrackEnd?
  src/main/kotlin/toby/lavaplayer/TrackScheduler.kt
Labels: Lavaplayer

TrackScheduler-flow-refactor (#129)
  src/main/kotlin/toby/helpers/MusicPlayerHelper.kt
  src/main/kotlin/toby/lavaplayer/TrackScheduler.kt
  src/main/kotlin/toby/managers/NowPlayingManager.kt
  src/test/kotlin/toby/managers/NowPlayingManagerTest.kt
Labels: Helpers, Managers, Lavaplayer

nullability on userDto and musicfileDto
  src/main/kotlin/toby/helpers/MusicPlayerHelper.kt
  src/main/kotlin/toby/jpa/persistence/IMusicFilePersistence.kt
  src/main/kotlin/toby/jpa/persistence/impl/MusicFilePersistenceImpl.kt
  src/main/kotlin/toby/jpa/persistence/impl/UserPersistenceImpl.kt
  src/main/kotlin/toby/jpa/service/impl/MusicFileServiceImpl.kt
Labels: Helpers, Database
