Repository ml404/toby-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Config, Bot, Buttons, Commands, Common, Core-api, Database, Helpers, Lavaplayer, Managers, web, Tests

small bit of renaming
  discord-bot/src/main/kotlin/bot/toby/command/DefaultCommandContext.kt
  discord-bot/src/main/kotlin/bot/toby/managers/DefaultCommandManager.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/DnDCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/InitiativeCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/RollCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/fetch/MemeCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/misc/BrotherCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/misc/ChCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/misc/EightBallCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/misc/ExcuseCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/misc/HelloThereCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/misc/HelpCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/misc/RandomCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/misc/TeamCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/misc/UserInfoCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/moderation/AdjustUserCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/moderation/KickCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/moderation/MoveCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/moderation/PollCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/moderation/SetConfigCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/moderation/ShhCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/moderation/SocialCreditCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/moderation/TalkCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/music/JoinCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/music/LeaveCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/music/LoopCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/music/NowDigOnThisCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/music/NowPlayingCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/music/PauseCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/music/PlayCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/music/QueueCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/music/ResumeCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/music/SetIntroCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/music/SetVolumeCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/music/ShuffleCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/music/SkipCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/music/StopCommandTest.kt
  gradle.properties
Labels: Config, Bot, Commands, Managers, Tests

disable scheduledEvent cache
  .idea/misc.xml
  discord-bot/src/main/kotlin/bot/configuration/BotConfig.kt
Labels: Bot

Create application module so this is a proper hexagonal architecture piece of software
  Procfile
  README.md
  application/build.gradle
  application/src/main/kotlin/Application.kt
  application/src/main/resources/application.properties
  application/src/main/resources/log4j2.xml
  application/src/test/kotlin/SpringApplicationTest.kt
  core-api/build.gradle
  database/build.gradle
  discord-bot/src/main/kotlin/bot/DiscordBotApplication.kt
  discord-bot/src/test/kotlin/bot/toby/jpa/persistence/impl/MusicFilePersistenceImplTest.kt
  discord-bot/src/test/kotlin/bot/toby/managers/ButtonManagerTest.kt
  discord-bot/src/test/kotlin/bot/toby/managers/CommandManagerTest.kt
  discord-bot/src/test/kotlin/bot/toby/managers/MenuManagerTest.kt
  settings.gradle
  web/build.gradle
Labels: Documentation, Config, Bot, Tests

maybe fixed up this mess?
  .gitignore
  .slugignore
  application/build.gradle
  application/src/test/resources/log4j2-test.xml
  core-api/build.gradle
  core-api/src/test/kotlin/core/configuration/TestManagerConfig.kt
  database/build.gradle
  database/src/test/kotlin/database/configuration/TestDatabaseConfig.kt
  web/build.gradle
  web/src/test/kotlin/web/controller/BotControllerIT.kt
Labels: Config, Tests

Create application module so this is a proper hexagonal architecture piece of software (#178)
  .gitignore
  .slugignore
  Procfile
  README.md
  application/build.gradle
  application/src/main/kotlin/Application.kt
  application/src/main/resources/application.properties
  application/src/main/resources/log4j2.xml
  application/src/test/kotlin/SpringApplicationTest.kt
  application/src/test/resources/log4j2-test.xml
  core-api/build.gradle
  core-api/src/test/kotlin/core/configuration/TestManagerConfig.kt
  database/build.gradle
  database/src/test/kotlin/database/configuration/TestDatabaseConfig.kt
  discord-bot/src/main/kotlin/bot/DiscordBotApplication.kt
  discord-bot/src/test/kotlin/bot/toby/jpa/persistence/impl/MusicFilePersistenceImplTest.kt
  discord-bot/src/test/kotlin/bot/toby/managers/ButtonManagerTest.kt
  discord-bot/src/test/kotlin/bot/toby/managers/CommandManagerTest.kt
  discord-bot/src/test/kotlin/bot/toby/managers/MenuManagerTest.kt
  settings.gradle
  web/build.gradle
  web/src/test/kotlin/web/controller/BotControllerIT.kt
Labels: Documentation, Config, Bot, Tests

slug reduction
  .slugignore
Labels: none

slug reduction, less dependencies
  .slugignore
  build.gradle
  common/build.gradle
  core-api/build.gradle
  database/build.gradle
  database/src/test/kotlin/database/MusicFilePersistenceImplTest.kt
  discord-bot/build.gradle
  web/build.gradle
Labels: Config, Tests

shuffle stuff around to hopefully reduce jar size + now only have one module that has spring boot applied to it
  application/build.gradle
  application/src/test/kotlin/integration/bot/ButtonManagerTest.kt
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  application/src/test/kotlin/integration/bot/MenuManagerTest.kt
  application/src/test/kotlin/integration/database/BrotherServiceImplIntegrationTest.kt
  application/src/test/kotlin/integration/database/ConfigServiceImplIntegrationTest.kt
  application/src/test/kotlin/integration/database/ExcuseServiceImplIntegrationTest.kt
  application/src/test/kotlin/integration/database/MusicFilePersistenceImplTest.kt
  application/src/test/kotlin/integration/database/MusicFileServiceImplIntegrationTest.kt
  application/src/test/kotlin/integration/database/UserServiceImplIntegrationTest.kt
  application/src/test/kotlin/integration/web/BotControllerIT.kt
  application/src/test/resources/application-test.properties
  application/src/test/resources/data.sql
  application/src/test/resources/schema.sql
  build.gradle
  common/build.gradle
  database/build.gradle
  database/src/main/kotlin/database/DatabaseApplication.kt
  database/src/test/resources/log4j2-test.xml
  discord-bot/build.gradle
  discord-bot/src/main/kotlin/bot/DiscordBotApplication.kt
  discord-bot/src/main/kotlin/bot/configuration/BotConfig.kt
  web/build.gradle
  web/src/main/kotlin/web/WebApplication.kt
Labels: Config, Bot, Database, web

slug reduction (#179)
  .slugignore
  application/build.gradle
  application/src/test/kotlin/integration/bot/ButtonManagerTest.kt
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  application/src/test/kotlin/integration/bot/MenuManagerTest.kt
  application/src/test/kotlin/integration/database/BrotherServiceImplIntegrationTest.kt
  application/src/test/kotlin/integration/database/ConfigServiceImplIntegrationTest.kt
  application/src/test/kotlin/integration/database/ExcuseServiceImplIntegrationTest.kt
  application/src/test/kotlin/integration/database/MusicFilePersistenceImplTest.kt
  application/src/test/kotlin/integration/database/MusicFileServiceImplIntegrationTest.kt
  application/src/test/kotlin/integration/database/UserServiceImplIntegrationTest.kt
  application/src/test/kotlin/integration/web/BotControllerIT.kt
  application/src/test/resources/application-test.properties
  application/src/test/resources/data.sql
  application/src/test/resources/schema.sql
  build.gradle
  common/build.gradle
  core-api/build.gradle
  database/build.gradle
  database/src/main/kotlin/database/DatabaseApplication.kt
  database/src/test/resources/log4j2-test.xml
  discord-bot/build.gradle
  discord-bot/src/main/kotlin/bot/DiscordBotApplication.kt
  discord-bot/src/main/kotlin/bot/configuration/BotConfig.kt
  web/build.gradle
  web/src/main/kotlin/web/WebApplication.kt
Labels: Config, Bot, Database, web

tidy up build.gradle a little
  application/build.gradle
  build.gradle
  common/build.gradle
  core-api/build.gradle
  database/build.gradle
  discord-bot/build.gradle
  web/build.gradle
Labels: Config

re-arrange strings for component scan
  application/src/main/kotlin/Application.kt
Labels: none

adjust logging message to be clearer about who is sending the message inside the DM context.
  discord-bot/src/main/kotlin/bot/toby/handler/MessageEventHandler.kt
Labels: Bot

25 suggestions or less in the replychoices setup
  discord-bot/src/main/kotlin/bot/toby/handler/MessageEventHandler.kt
Labels: Bot

prevent globbing/splitting
  bin/trigger_publish_wiki.sh
Labels: none

want to do some printing of user intros so the user can have a better idea of what intro they are choosing to edit.
  discord-bot/src/main/kotlin/bot/toby/command/commands/misc/UserInfoCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/intro/EditIntroCommand.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/UserDtoHelper.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/misc/UserInfoCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/music/intro/EditIntroCommandTest.kt
Labels: Bot, Commands, Helpers, Tests

add the same printing into SetIntroCommand when you need to select an intro to replace
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/intro/SetIntroCommand.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/music/SetIntroCommandTest.kt
Labels: Bot, Commands, Tests

printing of user intros so the user can have a better idea of what intro they are choosing to edit. (#180)
  discord-bot/src/main/kotlin/bot/toby/command/commands/misc/UserInfoCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/intro/EditIntroCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/intro/SetIntroCommand.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/UserDtoHelper.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/misc/UserInfoCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/music/SetIntroCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/music/intro/EditIntroCommandTest.kt
Labels: Bot, Commands, Helpers, Tests

wrong type being used in CommandManager
  discord-bot/src/main/kotlin/bot/toby/managers/DefaultCommandManager.kt
Labels: Bot, Managers

mac configuration
  .idea/compiler.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/misc.xml
  common/build.gradle
  core-api/build.gradle
  database/build.gradle
  web/build.gradle
Labels: Config

bump lavalink youtube source
  discord-bot/build.gradle
Labels: Config

bump lavalink youtube source
  discord-bot/build.gradle
Labels: Config

snapshot lavalink
  build.gradle
Labels: Config

revert
  build.gradle
Labels: Config

no longer register remote sources (may override my youtube)
  discord-bot/src/main/kotlin/bot/toby/lavaplayer/PlayerManager.kt
Labels: Bot, Lavaplayer

add some clients to the youtubeaudiosourcemanager
  discord-bot/src/main/kotlin/bot/toby/lavaplayer/PlayerManager.kt
Labels: Bot, Lavaplayer

Fix youtube auth in lavaplayer (#181)
  discord-bot/src/main/kotlin/bot/toby/lavaplayer/PlayerManager.kt
Labels: Bot, Lavaplayer

better DI for BotMain.kt
  discord-bot/src/main/kotlin/bot/toby/BotMain.kt
Labels: Bot

15 second intros
  discord-bot/src/main/kotlin/bot/toby/helpers/IntroHelper.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/HttpHelperTest.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/IntroHelperTest.kt
Labels: Bot, Helpers, Tests

remove botcommon
  discord-bot/build.gradle
  discord-bot/src/main/kotlin/bot/configuration/BotConfig.kt
Labels: Config, Bot

Botmain not needed for registering listening objects
  discord-bot/src/main/kotlin/bot/configuration/BotConfig.kt
  discord-bot/src/main/kotlin/bot/toby/BotMain.kt
  discord-bot/src/test/kotlin/bot/configuration/TestBotConfig.kt
Labels: Bot, Tests

fix dependencies being wonky with spring. Added registrar to replace old botmain
  core-api/src/main/kotlin/core/managers/CommandManager.kt
  discord-bot/src/main/kotlin/bot/configuration/BotConfig.kt
  discord-bot/src/main/kotlin/bot/configuration/JdaListenerRegistrar.kt
  discord-bot/src/main/kotlin/bot/toby/button/buttons/ResendLastRequestButton.kt
  discord-bot/src/main/kotlin/bot/toby/handler/MessageEventHandler.kt
  discord-bot/src/main/kotlin/bot/toby/handler/StartUpHandler.kt
  discord-bot/src/main/kotlin/bot/toby/handler/VoiceEventHandler.kt
  discord-bot/src/main/kotlin/bot/toby/managers/DefaultCommandManager.kt
  discord-bot/src/test/kotlin/bot/configuration/JdaListenerRegistrarTest.kt
  discord-bot/src/test/kotlin/bot/toby/handler/MessageEventHandlerTest.kt
  discord-bot/src/test/kotlin/bot/toby/handler/StartUpHandlerTest.kt
  discord-bot/src/test/kotlin/bot/toby/handler/VoiceEventHandlerTest.kt
Labels: Bot, Buttons, Core-api, Managers, Tests

bump youtube version
  discord-bot/build.gradle
Labels: Config

change youtubeAudioSourceManager to not pass in clients manually instantiated
  discord-bot/src/main/kotlin/bot/toby/lavaplayer/PlayerManager.kt
Labels: Bot, Lavaplayer

youtube audio source using snapshot that currently works
  build.gradle
  discord-bot/build.gradle
Labels: Config

change my audio sources to just use OAUTH compatible ones
  discord-bot/src/main/kotlin/bot/toby/lavaplayer/PlayerManager.kt
Labels: Bot, Lavaplayer

youtube common changed from snapshot to release build
  discord-bot/build.gradle
Labels: Config

adjust file size that can be attached
  .idea/compiler.xml
  discord-bot/src/main/kotlin/bot/toby/helpers/IntroHelper.kt
Labels: Bot, Helpers

delete intro command + appropriate tests
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  application/src/test/kotlin/integration/bot/MenuManagerTest.kt
  database/src/main/kotlin/database/persistence/impl/DefaultMusicFilePersistence.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/intro/DeleteIntroCommand.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/IntroHelper.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/MenuHelper.kt
  discord-bot/src/main/kotlin/bot/toby/menu/menus/DeleteIntroMenu.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/music/intro/DeleteIntroCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/IntroHelperTest.kt
  discord-bot/src/test/kotlin/bot/toby/menu/menus/DeleteIntroMenuTest.kt
Labels: Bot, Commands, Database, Helpers, Tests

delete intro command + appropriate tests (#182)
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  application/src/test/kotlin/integration/bot/MenuManagerTest.kt
  database/src/main/kotlin/database/persistence/impl/DefaultMusicFilePersistence.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/intro/DeleteIntroCommand.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/IntroHelper.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/MenuHelper.kt
  discord-bot/src/main/kotlin/bot/toby/menu/menus/DeleteIntroMenu.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/music/intro/DeleteIntroCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/IntroHelperTest.kt
  discord-bot/src/test/kotlin/bot/toby/menu/menus/DeleteIntroMenuTest.kt
Labels: Bot, Commands, Database, Helpers, Tests

change underlying delete call
  database/src/main/kotlin/database/persistence/impl/DefaultMusicFilePersistence.kt
  database/src/main/kotlin/database/service/MusicFileService.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/IntroHelper.kt
Labels: Bot, Database, Helpers

.github/labeler.yml:

Documentation:
- '**/*.md'

Config:
 - '**/*.properties'
 - '**/*.gradle'

Bot:
 - discord-bot/src/main/kotlin/**

Buttons:
 - discord-bot/src/main/kotlin/bot/toby/button/**

Commands:
 - discord-bot/src/main/kotlin/bot/toby/command/**

Common:
 - common/src/main/kotlin/**

Core-api:
 - core-api/src/main/kotlin/**

Database:
 - database/src/main/kotlin/database/**

Helpers:
 - discord-bot/src/main/kotlin/bot/toby/helpers/*

Lavaplayer:
 - discord-bot/src/main/kotlin/bot/toby/lavaplayer/**

Managers:
 - discord-bot/src/main/kotlin/bot/toby/managers/*

web:
 - web/src/main/kotlin/**

Tests:
 - common/src/test/kotlin/**
 - core-api/src/test/kotlin/**
 - database/src/test/kotlin/**
 - discord-bot/src/test/kotlin/**
 - web/src/test/kotlin/**
