Repository ml404/toby-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Config, Bot, Buttons, Commands, Common, Core-api, Database, Helpers, Lavaplayer, Managers, web, Tests

.github/labeler.yml:

Documentation:
- '**/*.md'

Config:
 - '**/*.properties'
 - '**/*.gradle'

Bot:
 - discord-bot/src/main/kotlin/**

Buttons:
 - discord-bot/src/main/kotlin/bot/toby/button/**

Commands:
 - discord-bot/src/main/kotlin/bot/toby/command/**

Common:
 - common/src/main/kotlin/**

Core-api:
 - core-api/src/main/kotlin/**

Database:
 - database/src/main/kotlin/database/**

Helpers:
 - discord-bot/src/main/kotlin/bot/toby/helpers/*

Lavaplayer:
 - discord-bot/src/main/kotlin/bot/toby/lavaplayer/**

Managers:
 - discord-bot/src/main/kotlin/bot/toby/managers/*

web:
 - web/src/main/kotlin/**

Tests:
 - common/src/test/kotlin/**
 - core-api/src/test/kotlin/**
 - database/src/test/kotlin/**
 - discord-bot/src/test/kotlin/**
 - web/src/test/kotlin/**

fix(tests): account for default-arg mockk matching and new commands/buttons
  application/src/test/kotlin/integration/bot/ButtonManagerTest.kt
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  discord-bot/src/test/kotlin/bot/toby/button/buttons/DuelButtonTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/TipCommandTest.kt
Labels: Tests

feat(web): wire Tip and Duel into the nav and home page
  web/src/main/resources/templates/fragments/navbar.html
  web/src/main/resources/templates/home.html
Labels: none

feat(web): wire Tip and Duel into the nav and home page (#316)
  web/src/main/resources/templates/fragments/navbar.html
  web/src/main/resources/templates/home.html
Labels: none

fix(economy): surface the 1% trade fee before & after every buy/sell
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/TobyCoinCommand.kt
  web/src/main/kotlin/web/controller/EconomyController.kt
  web/src/main/resources/static/css/economy.css
  web/src/main/resources/static/js/economy.js
  web/src/main/resources/templates/economy.html
Labels: Bot, Commands, web

fix(economy): surface the 1% trade fee before & after every buy/sell (#317)
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/TobyCoinCommand.kt
  web/src/main/kotlin/web/controller/EconomyController.kt
  web/src/main/resources/static/css/economy.css
  web/src/main/resources/static/js/economy.js
  web/src/main/resources/templates/economy.html
Labels: Bot, Commands, web

fix(scratch): drop 2× floor so 5🍒 ≠ 5🍋, pin RTP via closed form
  database/src/main/kotlin/database/economy/ScratchCard.kt
  database/src/test/kotlin/database/economy/ScratchCardTest.kt
Labels: Database, Tests

fix(highlow): anchor-aware payout multiplier closes the web exploit
  database/src/main/kotlin/database/economy/Highlow.kt
  database/src/main/kotlin/database/service/HighlowService.kt
  database/src/main/kotlin/database/service/WagerHelper.kt
  database/src/test/kotlin/database/economy/HighlowTest.kt
  database/src/test/kotlin/database/service/HighlowServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/HighlowCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/HighlowEmbeds.kt
  discord-bot/src/test/kotlin/bot/toby/button/buttons/HighlowButtonTest.kt
  web/src/main/kotlin/web/controller/HighlowController.kt
  web/src/main/resources/static/js/highlow.js
  web/src/main/resources/templates/highlow.html
  web/src/test/js/highlow.test.js
  web/src/test/kotlin/web/controller/HighlowControllerTest.kt
Labels: Bot, Commands, Database, web, Tests

fix(scratch): drop 2× floor so 5🍒 ≠ 5🍋, pin RTP via closed form (#318)
  database/src/main/kotlin/database/economy/ScratchCard.kt
  database/src/test/kotlin/database/economy/ScratchCardTest.kt
Labels: Database, Tests

fix(highlow): anchor-aware payout multiplier closes the web exploit (#319)
  database/src/main/kotlin/database/economy/Highlow.kt
  database/src/main/kotlin/database/service/HighlowService.kt
  database/src/main/kotlin/database/service/WagerHelper.kt
  database/src/test/kotlin/database/economy/HighlowTest.kt
  database/src/test/kotlin/database/service/HighlowServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/HighlowCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/HighlowEmbeds.kt
  discord-bot/src/test/kotlin/bot/toby/button/buttons/HighlowButtonTest.kt
  web/src/main/kotlin/web/controller/HighlowController.kt
  web/src/main/resources/static/js/highlow.js
  web/src/main/resources/templates/highlow.html
  web/src/test/js/highlow.test.js
  web/src/test/kotlin/web/controller/HighlowControllerTest.kt
Labels: Bot, Commands, Database, web, Tests

feat(web): pick duel/tip targets by name instead of pasting Discord ID
  web/src/main/kotlin/web/controller/DuelController.kt
  web/src/main/kotlin/web/controller/TipController.kt
  web/src/main/kotlin/web/service/EconomyWebService.kt
  web/src/main/resources/static/js/duel.js
  web/src/main/resources/static/js/tip.js
  web/src/main/resources/templates/duel.html
  web/src/main/resources/templates/tip.html
  web/src/test/kotlin/web/controller/DuelControllerTest.kt
  web/src/test/kotlin/web/controller/TipControllerTest.kt
  web/src/test/kotlin/web/service/EconomyWebServiceTest.kt
Labels: web, Tests

feat(web): pick duel/tip targets by name instead of pasting Discord ID (#320)
  web/src/main/kotlin/web/controller/DuelController.kt
  web/src/main/kotlin/web/controller/TipController.kt
  web/src/main/kotlin/web/service/EconomyWebService.kt
  web/src/main/resources/static/js/duel.js
  web/src/main/resources/static/js/tip.js
  web/src/main/resources/templates/duel.html
  web/src/main/resources/templates/tip.html
  web/src/test/kotlin/web/controller/DuelControllerTest.kt
  web/src/test/kotlin/web/controller/TipControllerTest.kt
  web/src/test/kotlin/web/service/EconomyWebServiceTest.kt
Labels: web, Tests

fix(web): use a native <select> for the duel/tip member picker
  web/src/main/resources/static/js/duel.js
  web/src/main/resources/static/js/tip.js
  web/src/main/resources/templates/duel.html
  web/src/main/resources/templates/tip.html
Labels: none

fix(web): use a native <select> for the duel/tip member picker (#321)
  web/src/main/resources/static/js/duel.js
  web/src/main/resources/static/js/tip.js
  web/src/main/resources/templates/duel.html
  web/src/main/resources/templates/tip.html
Labels: none

feat(poker): add multiplayer Texas Hold'em over the credits economy
  database/src/main/kotlin/database/dto/ConfigDto.kt
  database/src/main/kotlin/database/dto/PokerHandLogDto.kt
  database/src/main/kotlin/database/persistence/PokerHandLogPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultPokerHandLogPersistence.kt
  database/src/main/kotlin/database/poker/Card.kt
  database/src/main/kotlin/database/poker/Deck.kt
  database/src/main/kotlin/database/poker/HandEvaluator.kt
  database/src/main/kotlin/database/poker/PokerEngine.kt
  database/src/main/kotlin/database/poker/PokerTable.kt
  database/src/main/kotlin/database/poker/PokerTableRegistry.kt
  database/src/main/kotlin/database/service/PokerService.kt
  database/src/main/resources/db/migration/V22__poker_hand_log.sql
  database/src/test/kotlin/database/poker/CardTest.kt
  database/src/test/kotlin/database/poker/DeckTest.kt
  database/src/test/kotlin/database/poker/HandEvaluatorTest.kt
  database/src/test/kotlin/database/poker/PokerEngineTest.kt
  database/src/test/kotlin/database/poker/PokerTableRegistryTest.kt
  database/src/test/kotlin/database/service/PokerServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/button/buttons/PokerActionButton.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/PokerCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/PokerEmbeds.kt
  discord-bot/src/test/kotlin/bot/toby/button/buttons/PokerActionButtonTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/PokerCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/PokerEmbedsTest.kt
  web/src/main/kotlin/web/configuration/WebSecurityConfig.kt
  web/src/main/kotlin/web/controller/PokerController.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/kotlin/web/service/PokerWebService.kt
  web/src/main/resources/static/css/poker.css
  web/src/main/resources/static/js/poker-lobby.js
  web/src/main/resources/static/js/poker-table.js
  web/src/main/resources/templates/poker-guilds.html
  web/src/main/resources/templates/poker-lobby.html
  web/src/main/resources/templates/poker-table.html
  web/src/test/kotlin/web/controller/PokerControllerTest.kt
  web/src/test/kotlin/web/service/PokerWebServiceTest.kt
Labels: Bot, Buttons, Commands, Database, web, Tests

feat(duel): ping the opponent, lengthen TTL to 3 minutes, surface outgoing offers
  database/src/main/kotlin/database/duel/PendingDuelRegistry.kt
  database/src/test/kotlin/database/duel/PendingDuelRegistryTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/DuelCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/DuelEmbeds.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/DuelCommandTest.kt
  web/src/main/kotlin/web/controller/DuelController.kt
  web/src/main/kotlin/web/service/DuelWebService.kt
  web/src/main/resources/static/js/duel.js
  web/src/main/resources/templates/duel.html
  web/src/test/kotlin/web/controller/DuelControllerTest.kt
Labels: Bot, Commands, Database, web, Tests

test(poker): include PokerCommand and PokerActionButton in manager-discovery integration tests
  application/src/test/kotlin/integration/bot/ButtonManagerTest.kt
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
Labels: none

test(poker): mock startHand with the now param Kotlin synthesises from the default
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/PokerCommandTest.kt
Labels: Tests

fix(duel): use sendMessageEmbeds + addContent so the existing mock chain matches
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/DuelCommand.kt
Labels: Bot, Commands

feat(duel): ping opponent, 3-minute TTL, outgoing offers + cancel (#323)
  database/src/main/kotlin/database/duel/PendingDuelRegistry.kt
  database/src/test/kotlin/database/duel/PendingDuelRegistryTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/DuelCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/DuelEmbeds.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/DuelCommandTest.kt
  web/src/main/kotlin/web/controller/DuelController.kt
  web/src/main/kotlin/web/service/DuelWebService.kt
  web/src/main/resources/static/js/duel.js
  web/src/main/resources/templates/duel.html
  web/src/test/kotlin/web/controller/DuelControllerTest.kt
Labels: Bot, Commands, Database, web, Tests

fix(setconfig): add POKER_RAKE_PCT branch to the exhaustive when
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
Labels: Bot, Commands

feat(tip): ping the recipient when a tip lands in Discord
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/TipCommand.kt
Labels: Bot, Commands

feat(web): wire poker into the navbar, home page, casino lobby, and moderation config
  web/src/main/resources/templates/casino-guilds.html
  web/src/main/resources/templates/fragments/navbar.html
  web/src/main/resources/templates/home.html
  web/src/main/resources/templates/moderation.html
Labels: none

feat(tip): ping the recipient when a tip lands in Discord (#324)
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/TipCommand.kt
Labels: Bot, Commands

feat(tip): post a Discord channel notification for web-initiated tips
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/TipCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/TipEmbeds.kt
  discord-bot/src/main/kotlin/bot/toby/notify/WebTipNotifier.kt
  discord-bot/src/test/kotlin/bot/toby/notify/WebTipNotifierTest.kt
  web/src/main/kotlin/web/controller/TipController.kt
  web/src/main/kotlin/web/event/WebTipSentEvent.kt
  web/src/test/kotlin/web/controller/TipControllerTest.kt
Labels: Bot, Commands, web, Tests

feat(duel): post a Discord channel notification for web-initiated duel offers
  discord-bot/src/main/kotlin/bot/toby/notify/WebDuelOfferNotifier.kt
  discord-bot/src/test/kotlin/bot/toby/notify/WebDuelOfferNotifierTest.kt
  web/src/main/kotlin/web/controller/DuelController.kt
  web/src/main/kotlin/web/event/WebDuelOfferedEvent.kt
  web/src/test/kotlin/web/controller/DuelControllerTest.kt
Labels: Bot, web, Tests

chore(poker): clean up Qodana-flagged style nits
  database/src/main/kotlin/database/poker/HandEvaluator.kt
  database/src/main/kotlin/database/poker/PokerEngine.kt
  database/src/main/kotlin/database/poker/PokerTableRegistry.kt
  database/src/main/kotlin/database/service/PokerService.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/PokerCommand.kt
  web/src/main/kotlin/web/service/PokerWebService.kt
  web/src/test/kotlin/web/service/PokerWebServiceTest.kt
Labels: Bot, Commands, Database, web, Tests

feat(web): Discord channel notifications for web-initiated tips and duels (#325)
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/TipCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/TipEmbeds.kt
  discord-bot/src/main/kotlin/bot/toby/notify/WebDuelOfferNotifier.kt
  discord-bot/src/main/kotlin/bot/toby/notify/WebTipNotifier.kt
  discord-bot/src/test/kotlin/bot/toby/notify/WebDuelOfferNotifierTest.kt
  discord-bot/src/test/kotlin/bot/toby/notify/WebTipNotifierTest.kt
  web/src/main/kotlin/web/controller/DuelController.kt
  web/src/main/kotlin/web/controller/TipController.kt
  web/src/main/kotlin/web/event/WebDuelOfferedEvent.kt
  web/src/main/kotlin/web/event/WebTipSentEvent.kt
  web/src/test/kotlin/web/controller/DuelControllerTest.kt
  web/src/test/kotlin/web/controller/TipControllerTest.kt
Labels: Bot, Commands, web, Tests

refactor(config): collapse the get-or-create dance into ConfigService.upsertConfig
  application/src/test/kotlin/integration/database/ConfigServiceImplIntegrationTest.kt
  database/src/main/kotlin/database/service/ConfigService.kt
  database/src/main/kotlin/database/service/impl/DefaultConfigService.kt
  discord-bot/src/main/kotlin/bot/toby/activity/ActivityTrackingNotifier.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/moderation/SetConfigCommandTest.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
Labels: Bot, Commands, Database, web, Tests

refactor(config): collapse the get-or-create dance into ConfigService.upsertConfig (#326)
  application/src/test/kotlin/integration/database/ConfigServiceImplIntegrationTest.kt
  database/src/main/kotlin/database/service/ConfigService.kt
  database/src/main/kotlin/database/service/impl/DefaultConfigService.kt
  discord-bot/src/main/kotlin/bot/toby/activity/ActivityTrackingNotifier.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/moderation/SetConfigCommandTest.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
Labels: Bot, Commands, Database, web, Tests

refactor(user): extract UserService.lockUsersInAscendingOrder for deterministic multi-user locking
  database/src/main/kotlin/database/service/DuelService.kt
  database/src/main/kotlin/database/service/PokerService.kt
  database/src/main/kotlin/database/service/UserService.kt
  database/src/test/kotlin/database/service/UserServiceLockOrderTest.kt
Labels: Database, Tests

refactor(user): extract UserService.lockUsersInAscendingOrder for deterministic multi-user locking (#327)
  database/src/main/kotlin/database/service/DuelService.kt
  database/src/main/kotlin/database/service/PokerService.kt
  database/src/main/kotlin/database/service/UserService.kt
  database/src/test/kotlin/database/service/UserServiceLockOrderTest.kt
Labels: Database, Tests

refactor(web): extract WebGuildAccess so each controller stops re-implementing the auth+member guard
  web/src/main/kotlin/web/controller/CoinflipController.kt
  web/src/main/kotlin/web/controller/DiceController.kt
  web/src/main/kotlin/web/controller/DuelController.kt
  web/src/main/kotlin/web/controller/HighlowController.kt
  web/src/main/kotlin/web/controller/PokerController.kt
  web/src/main/kotlin/web/controller/ScratchController.kt
  web/src/main/kotlin/web/controller/SlotsController.kt
  web/src/main/kotlin/web/util/WebGuildAccess.kt
  web/src/test/kotlin/web/util/WebGuildAccessTest.kt
Labels: web, Tests

refactor(web): extract casino-result.js so each minigame's renderer stops re-implementing the same scaffold
  web/src/main/resources/static/js/casino-result.js
  web/src/main/resources/static/js/coinflip.js
  web/src/main/resources/static/js/dice.js
  web/src/main/resources/static/js/highlow.js
  web/src/main/resources/static/js/scratch.js
  web/src/main/resources/static/js/slots.js
  web/src/main/resources/templates/coinflip.html
  web/src/main/resources/templates/dice.html
  web/src/main/resources/templates/highlow.html
  web/src/main/resources/templates/scratch.html
  web/src/main/resources/templates/slots.html
  web/src/test/js/casino-result.test.js
  web/src/test/js/coinflip.test.js
  web/src/test/js/dice.test.js
  web/src/test/js/highlow.test.js
  web/src/test/js/scratch.test.js
  web/src/test/js/slots.test.js
Labels: none

refactor(commands): extract WagerCommandHelper for the shared casino-command scaffold
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/CoinflipCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/DiceCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/HighlowEmbeds.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/ScratchCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/SlotsCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/WagerCommandHelper.kt
Labels: Bot, Commands

chore(slots): drop the now-unused SlashCommandInteractionEvent import
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/SlotsCommand.kt
Labels: Bot, Commands

refactor(web): extract WebGuildAccess so each controller stops re-implementing the auth+member guard (#328)
  web/src/main/kotlin/web/controller/CoinflipController.kt
  web/src/main/kotlin/web/controller/DiceController.kt
  web/src/main/kotlin/web/controller/DuelController.kt
  web/src/main/kotlin/web/controller/HighlowController.kt
  web/src/main/kotlin/web/controller/PokerController.kt
  web/src/main/kotlin/web/controller/ScratchController.kt
  web/src/main/kotlin/web/controller/SlotsController.kt
  web/src/main/kotlin/web/util/WebGuildAccess.kt
  web/src/test/kotlin/web/util/WebGuildAccessTest.kt
Labels: web, Tests

refactor(commands): extract WagerCommandHelper for the shared casino slash-command scaffold (#330)
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/CoinflipCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/DiceCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/HighlowEmbeds.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/ScratchCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/SlotsCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/WagerCommandHelper.kt
Labels: Bot, Commands

refactor(web): extract casino-result.js so each minigame's renderer stops re-implementing the same scaffold (#329)
  web/src/main/resources/static/js/casino-result.js
  web/src/main/resources/static/js/coinflip.js
  web/src/main/resources/static/js/dice.js
  web/src/main/resources/static/js/highlow.js
  web/src/main/resources/static/js/scratch.js
  web/src/main/resources/static/js/slots.js
  web/src/main/resources/templates/coinflip.html
  web/src/main/resources/templates/dice.html
  web/src/main/resources/templates/highlow.html
  web/src/main/resources/templates/scratch.html
  web/src/main/resources/templates/slots.html
  web/src/test/js/casino-result.test.js
  web/src/test/js/coinflip.test.js
  web/src/test/js/dice.test.js
  web/src/test/js/highlow.test.js
  web/src/test/js/scratch.test.js
  web/src/test/js/slots.test.js
Labels: none

fix id parsing in tip and duel pages which rounded off discord Ids and broke the web versions from working
  database/src/main/kotlin/database/service/TipService.kt
  web/src/main/kotlin/web/controller/DuelController.kt
  web/src/main/kotlin/web/controller/TipController.kt
  web/src/main/kotlin/web/service/EconomyWebService.kt
  web/src/main/resources/static/js/duel.js
  web/src/main/resources/static/js/tip.js
  web/src/test/kotlin/web/controller/DuelControllerTest.kt
  web/src/test/kotlin/web/controller/TipControllerTest.kt
Labels: Database, web, Tests

fix id parsing in tip and duel pages which rounded off discord Ids and broke the web versions from working (#331)
  database/src/main/kotlin/database/service/TipService.kt
  web/src/main/kotlin/web/controller/DuelController.kt
  web/src/main/kotlin/web/controller/TipController.kt
  web/src/main/kotlin/web/service/EconomyWebService.kt
  web/src/main/resources/static/js/duel.js
  web/src/main/resources/static/js/tip.js
  web/src/test/kotlin/web/controller/DuelControllerTest.kt
  web/src/test/kotlin/web/controller/TipControllerTest.kt
Labels: Database, web, Tests
