Repository ml404/toby-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Config, Bot, Buttons, Commands, Common, Core-api, Database, Helpers, Lavaplayer, Managers, web, Tests

tune(market): more volatile, slight upward bias, gentler trade impact (#282)
  database/src/main/kotlin/database/economy/TobyCoinEngine.kt
  database/src/test/kotlin/database/economy/TobyCoinEngineTest.kt
Labels: Database, Tests

fix(voice): reconcile open sessions on bot ready so deploys don't eat voice time
  discord-bot/src/main/kotlin/bot/toby/handler/VoiceEventHandler.kt
  discord-bot/src/test/kotlin/bot/toby/handler/VoiceEventHandlerTest.kt
Labels: Bot, Tests

test: stop mockk from touching the bot relaxed mock inside verify scope
  discord-bot/src/test/kotlin/bot/toby/handler/VoiceEventHandlerTest.kt
Labels: Tests

fix(voice): reconcile open sessions on bot ready (deploys eating voice time) (#283)
  discord-bot/src/main/kotlin/bot/toby/handler/VoiceEventHandler.kt
  discord-bot/src/test/kotlin/bot/toby/handler/VoiceEventHandlerTest.kt
Labels: Bot, Tests

fix(voice): switch shutdown hook to ContextClosedEvent + add visibility
  discord-bot/src/main/kotlin/bot/toby/handler/VoiceEventHandler.kt
  discord-bot/src/main/kotlin/bot/toby/voice/VoiceSessionShutdownHook.kt
  discord-bot/src/test/kotlin/bot/toby/voice/VoiceSessionShutdownHookTest.kt
Labels: Bot, Tests

fix(web): voice 'this month' was actually summing LAST month — off-by-one in date range
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
Labels: web, Tests

fix(voice): switch shutdown hook to ContextClosedEvent + add visibility (#284)
  discord-bot/src/main/kotlin/bot/toby/handler/VoiceEventHandler.kt
  discord-bot/src/main/kotlin/bot/toby/voice/VoiceSessionShutdownHook.kt
  discord-bot/src/test/kotlin/bot/toby/voice/VoiceSessionShutdownHookTest.kt
Labels: Bot, Tests

fix(web): voice 'this month' was actually summing LAST month — off-by-one in date range (#285)
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
Labels: web, Tests

fix(web): commands wiki uses the shared navbar fragment
  web/src/main/kotlin/web/controller/CommandController.kt
  web/src/main/kotlin/web/controller/CommandWikiController.kt
  web/src/main/resources/templates/commands.html
Labels: web

test: drop CommandControllerTest's wiki-rendering tests after move to template
  application/src/test/kotlin/web/controller/CommandControllerTest.kt
Labels: none

fix(web): commands wiki uses the shared navbar fragment (#286)
  application/src/test/kotlin/web/controller/CommandControllerTest.kt
  web/src/main/kotlin/web/controller/CommandController.kt
  web/src/main/kotlin/web/controller/CommandWikiController.kt
  web/src/main/resources/templates/commands.html
Labels: web

fix(web): cache Discord guild fetch; log non-200; reorder navbar
  web/build.gradle
  web/src/main/kotlin/web/service/IntroWebService.kt
  web/src/main/resources/templates/fragments/navbar.html
Labels: Config, web

fix(web): cache Discord guild fetch; log non-200; reorder navbar (#287)
  web/build.gradle
  web/src/main/kotlin/web/service/IntroWebService.kt
  web/src/main/resources/templates/fragments/navbar.html
Labels: Config, web

feat(web): owner can toggle game-activity tracking from the moderation UI
  common/src/main/kotlin/common/events/ActivityTrackingEnabled.kt
  discord-bot/src/main/kotlin/bot/toby/activity/ActivityTrackingNotifier.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/resources/templates/moderation.html
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
Labels: Bot, Common, web, Tests

feat(web): owner can toggle game-activity tracking from the moderation UI (#288)
  common/src/main/kotlin/common/events/ActivityTrackingEnabled.kt
  discord-bot/src/main/kotlin/bot/toby/activity/ActivityTrackingNotifier.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/resources/templates/moderation.html
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
Labels: Bot, Common, web, Tests

fix(activity): break Spring startup cycle that crashed prod after #288
  discord-bot/src/main/kotlin/bot/toby/activity/ActivityTrackingNotifier.kt
Labels: Bot

fix(web): leaderboard relabel + guild-picker top-earner uses this-month
  web/src/main/kotlin/web/service/LeaderboardWebService.kt
  web/src/main/resources/templates/home.html
  web/src/main/resources/templates/leaderboard.html
  web/src/main/resources/templates/leaderboards.html
  web/src/test/kotlin/web/service/LeaderboardWebServiceTest.kt
Labels: web, Tests

fix(activity): break Spring startup cycle that crashed prod after #288 (#289)
  discord-bot/src/main/kotlin/bot/toby/activity/ActivityTrackingNotifier.kt
Labels: Bot

fix(web): leaderboard relabel + guild-picker top-earner uses this-month (#290)
  web/src/main/kotlin/web/service/LeaderboardWebService.kt
  web/src/main/resources/templates/home.html
  web/src/main/resources/templates/leaderboard.html
  web/src/main/resources/templates/leaderboards.html
  web/src/test/kotlin/web/service/LeaderboardWebServiceTest.kt
Labels: web, Tests

fix(web): 'Most active this month' card silently showed lifetime leader
  web/src/main/kotlin/web/service/LeaderboardWebService.kt
  web/src/test/kotlin/web/service/LeaderboardWebServiceTest.kt
Labels: web, Tests

fix(web): clarify 'Most active' card is specifically voice time
  web/src/main/resources/templates/leaderboard.html
Labels: none

fix(web): 'Most active this month' card silently showed lifetime leader (#291)
  web/src/main/kotlin/web/service/LeaderboardWebService.kt
  web/src/main/resources/templates/leaderboard.html
  web/src/test/kotlin/web/service/LeaderboardWebServiceTest.kt
Labels: web, Tests

feat(market): trade markers + Recent trades list on the price chart
  application/src/test/kotlin/integration/database/EconomyTradeServiceIntegrationTest.kt
  application/src/test/kotlin/integration/database/TobyCoinTradePersistenceIntegrationTest.kt
  database/src/main/kotlin/database/dto/TobyCoinTradeDto.kt
  database/src/main/kotlin/database/persistence/TobyCoinTradePersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultTobyCoinTradePersistence.kt
  database/src/main/kotlin/database/service/EconomyTradeService.kt
  database/src/main/kotlin/database/service/TobyCoinMarketService.kt
  database/src/main/kotlin/database/service/impl/DefaultTobyCoinMarketService.kt
  database/src/main/resources/db/migration/V17__toby_coin_trade.sql
  discord-bot/src/main/kotlin/bot/toby/scheduling/TobyCoinPriceTickJob.kt
  web/src/main/kotlin/web/controller/EconomyController.kt
  web/src/main/kotlin/web/service/EconomyWebService.kt
  web/src/main/resources/static/css/economy.css
  web/src/main/resources/static/js/economy.js
  web/src/main/resources/templates/economy.html
  web/src/main/resources/templates/privacy.html
  web/src/test/kotlin/web/service/EconomyWebServiceTest.kt
Labels: Bot, Database, web, Tests

fix(test): disambiguate getMemberById(any<Long>()) — JDA overload ambiguity broke :web:compileTestKotlin
  web/src/test/kotlin/web/service/EconomyWebServiceTest.kt
Labels: Tests

test: add toby_coin_trade DDL to test schema.sql
  application/src/test/resources/schema.sql
Labels: none

test: deterministic Instant in trade persistence tests
  application/src/test/kotlin/integration/database/TobyCoinTradePersistenceIntegrationTest.kt
Labels: none

test: avoid Instant.EPOCH as lower bound on H2
  application/src/test/kotlin/integration/database/TobyCoinTradePersistenceIntegrationTest.kt
Labels: none

feat(wiki): surface Economy commands in /commands/wiki
  core-api/src/main/kotlin/core/managers/CommandManager.kt
  discord-bot/src/main/kotlin/bot/toby/managers/DefaultCommandManager.kt
  web/src/main/kotlin/web/controller/CommandWikiController.kt
Labels: Bot, Core-api, Managers, web

chore(market): retain trades alongside price history (~12 months)
  discord-bot/src/main/kotlin/bot/toby/scheduling/TobyCoinPriceTickJob.kt
  web/src/main/resources/templates/privacy.html
Labels: Bot

feat(market): trade markers + Recent trades list on the price chart (#292)
  application/src/test/kotlin/integration/database/EconomyTradeServiceIntegrationTest.kt
  application/src/test/kotlin/integration/database/TobyCoinTradePersistenceIntegrationTest.kt
  application/src/test/resources/schema.sql
  core-api/src/main/kotlin/core/managers/CommandManager.kt
  database/src/main/kotlin/database/dto/TobyCoinTradeDto.kt
  database/src/main/kotlin/database/persistence/TobyCoinTradePersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultTobyCoinTradePersistence.kt
  database/src/main/kotlin/database/service/EconomyTradeService.kt
  database/src/main/kotlin/database/service/TobyCoinMarketService.kt
  database/src/main/kotlin/database/service/impl/DefaultTobyCoinMarketService.kt
  database/src/main/resources/db/migration/V17__toby_coin_trade.sql
  discord-bot/src/main/kotlin/bot/toby/managers/DefaultCommandManager.kt
  discord-bot/src/main/kotlin/bot/toby/scheduling/TobyCoinPriceTickJob.kt
  web/src/main/kotlin/web/controller/CommandWikiController.kt
  web/src/main/kotlin/web/controller/EconomyController.kt
  web/src/main/kotlin/web/service/EconomyWebService.kt
  web/src/main/resources/static/css/economy.css
  web/src/main/resources/static/js/economy.js
  web/src/main/resources/templates/economy.html
  web/src/main/resources/templates/privacy.html
  web/src/test/kotlin/web/service/EconomyWebServiceTest.kt
Labels: Bot, Core-api, Database, Managers, web, Tests

test: run real Flyway migrations in tests via Testcontainers + Postgres
  application/build.gradle
  application/src/test/kotlin/integration/database/BrotherServiceImplIntegrationTest.kt
  application/src/test/kotlin/integration/database/ConfigServiceImplIntegrationTest.kt
  application/src/test/kotlin/integration/database/EconomyTradeServiceIntegrationTest.kt
  application/src/test/kotlin/integration/database/ExcuseServiceImplIntegrationTest.kt
  application/src/test/kotlin/integration/database/MonthlyCreditSnapshotServiceIntegrationTest.kt
  application/src/test/kotlin/integration/database/TitlesBuyWithTobyCoinIntegrationTest.kt
  application/src/test/kotlin/integration/database/TobyCoinTradePersistenceIntegrationTest.kt
  application/src/test/kotlin/integration/database/UserServiceImplIntegrationTest.kt
  application/src/test/resources/application-test.properties
  application/src/test/resources/schema.sql
  database/build.gradle
  database/src/test/kotlin/database/configuration/TestDatabaseConfig.kt
Labels: Config, Tests

test: run real Flyway migrations in tests via Testcontainers + Postgres (#293)
  application/build.gradle
  application/src/test/kotlin/integration/database/BrotherServiceImplIntegrationTest.kt
  application/src/test/kotlin/integration/database/ConfigServiceImplIntegrationTest.kt
  application/src/test/kotlin/integration/database/EconomyTradeServiceIntegrationTest.kt
  application/src/test/kotlin/integration/database/ExcuseServiceImplIntegrationTest.kt
  application/src/test/kotlin/integration/database/MonthlyCreditSnapshotServiceIntegrationTest.kt
  application/src/test/kotlin/integration/database/TitlesBuyWithTobyCoinIntegrationTest.kt
  application/src/test/kotlin/integration/database/TobyCoinTradePersistenceIntegrationTest.kt
  application/src/test/kotlin/integration/database/UserServiceImplIntegrationTest.kt
  application/src/test/resources/application-test.properties
  application/src/test/resources/schema.sql
  database/build.gradle
  database/src/test/kotlin/database/configuration/TestDatabaseConfig.kt
Labels: Config, Tests

feat(web): Casino + Economy navbar dropdowns
  web/src/main/resources/static/css/nav.css
  web/src/main/resources/static/js/home.js
  web/src/main/resources/templates/fragments/navbar.html
  web/src/test/js/navbar.test.js
Labels: none

feat(web): Casino + Economy navbar dropdowns (#294)
  web/src/main/resources/static/css/nav.css
  web/src/main/resources/static/js/home.js
  web/src/main/resources/templates/fragments/navbar.html
  web/src/test/js/navbar.test.js
Labels: none

feat: /slots minigame — Discord command + web UI
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  database/build.gradle
  database/src/main/kotlin/database/economy/SlotMachine.kt
  database/src/main/kotlin/database/service/SlotsService.kt
  database/src/test/kotlin/database/economy/SlotMachineTest.kt
  database/src/test/kotlin/database/service/SlotsServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/SlotsCommand.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/SlotsCommandTest.kt
  web/src/main/kotlin/web/controller/CasinoController.kt
  web/src/main/kotlin/web/controller/SlotsController.kt
  web/src/main/resources/static/css/slots.css
  web/src/main/resources/static/js/slots.js
  web/src/main/resources/templates/casino-guilds.html
  web/src/main/resources/templates/fragments/navbar.html
  web/src/main/resources/templates/slots.html
  web/src/test/js/navbar.test.js
  web/src/test/kotlin/web/controller/SlotsControllerTest.kt
Labels: Config, Bot, Commands, Database, web, Tests

feat: /slots minigame — Discord command + web UI (#295)
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  database/build.gradle
  database/src/main/kotlin/database/economy/SlotMachine.kt
  database/src/main/kotlin/database/service/SlotsService.kt
  database/src/test/kotlin/database/economy/SlotMachineTest.kt
  database/src/test/kotlin/database/service/SlotsServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/SlotsCommand.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/SlotsCommandTest.kt
  web/src/main/kotlin/web/controller/CasinoController.kt
  web/src/main/kotlin/web/controller/SlotsController.kt
  web/src/main/resources/static/css/slots.css
  web/src/main/resources/static/js/slots.js
  web/src/main/resources/templates/casino-guilds.html
  web/src/main/resources/templates/fragments/navbar.html
  web/src/main/resources/templates/slots.html
  web/src/test/js/navbar.test.js
  web/src/test/kotlin/web/controller/SlotsControllerTest.kt
Labels: Config, Bot, Commands, Database, web, Tests

feat: /coinflip minigame — Discord command + web UI
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  database/src/main/kotlin/database/economy/Coinflip.kt
  database/src/main/kotlin/database/service/CoinflipService.kt
  database/src/test/kotlin/database/economy/CoinflipTest.kt
  database/src/test/kotlin/database/service/CoinflipServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/CoinflipCommand.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/CoinflipCommandTest.kt
  web/src/main/kotlin/web/controller/CoinflipController.kt
  web/src/main/resources/static/css/coinflip.css
  web/src/main/resources/static/css/leaderboard.css
  web/src/main/resources/static/js/coinflip.js
  web/src/main/resources/templates/casino-guilds.html
  web/src/main/resources/templates/coinflip.html
  web/src/main/resources/templates/fragments/navbar.html
  web/src/test/js/navbar.test.js
  web/src/test/kotlin/web/controller/CoinflipControllerTest.kt
Labels: Bot, Commands, Database, web, Tests

feat: /coinflip minigame — Discord command + web UI (#296)
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  database/src/main/kotlin/database/economy/Coinflip.kt
  database/src/main/kotlin/database/service/CoinflipService.kt
  database/src/test/kotlin/database/economy/CoinflipTest.kt
  database/src/test/kotlin/database/service/CoinflipServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/CoinflipCommand.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/CoinflipCommandTest.kt
  web/src/main/kotlin/web/controller/CoinflipController.kt
  web/src/main/resources/static/css/coinflip.css
  web/src/main/resources/static/css/leaderboard.css
  web/src/main/resources/static/js/coinflip.js
  web/src/main/resources/templates/casino-guilds.html
  web/src/main/resources/templates/coinflip.html
  web/src/main/resources/templates/fragments/navbar.html
  web/src/test/js/navbar.test.js
  web/src/test/kotlin/web/controller/CoinflipControllerTest.kt
Labels: Bot, Commands, Database, web, Tests

fix(web): leaderboard renders negative this-month credit deltas
  web/src/main/resources/templates/leaderboard.html
Labels: none

fix(web): leaderboard renders negative this-month credit deltas (#297)
  web/src/main/resources/templates/leaderboard.html
Labels: none

.github/labeler.yml:

Documentation:
- '**/*.md'

Config:
 - '**/*.properties'
 - '**/*.gradle'

Bot:
 - discord-bot/src/main/kotlin/**

Buttons:
 - discord-bot/src/main/kotlin/bot/toby/button/**

Commands:
 - discord-bot/src/main/kotlin/bot/toby/command/**

Common:
 - common/src/main/kotlin/**

Core-api:
 - core-api/src/main/kotlin/**

Database:
 - database/src/main/kotlin/database/**

Helpers:
 - discord-bot/src/main/kotlin/bot/toby/helpers/*

Lavaplayer:
 - discord-bot/src/main/kotlin/bot/toby/lavaplayer/**

Managers:
 - discord-bot/src/main/kotlin/bot/toby/managers/*

web:
 - web/src/main/kotlin/**

Tests:
 - common/src/test/kotlin/**
 - core-api/src/test/kotlin/**
 - database/src/test/kotlin/**
 - discord-bot/src/test/kotlin/**
 - web/src/test/kotlin/**
