Repository ml404/toby-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Config, Commands, Buttons, Helpers, Managers, Database, Lavaplayer, Tests

.github/labeler.yml:

Documentation:
- '**/*.md'

Config:
 - '**/*.properties'
 - '**/*.gradle'

Commands:
  - src/main/kotlin/toby/command/**

Buttons:
 - src/main/kotlin/toby/button/**

Helpers:
  - src/main/kotlin/toby/helpers/*

Managers:
  - src/main/kotlin/toby/managers/*

Database:
  - src/main/kotlin/toby/jpa/**

Lavaplayer:
  - src/main/kotlin/toby/lavaplayer/**

Tests:
  -src/test/kotlin/**

cleanup
  src/main/kotlin/toby/jpa/persistence/impl/UserPersistenceImpl.kt
Labels: Database

null-safeties-on-persistence (#130)
  src/main/kotlin/toby/helpers/MusicPlayerHelper.kt
  src/main/kotlin/toby/jpa/persistence/IMusicFilePersistence.kt
  src/main/kotlin/toby/jpa/persistence/impl/MusicFilePersistenceImpl.kt
  src/main/kotlin/toby/jpa/persistence/impl/UserPersistenceImpl.kt
  src/main/kotlin/toby/jpa/service/impl/MusicFileServiceImpl.kt
Labels: Helpers, Database

cleanup
  src/main/kotlin/toby/BotMain.kt
  src/main/kotlin/toby/jpa/configuration/DatabaseConfig.kt
Labels: Database

cleanup
  Dockerfile
  docker-compose.yml
Labels: none

sensible looking code
  build.gradle
  src/main/kotlin/toby/command/commands/dnd/DnDCommand.kt
  src/main/kotlin/toby/dto/web/dnd/DnDResponse.kt
  src/main/kotlin/toby/dto/web/dnd/Feature.kt
  src/main/kotlin/toby/dto/web/dnd/Information.kt
  src/main/kotlin/toby/dto/web/dnd/Rule.kt
  src/main/kotlin/toby/dto/web/dnd/SpellClasses.kt
  src/main/kotlin/toby/helpers/AsyncOperation.kt
  src/main/kotlin/toby/helpers/Cache.kt
  src/main/kotlin/toby/helpers/DnDHelper.kt
  src/main/kotlin/toby/menu/menus/DndMenu.kt
  src/test/kotlin/toby/command/commands/fetch/DnDCommandTest.kt
  src/test/kotlin/toby/helpers/DnDHelperTest.kt
Labels: Config, Commands, Helpers

coroutine reworking for the DnDHelper class
  src/main/kotlin/toby/command/commands/dnd/DnDCommand.kt
  src/main/kotlin/toby/dto/web/dnd/Condition.kt
  src/main/kotlin/toby/helpers/DnDHelper.kt
  src/main/kotlin/toby/helpers/JsonParser.kt
  src/main/kotlin/toby/menu/menus/DndMenu.kt
  src/test/kotlin/toby/command/commands/fetch/DnDCommandTest.kt
  src/test/kotlin/toby/helpers/DnDHelperTest.kt
  src/test/kotlin/toby/helpers/JsonParserTest.kt
Labels: Commands, Helpers

just the DnDCommand not working now
  src/main/kotlin/toby/command/commands/dnd/DnDCommand.kt
  src/main/kotlin/toby/helpers/AsyncOperation.kt
  src/main/kotlin/toby/helpers/DnDHelper.kt
  src/main/kotlin/toby/helpers/HttpHelper.kt
  src/main/kotlin/toby/menu/menus/DndMenu.kt
  src/test/kotlin/coroutines/MainCoroutineExtension.kt
  src/test/kotlin/toby/command/commands/fetch/DnDCommandTest.kt
  src/test/kotlin/toby/helpers/DnDHelperTest.kt
  src/test/kotlin/toby/helpers/HttpHelperTest.kt
  src/test/kotlin/toby/menu/menus/DndMenuTest.kt
Labels: Commands, Helpers

dndCommand successful code path worked
  src/main/kotlin/toby/command/commands/dnd/DnDCommand.kt
  src/main/kotlin/toby/helpers/DnDHelper.kt
  src/main/kotlin/toby/menu/menus/DndMenu.kt
  src/test/kotlin/toby/command/commands/fetch/DnDCommandTest.kt
Labels: Commands, Helpers

dndCommand successful code path worked
  src/main/kotlin/toby/command/commands/dnd/DnDCommand.kt
  src/main/kotlin/toby/helpers/DnDHelper.kt
  src/main/kotlin/toby/helpers/HttpHelper.kt
  src/main/kotlin/toby/menu/menus/DndMenu.kt
  src/test/kotlin/toby/command/commands/fetch/DnDCommandTest.kt
Labels: Commands, Helpers

fix up DnDMenu
  src/main/kotlin/toby/menu/menus/DndMenu.kt
  src/test/kotlin/toby/menu/menus/DndMenuTest.kt
Labels: none

fix up DnDMenu
  src/main/kotlin/toby/command/commands/dnd/DnDCommand.kt
  src/main/kotlin/toby/helpers/DnDHelper.kt
  src/main/kotlin/toby/helpers/HttpHelper.kt
  src/main/kotlin/toby/menu/menus/DndMenu.kt
  src/test/kotlin/toby/helpers/DnDHelperTest.kt
Labels: Commands, Helpers

2/3 commands working
  src/main/kotlin/toby/command/commands/dnd/DnDCommand.kt
  src/test/kotlin/toby/command/commands/fetch/DnDCommandTest.kt
Labels: Commands

all tests pass
  src/test/kotlin/toby/command/commands/fetch/DnDCommandTest.kt
Labels: none

more logging
  src/main/kotlin/toby/helpers/DnDHelper.kt
  src/main/kotlin/toby/menu/menus/DndMenu.kt
Labels: Helpers

more logging again
  src/main/kotlin/toby/handler/Handler.kt
  src/main/kotlin/toby/managers/MenuManager.kt
  src/main/kotlin/toby/menu/menus/DndMenu.kt
Labels: Managers

adjust menu adding logic
  src/main/kotlin/toby/managers/MenuManager.kt
Labels: Managers

filter needed to be adjusted
  src/main/kotlin/toby/managers/MenuManager.kt
  src/test/kotlin/toby/managers/MenuManagerTest.kt
Labels: Managers

coroutine-reworking (#132)
  build.gradle
  src/main/kotlin/toby/command/commands/dnd/DnDCommand.kt
  src/main/kotlin/toby/dto/web/dnd/Condition.kt
  src/main/kotlin/toby/dto/web/dnd/DnDResponse.kt
  src/main/kotlin/toby/dto/web/dnd/Feature.kt
  src/main/kotlin/toby/dto/web/dnd/Information.kt
  src/main/kotlin/toby/dto/web/dnd/SpellClasses.kt
  src/main/kotlin/toby/handler/Handler.kt
  src/main/kotlin/toby/helpers/Cache.kt
  src/main/kotlin/toby/helpers/DnDHelper.kt
  src/main/kotlin/toby/helpers/HttpHelper.kt
  src/main/kotlin/toby/helpers/JsonParser.kt
  src/main/kotlin/toby/managers/MenuManager.kt
  src/main/kotlin/toby/menu/menus/DndMenu.kt
  src/test/kotlin/coroutines/MainCoroutineExtension.kt
  src/test/kotlin/toby/command/commands/fetch/DnDCommandTest.kt
  src/test/kotlin/toby/helpers/DnDHelperTest.kt
  src/test/kotlin/toby/helpers/HttpHelperTest.kt
  src/test/kotlin/toby/helpers/JsonParserTest.kt
  src/test/kotlin/toby/managers/MenuManagerTest.kt
  src/test/kotlin/toby/menu/menus/DndMenuTest.kt
Labels: Config, Commands, Helpers, Managers

swapped to ktor, only 3 tests not working
  build.gradle
  src/main/kotlin/toby/BotMain.kt
  src/main/kotlin/toby/command/commands/dnd/DnDCommand.kt
  src/main/kotlin/toby/configuration/AppConfig.kt
  src/main/kotlin/toby/configuration/CachingConfig.kt
  src/main/kotlin/toby/configuration/DatabaseConfig.kt
  src/main/kotlin/toby/configuration/TestCachingConfig.kt
  src/main/kotlin/toby/configuration/TestDataSourceConfig.kt
  src/main/kotlin/toby/handler/Handler.kt
  src/main/kotlin/toby/helpers/HttpHelper.kt
  src/main/kotlin/toby/managers/CommandManager.kt
  src/main/kotlin/toby/managers/MenuManager.kt
  src/main/kotlin/toby/menu/menus/DndMenu.kt
  src/test/kotlin/toby/button/ButtonTest.kt
  src/test/kotlin/toby/command/commands/fetch/DnDCommandTest.kt
  src/test/kotlin/toby/command/commands/fetch/TestHttpHelperHelper.kt
  src/test/kotlin/toby/handler/HandlerTest.kt
  src/test/kotlin/toby/helpers/HttpHelperTest.kt
  src/test/kotlin/toby/managers/ButtonManagerTest.kt
  src/test/kotlin/toby/managers/CommandManagerTest.kt
  src/test/kotlin/toby/managers/MenuManagerTest.kt
  src/test/kotlin/toby/menu/menus/DndMenuTest.kt
Labels: Config, Commands, Helpers, Managers

DnDMenu test not working only
  src/main/kotlin/toby/command/commands/dnd/DnDCommand.kt
  src/main/kotlin/toby/menu/menus/DndMenu.kt
  src/test/kotlin/toby/command/commands/fetch/DnDCommandTest.kt
  src/test/kotlin/toby/command/commands/fetch/TestHttpHelperHelper.kt
  src/test/kotlin/toby/helpers/HttpHelperTest.kt
  src/test/kotlin/toby/menu/menus/DndMenuTest.kt
Labels: Commands

small dndMenuRefactoring
  src/main/kotlin/toby/menu/menus/DndMenu.kt
  src/test/kotlin/toby/command/commands/fetch/DnDCommandTest.kt
  src/test/kotlin/toby/menu/menus/DndMenuTest.kt
Labels: none

all tests working
  src/main/kotlin/toby/command/commands/dnd/DnDCommand.kt
  src/main/kotlin/toby/managers/MenuManager.kt
  src/main/kotlin/toby/menu/menus/DndMenu.kt
  src/main/kotlin/toby/menu/menus/dnd/DnDApiCoroutineHandler.kt
  src/main/kotlin/toby/menu/menus/dnd/DnDEventProcessor.kt
  src/main/kotlin/toby/menu/menus/dnd/DndMenu.kt
  src/test/kotlin/toby/command/commands/fetch/DnDCommandTest.kt
  src/test/kotlin/toby/command/commands/fetch/TestHttpHelperHelper.kt
  src/test/kotlin/toby/helpers/DnDHelperTest.kt
  src/test/kotlin/toby/helpers/HttpHelperTest.kt
  src/test/kotlin/toby/managers/MenuManagerTest.kt
  src/test/kotlin/toby/menu/menus/DndMenuTest.kt
  src/test/kotlin/toby/menu/menus/dnd/DndApiCoroutineHandlerTest.kt
  src/test/kotlin/toby/menu/menus/dnd/DndEventProcessorTest.kt
Labels: Commands, Managers

Extra composition for the DnDCommand
  src/main/kotlin/toby/command/commands/dnd/DnDCommand.kt
  src/main/kotlin/toby/command/commands/dnd/DnDCommandQueryHandler.kt
  src/test/kotlin/toby/command/commands/fetch/DnDCommandTest.kt
  src/test/kotlin/toby/command/commands/fetch/dnd/DnDCommandQueryHandlerTest.kt
  src/test/kotlin/toby/command/commands/fetch/dnd/DnDCommandTest.kt
Labels: Commands

cleanup
  src/main/kotlin/toby/menu/menus/dnd/DnDApiCoroutineHandler.kt
  src/test/kotlin/toby/menu/menus/dnd/DndApiCoroutineHandlerTest.kt
Labels: none

use-ktor (#133)
  build.gradle
  src/main/kotlin/toby/BotMain.kt
  src/main/kotlin/toby/command/commands/dnd/DnDCommand.kt
  src/main/kotlin/toby/command/commands/dnd/DnDCommandQueryHandler.kt
  src/main/kotlin/toby/configuration/AppConfig.kt
  src/main/kotlin/toby/configuration/CachingConfig.kt
  src/main/kotlin/toby/configuration/DatabaseConfig.kt
  src/main/kotlin/toby/configuration/TestCachingConfig.kt
  src/main/kotlin/toby/configuration/TestDataSourceConfig.kt
  src/main/kotlin/toby/handler/Handler.kt
  src/main/kotlin/toby/helpers/HttpHelper.kt
  src/main/kotlin/toby/managers/CommandManager.kt
  src/main/kotlin/toby/managers/MenuManager.kt
  src/main/kotlin/toby/menu/menus/DndMenu.kt
  src/main/kotlin/toby/menu/menus/dnd/DnDApiCoroutineHandler.kt
  src/main/kotlin/toby/menu/menus/dnd/DnDEventProcessor.kt
  src/main/kotlin/toby/menu/menus/dnd/DndMenu.kt
  src/test/kotlin/toby/button/ButtonTest.kt
  src/test/kotlin/toby/command/commands/fetch/DnDCommandTest.kt
  src/test/kotlin/toby/command/commands/fetch/TestHttpHelperHelper.kt
  src/test/kotlin/toby/command/commands/fetch/dnd/DnDCommandQueryHandlerTest.kt
  src/test/kotlin/toby/command/commands/fetch/dnd/DnDCommandTest.kt
  src/test/kotlin/toby/handler/HandlerTest.kt
  src/test/kotlin/toby/helpers/DnDHelperTest.kt
  src/test/kotlin/toby/helpers/HttpHelperTest.kt
  src/test/kotlin/toby/managers/ButtonManagerTest.kt
  src/test/kotlin/toby/managers/CommandManagerTest.kt
  src/test/kotlin/toby/managers/MenuManagerTest.kt
  src/test/kotlin/toby/menu/menus/DndMenuTest.kt
  src/test/kotlin/toby/menu/menus/dnd/DndApiCoroutineHandlerTest.kt
  src/test/kotlin/toby/menu/menus/dnd/DndEventProcessorTest.kt
Labels: Config, Commands, Helpers, Managers

fix DnD dto object isValidReturnObject methods
  .idea/misc.xml
  src/main/kotlin/toby/dto/web/dnd/Condition.kt
  src/main/kotlin/toby/dto/web/dnd/Feature.kt
  src/main/kotlin/toby/dto/web/dnd/Rule.kt
  src/main/kotlin/toby/dto/web/dnd/SpellClasses.kt
Labels: none

JDA version bump
  build.gradle
Labels: Config

update youtube audio source manager
  .idea/jarRepositories.xml
  build.gradle
  src/main/kotlin/toby/lavaplayer/PlayerManager.kt
Labels: Config, Lavaplayer

update youtube audio source manager
  src/main/kotlin/toby/lavaplayer/PlayerManager.kt
Labels: Lavaplayer

update stickiness
  src/main/kotlin/toby/command/commands/music/JoinCommand.kt
  src/main/kotlin/toby/command/commands/music/LeaveCommand.kt
  src/main/kotlin/toby/handler/Handler.kt
Labels: Commands

update stickiness
  src/main/kotlin/toby/handler/Handler.kt
Labels: none

refactoring the botmain into something more sensible for jda to be accessed in the handler.
  src/main/kotlin/toby/BotMain.kt
  src/main/kotlin/toby/configuration/BotConfiguration.kt
  src/main/kotlin/toby/handler/Handler.kt
  src/test/kotlin/toby/handler/HandlerTest.kt
Labels: none

split out the handler
  src/main/kotlin/toby/BotMain.kt
  src/main/kotlin/toby/handler/MessageEventHandler.kt
  src/main/kotlin/toby/handler/StartUpHandler.kt
  src/main/kotlin/toby/handler/VoiceEventHandler.kt
  src/test/kotlin/toby/handler/MessageEventHandlerTest.kt
  src/test/kotlin/toby/handler/StartUpHandlerTest.kt
  src/test/kotlin/toby/handler/VoiceEventHandlerTest.kt
Labels: none

bean-pilled
  src/main/kotlin/toby/BotMain.kt
  src/main/kotlin/toby/configuration/ManagerConfig.kt
  src/main/kotlin/toby/handler/MessageEventHandler.kt
  src/main/kotlin/toby/handler/StartUpHandler.kt
  src/main/kotlin/toby/managers/ButtonManager.kt
  src/main/kotlin/toby/managers/CommandManager.kt
  src/main/kotlin/toby/managers/MenuManager.kt
  src/test/kotlin/toby/handler/MessageEventHandlerTest.kt
  src/test/kotlin/toby/handler/StartUpHandlerTest.kt
Labels: Managers

adjust logging
  src/main/kotlin/toby/handler/StartUpHandler.kt
Labels: none

adjust logging
  src/main/kotlin/toby/handler/StartUpHandler.kt
Labels: none

remove on voice move rejoining
  src/main/kotlin/toby/handler/VoiceEventHandler.kt
Labels: none

remove on voice move rejoining
  src/main/kotlin/toby/command/commands/music/JoinCommand.kt
  src/main/kotlin/toby/command/commands/music/LeaveCommand.kt
  src/main/kotlin/toby/handler/VoiceEventHandler.kt
Labels: Commands

refactor bean initialisation (#136)
  src/main/kotlin/toby/BotMain.kt
  src/main/kotlin/toby/command/commands/music/JoinCommand.kt
  src/main/kotlin/toby/command/commands/music/LeaveCommand.kt
  src/main/kotlin/toby/configuration/BotConfiguration.kt
  src/main/kotlin/toby/configuration/ManagerConfig.kt
  src/main/kotlin/toby/handler/MessageEventHandler.kt
  src/main/kotlin/toby/handler/StartUpHandler.kt
  src/main/kotlin/toby/handler/VoiceEventHandler.kt
  src/main/kotlin/toby/managers/ButtonManager.kt
  src/main/kotlin/toby/managers/CommandManager.kt
  src/main/kotlin/toby/managers/MenuManager.kt
  src/test/kotlin/toby/handler/MessageEventHandlerTest.kt
  src/test/kotlin/toby/handler/StartUpHandlerTest.kt
  src/test/kotlin/toby/handler/VoiceEventHandlerTest.kt
Labels: Commands, Managers

add coroutines for slash commands
  src/main/kotlin/toby/handler/MessageEventHandler.kt
Labels: none
