Repository ml404/toby-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Config, Bot, Buttons, Commands, Common, Core-api, Database, Helpers, Lavaplayer, Managers, web, Tests

fix(casino): centralize jackpot banner and preserve sub-percent precision (#408)
  database/src/main/kotlin/database/service/JackpotService.kt
  database/src/test/kotlin/database/service/JackpotServiceTest.kt
  web/src/main/kotlin/web/casino/CasinoPageContext.kt
  web/src/main/kotlin/web/controller/BlackjackController.kt
  web/src/main/kotlin/web/controller/CasinoHoldemController.kt
  web/src/main/kotlin/web/controller/PokerController.kt
  web/src/main/resources/static/js/blackjack-solo.js
  web/src/main/resources/templates/fragments/casino.html
  web/src/test/kotlin/web/controller/BlackjackControllerTest.kt
  web/src/test/kotlin/web/controller/PokerControllerTest.kt
  web/src/test/kotlin/web/template/CasinoJackpotBannerFragmentTest.kt
Labels: Database, web, Tests

fix(test): drop expected command count to 60 after coinflip removal
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
Labels: none

feat(coinflip): tilt house edge against autoclicker click signatures
  database/src/main/kotlin/database/dto/ConfigDto.kt
  database/src/main/kotlin/database/economy/Coinflip.kt
  database/src/main/kotlin/database/service/CoinflipBotSuspicionService.kt
  database/src/main/kotlin/database/service/CoinflipService.kt
  database/src/test/kotlin/database/economy/CoinflipTest.kt
  database/src/test/kotlin/database/service/CoinflipBotSuspicionServiceTest.kt
  database/src/test/kotlin/database/service/CoinflipServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
  web/src/main/kotlin/web/controller/CoinflipController.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/resources/static/js/coinflip.js
  web/src/main/resources/templates/moderation.html
  web/src/test/js/coinflip.test.js
  web/src/test/kotlin/web/controller/CoinflipControllerTest.kt
Labels: Bot, Commands, Database, web, Tests

feat(coinflip): tilt house edge against autoclicker click signatures (#409)
  database/src/main/kotlin/database/dto/ConfigDto.kt
  database/src/main/kotlin/database/economy/Coinflip.kt
  database/src/main/kotlin/database/service/CoinflipBotSuspicionService.kt
  database/src/main/kotlin/database/service/CoinflipService.kt
  database/src/test/kotlin/database/economy/CoinflipTest.kt
  database/src/test/kotlin/database/service/CoinflipBotSuspicionServiceTest.kt
  database/src/test/kotlin/database/service/CoinflipServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
  web/src/main/kotlin/web/controller/CoinflipController.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/resources/static/js/coinflip.js
  web/src/main/resources/templates/moderation.html
  web/src/test/js/coinflip.test.js
  web/src/test/kotlin/web/controller/CoinflipControllerTest.kt
Labels: Bot, Commands, Database, web, Tests

feat(casino): hoist bot-suspicion gate into shared CasinoEdgeService; wire dice + slots
  database/src/main/kotlin/database/dto/ConfigDto.kt
  database/src/main/kotlin/database/economy/Coinflip.kt
  database/src/main/kotlin/database/service/CasinoBotSuspicionService.kt
  database/src/main/kotlin/database/service/CasinoEdgeService.kt
  database/src/main/kotlin/database/service/CoinflipService.kt
  database/src/main/kotlin/database/service/DiceService.kt
  database/src/main/kotlin/database/service/SlotsService.kt
  database/src/test/kotlin/database/economy/CoinflipTest.kt
  database/src/test/kotlin/database/service/CasinoBotSuspicionServiceTest.kt
  database/src/test/kotlin/database/service/CasinoEdgeServiceTest.kt
  database/src/test/kotlin/database/service/CoinflipBotSuspicionServiceTest.kt
  database/src/test/kotlin/database/service/CoinflipServiceTest.kt
  database/src/test/kotlin/database/service/DiceServiceTest.kt
  database/src/test/kotlin/database/service/SlotsServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
  web/src/main/kotlin/web/controller/DiceController.kt
  web/src/main/kotlin/web/controller/SlotsController.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/resources/static/js/casino-bot-suspicion.js
  web/src/main/resources/static/js/coinflip.js
  web/src/main/resources/static/js/dice.js
  web/src/main/resources/static/js/slots.js
  web/src/main/resources/templates/fragments/casinoMinigame.html
  web/src/main/resources/templates/moderation.html
  web/src/test/js/casino-bot-suspicion.test.js
  web/src/test/js/coinflip.test.js
  web/src/test/kotlin/web/controller/DiceControllerTest.kt
  web/src/test/kotlin/web/controller/SlotsControllerTest.kt
Labels: Bot, Commands, Database, web, Tests

feat(casino): hoist bot-suspicion gate into shared CasinoEdgeService; wire dice + slots (#411)
  database/src/main/kotlin/database/dto/ConfigDto.kt
  database/src/main/kotlin/database/economy/Coinflip.kt
  database/src/main/kotlin/database/service/CasinoBotSuspicionService.kt
  database/src/main/kotlin/database/service/CasinoEdgeService.kt
  database/src/main/kotlin/database/service/CoinflipService.kt
  database/src/main/kotlin/database/service/DiceService.kt
  database/src/main/kotlin/database/service/SlotsService.kt
  database/src/test/kotlin/database/economy/CoinflipTest.kt
  database/src/test/kotlin/database/service/CasinoBotSuspicionServiceTest.kt
  database/src/test/kotlin/database/service/CasinoEdgeServiceTest.kt
  database/src/test/kotlin/database/service/CoinflipBotSuspicionServiceTest.kt
  database/src/test/kotlin/database/service/CoinflipServiceTest.kt
  database/src/test/kotlin/database/service/DiceServiceTest.kt
  database/src/test/kotlin/database/service/SlotsServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
  web/src/main/kotlin/web/controller/DiceController.kt
  web/src/main/kotlin/web/controller/SlotsController.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/resources/static/js/casino-bot-suspicion.js
  web/src/main/resources/static/js/coinflip.js
  web/src/main/resources/static/js/dice.js
  web/src/main/resources/static/js/slots.js
  web/src/main/resources/templates/fragments/casinoMinigame.html
  web/src/main/resources/templates/moderation.html
  web/src/test/js/casino-bot-suspicion.test.js
  web/src/test/js/coinflip.test.js
  web/src/test/kotlin/web/controller/DiceControllerTest.kt
  web/src/test/kotlin/web/controller/SlotsControllerTest.kt
Labels: Bot, Commands, Database, web, Tests

feat(lottery): web UI + daily match-numbers (Pick 5/49) auto-draw
  database/src/main/kotlin/database/dto/ConfigDto.kt
  database/src/main/kotlin/database/dto/JackpotLotteryDto.kt
  database/src/main/kotlin/database/dto/JackpotLotteryTicketDto.kt
  database/src/main/kotlin/database/dto/LotteryDailyDto.kt
  database/src/main/kotlin/database/persistence/JackpotLotteryPersistence.kt
  database/src/main/kotlin/database/persistence/LotteryDailyPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultJackpotLotteryPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultLotteryDailyPersistence.kt
  database/src/main/kotlin/database/service/JackpotLotteryService.kt
  database/src/main/kotlin/database/service/LotteryDailyService.kt
  database/src/main/kotlin/database/service/LotteryHelper.kt
  database/src/main/resources/db/migration/V28__lottery_match_numbers.sql
  database/src/test/kotlin/database/service/JackpotLotteryServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/LotteryCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
  discord-bot/src/main/kotlin/bot/toby/scheduling/LotteryDailyJob.kt
  discord-bot/src/test/kotlin/bot/toby/scheduling/LotteryDailyJobTest.kt
  web/src/main/kotlin/web/controller/LotteryController.kt
  web/src/main/kotlin/web/controller/ModerationController.kt
  web/src/main/kotlin/web/service/LotteryWebService.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/resources/static/css/base.css
  web/src/main/resources/static/css/lottery.css
  web/src/main/resources/static/js/lottery.js
  web/src/main/resources/static/js/moderation.js
  web/src/main/resources/templates/casino-guilds.html
  web/src/main/resources/templates/lottery.html
  web/src/main/resources/templates/moderation.html
  web/src/test/kotlin/web/controller/LotteryControllerTest.kt
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
  web/src/test/kotlin/web/static/CasinoJackpotCssRegressionTest.kt
  web/src/test/kotlin/web/static/LotteryCssRegressionTest.kt
  web/src/test/kotlin/web/template/LotteryViewTemplateTest.kt
Labels: Bot, Commands, Database, web, Tests

fix(lottery): load shared casino-jackpot js bundle on lottery page
  web/src/main/resources/templates/lottery.html
Labels: none

feat(lottery): web UI + daily match-numbers (Pick 5/49) auto-draw (#412)
  database/src/main/kotlin/database/dto/ConfigDto.kt
  database/src/main/kotlin/database/dto/JackpotLotteryDto.kt
  database/src/main/kotlin/database/dto/JackpotLotteryTicketDto.kt
  database/src/main/kotlin/database/dto/LotteryDailyDto.kt
  database/src/main/kotlin/database/persistence/JackpotLotteryPersistence.kt
  database/src/main/kotlin/database/persistence/LotteryDailyPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultJackpotLotteryPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultLotteryDailyPersistence.kt
  database/src/main/kotlin/database/service/JackpotLotteryService.kt
  database/src/main/kotlin/database/service/LotteryDailyService.kt
  database/src/main/kotlin/database/service/LotteryHelper.kt
  database/src/main/resources/db/migration/V28__lottery_match_numbers.sql
  database/src/test/kotlin/database/service/JackpotLotteryServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/LotteryCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
  discord-bot/src/main/kotlin/bot/toby/scheduling/LotteryDailyJob.kt
  discord-bot/src/test/kotlin/bot/toby/scheduling/LotteryDailyJobTest.kt
  web/src/main/kotlin/web/controller/LotteryController.kt
  web/src/main/kotlin/web/controller/ModerationController.kt
  web/src/main/kotlin/web/service/LotteryWebService.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/resources/static/css/base.css
  web/src/main/resources/static/css/lottery.css
  web/src/main/resources/static/js/lottery.js
  web/src/main/resources/static/js/moderation.js
  web/src/main/resources/templates/casino-guilds.html
  web/src/main/resources/templates/lottery.html
  web/src/main/resources/templates/moderation.html
  web/src/test/kotlin/web/controller/LotteryControllerTest.kt
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
  web/src/test/kotlin/web/static/CasinoJackpotCssRegressionTest.kt
  web/src/test/kotlin/web/static/LotteryCssRegressionTest.kt
  web/src/test/kotlin/web/template/LotteryViewTemplateTest.kt
Labels: Bot, Commands, Database, web, Tests

fix(navbar): add 🎡 Roulette to Casino dropdown, drop Poker from Economy dropdown
  web/src/main/resources/templates/fragments/navbar.html
Labels: none

feat(lottery): WEIGHTED daily mode + polished moderation card
  database/src/main/kotlin/database/dto/ConfigDto.kt
  database/src/main/kotlin/database/service/LotteryHelper.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
  discord-bot/src/main/kotlin/bot/toby/scheduling/LotteryDailyJob.kt
  discord-bot/src/test/kotlin/bot/toby/scheduling/LotteryDailyJobTest.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/resources/static/css/moderation.css
  web/src/main/resources/templates/moderation.html
Labels: Bot, Commands, Database, web, Tests

fix(navbar): add 🎡 Roulette to Casino dropdown, drop Poker from Economy dropdown (#413)
  web/src/main/resources/templates/fragments/navbar.html
Labels: none

feat(lottery): WEIGHTED daily mode + polished moderation card (#414)
  database/src/main/kotlin/database/dto/ConfigDto.kt
  database/src/main/kotlin/database/service/LotteryHelper.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
  discord-bot/src/main/kotlin/bot/toby/scheduling/LotteryDailyJob.kt
  discord-bot/src/test/kotlin/bot/toby/scheduling/LotteryDailyJobTest.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/resources/static/css/moderation.css
  web/src/main/resources/templates/moderation.html
Labels: Bot, Commands, Database, web, Tests

fix(roulette web): emoji parity, fieldset shape, mid-spin lock, bet explainer
  web/src/main/kotlin/web/controller/RouletteController.kt
  web/src/main/resources/static/css/roulette.css
  web/src/main/resources/static/js/roulette.js
  web/src/main/resources/templates/fragments/navbar.html
  web/src/main/resources/templates/roulette.html
  web/src/test/js/roulette.test.js
Labels: web

feat(lottery): distinct-buyer safeguard + channel announcer
  database/src/main/kotlin/database/dto/ConfigDto.kt
  database/src/main/kotlin/database/service/JackpotLotteryService.kt
  database/src/main/kotlin/database/service/LotteryHelper.kt
  database/src/test/kotlin/database/service/JackpotLotteryServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
  discord-bot/src/main/kotlin/bot/toby/scheduling/LotteryAnnouncer.kt
  discord-bot/src/main/kotlin/bot/toby/scheduling/LotteryDailyJob.kt
  discord-bot/src/test/kotlin/bot/toby/scheduling/LotteryAnnouncerTest.kt
  discord-bot/src/test/kotlin/bot/toby/scheduling/LotteryDailyJobTest.kt
  web/src/main/kotlin/web/controller/ModerationController.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/resources/static/js/moderation.js
  web/src/main/resources/templates/moderation.html
Labels: Bot, Commands, Database, web, Tests

fix(jackpotadmin): exhaustive when over BelowMinBuyers
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/JackpotAdminCommand.kt
Labels: Bot, Commands

fix(roulette web): emoji parity, fieldset shape, mid-spin lock, bet explainer (#415)
  web/src/main/kotlin/web/controller/RouletteController.kt
  web/src/main/resources/static/css/roulette.css
  web/src/main/resources/static/js/roulette.js
  web/src/main/resources/templates/fragments/navbar.html
  web/src/main/resources/templates/roulette.html
  web/src/test/js/roulette.test.js
Labels: web

fix(lottery test): mock SelfMember not Member for guild.selfMember
  discord-bot/src/test/kotlin/bot/toby/scheduling/LotteryAnnouncerTest.kt
Labels: Tests

feat(lottery): distinct-buyer safeguard + channel announcer (#416)
  database/src/main/kotlin/database/dto/ConfigDto.kt
  database/src/main/kotlin/database/service/JackpotLotteryService.kt
  database/src/main/kotlin/database/service/LotteryHelper.kt
  database/src/test/kotlin/database/service/JackpotLotteryServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/JackpotAdminCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
  discord-bot/src/main/kotlin/bot/toby/scheduling/LotteryAnnouncer.kt
  discord-bot/src/main/kotlin/bot/toby/scheduling/LotteryDailyJob.kt
  discord-bot/src/test/kotlin/bot/toby/scheduling/LotteryAnnouncerTest.kt
  discord-bot/src/test/kotlin/bot/toby/scheduling/LotteryDailyJobTest.kt
  web/src/main/kotlin/web/controller/ModerationController.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/resources/static/js/moderation.js
  web/src/main/resources/templates/moderation.html
Labels: Bot, Commands, Database, web, Tests

feat(moderation web): channel-id dropdown + reusable read-only channel creator
  web/src/main/kotlin/web/controller/ModerationController.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/resources/static/css/moderation.css
  web/src/main/resources/static/js/moderation.js
  web/src/main/resources/templates/moderation.html
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
Labels: web, Tests

fix(test): type matchers for ChannelAction permission-override overloads
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
Labels: Tests

feat(moderation web): channel category picker on create-channel forms
  web/src/main/kotlin/web/controller/ModerationController.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/resources/static/js/moderation.js
  web/src/main/resources/templates/moderation.html
Labels: web

fix(test): mockk generic-return cast + sanitiser dash-collapse
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
Labels: web, Tests

fix(test): record on star-projected ChannelAction to dodge mockk cast
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
Labels: Tests

feat(moderation web): channel-id dropdown + reusable read-only channel creator (#417)
  web/src/main/kotlin/web/controller/ModerationController.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/resources/static/css/moderation.css
  web/src/main/resources/static/js/moderation.js
  web/src/main/resources/templates/moderation.html
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
Labels: web, Tests

fix(moderation): prevent .config-row Save buttons getting clipped
  web/src/main/resources/static/css/moderation.css
Labels: none

fix(moderation): switch .config-row from grid to wrapping flexbox
  web/src/main/resources/static/css/moderation.css
Labels: none

polish(moderation): refine lottery card visuals
  web/src/main/resources/static/css/moderation.css
  web/src/main/resources/templates/moderation.html
Labels: none

polish(moderation): label-left, input+save-right grid layout
  web/src/main/resources/static/css/moderation.css
Labels: none

feat(moderation): promote daily lottery to its own tab
  web/src/main/resources/static/css/moderation.css
  web/src/main/resources/templates/moderation.html
Labels: none

fix(moderation): keep config-row Save buttons inside the section (#418)
  web/src/main/resources/static/css/moderation.css
  web/src/main/resources/templates/moderation.html
Labels: none

feat(casino): mode-aware lottery copy, /lottery picker, Hold'em URL move
  web/src/main/kotlin/web/controller/CasinoHoldemController.kt
  web/src/main/kotlin/web/controller/LotteryController.kt
  web/src/main/kotlin/web/controller/LotteryGuildsController.kt
  web/src/main/kotlin/web/service/LotteryWebService.kt
  web/src/main/resources/static/js/casinoholdem-solo.js
  web/src/main/resources/templates/casino-guilds.html
  web/src/main/resources/templates/casinoholdem-solo.html
  web/src/main/resources/templates/fragments/navbar.html
  web/src/main/resources/templates/lottery-guilds.html
  web/src/main/resources/templates/lottery.html
  web/src/test/kotlin/web/controller/CasinoHoldemControllerTest.kt
  web/src/test/kotlin/web/controller/LotteryControllerTest.kt
Labels: web, Tests

feat(casino): Discord channel logs for anti-autoclick session activity
  common/src/main/kotlin/common/events/AntiAutoclickEvent.kt
  database/src/main/kotlin/database/dto/ConfigDto.kt
  database/src/main/kotlin/database/service/CasinoBotSuspicionService.kt
  database/src/main/kotlin/database/service/CasinoEdgeService.kt
  database/src/test/kotlin/database/service/CasinoBotSuspicionServiceTest.kt
  database/src/test/kotlin/database/service/CasinoEdgeServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/AntiAutoclickEmbeds.kt
  discord-bot/src/main/kotlin/bot/toby/notify/AntiAutoclickNotifier.kt
  discord-bot/src/test/kotlin/bot/toby/notify/AntiAutoclickNotifierTest.kt
Labels: Bot, Commands, Common, Database, Tests

feat(casino): mode-aware lottery copy, /lottery picker, Hold'em URL move (#419)
  web/src/main/kotlin/web/controller/CasinoHoldemController.kt
  web/src/main/kotlin/web/controller/LotteryController.kt
  web/src/main/kotlin/web/controller/LotteryGuildsController.kt
  web/src/main/kotlin/web/service/LotteryWebService.kt
  web/src/main/resources/static/js/casinoholdem-solo.js
  web/src/main/resources/templates/casino-guilds.html
  web/src/main/resources/templates/casinoholdem-solo.html
  web/src/main/resources/templates/fragments/navbar.html
  web/src/main/resources/templates/lottery-guilds.html
  web/src/main/resources/templates/lottery.html
  web/src/test/kotlin/web/controller/CasinoHoldemControllerTest.kt
  web/src/test/kotlin/web/controller/LotteryControllerTest.kt
Labels: web, Tests

fix(anti-autoclick): disambiguate scheduler.schedule SAM call
  discord-bot/src/main/kotlin/bot/toby/notify/AntiAutoclickNotifier.kt
  discord-bot/src/test/kotlin/bot/toby/notify/AntiAutoclickNotifierTest.kt
Labels: Bot, Tests

fix(moderation web): handle CASINO_MODLOG_CHANNEL_ID in updateConfig
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
Labels: web, Tests

fix(setconfig): handle CASINO_MODLOG_CHANNEL_ID branch
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
Labels: Bot, Commands

fix(test): use SelfMember type for guild.selfMember mock
  discord-bot/src/test/kotlin/bot/toby/notify/AntiAutoclickNotifierTest.kt
Labels: Tests

fix(test): capture queue() consumer in stub, not in verify
  discord-bot/src/test/kotlin/bot/toby/notify/AntiAutoclickNotifierTest.kt
Labels: Tests

fix(casino): correct jackpot banner copy + surface anti-cheat tooltip
  database/src/main/kotlin/database/service/JackpotService.kt
  database/src/test/kotlin/database/service/JackpotServiceTest.kt
  web/src/main/kotlin/web/casino/CasinoPageContext.kt
  web/src/main/kotlin/web/controller/PokerController.kt
  web/src/main/resources/templates/fragments/casino.html
  web/src/test/kotlin/web/controller/BlackjackControllerTest.kt
  web/src/test/kotlin/web/controller/PokerControllerTest.kt
  web/src/test/kotlin/web/template/CasinoJackpotBannerFragmentTest.kt
Labels: Database, web, Tests

.github/labeler.yml:

Documentation:
- '**/*.md'

Config:
 - '**/*.properties'
 - '**/*.gradle'

Bot:
 - discord-bot/src/main/kotlin/**

Buttons:
 - discord-bot/src/main/kotlin/bot/toby/button/**

Commands:
 - discord-bot/src/main/kotlin/bot/toby/command/**

Common:
 - common/src/main/kotlin/**

Core-api:
 - core-api/src/main/kotlin/**

Database:
 - database/src/main/kotlin/database/**

Helpers:
 - discord-bot/src/main/kotlin/bot/toby/helpers/*

Lavaplayer:
 - discord-bot/src/main/kotlin/bot/toby/lavaplayer/**

Managers:
 - discord-bot/src/main/kotlin/bot/toby/managers/*

web:
 - web/src/main/kotlin/**

Tests:
 - common/src/test/kotlin/**
 - core-api/src/test/kotlin/**
 - database/src/test/kotlin/**
 - discord-bot/src/test/kotlin/**
 - web/src/test/kotlin/**
