Repository ml404/toby-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Config, Bot, Buttons, Commands, Common, Core-api, Database, Helpers, Lavaplayer, Managers, web, Tests

.github/labeler.yml:

Documentation:
- '**/*.md'

Config:
 - '**/*.properties'
 - '**/*.gradle'

Bot:
 - discord-bot/src/main/kotlin/**

Buttons:
 - discord-bot/src/main/kotlin/bot/toby/button/**

Commands:
 - discord-bot/src/main/kotlin/bot/toby/command/**

Common:
 - common/src/main/kotlin/**

Core-api:
 - core-api/src/main/kotlin/**

Database:
 - database/src/main/kotlin/database/**

Helpers:
 - discord-bot/src/main/kotlin/bot/toby/helpers/*

Lavaplayer:
 - discord-bot/src/main/kotlin/bot/toby/lavaplayer/**

Managers:
 - discord-bot/src/main/kotlin/bot/toby/managers/*

web:
 - web/src/main/kotlin/**

Tests:
 - common/src/test/kotlin/**
 - core-api/src/test/kotlin/**
 - database/src/test/kotlin/**
 - discord-bot/src/test/kotlin/**
 - web/src/test/kotlin/**

refactor toasts to use the once defined method in toasts.js
  web/src/main/resources/static/js/coinflip.js
  web/src/main/resources/static/js/dice.js
  web/src/main/resources/static/js/duel.js
  web/src/main/resources/static/js/highlow.js
  web/src/main/resources/static/js/moderation.js
  web/src/main/resources/static/js/poker-table.js
  web/src/main/resources/static/js/scratch.js
  web/src/main/resources/static/js/slots.js
  web/src/main/resources/static/js/tip.js
  web/src/main/resources/static/js/titles.js
  web/src/main/resources/static/js/toasts.js
  web/src/main/resources/static/js/utils.js
Labels: none

quick qodana fixes
  database/src/main/kotlin/database/economy/ScratchCard.kt
  web/src/main/kotlin/web/service/EconomyWebService.kt
Labels: Database, web

Fix toast not rendering for tip and duel classes (#332)
  database/src/main/kotlin/database/economy/ScratchCard.kt
  web/src/main/kotlin/web/service/EconomyWebService.kt
  web/src/main/resources/static/js/coinflip.js
  web/src/main/resources/static/js/dice.js
  web/src/main/resources/static/js/duel.js
  web/src/main/resources/static/js/highlow.js
  web/src/main/resources/static/js/moderation.js
  web/src/main/resources/static/js/poker-table.js
  web/src/main/resources/static/js/scratch.js
  web/src/main/resources/static/js/slots.js
  web/src/main/resources/static/js/tip.js
  web/src/main/resources/static/js/titles.js
  web/src/main/resources/static/js/toasts.js
  web/src/main/resources/static/js/utils.js
Labels: Database, web

feat(poker): side pots and call-for-less at showdown (v2-1)
  database/src/main/kotlin/database/dto/PokerHandPotDto.kt
  database/src/main/kotlin/database/persistence/PokerHandPotPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultPokerHandPotPersistence.kt
  database/src/main/kotlin/database/poker/PokerEngine.kt
  database/src/main/kotlin/database/poker/PokerTable.kt
  database/src/main/kotlin/database/service/PokerService.kt
  database/src/main/resources/db/migration/V23__poker_hand_pot.sql
  database/src/test/kotlin/database/poker/PokerEngineSidePotTest.kt
  database/src/test/kotlin/database/service/PokerServiceTest.kt
  web/src/main/kotlin/web/service/PokerWebService.kt
  web/src/main/resources/static/js/poker-pots.js
  web/src/main/resources/static/js/poker-table.js
  web/src/main/resources/templates/poker-table.html
  web/src/test/js/poker-pots.test.js
  web/src/test/kotlin/web/service/PokerWebServiceTest.kt
Labels: Database, web, Tests

feat(poker): side pots and call-for-less at showdown (v2-1) (#333)
  database/src/main/kotlin/database/dto/PokerHandPotDto.kt
  database/src/main/kotlin/database/persistence/PokerHandPotPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultPokerHandPotPersistence.kt
  database/src/main/kotlin/database/poker/PokerEngine.kt
  database/src/main/kotlin/database/poker/PokerTable.kt
  database/src/main/kotlin/database/service/PokerService.kt
  database/src/main/resources/db/migration/V23__poker_hand_pot.sql
  database/src/test/kotlin/database/poker/PokerEngineSidePotTest.kt
  database/src/test/kotlin/database/service/PokerServiceTest.kt
  web/src/main/kotlin/web/service/PokerWebService.kt
  web/src/main/resources/static/js/poker-pots.js
  web/src/main/resources/static/js/poker-table.js
  web/src/main/resources/templates/poker-table.html
  web/src/test/js/poker-pots.test.js
  web/src/test/kotlin/web/service/PokerWebServiceTest.kt
Labels: Database, web, Tests

feat(poker): per-guild config + per-action shot clock (v2-2)
  database/src/main/kotlin/database/dto/ConfigDto.kt
  database/src/main/kotlin/database/poker/PokerTable.kt
  database/src/main/kotlin/database/poker/PokerTableRegistry.kt
  database/src/main/kotlin/database/service/PokerService.kt
  database/src/test/kotlin/database/poker/PokerTableRegistryShotClockTest.kt
  database/src/test/kotlin/database/service/PokerServiceConfigSnapshotTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/kotlin/web/service/PokerWebService.kt
  web/src/main/resources/static/js/poker-table.js
  web/src/main/resources/templates/poker-table.html
  web/src/test/js/poker-shot-clock.test.js
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
Labels: Bot, Commands, Database, web, Tests

fix(poker): self-inject PokerService so scheduler callbacks honour @Transactional
  database/src/main/kotlin/database/service/PokerService.kt
Labels: Database

feat(poker): per-guild config + per-action shot clock (v2-2) (#335)
  database/src/main/kotlin/database/dto/ConfigDto.kt
  database/src/main/kotlin/database/poker/PokerTable.kt
  database/src/main/kotlin/database/poker/PokerTableRegistry.kt
  database/src/main/kotlin/database/service/PokerService.kt
  database/src/test/kotlin/database/poker/PokerTableRegistryShotClockTest.kt
  database/src/test/kotlin/database/service/PokerServiceConfigSnapshotTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/kotlin/web/service/PokerWebService.kt
  web/src/main/resources/static/js/poker-table.js
  web/src/main/resources/templates/poker-table.html
  web/src/test/js/poker-shot-clock.test.js
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
Labels: Bot, Commands, Database, web, Tests

fix(leaderboard): exclude bots and non-positive activity from monthly board
  discord-bot/src/main/kotlin/bot/toby/scheduling/MonthlyLeaderboardJob.kt
  discord-bot/src/test/kotlin/bot/toby/scheduling/MonthlyLeaderboardJobTest.kt
Labels: Bot, Tests

fix(leaderboard): exclude bots and non-positive activity from monthly board (#337)
  discord-bot/src/main/kotlin/bot/toby/scheduling/MonthlyLeaderboardJob.kt
  discord-bot/src/test/kotlin/bot/toby/scheduling/MonthlyLeaderboardJobTest.kt
Labels: Bot, Tests

feat(economy): configurable UBI grants and per-guild daily-credit cap
  database/src/main/kotlin/database/dto/ConfigDto.kt
  database/src/main/kotlin/database/dto/UbiDailyDto.kt
  database/src/main/kotlin/database/persistence/UbiDailyPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultUbiDailyPersistence.kt
  database/src/main/kotlin/database/service/SocialCreditAwardService.kt
  database/src/main/kotlin/database/service/UbiDailyService.kt
  database/src/main/kotlin/database/service/impl/DefaultUbiDailyService.kt
  database/src/main/resources/db/migration/V23__ubi_daily.sql
  database/src/test/kotlin/database/service/SocialCreditAwardServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
  discord-bot/src/main/kotlin/bot/toby/scheduling/UniversalBasicIncomeJob.kt
  discord-bot/src/main/kotlin/bot/toby/voice/VoiceCreditAwardService.kt
  discord-bot/src/main/kotlin/bot/toby/voice/VoiceCreditConfig.kt
  discord-bot/src/test/kotlin/bot/toby/handler/VoiceEventHandlerTest.kt
  discord-bot/src/test/kotlin/bot/toby/managers/DefaultCommandManagerAwardTest.kt
  discord-bot/src/test/kotlin/bot/toby/scheduling/UniversalBasicIncomeJobTest.kt
  discord-bot/src/test/kotlin/bot/toby/voice/VoiceCreditAwardServiceTest.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/resources/static/css/moderation.css
  web/src/main/resources/templates/moderation.html
  web/src/test/kotlin/web/controller/EconomyControllerTradeAwardTest.kt
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
Labels: Bot, Commands, Database, web, Tests

fix(migration): rename V23__ubi_daily.sql to V24 to avoid version collision
  database/src/main/resources/db/migration/V24__ubi_daily.sql
Labels: none

fix(leaderboard): exclude UBI grants from monthly credits-earned delta
  database/src/main/kotlin/database/dto/UbiDailyDto.kt
  database/src/main/kotlin/database/persistence/UbiDailyPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultUbiDailyPersistence.kt
  database/src/main/kotlin/database/service/UbiDailyService.kt
  database/src/main/kotlin/database/service/impl/DefaultUbiDailyService.kt
  discord-bot/src/main/kotlin/bot/toby/scheduling/MonthlyLeaderboardJob.kt
  discord-bot/src/test/kotlin/bot/toby/scheduling/MonthlyLeaderboardJobTest.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
Labels: Bot, Database, web, Tests

feat(economy): configurable UBI grants and per-guild daily-credit cap (#336)
  database/src/main/kotlin/database/dto/ConfigDto.kt
  database/src/main/kotlin/database/dto/UbiDailyDto.kt
  database/src/main/kotlin/database/persistence/UbiDailyPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultUbiDailyPersistence.kt
  database/src/main/kotlin/database/service/SocialCreditAwardService.kt
  database/src/main/kotlin/database/service/UbiDailyService.kt
  database/src/main/kotlin/database/service/impl/DefaultUbiDailyService.kt
  database/src/main/resources/db/migration/V24__ubi_daily.sql
  database/src/test/kotlin/database/service/SocialCreditAwardServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
  discord-bot/src/main/kotlin/bot/toby/scheduling/MonthlyLeaderboardJob.kt
  discord-bot/src/main/kotlin/bot/toby/scheduling/UniversalBasicIncomeJob.kt
  discord-bot/src/main/kotlin/bot/toby/voice/VoiceCreditAwardService.kt
  discord-bot/src/main/kotlin/bot/toby/voice/VoiceCreditConfig.kt
  discord-bot/src/test/kotlin/bot/toby/handler/VoiceEventHandlerTest.kt
  discord-bot/src/test/kotlin/bot/toby/managers/DefaultCommandManagerAwardTest.kt
  discord-bot/src/test/kotlin/bot/toby/scheduling/MonthlyLeaderboardJobTest.kt
  discord-bot/src/test/kotlin/bot/toby/scheduling/UniversalBasicIncomeJobTest.kt
  discord-bot/src/test/kotlin/bot/toby/voice/VoiceCreditAwardServiceTest.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/resources/static/css/moderation.css
  web/src/main/resources/templates/moderation.html
  web/src/test/kotlin/web/controller/EconomyControllerTradeAwardTest.kt
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
Labels: Bot, Commands, Database, web, Tests

feat(poker): seat pendingLeave + recent-hand queries (v2-3 prep)
  database/src/main/kotlin/database/persistence/PokerHandLogPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultPokerHandLogPersistence.kt
  database/src/main/kotlin/database/poker/PokerTable.kt
  database/src/test/kotlin/database/service/PokerServiceConfigSnapshotTest.kt
  database/src/test/kotlin/database/service/PokerServiceTest.kt
Labels: Database, Tests

feat(poker): /poker rebuy to top up your stack between hands (v2-3)
  database/src/main/kotlin/database/service/PokerService.kt
  database/src/test/kotlin/database/service/PokerServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/PokerCommand.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/PokerCommandTest.kt
Labels: Bot, Commands, Database, Tests

feat(poker): /poker leave during a hand auto-folds + cashes out at end (v2-3)
  database/src/main/kotlin/database/service/PokerService.kt
  database/src/test/kotlin/database/service/PokerServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/PokerCommand.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/PokerCommandTest.kt
  web/src/main/kotlin/web/controller/PokerController.kt
Labels: Bot, Commands, Database, web, Tests

feat(poker): /poker history reads recent settled hands (v2-3)
  database/src/main/kotlin/database/service/PokerService.kt
  database/src/test/kotlin/database/service/PokerServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/PokerCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/PokerEmbeds.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/PokerCommandTest.kt
Labels: Bot, Commands, Database, Tests

feat(poker): rebuy + mid-hand leave + hand history (v2-3) (#338)
  database/src/main/kotlin/database/persistence/PokerHandLogPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultPokerHandLogPersistence.kt
  database/src/main/kotlin/database/poker/PokerTable.kt
  database/src/main/kotlin/database/service/PokerService.kt
  database/src/test/kotlin/database/service/PokerServiceConfigSnapshotTest.kt
  database/src/test/kotlin/database/service/PokerServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/PokerCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/PokerEmbeds.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/PokerCommandTest.kt
  web/src/main/kotlin/web/controller/PokerController.kt
Labels: Bot, Commands, Database, web, Tests

docs(poker): refresh class kdoc + lobby footer to reflect v2-1 / v2-3
  database/src/main/kotlin/database/service/PokerService.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/PokerEmbeds.kt
Labels: Bot, Commands, Database

feat(jackpot): per-guild configurable win probability
  database/src/main/kotlin/database/dto/ConfigDto.kt
  database/src/main/kotlin/database/service/CoinflipService.kt
  database/src/main/kotlin/database/service/DiceService.kt
  database/src/main/kotlin/database/service/HighlowService.kt
  database/src/main/kotlin/database/service/JackpotHelper.kt
  database/src/main/kotlin/database/service/ScratchService.kt
  database/src/main/kotlin/database/service/SlotsService.kt
  database/src/test/kotlin/database/service/JackpotHelperTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/resources/templates/moderation.html
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
Labels: Bot, Commands, Database, web, Tests

docs(poker): refresh class kdoc + lobby footer to reflect v2-1 / v2-3 (#339)
  database/src/main/kotlin/database/service/PokerService.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/PokerEmbeds.kt
Labels: Bot, Commands, Database

feat(poker): autoTopUp on createTable / buyIn / rebuy (v2-4 service)
  database/src/main/kotlin/database/service/PokerService.kt
Labels: Database

test(poker): autoTopUp wiring on createTable / buyIn / rebuy (v2-4)
  database/src/test/kotlin/database/service/PokerServiceTest.kt
Labels: Tests

test(poker): widen mockk stubs for autoTopUp parameter (v2-4)
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/PokerCommandTest.kt
  web/src/test/kotlin/web/controller/PokerControllerTest.kt
Labels: Tests

feat(poker): plumb autoTopUp through /poker web + Discord surfaces (v2-4)
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/PokerCommand.kt
  web/src/main/kotlin/web/controller/PokerController.kt
Labels: Bot, Commands, web

feat(economy): per-guild buy/sell trade fees + fix JDA description length
  database/src/main/kotlin/database/dto/ConfigDto.kt
  database/src/main/kotlin/database/economy/TobyCoinEngine.kt
  database/src/main/kotlin/database/service/CasinoTopUpHelper.kt
  database/src/main/kotlin/database/service/EconomyTradeService.kt
  database/src/test/kotlin/database/economy/TobyCoinEngineTopUpTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/kotlin/web/service/TitlesWebService.kt
  web/src/main/resources/templates/moderation.html
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
Labels: Bot, Commands, Database, web, Tests

feat(poker): autoTopUp on createTable / buyIn / rebuy (v2-4) (#341)
  database/src/main/kotlin/database/service/PokerService.kt
  database/src/test/kotlin/database/service/PokerServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/PokerCommand.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/PokerCommandTest.kt
  web/src/main/kotlin/web/controller/PokerController.kt
  web/src/test/kotlin/web/controller/PokerControllerTest.kt
Labels: Bot, Commands, Database, web, Tests

test: stub sellFeeRate to 1% default in trade-fee-dependent tests
  database/src/test/kotlin/database/service/CasinoTopUpHelperTest.kt
  web/src/test/kotlin/web/service/TitlesWebServicePurchaseTest.kt
Labels: Tests

feat(jackpot): per-guild configurable win probability (#340)
  database/src/main/kotlin/database/dto/ConfigDto.kt
  database/src/main/kotlin/database/economy/TobyCoinEngine.kt
  database/src/main/kotlin/database/service/CasinoTopUpHelper.kt
  database/src/main/kotlin/database/service/CoinflipService.kt
  database/src/main/kotlin/database/service/DiceService.kt
  database/src/main/kotlin/database/service/EconomyTradeService.kt
  database/src/main/kotlin/database/service/HighlowService.kt
  database/src/main/kotlin/database/service/JackpotHelper.kt
  database/src/main/kotlin/database/service/ScratchService.kt
  database/src/main/kotlin/database/service/SlotsService.kt
  database/src/test/kotlin/database/economy/TobyCoinEngineTopUpTest.kt
  database/src/test/kotlin/database/service/CasinoTopUpHelperTest.kt
  database/src/test/kotlin/database/service/JackpotHelperTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SetConfigCommand.kt
  web/src/main/kotlin/web/service/ModerationWebService.kt
  web/src/main/kotlin/web/service/TitlesWebService.kt
  web/src/main/resources/templates/moderation.html
  web/src/test/kotlin/web/service/ModerationWebServiceTest.kt
  web/src/test/kotlin/web/service/TitlesWebServicePurchaseTest.kt
Labels: Bot, Commands, Database, web, Tests

feat(market): live cost preview + Max-buy button on the market page
  web/src/main/kotlin/web/service/EconomyWebService.kt
  web/src/main/resources/static/css/economy.css
  web/src/main/resources/static/js/economy-quote.js
  web/src/main/resources/static/js/economy.js
  web/src/main/resources/templates/economy.html
  web/src/test/js/economy-quote.test.js
  web/src/test/kotlin/web/service/EconomyWebServiceTest.kt
Labels: web, Tests

feat(market): live cost preview + Max-buy button on the market page (#342)
  web/src/main/kotlin/web/service/EconomyWebService.kt
  web/src/main/resources/static/css/economy.css
  web/src/main/resources/static/js/economy-quote.js
  web/src/main/resources/static/js/economy.js
  web/src/main/resources/templates/economy.html
  web/src/test/js/economy-quote.test.js
  web/src/test/kotlin/web/service/EconomyWebServiceTest.kt
Labels: web, Tests

feat(poker): free-play tables with no credit debits or payouts (v2-7)
  database/src/main/kotlin/database/poker/PokerTable.kt
  database/src/main/kotlin/database/poker/PokerTableRegistry.kt
  database/src/main/kotlin/database/service/PokerService.kt
  database/src/test/kotlin/database/service/PokerServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/PokerCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/PokerEmbeds.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/PokerCommandTest.kt
  web/src/main/kotlin/web/controller/PokerController.kt
  web/src/main/kotlin/web/service/PokerWebService.kt
  web/src/test/kotlin/web/controller/PokerControllerTest.kt
Labels: Bot, Commands, Database, web, Tests

feat(poker): free-play tables with no credit debits or payouts (v2-7) (#343)
  database/src/main/kotlin/database/poker/PokerTable.kt
  database/src/main/kotlin/database/poker/PokerTableRegistry.kt
  database/src/main/kotlin/database/service/PokerService.kt
  database/src/test/kotlin/database/service/PokerServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/PokerCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/PokerEmbeds.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/PokerCommandTest.kt
  web/src/main/kotlin/web/controller/PokerController.kt
  web/src/main/kotlin/web/service/PokerWebService.kt
  web/src/test/kotlin/web/controller/PokerControllerTest.kt
Labels: Bot, Commands, Database, web, Tests

refactor(web): second pass — Campaign + Intro + isMember dedup, navbar bridge
  web/src/main/kotlin/web/controller/CampaignController.kt
  web/src/main/kotlin/web/controller/IntroWebController.kt
  web/src/main/kotlin/web/controller/ModerationController.kt
  web/src/main/kotlin/web/service/EconomyWebService.kt
  web/src/main/kotlin/web/service/LeaderboardWebService.kt
  web/src/main/kotlin/web/service/ProfileWebService.kt
  web/src/main/kotlin/web/service/TitlesWebService.kt
  web/src/main/kotlin/web/util/GuildMembership.kt
  web/src/main/kotlin/web/util/WebGuildAccess.kt
  web/src/main/resources/static/css/nav.css
  web/src/main/resources/templates/casino-guilds.html
  web/src/main/resources/templates/duel-guilds.html
  web/src/main/resources/templates/economy-guilds.html
  web/src/main/resources/templates/fragments/guildCard.html
  web/src/main/resources/templates/leaderboards.html
  web/src/main/resources/templates/poker-guilds.html
  web/src/main/resources/templates/profile-guilds.html
  web/src/main/resources/templates/tip-guilds.html
  web/src/main/resources/templates/titles-guilds.html
  web/src/test/kotlin/web/service/EconomyWebServiceTest.kt
  web/src/test/kotlin/web/service/LeaderboardWebServiceTest.kt
  web/src/test/kotlin/web/service/LeaderboardWebServiceTobyCoinTest.kt
  web/src/test/kotlin/web/service/TitlesWebServicePurchaseTest.kt
  web/src/test/kotlin/web/service/TitlesWebServiceTest.kt
Labels: web, Tests

fix(poker): surface free-play in the web UI (v2-7 follow-up)
  web/src/main/kotlin/web/service/PokerWebService.kt
  web/src/main/resources/static/css/poker.css
  web/src/main/resources/static/js/poker-lobby.js
  web/src/main/resources/static/js/poker-table.js
  web/src/main/resources/templates/poker-lobby.html
  web/src/main/resources/templates/poker-table.html
Labels: web

fix(poker): surface free-play in the web UI (v2-7 follow-up) (#345)
  web/src/main/kotlin/web/service/PokerWebService.kt
  web/src/main/resources/static/css/poker.css
  web/src/main/resources/static/js/poker-lobby.js
  web/src/main/resources/static/js/poker-table.js
  web/src/main/resources/templates/poker-lobby.html
  web/src/main/resources/templates/poker-table.html
Labels: web

refactor(web): second pass — Campaign + Intro + isMember dedup, navbar bridge (#344)
  web/src/main/kotlin/web/controller/CampaignController.kt
  web/src/main/kotlin/web/controller/IntroWebController.kt
  web/src/main/kotlin/web/controller/ModerationController.kt
  web/src/main/kotlin/web/service/EconomyWebService.kt
  web/src/main/kotlin/web/service/LeaderboardWebService.kt
  web/src/main/kotlin/web/service/ProfileWebService.kt
  web/src/main/kotlin/web/service/TitlesWebService.kt
  web/src/main/kotlin/web/util/GuildMembership.kt
  web/src/main/kotlin/web/util/WebGuildAccess.kt
  web/src/main/resources/static/css/nav.css
  web/src/main/resources/templates/casino-guilds.html
  web/src/main/resources/templates/duel-guilds.html
  web/src/main/resources/templates/economy-guilds.html
  web/src/main/resources/templates/fragments/guildCard.html
  web/src/main/resources/templates/leaderboards.html
  web/src/main/resources/templates/poker-guilds.html
  web/src/main/resources/templates/profile-guilds.html
  web/src/main/resources/templates/tip-guilds.html
  web/src/main/resources/templates/titles-guilds.html
  web/src/test/kotlin/web/service/EconomyWebServiceTest.kt
  web/src/test/kotlin/web/service/LeaderboardWebServiceTest.kt
  web/src/test/kotlin/web/service/LeaderboardWebServiceTobyCoinTest.kt
  web/src/test/kotlin/web/service/TitlesWebServicePurchaseTest.kt
  web/src/test/kotlin/web/service/TitlesWebServiceTest.kt
Labels: web, Tests

feat(blackjack): add solo + multiplayer blackjack to the casino
  database/src/main/kotlin/database/blackjack/Blackjack.kt
  database/src/main/kotlin/database/blackjack/BlackjackHand.kt
  database/src/main/kotlin/database/blackjack/BlackjackTable.kt
  database/src/main/kotlin/database/blackjack/BlackjackTableRegistry.kt
  database/src/main/kotlin/database/card/Card.kt
  database/src/main/kotlin/database/card/Deck.kt
  database/src/main/kotlin/database/poker/HandEvaluator.kt
  database/src/main/kotlin/database/poker/PokerEngine.kt
  database/src/main/kotlin/database/poker/PokerTable.kt
  database/src/main/kotlin/database/service/BlackjackService.kt
  database/src/test/kotlin/database/blackjack/BlackjackHandTest.kt
  database/src/test/kotlin/database/blackjack/BlackjackTableRegistryTest.kt
  database/src/test/kotlin/database/blackjack/BlackjackTest.kt
  database/src/test/kotlin/database/card/CardTest.kt
  database/src/test/kotlin/database/card/DeckTest.kt
  database/src/test/kotlin/database/poker/HandEvaluatorTest.kt
  database/src/test/kotlin/database/poker/PokerEngineSidePotTest.kt
  database/src/test/kotlin/database/poker/PokerEngineTest.kt
  database/src/test/kotlin/database/service/BlackjackServiceTest.kt
  discord-bot/src/main/kotlin/bot/toby/button/buttons/BlackjackButton.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/BlackjackCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/BlackjackEmbeds.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/economy/PokerEmbeds.kt
  discord-bot/src/test/kotlin/bot/toby/button/buttons/BlackjackButtonTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/BlackjackCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/BlackjackEmbedsTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/economy/PokerEmbedsTest.kt
  web/src/main/kotlin/web/service/PokerWebService.kt
  web/src/test/kotlin/web/service/PokerWebServiceTest.kt
Labels: Bot, Buttons, Commands, Database, web, Tests

fix(card): update package declaration on moved Card/Deck tests
  database/src/test/kotlin/database/card/CardTest.kt
  database/src/test/kotlin/database/card/DeckTest.kt
Labels: Tests
