Repository ml404/toby-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Config, Commands, Buttons, Helpers, Managers, Database, Lavaplayer, Tests

.github/labeler.yml:

Documentation:
- '**/*.md'

Config:
 - '**/*.properties'
 - '**/*.gradle'

Commands:
  - src/main/kotlin/toby/command/**

Buttons:
 - src/main/kotlin/toby/button/**

Helpers:
  - src/main/kotlin/toby/helpers/*

Managers:
  - src/main/kotlin/toby/managers/*

Database:
  - src/main/kotlin/toby/jpa/**

Lavaplayer:
  - src/main/kotlin/toby/lavaplayer/**

Tests:
  -src/test/kotlin/**

return musicDto rather than a long
  src/main/kotlin/toby/jpa/persistence/IMusicFilePersistence.kt
  src/main/kotlin/toby/jpa/persistence/impl/MusicFilePersistenceImpl.kt
  src/main/kotlin/toby/jpa/service/IMusicFileService.kt
  src/main/kotlin/toby/jpa/service/impl/MusicFileServiceImpl.kt
  src/test/kotlin/jpa/MusicFileServiceImplIntegrationTest.kt
Labels: Database

more logging
  src/main/kotlin/toby/command/commands/music/IntroSongCommand.kt
  src/main/kotlin/toby/menu/menus/IntroMenu.kt
  src/test/kotlin/toby/jpa/persistence/impl/MusicFilePersistenceImplTest.kt
Labels: Commands

more logging
  src/main/kotlin/toby/helpers/UserDtoHelper.kt
  src/main/kotlin/toby/managers/CommandManager.kt
Labels: Helpers, Managers

get rid of musicDto join on named query
  src/main/kotlin/toby/jpa/dto/UserDto.kt
Labels: Database

re-add hibernate dialect
  src/main/resources/application.properties
Labels: Config

add userKey
  src/main/kotlin/toby/jpa/dto/UserDto.kt
Labels: Database

make discordId and guildId not nullable
  src/main/kotlin/toby/command/commands/moderation/AdjustUserCommand.kt
  src/main/kotlin/toby/helpers/UserDtoHelper.kt
  src/main/kotlin/toby/jpa/dto/UserDto.kt
  src/test/kotlin/jpa/UserServiceImplIntegrationTest.kt
  src/test/kotlin/toby/button/buttons/InitiativeClearButtonTest.kt
  src/test/kotlin/toby/button/buttons/InitiativeNextButtonTest.kt
  src/test/kotlin/toby/button/buttons/InitiativePreviousButtonTest.kt
  src/test/kotlin/toby/button/buttons/PausePlayButtonTest.kt
  src/test/kotlin/toby/button/buttons/ResendLastRequestButtonTest.kt
  src/test/kotlin/toby/button/buttons/RollButtonTest.kt
  src/test/kotlin/toby/button/buttons/StopButtonTest.kt
  src/test/kotlin/toby/command/commands/misc/UserInfoCommandTest.kt
Labels: Commands, Helpers, Database

adjust schema and lookups to compare the hashes of the byte array rather than trying to do it on binary data itself
  src/main/kotlin/toby/helpers/FileUtils.kt
  src/main/kotlin/toby/helpers/IntroHelper.kt
  src/main/kotlin/toby/jpa/dto/MusicDto.kt
  src/main/kotlin/toby/jpa/persistence/impl/MusicFilePersistenceImpl.kt
  src/test/kotlin/toby/jpa/persistence/impl/MusicFilePersistenceImplTest.kt
  src/test/resources/schema.sql
Labels: Helpers, Database

remove potentially spurious call to updateuser
  src/main/kotlin/toby/helpers/IntroHelper.kt
  src/test/kotlin/toby/command/commands/music/IntroSongCommandTest.kt
  src/test/kotlin/toby/helpers/IntroHelperTest.kt
Labels: Helpers

changed named query back
  src/main/kotlin/toby/jpa/dto/UserDto.kt
Labels: Database

more logging
  src/main/kotlin/toby/jpa/persistence/impl/MusicFilePersistenceImpl.kt
Labels: Database

remove new user creating where it shouldn't be
  src/main/kotlin/toby/jpa/persistence/impl/MusicFilePersistenceImpl.kt
Labels: Database

remove new user creating where it shouldn't be
  src/main/kotlin/toby/jpa/persistence/impl/MusicFilePersistenceImpl.kt
Labels: Database

remove new user creating where it shouldn't be
  src/main/kotlin/toby/jpa/persistence/impl/UserPersistenceImpl.kt
Labels: Database

turn off youtube atm
  src/main/kotlin/toby/lavaplayer/PlayerManager.kt
Labels: Lavaplayer

more logging
  src/main/kotlin/toby/jpa/dto/MusicDto.kt
  src/main/resources/application.properties
Labels: Config, Database

more logging still
  src/main/kotlin/toby/jpa/dto/MusicDto.kt
  src/main/kotlin/toby/jpa/persistence/impl/MusicFilePersistenceImpl.kt
Labels: Database

more logging still
  src/main/kotlin/toby/jpa/persistence/impl/MusicFilePersistenceImpl.kt
Labels: Database

more logging still
  src/main/resources/application.properties
Labels: Config

more logging
  src/main/kotlin/toby/configuration/DatabaseConfig.kt
Labels: none

remove the lob annotation because that maps the field to an OID in postgres, probably causing the mismatch between bytea and bigint
  src/main/kotlin/toby/jpa/dto/MusicDto.kt
Labels: Database

correctly acknowledge rejection of file/url
  src/main/kotlin/toby/configuration/DatabaseConfig.kt
  src/main/kotlin/toby/helpers/IntroHelper.kt
  src/main/kotlin/toby/jpa/persistence/impl/MusicFilePersistenceImpl.kt
  src/main/resources/application.properties
Labels: Config, Helpers, Database

correctly acknowledge rejection of file/url
  src/main/kotlin/toby/command/commands/music/IntroSongCommand.kt
Labels: Commands

change text type to bytea, and add extra test (#143)
  src/main/kotlin/toby/command/commands/moderation/AdjustUserCommand.kt
  src/main/kotlin/toby/command/commands/music/IntroSongCommand.kt
  src/main/kotlin/toby/helpers/FileUtils.kt
  src/main/kotlin/toby/helpers/IntroHelper.kt
  src/main/kotlin/toby/helpers/UserDtoHelper.kt
  src/main/kotlin/toby/jpa/dto/MusicDto.kt
  src/main/kotlin/toby/jpa/persistence/IMusicFilePersistence.kt
  src/main/kotlin/toby/jpa/persistence/impl/MusicFilePersistenceImpl.kt
  src/main/kotlin/toby/jpa/persistence/impl/UserPersistenceImpl.kt
  src/main/kotlin/toby/jpa/service/IMusicFileService.kt
  src/main/kotlin/toby/jpa/service/impl/MusicFileServiceImpl.kt
  src/main/kotlin/toby/lavaplayer/PlayerManager.kt
  src/main/kotlin/toby/managers/CommandManager.kt
  src/main/kotlin/toby/menu/menus/IntroMenu.kt
  src/test/kotlin/SpringApplicationTest.kt
  src/test/kotlin/configuration/TestDataSourceConfig.kt
  src/test/kotlin/configuration/TestDatabaseConfig.kt
  src/test/kotlin/controller/BotControllerIT.kt
  src/test/kotlin/jpa/BrotherServiceImplIntegrationTest.kt
  src/test/kotlin/jpa/ConfigServiceImplIntegrationTest.kt
  src/test/kotlin/jpa/ExcuseServiceImplIntegrationTest.kt
  src/test/kotlin/jpa/MusicFileServiceImplIntegrationTest.kt
  src/test/kotlin/jpa/UserServiceImplIntegrationTest.kt
  src/test/kotlin/toby/button/buttons/InitiativeClearButtonTest.kt
  src/test/kotlin/toby/button/buttons/InitiativeNextButtonTest.kt
  src/test/kotlin/toby/button/buttons/InitiativePreviousButtonTest.kt
  src/test/kotlin/toby/button/buttons/PausePlayButtonTest.kt
  src/test/kotlin/toby/button/buttons/ResendLastRequestButtonTest.kt
  src/test/kotlin/toby/button/buttons/RollButtonTest.kt
  src/test/kotlin/toby/button/buttons/StopButtonTest.kt
  src/test/kotlin/toby/command/commands/misc/UserInfoCommandTest.kt
  src/test/kotlin/toby/command/commands/music/IntroSongCommandTest.kt
  src/test/kotlin/toby/helpers/IntroHelperTest.kt
  src/test/kotlin/toby/jpa/persistence/impl/MusicFilePersistenceImplTest.kt
  src/test/resources/schema.sql
Labels: Commands, Helpers, Managers, Database, Lavaplayer

re-enable youtube
  build.gradle
  src/main/kotlin/toby/lavaplayer/PlayerManager.kt
Labels: Config, Lavaplayer

re-enable youtube (#144)
  build.gradle
  src/main/kotlin/toby/lavaplayer/PlayerManager.kt
Labels: Config, Lavaplayer

add more ephemeral
  src/main/kotlin/toby/command/commands/misc/HelpCommand.kt
  src/main/kotlin/toby/command/commands/misc/UserInfoCommand.kt
  src/main/kotlin/toby/command/commands/moderation/AdjustUserCommand.kt
  src/main/kotlin/toby/command/commands/moderation/SetConfigCommand.kt
  src/main/kotlin/toby/command/commands/moderation/SocialCreditCommand.kt
  src/main/kotlin/toby/command/commands/music/QueueCommand.kt
Labels: Commands

Update README.md
  README.md
Labels: Documentation

Update README.md (#145)
  README.md
Labels: Documentation

fix help command
  src/main/kotlin/toby/command/commands/dnd/DnDCommand.kt
  src/main/kotlin/toby/command/commands/misc/HelpCommand.kt
  src/main/kotlin/toby/handler/MessageEventHandler.kt
  src/main/kotlin/toby/jpa/dto/UserDto.kt
  src/main/kotlin/toby/menu/menus/IntroMenu.kt
  src/main/kotlin/toby/menu/menus/dnd/DndMenu.kt
Labels: Commands, Database

fix help command (#146)
  src/main/kotlin/toby/command/commands/dnd/DnDCommand.kt
  src/main/kotlin/toby/command/commands/misc/HelpCommand.kt
  src/main/kotlin/toby/handler/MessageEventHandler.kt
  src/main/kotlin/toby/jpa/dto/UserDto.kt
  src/main/kotlin/toby/menu/menus/IntroMenu.kt
  src/main/kotlin/toby/menu/menus/dnd/DndMenu.kt
Labels: Commands, Database

exit voice channel on move
  src/main/kotlin/toby/handler/VoiceEventHandler.kt
Labels: none

refactor VoiceEventHandler around the move event logic
  src/main/kotlin/toby/handler/VoiceEventHandler.kt
Labels: none

refactor VoiceEventHandler around the move event logic
  src/main/kotlin/toby/handler/VoiceEventHandler.kt
Labels: none

cleaner checks around bot user, and more logging
  src/main/kotlin/toby/handler/VoiceEventHandler.kt
Labels: none

adjust logging
  src/main/kotlin/toby/handler/VoiceEventHandler.kt
Labels: none

adjust logging
  src/main/kotlin/toby/handler/VoiceEventHandler.kt
  src/test/kotlin/toby/handler/VoiceEventHandlerTest.kt
Labels: none

tests around move logic
  src/main/kotlin/toby/handler/VoiceEventHandler.kt
  src/test/kotlin/toby/handler/VoiceEventHandlerTest.kt
Labels: none

refactor VoiceEventHandler around the move event logic (#148)
  src/main/kotlin/toby/handler/VoiceEventHandler.kt
  src/test/kotlin/toby/handler/VoiceEventHandlerTest.kt
Labels: none

fix spring beans
  src/main/kotlin/toby/handler/VoiceEventHandler.kt
  src/test/kotlin/toby/handler/VoiceEventHandlerTest.kt
Labels: none
