Repository ml404/toby-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Config, Bot, Buttons, Commands, Common, Core-api, Database, Helpers, Lavaplayer, Managers, web, Tests

Add Terms of Service page and home page footer
  application/src/test/kotlin/web/controller/HomeControllerTest.kt
  web/src/main/kotlin/web/configuration/WebSecurityConfig.kt
  web/src/main/kotlin/web/controller/HomeController.kt
  web/src/main/resources/templates/home.html
  web/src/main/resources/templates/terms.html
Labels: web

Remove qodana.sarif.json from tracking and add to .gitignore
  .gitignore
Labels: none

Add Terms of Service page and home page footer (#194)
  application/src/test/kotlin/web/controller/HomeControllerTest.kt
  web/src/main/kotlin/web/configuration/WebSecurityConfig.kt
  web/src/main/kotlin/web/controller/HomeController.kt
  web/src/main/resources/templates/home.html
  web/src/main/resources/templates/terms.html
Labels: web

Add qodana.yaml file
  qodana.yaml
Labels: none

Add github workflow file
  .github/workflows/qodana_code_quality.yml
Labels: none

Fix Qodana code quality issues and workflow configuration
  .github/workflows/qodana_code_quality.yml
  database/src/main/kotlin/database/persistence/impl/DefaultMusicFilePersistence.kt
  database/src/main/kotlin/database/service/impl/DefaultBrotherService.kt
  database/src/main/kotlin/database/service/impl/DefaultUserService.kt
  discord-bot/src/main/kotlin/bot/toby/button/DefaultButtonContext.kt
  discord-bot/src/main/kotlin/bot/toby/command/DefaultCommandContext.kt
  discord-bot/src/main/kotlin/bot/toby/menu/DefaultMenuContext.kt
  web/src/main/kotlin/web/controller/BotController.kt
Labels: Bot, Buttons, Commands, Database, web

Fix Qodana issues: add kotlin-spring plugin, remove open/throws, fix companion vars
  application/build.gradle
  application/src/main/kotlin/Application.kt
  build/tmp/jar/MANIFEST.MF
  common/build.gradle
  common/src/main/kotlin/common/configuration/CachingConfig.kt
  common/src/main/kotlin/common/helpers/Cache.kt
  database/build.gradle
  database/src/main/kotlin/database/configuration/DatabaseConfig.kt
  database/src/main/kotlin/database/persistence/impl/DefaultBrotherPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultConfigPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultExcusePersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultMusicFilePersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultUserPersistence.kt
  database/src/main/kotlin/database/service/impl/DefaultBrotherService.kt
  database/src/main/kotlin/database/service/impl/DefaultConfigService.kt
  database/src/main/kotlin/database/service/impl/DefaultExcuseService.kt
  database/src/main/kotlin/database/service/impl/DefaultMusicFileService.kt
  database/src/main/kotlin/database/service/impl/DefaultUserService.kt
  discord-bot/build.gradle
  discord-bot/src/main/kotlin/bot/configuration/AppConfig.kt
  discord-bot/src/main/kotlin/bot/configuration/BotConfig.kt
  discord-bot/src/main/kotlin/bot/configuration/ManagerConfig.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/fetch/MemeCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/misc/BrotherCommand.kt
  discord-bot/src/main/kotlin/bot/toby/dto/web/RedditAPIDto.kt
  discord-bot/src/main/kotlin/bot/toby/handler/VoiceEventHandler.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/FileUtils.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/WikiFetcher.kt
  web/build.gradle
  web/src/main/kotlin/web/configuration/WebSecurityConfig.kt
Labels: Config, Bot, Commands, Common, Database, Helpers, web

Fix kotlin-spring plugin resolution using buildscript classpath approach
  application/build.gradle
  build.gradle
  common/build.gradle
  database/build.gradle
  discord-bot/build.gradle
  web/build.gradle
Labels: Config

Fix 85 Qodana issues: naming, SpEL, properties, visibility, const
  application/src/main/kotlin/Application.kt
  application/src/test/resources/application-test.properties
  common/src/main/kotlin/common/helpers/Cache.kt
  database/src/main/kotlin/database/dto/UserDto.kt
  database/src/main/kotlin/database/persistence/impl/DefaultBrotherPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultConfigPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultExcusePersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultUserPersistence.kt
  database/src/main/kotlin/database/service/impl/DefaultConfigService.kt
  database/src/main/kotlin/database/service/impl/DefaultExcuseService.kt
  database/src/main/kotlin/database/service/impl/DefaultMusicFileService.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/DnDCommandQueryHandler.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/RollCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/fetch/DbdRandomKillerCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/fetch/Kf2RandomMapCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/fetch/MemeCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/misc/BrotherCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/misc/ChCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/misc/ExcuseCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/misc/HelloThereCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/misc/HelpCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/misc/RandomCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/misc/TeamCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/misc/UserInfoCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/AdjustUserCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/KickCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/moderation/SocialCreditCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/player/NowDigOnThisCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/player/PlayCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/player/SetVolumeCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/music/player/SkipCommand.kt
  discord-bot/src/main/kotlin/bot/toby/handler/VoiceEventHandler.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/DnDHelper.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/FileUtils.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/HttpHelper.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/misc/BrotherCommandTest.kt
  qodana.yaml
  web/src/main/kotlin/web/controller/HomeController.kt
Labels: Config, Bot, Commands, Common, Database, Helpers, web, Tests

More qodana fixes
  database/src/main/kotlin/database/dto/BrotherDto.kt
  database/src/main/kotlin/database/dto/ConfigDto.kt
  database/src/main/kotlin/database/dto/ExcuseDto.kt
  database/src/main/kotlin/database/dto/MusicDto.kt
  database/src/main/kotlin/database/dto/UserDto.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/FileUtils.kt
Labels: Bot, Database, Helpers

Fix autowiring of DefaultCommandManager and add missing const val
  discord-bot/src/main/kotlin/bot/toby/button/buttons/RollButton.kt
  discord-bot/src/main/kotlin/bot/toby/dto/web/RedditAPIDto.kt
  discord-bot/src/test/kotlin/bot/configuration/TestManagerConfig.kt
Labels: Bot, Buttons, Tests

Fix redundant @ComponentScan alongside @SpringBootApplication
  application/src/main/kotlin/Application.kt
Labels: none

Fix failing tests: missing test configurations and broken verify
  application/src/test/kotlin/integration/database/BrotherServiceImplIntegrationTest.kt
  application/src/test/kotlin/integration/database/ConfigServiceImplIntegrationTest.kt
  application/src/test/kotlin/integration/database/ExcuseServiceImplIntegrationTest.kt
  application/src/test/kotlin/integration/database/MusicFilePersistenceImplTest.kt
  application/src/test/kotlin/integration/database/UserServiceImplIntegrationTest.kt
  application/src/test/kotlin/integration/web/BotControllerIT.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/fetch/MemeCommand.kt
  discord-bot/src/main/kotlin/bot/toby/dto/web/RedditAPIDto.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/misc/ExcuseCommandTest.kt
Labels: Bot, Commands, Tests

Add Privacy Policy page required for monetisation
  application/src/test/kotlin/web/controller/HomeControllerTest.kt
  web/src/main/kotlin/web/configuration/WebSecurityConfig.kt
  web/src/main/kotlin/web/controller/HomeController.kt
  web/src/main/resources/templates/home.html
  web/src/main/resources/templates/privacy.html
  web/src/main/resources/templates/terms.html
Labels: web

Add Privacy Policy page required for monetisation (#197)
  application/src/test/kotlin/web/controller/HomeControllerTest.kt
  web/src/main/kotlin/web/configuration/WebSecurityConfig.kt
  web/src/main/kotlin/web/controller/HomeController.kt
  web/src/main/resources/templates/home.html
  web/src/main/resources/templates/privacy.html
  web/src/main/resources/templates/terms.html
Labels: web

add DnD Beyond character sheet integration
  .gitignore
  .idea/.gitignore
  .idea/.name
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/compiler.xml
  .idea/dbnavigator.xml
  .idea/jarRepositories.xml
  .idea/jpa-buddy.xml
  .idea/kotlinc.xml
  .idea/libraries-with-intellij-classes.xml
  .idea/misc.xml
  .idea/uiDesigner.xml
  .idea/vcs.xml
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  application/src/test/resources/schema.sql
  database/src/main/kotlin/database/dto/UserDto.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/CharacterCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/LinkCharacterCommand.kt
  discord-bot/src/main/kotlin/bot/toby/dto/web/dnd/CharacterSheet.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/DnDHelper.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/JsonParser.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/CharacterCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/LinkCharacterCommandTest.kt
Labels: Bot, Commands, Database, Helpers, Tests

add DnD Beyond character sheet integration (#198)
  .gitignore
  .idea/.gitignore
  .idea/.name
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/compiler.xml
  .idea/dbnavigator.xml
  .idea/jarRepositories.xml
  .idea/jpa-buddy.xml
  .idea/kotlinc.xml
  .idea/libraries-with-intellij-classes.xml
  .idea/misc.xml
  .idea/uiDesigner.xml
  .idea/vcs.xml
  application/src/test/kotlin/integration/bot/CommandManagerTest.kt
  application/src/test/resources/schema.sql
  database/src/main/kotlin/database/dto/UserDto.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/CharacterCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/LinkCharacterCommand.kt
  discord-bot/src/main/kotlin/bot/toby/dto/web/dnd/CharacterSheet.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/DnDHelper.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/JsonParser.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/CharacterCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/LinkCharacterCommandTest.kt
Labels: Bot, Commands, Database, Helpers, Tests

Extend CharacterSheet + tests
  discord-bot/src/main/kotlin/bot/toby/dto/web/dnd/CharacterSheet.kt
  discord-bot/src/test/kotlin/bot/toby/dto/web/dnd/CharacterSheetTest.kt
Labels: Bot, Tests

Extend CharacterSheet + tests (#199)
  discord-bot/src/main/kotlin/bot/toby/dto/web/dnd/CharacterSheet.kt
  discord-bot/src/test/kotlin/bot/toby/dto/web/dnd/CharacterSheetTest.kt
Labels: Bot, Tests

Refactor CommandAutoCompleteInteractionEvent handling into AutocompleteManager delegation pattern
  application/src/test/kotlin/integration/bot/AutocompleteManagerTest.kt
  core-api/src/main/kotlin/core/autocomplete/AutocompleteHandler.kt
  core-api/src/main/kotlin/core/managers/AutocompleteManager.kt
  discord-bot/src/main/kotlin/bot/configuration/ManagerConfig.kt
  discord-bot/src/main/kotlin/bot/toby/autocomplete/autocompletes/HelpAutoComplete.kt
  discord-bot/src/main/kotlin/bot/toby/handler/MessageEventHandler.kt
  discord-bot/src/main/kotlin/bot/toby/managers/DefaultAutoCompleteManager.kt
  discord-bot/src/test/kotlin/bot/configuration/TestManagerConfig.kt
  discord-bot/src/test/kotlin/bot/toby/handler/MessageEventHandlerTest.kt
Labels: Bot, Core-api, Managers, Tests

Refactor CommandAutoCompleteInteractionEvent handling into AutocompleteManager delegation pattern (#200)
  application/src/test/kotlin/integration/bot/AutocompleteManagerTest.kt
  core-api/src/main/kotlin/core/autocomplete/AutocompleteHandler.kt
  core-api/src/main/kotlin/core/managers/AutocompleteManager.kt
  discord-bot/src/main/kotlin/bot/configuration/ManagerConfig.kt
  discord-bot/src/main/kotlin/bot/toby/autocomplete/autocompletes/HelpAutoComplete.kt
  discord-bot/src/main/kotlin/bot/toby/handler/MessageEventHandler.kt
  discord-bot/src/main/kotlin/bot/toby/managers/DefaultAutoCompleteManager.kt
  discord-bot/src/test/kotlin/bot/configuration/TestManagerConfig.kt
  discord-bot/src/test/kotlin/bot/toby/handler/MessageEventHandlerTest.kt
Labels: Bot, Core-api, Managers, Tests

Improve test coverage and fix Kf2RandomMapCommandTest failures
  application/src/test/kotlin/integration/bot/AutocompleteManagerTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/fetch/Kf2RandomMapCommand.kt
  discord-bot/src/test/kotlin/bot/toby/autocomplete/autocompletes/HelpAutoCompleteTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/CommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/fetch/DbdRandomKillerCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/fetch/Kf2RandomMapCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/handler/MessageEventHandlerTest.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/URLHelperTest.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/UserDtoHelperTest.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/VoiceStateHelperTest.kt
  discord-bot/src/test/kotlin/bot/toby/lavaplayer/TrackSchedulerTest.kt
Labels: Bot, Commands, Tests

Improve test coverage and fix Kf2RandomMapCommandTest failures (#201)
  application/src/test/kotlin/integration/bot/AutocompleteManagerTest.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/fetch/Kf2RandomMapCommand.kt
  discord-bot/src/test/kotlin/bot/toby/autocomplete/autocompletes/HelpAutoCompleteTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/CommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/fetch/DbdRandomKillerCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/fetch/Kf2RandomMapCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/handler/MessageEventHandlerTest.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/URLHelperTest.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/UserDtoHelperTest.kt
  discord-bot/src/test/kotlin/bot/toby/helpers/VoiceStateHelperTest.kt
  discord-bot/src/test/kotlin/bot/toby/lavaplayer/TrackSchedulerTest.kt
Labels: Bot, Commands, Tests

gibe-toby-bot -> toby-bot
  discord-bot/src/main/kotlin/bot/toby/helpers/MusicPlayerHelper.kt
Labels: Bot, Helpers

gibe-toby-bot -> toby-bot
  discord-bot/src/main/kotlin/bot/toby/helpers/MusicPlayerHelper.kt
Labels: Bot, Helpers

https://www.toby-bot.co.uk/
  discord-bot/src/main/kotlin/bot/toby/helpers/MusicPlayerHelper.kt
Labels: Bot, Helpers

chore: update domain to www.toby-bot.co.uk
  application/src/main/resources/application.properties
  discord-bot/src/main/kotlin/bot/toby/helpers/MusicPlayerHelper.kt
Labels: Config, Bot, Helpers

chore: update domain to www.toby-bot.co.uk (#202)
  application/src/main/resources/application.properties
  discord-bot/src/main/kotlin/bot/toby/helpers/MusicPlayerHelper.kt
Labels: Config, Bot, Helpers

feat: add OG meta tags, preview image and favicon for link sharing
  web/src/main/resources/static/images/favicon.svg
  web/src/main/resources/static/images/preview.svg
  web/src/main/resources/templates/home.html
Labels: none

feat: add OG meta tags, preview image and favicon for link sharing (#203)
  web/src/main/resources/static/images/favicon.svg
  web/src/main/resources/static/images/preview.svg
  web/src/main/resources/templates/home.html
Labels: none

feat: consistent navbar across all pages and fix static asset security
  web/src/main/kotlin/web/configuration/WebSecurityConfig.kt
  web/src/main/resources/static/css/nav.css
  web/src/main/resources/templates/fragments/navbar.html
  web/src/main/resources/templates/guilds.html
  web/src/main/resources/templates/home.html
  web/src/main/resources/templates/intros.html
  web/src/main/resources/templates/login.html
  web/src/main/resources/templates/privacy.html
  web/src/main/resources/templates/terms.html
Labels: web

test: add BotController unit tests and expand integration route tests
  application/src/test/kotlin/integration/web/BotControllerIT.kt
  application/src/test/kotlin/web/controller/BotControllerTest.kt
Labels: none

feat: consistent navbar across all pages and fix static asset security (#204)
  web/src/main/kotlin/web/configuration/WebSecurityConfig.kt
  web/src/main/resources/static/css/nav.css
  web/src/main/resources/templates/fragments/navbar.html
  web/src/main/resources/templates/guilds.html
  web/src/main/resources/templates/home.html
  web/src/main/resources/templates/intros.html
  web/src/main/resources/templates/login.html
  web/src/main/resources/templates/privacy.html
  web/src/main/resources/templates/terms.html
Labels: web

Feat/web UI tests (#205)
  application/src/test/kotlin/integration/web/BotControllerIT.kt
  application/src/test/kotlin/web/controller/BotControllerTest.kt
Labels: none

feat: add navbar to login page and commands wiki
  web/src/main/kotlin/web/controller/CommandController.kt
  web/src/main/resources/templates/login.html
Labels: web

Changed .btn-logout vertical padding from 6px to 8px in nav.css — matching .btn-discord — so the nav renders at the same height regardless of whether the Login or Logout button is showing.
  web/src/main/resources/static/css/nav.css
Labels: none

fix tests and build
  application/build.gradle
  application/src/test/kotlin/web/controller/CommandControllerTest.kt
  discord-bot/build.gradle
  gradle.properties
  web/src/main/resources/templates/login.html
Labels: Config

feat: add navbar to login page and commands wiki (#206)
  application/build.gradle
  application/src/test/kotlin/web/controller/CommandControllerTest.kt
  discord-bot/build.gradle
  gradle.properties
  web/src/main/kotlin/web/controller/CommandController.kt
  web/src/main/resources/static/css/nav.css
  web/src/main/resources/templates/login.html
Labels: Config, web

feat: character sheet provider pattern with DB cache fallback
  application/src/test/resources/schema.sql
  database/src/main/kotlin/database/dto/CharacterSheetDto.kt
  database/src/main/kotlin/database/persistence/CharacterSheetPersistence.kt
  database/src/main/kotlin/database/persistence/impl/DefaultCharacterSheetPersistence.kt
  database/src/main/kotlin/database/service/CharacterSheetService.kt
  database/src/main/kotlin/database/service/impl/DefaultCharacterSheetService.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/CharacterCommand.kt
  discord-bot/src/main/kotlin/bot/toby/command/commands/dnd/LinkCharacterCommand.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/charactersheet/CharacterSheetProvider.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/charactersheet/CompositeCharacterSheetProvider.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/charactersheet/DatabaseCharacterSheetProvider.kt
  discord-bot/src/main/kotlin/bot/toby/helpers/charactersheet/DnDBeyondCharacterSheetProvider.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/CharacterCommandTest.kt
  discord-bot/src/test/kotlin/bot/toby/command/commands/dnd/LinkCharacterCommandTest.kt
  scripts/dnd_character_sheet_schema.sql
Labels: Bot, Commands, Database, Tests

flyway for db
  application/src/test/resources/application-test.properties
  database/build.gradle
  database/src/main/resources/application.properties
  database/src/main/resources/db/migration/V1__base_schema.sql
  database/src/main/resources/db/migration/V2__dnd_campaign.sql
  database/src/main/resources/db/migration/V3__dnd_character_sheet.sql
Labels: Config

.github/labeler.yml:

Documentation:
- '**/*.md'

Config:
 - '**/*.properties'
 - '**/*.gradle'

Bot:
 - discord-bot/src/main/kotlin/**

Buttons:
 - discord-bot/src/main/kotlin/bot/toby/button/**

Commands:
 - discord-bot/src/main/kotlin/bot/toby/command/**

Common:
 - common/src/main/kotlin/**

Core-api:
 - core-api/src/main/kotlin/**

Database:
 - database/src/main/kotlin/database/**

Helpers:
 - discord-bot/src/main/kotlin/bot/toby/helpers/*

Lavaplayer:
 - discord-bot/src/main/kotlin/bot/toby/lavaplayer/**

Managers:
 - discord-bot/src/main/kotlin/bot/toby/managers/*

web:
 - web/src/main/kotlin/**

Tests:
 - common/src/test/kotlin/**
 - core-api/src/test/kotlin/**
 - database/src/test/kotlin/**
 - discord-bot/src/test/kotlin/**
 - web/src/test/kotlin/**
